.section8 .q-subscriptions-sticky__container .is-center {
    text-align: center;
}

.section8 .q-subscriptions-sticky__container h2 {
    margin-bottom: 10px
}

.section8 .q-subscriptions-sticky__list li:first-child .q-subscriptions-sticky__heading,
.section8 .q-subscriptions-sticky__glist .q-subscriptions-sticky__gitem:first-child .q-subscriptions-sticky__heading {
    border-top: 0;
}

.section8 .q-subscriptions-sticky__text ul {
    padding: 0;
    margin: 0 0 0 1em;
    list-style: disc;
}

.section8 .q-subscriptions-sticky__heading {
    letter-spacing: -0.3px;
}

@media (max-width: 1079px) {
    .section8 .q-vmdr__best-practices-container .q-grid__column-push-5 {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky__side.benefits {
        align-items: flex-start;
    }

    .section8 .q-subscriptions-sticky__image-wrap.benefits {
        margin-left: -89px;
        margin-top: 23px;
    }

    .section8 .justified.q-subscriptions-sticky__row {
        justify-content: flex-end;
    }


    .section8 .q-subscriptions-sticky__side {
        order: 1;
        margin-top: 170px !important;
    }

    .section8 .q-subscriptions-sticky__image-wrap {
        margin-top: -50px;
    }
}

@media (min-width: 1290px) {

    .section8 .q-vmdr__best-practices-container {
        margin-top: 14px;
    }

}

@media (min-width: 1400px) {
    .section8 .q-default-hero__splash .q-square {
        transform: translateY(27px);
    }

    .section8 .q-default-hero__splash {
        margin-top: 0px;
    }

    .section8 .q-square__content {
        padding: 58px 78px 39px;
    }
}

.section8.q-subscriptions-sticky {
    position: relative;
    min-height: 100vh;
}

.section8 .q-subscriptions-sticky-outer {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 720px) {
    .section8 .q-subscriptions-sticky-outer {
        padding-top: 8.39161%;
        padding-bottom: 8.39161%;
    }
}

@media (min-width: 1430px) {
    .section8 .q-subscriptions-sticky-outer {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section8 .q-subscriptions-sticky-outer__container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 375px) {
    .section8 .q-subscriptions-sticky-outer__container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 720px) {
    .section8 .q-subscriptions-sticky-outer__container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky-outer__container {
        padding-left: 70px;
        padding-right: 70px;
        max-width: 1430px;
    }
}

.section8 .q-subscriptions-sticky-outer__container-inner {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky-outer__container-inner {
        width: 82.94574%;
    }
}

.section8 .q-subscriptions-sticky-outer__headline {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: normal;
    vertical-align: baseline;
    border: 0;
    font-size: 26px;
    font-family: Gotham, sans-serif;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.15;
    color: #262626;
    margin-bottom: 2em;
    max-width: 14.75em;
}

@media (min-width: 375px) {
    .section8 .q-subscriptions-sticky-outer__headline {
        font-size: 26px;
        font-size: calc(0.0153 * 100vw + (20.2623px));
    }
}

@media (min-width: 1290px) {
    .section8 .q-subscriptions-sticky-outer__headline {
        font-size: 40px;
    }
}

.section8 .q-subscriptions-sticky-outer__image {
    margin-bottom: -5.60748%;
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky-outer__image {
        display: none;
    }
}

.section8.q-subscriptions-sticky::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: calc(100% - 60px);
    background: #E4E4E4;
}

@media (min-width: 1024px) {
    .section8.q-subscriptions-sticky::after {
        width: 82.94574%;
    }
}

@media (min-width: 1430px) {
    .section8.q-subscriptions-sticky::after {
        width: 1070px;
    }
}

.section8 .q-subscriptions-sticky__layout {
    position: relative;
    z-index: 2;
}

.section8 .q-subscriptions-sticky__container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

@media (min-width: 375px) {
    .section8 .q-subscriptions-sticky__container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 720px) {
    .section8 .q-subscriptions-sticky__container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky__container {
        padding-left: 70px;
        padding-right: 70px;
        max-width: 1430px;
    }

}

@media (min-width: 1024px) {
    .section8 .justified.q-subscriptions-sticky__row {
        justify-content: flex-end;
    }

    .section8 .q-subscriptions-sticky__content {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 40px;
        width: auto;
        margin-top: 0px;
    }
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky__side {
        display: flex;
		position: absolute;
       right: 0;
    }

}

.section8 .q-subscriptions-sticky__list {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: normal;
    vertical-align: baseline;
    border: 0;
    list-style: none;
}



.section8 .q-subscriptions-sticky__heading {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: normal;
    vertical-align: baseline;
    border: 0;
    font-size: 16px;
    font-family: Gotham, sans-serif;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.15;
    color: #262626;
    display: flex;
    align-items: center;
    padding: 1em 0;
    font-family: Gotham, sans-serif;
    line-height: 150%;
    letter-spacing: -0.025em;
    border-top: 1px solid #E4E4E4;
    background: #FFF;
}

@media (min-width:720px){
	.section8 .q-subscriptions-sticky__heading {
		font-size:18px;
	}
}
@media (min-width: 1290px) {
    .section8 .q-subscriptions-sticky__heading {
        font-size: 22px;
    }
}

.section8 .q-subscriptions-sticky__text {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: normal;
    vertical-align: baseline;
    border: 0;
    font-size: 14px;
    letter-spacing: 0.015em;
    line-height: 1.625;
    font-family: Caecilia, serif;
    margin-bottom: 10px;
}

@media (min-width: 375px) {
    .section8 .q-subscriptions-sticky__text {
        font-size: 14px;
        font-size: calc(0.00219 * 100vw + (13.18033px));
    }
}

@media (min-width: 1290px) {
    .section8 .q-subscriptions-sticky__text {
        font-size: 16px;
    }
}

.section8 .q-subscriptions-sticky__glist {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: normal;
    vertical-align: baseline;
    border: 0;
    list-style: none;
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.section8 .q-subscriptions-sticky__gitem--hidden {
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 1024px) {
    .section8 .q-subscriptions-sticky__side.benefits {
        align-items: flex-start;
    }
}
.section8.q-subscriptions-sticky::after {
    background: none;
}

.section8 .q-subscriptions-sticky__list li {
    padding-bottom: 20px
}

@media (min-width:1025px) {
    .section8 .q-subscriptions-sticky__image-wrap.benefits img {}
}

@media (min-width:1024px) {
    .section8 .q-subscriptions-sticky__content {
        width: 41.66667%;
        margin-top: 78px;
        padding-bottom: 90px;
    }
}

.section8 .q-subscriptions-sticky__layout--sticky {
    position: relative;
    height: auto;
}

.section8 .q-subscriptions-sticky__image {
    position: relative;
    width: 100%;
    height: auto;
    max-height: fit-content;
    margin: auto;
}

.section8 .q-subscriptions-sticky__side {
    display: block;
    height: auto;
    width: 100%;
    margin-top: 0px;
    padding: 0
}

.section8 .q-subscriptions-sticky__row {
    display: block;
}

.section8 .q-subscriptions-sticky__content {
    padding-bottom: 20px
}
.section8 .q-laptop {
    width: 400px;
	margin:0 auto;
}
@media (min-width:1024px) {
    .section8 .q-subscriptions-sticky__row {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        height: 100%;
    }z

    .section8 .q-subscriptions-sticky__side {
        display: flex !important;
    }

    .section8 .q-subscriptions-sticky__layout--sticky {
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 100vh;
    }

    .section8 .q-subscriptions-sticky__side {
        flex: none;
        padding-left: 100px;
        padding-right: 15px;
        width: 50%;
        align-items: center;
        height: 100vh;
        width: 50%;
        margin-top: 100px
    }
	.section8 .q-laptop {
    width: 1024px;
	max-width:none
}
    .section8 .q-subscriptions-sticky__image {
        position: relative;
        width: 1072px;
        height: 604px;
        max-height: 100vh;
    }
}