.q-subscriptions-hero-cta {
	will-change: opacity, transform;
	opacity: 0;
	display: flex;
	align-items: center;
	margin-top: 3.75em;
	margin-bottom: 3.75em;
}
.q-subscriptions-hero-cta__button {
	flex: none;
	padding-right: 30px;
}
.q-subscriptions-hero-cta__link {
	color: inherit;
	text-decoration: none;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 14px;
	font-family: Gotham, sans-serif;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.15;
	color: #262626;
	line-height: 1.33333;
}
.q-subscriptions-hero-cta__link:focus {
	outline: none;
}
@media (min-width: 375px) {
	.q-subscriptions-hero-cta__link {
		font-size: 14px;
		font-size: calc(0.00109 * 100vw + (13.59016px));
	}
}
@media (min-width: 1290px) {
	.q-subscriptions-hero-cta__link {
		font-size: 15px;
	}
}
.q-subscriptions-hero-cta__link b {
	font-weight: 500;
}

.q-button {
	padding: 0 25px;
	min-width: initial;
}
.q-grid__container {
	margin-top: 3.75em;
	margin-bottom: 3.75em;
}
.q-grid__row {
	display: flex;
	width: 100%;
	margin-bottom: 2em;
}
.content__alert {
	width: 29%;
	max-width: 33%;
	margin: 0 15px;
	display: block;
	text-decoration: none;
	line-height: 1;
}
.content__alert h3 {
	font-weight: 500;
	color: #30405B;
	font-family: Gotham, sans-serif;
	margin-top: 0;
}
.old-alerts h3 {
	font-weight: 500;
	color: #30405B;
	font-family: Gotham, sans-serif;
	margin-bottom: 0;
}
.content__alert-description {
	float: left;
	margin-left: 1.5em;
	overflow: hidden;
}
.content__alert-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	float: left;
}
@media (max-width: 1079px) {
	.q-grid__row {
		margin-left: 0;
		margin-right: 0;
	}
	.q-grid__container {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width: 1097px) {
	.content__alert-description {
		margin-left: 1.2em;
	}
}
@media (max-width: 959px) {
	.content__alert {
		width: 33%;
		margin: 0;
	}
	.q-grid__inner h3 {
		font-size: 10pt;
	}
	.q-grid__inner p {
		font-size: 10pt;
	}
	.content__alert-image-container {
		width: 7vw;
		height: 7vw;
	}
	.content__alert-description {
		margin-left: 2vw;
	}
	.q-grid__container {
		margin-top: 0;
	}
	.q-grid__container {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (max-width: 720px) {
	.q-grid__container {
		margin-top: 3rem;
		padding-left: 30px;
		padding-right: 30px;
	}
	.content__alert-image-container {
		float: none;
	}
	.content__alert-description {
		margin-left: 0;
		margin-top: 2vw;
		float: none;
	}
}
@media (max-width: 480px) {
	.q-grid__container {
		margin-top: 3rem;
		padding-left: 30px;
		padding-right: 30px;
	}
	.q-grid__inner p {
		font-size: 9pt;
	}
	.content__alert:nth-child(3) {
		margin-top: 2vw;
	}
	.content__alert {
		width: 47%;
		max-width: none;
	}
	.content__alert-image-container {
		float: none;
	}
	.content__alert-description {
		margin-left: 0;
		margin-top: 2vw;
		float: none;
	}
}
.vendor {
	font-weight: 700;
}

/*# sourceMappingURL=index.css.map */