/** Hero */

.q-report__hero-wrapper {
	display: flex;
	background: url(https://ik.imagekit.io/qualys/image/tru/hero-bg.png) center center no-repeat rgb(4,52,113);
	background-size: cover;
	overflow: hidden;
}
.q-report__hero-container {
	width: 100%;
	padding-bottom: 10%;
	position: relative;
}
.q-report__hero-container--content {
	z-index: 2;
	max-width: 1430px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	height: 100%;
}
.q-report__hero-container--bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 0;
	display: flex;
	overflow: hidden;
	align-items: center;
	max-width: 1200px;
	padding-left: 35px;
	padding-right: 35px;
	left: 50%;
	transform: translateX(-50%);
}
.q-report__hero-bg--obj {
	max-width: 1130px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
}
.q-report__hero-bg--obj .tru-sphare {
	max-width: 200%;
	transform: translateY(35%);
	opacity: 0;
}

.q-report__hero-net--container {
	position: absolute;
	z-index: 1;
	top: auto;
	bottom: 4%;
	width: 100%;
}
.q-report__hero-net--outer {
	max-width: 1000px;
	padding-left: 35px;
	padding-right: 35px;
	margin: 0 auto;
}
.q-report__hero-net {
	max-width: 170px;
	margin: 0 -125px 0 auto;
	overflow: visible;
	position: relative;
}
.q-report__hero-net::after,
.q-report__hero-net:before {
	content: "";
	position: absolute;
	background: url(https://ik.imagekit.io/qualys/image/tru/stripes.png) 0 7px repeat-x transparent;
	background-size: auto 83%;
	opacity: 0.2;
	width: 0;
}
.animation.q-report__hero-net::after,
.animation.q-report__hero-net:before {
	transition-delay: 300ms;
}
.animation.q-report__hero-net::after {
	width: 80vw;
}
.animation.q-report__hero-net:before {
	width: 30vw;
}
.q-report__hero-net::after {
	height: 100%;
	right: 100%;
	top: 0;
	transition: width 1.65s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.q-report__hero-net:before {
	display: block;
	height: 100%;
	transition: width 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	left: calc(100% - 2px)
}
.q-report__hero-net .mesh {
	max-width: 100%;
	width: 255px;
}
.q-report__hero-net .mesh .base {
	opacity: 0;
	transition: opacity 0.65s;
}
.animation.q-report__hero-net .mesh .base {
	opacity: 0.2;
}
.q-report__hero-net .mesh .dot1,
.q-report__hero-net .mesh .dot2,
.q-report__hero-net .mesh .dot3 {
	opacity: 0;
	transition: opacity 0.75s;
}
.animation.q-report__hero-net .mesh .dot1 {
	transition-delay: 1500ms;
	opacity: 1;
}
.animation.q-report__hero-net .mesh .dot2 {
	transition-delay: 1900ms;
	opacity: 1;
}
.animation.q-report__hero-net .mesh .dot3 {
	transition-delay: 2100ms;
	opacity: 1;
}
.q-report__hero-txt--heading {
	color: #FFF;
	font-weight: 500;
	line-height: 1;
	margin: 0;
	text-align: left;
	font-size: 54px;
	font-family: 'Gotham', sans-serif;
}
.q-report__hero-txt--heading span {
	display: block;
	opacity: 0;
}
.q-report__hero-txt .reserve {
	text-decoration: none;
	font-weight: 500;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	padding-top: 14px;
}
.q-report__hero-txt .reserve .txt {
	font-family: 'Gotham', sans-serif;
	color: #FFF;
	font-weight: 400;
	letter-spacing: -0.1px;
}
.q-report__hero-txt .reserve .icn {
	margin-left: 10px;
}
.q-report__hero-txt .reserve .icn img {
	width: 1.2em;
}
@media (min-width: 375px) {
	.q-report__hero-container--content {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.q-report__hero-bg--obj .tru-sphare {
		max-width: 140%;
	}
}
@media (min-width: 461px) {
	.q-report__hero-net--container {
		bottom: 10%;
	}
	.q-report__hero-net {
		max-width: 150px;
		margin: 0 0 0 auto;
	}
	.q-report__hero-net::after,
	.q-report__hero-net:before {
		background-position: 0 6px;
	}
}
@media (min-width: 720px) {
	.q-report__hero-container {
		padding-bottom: 13%;
	}
	.q-report__hero-container--content {
		padding-left: 50px;
		padding-right: 50px;
	}
	.q-report__hero-bg--obj .tru-sphare {
		max-width: 100%;
		transform: unset;
	}
	.q-report__hero-net--container {
		bottom: 13%;
	}
	.q-report__hero-net {
		max-width: 180px;
		margin: 0 0 0 auto;
	}
	.q-report__hero-content {
		align-items: flex-start;
	}
	.q-report__hero-logo {
		margin-bottom: 0;
		margin-right: 40px;
		width: auto;
	}
	.q-report__hero-txt--heading {
		line-height: 1.05;
		font-size: 56px;
		text-align: left;
	}
	.q-report__hero-net::after,
	.q-report__hero-net:before {
		background-position: 0 7px;
	}
}
@media (min-width: 910px) {
	.q-report__hero-txt--heading {
		font-size: 65px;
	}
	.q-report__hero-container {
		padding-bottom: 5%;
	}
}
@media (min-width: 1080px) {
	.q-report__hero-wrapper {
		min-height: 500px;
		background-size: cover;
	}
	.q-report__hero-container {
		padding-bottom: 0;
	}
	.q-report__hero-container--content {
		padding-top: 65px;
		padding-bottom: 65px;
		padding-left: 70px;
		padding-right: 70px;
	}
	.q-report__hero-txt--heading {
		font-size: 74px;
	}
	.q-report__hero-logo {
		margin-right: 80px;
	}
	.q-report__hero-net--container {
		bottom: 5%;
	}
	.q-report__hero-net {
		max-width: 255px;
	}
	.q-report__hero-net::after,
	.q-report__hero-net:before {
		background-position: 0 11px;
	}
	.q-report__hero-content {
		width: 82.94574%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1440px) {
	.q-report__hero-wrapper {
		background-size: 100% auto;
	}
	.q-report__hero-net--container {
		bottom: 18%;
	}
	.q-report__hero-txt--heading {
		font-size: 84px;
	}
}

/** page styles */

.full-width-banner {
	min-height: 496px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3171c8+0,2989d8+37,2989d8+37,408feb+100 */
	background: #3171c8; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #3171c8 0%,#3f8de9 37%,#3f8de9 37%,#408feb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: #fff;
}
.tru-logo {
	max-width: 100%;
}
.tru-logo-1-line {
	display: none;
}
.tru-logo-container {
	padding-bottom: 20px;
}
@media (min-width: 640px) {
	.tru-logo-1-line {
		display: block;
	}
	.tru-logo-2-line {
		display: none;
	}
}
.full-width-banner {
	font-family: Gotham, sans-serif;
}
.q-tru-banner {
	overflow: hidden;
}
.q-tru-banner .col1 {
	display: flex;
	align-items: center;
}
.q-tru-hero__content {
	padding: 20px 0;
}
.full-width-banner .register {
	line-height: 1;
	font-weight: 100;
	font-size: 1.6em;
	letter-spacing: -1px;
	opacity: 0;
	margin: 0;
}
.full-width-banner h1 {
	font-weight: 200;
	font-size: 3.7em;
	margin: 23px 0 18px;
	line-height: 1.05;
	letter-spacing: -4px;
	opacity: 0;
}
.full-width-banner .gttr {
	font-weight: 500;
	display: block;
	letter-spacing: -0.04em;
	line-height: 0.95;
}
.full-width-banner .q-grid__row {
	position: relative;
	height: 496px;
}
.full-width-banner .map {
	display: block;
	direction: ltr;
	height: 110%;
	width: auto;
	max-width: unset;
	margin-top: calc(50% + 120px );
	transform: translate(0, -50%);
	opacity: 0.5;
}
.q-tru-banner .q-grid__inner .q-grid__column-6.col2 {
	display: none;
}
@media (min-width: 480px) {
	.full-width-banner .map {
		height: 120%;
		margin-top: calc(50% + 200px );
		transform: translate(-40px, -50%);
	}
	.q-tru-banner .q-grid__inner .q-grid__column-4.col1 {
		width: calc(7 / 10 * 100%);
	}
	.q-tru-banner .q-grid__inner .q-grid__column-6.col2 {
		width: calc(3 / 10 * 100%);
		display: block;
	}
}
@media (min-width: 720px) {
	.full-width-banner .map {
		height: 120%;
		transform: translate(0, -50%);
		margin-top: calc(50% + 120px );
	}
	.q-tru-banner .q-grid__inner .q-grid__column-4.col1 {
		width: calc(6 / 10 * 100%);
	}
	.q-tru-banner .q-grid__inner .q-grid__column-6.col2 {
		width: calc(4 / 10 * 100%);
	}
}
@media (min-width: 920px) {
	.full-width-banner .map {
		height: 130%;
		margin-top: calc(50% + 100px );
	}
	.q-tru-banner .q-grid__inner .q-grid__column-4.col1 {
		width: calc(5 / 10 * 100%);
	}
	.q-tru-banner .q-grid__inner .q-grid__column-6.col2 {
		width: calc(5 / 10 * 100%);
	}
}
@media (min-width: 1280px) {
	.full-width-banner .map {
		height: 170%;
		margin-top: calc(50% + 30px );
	}
	.q-tru-banner .q-grid__inner .q-grid__column-4.col1 {
		width: calc(4 / 10 * 100%);
	}
	.q-tru-banner .q-grid__inner .q-grid__column-6.col2 {
		width: calc(6 / 10 * 100%);
	}
}
.q-default-hero__heading {
	text-align: center;
	line-height: 1.1;
	margin-bottom: 7px;
}
.q-default-hero__content .q-default-hero__subheading {
	min-height: unset;
}
.q-default-hero__subheading {
	text-align: left;
	line-height: 1.2;
	opacity: 1;
}
.q-default-hero__content .paragraph--1 {
	max-width: 38em;
}
@media (min-width: 1080px)
{
.q-default-hero__heading, .q-default-hero__subheading {
	margin-left: 0;
	text-align: left;
	max-width: 860px;
}
}
@media (min-width: 720px)
{
.q-default-hero__heading, .q-default-hero__subheading {
	margin-left: 0;
	margin-right: 0;
}
.title .q-default-hero__container {
	margin-top: 0;
}
}
.q-tru-hero {
	padding-top: 40px;
}
@media (min-width: 920px) {
	.q-tru-hero {
		padding-top: 80px;
	}
}
@media (min-width: 1290px) {
	.paragraph--1 {
		max-width: 28em;
	}
	.q-tru-hero {
		padding-top: 120px;
	}
	.q-default-hero__subheading {
		max-width: 17em;
	}
}
.q-research-unit-inner__heading {
	border: 0;
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.15;
	margin: 0 0 1.5em;
	padding: 0;
	vertical-align: baseline;
	will-change: opacity, transform;
}
.q-research-unit {
	padding-top: 30px;
	padding-bottom: 30px;
}
@media (min-width: 720px) {
	.q-research-unit {
		padding-top: 8.39161%;
		padding-bottom: 6.39161%;
	}
}
@media (min-width: 1430px) {
	.q-research-unit {
		padding-top: 120px;
		padding-bottom: 80px;
	}
}
@media (min-width: 1430px) {
	.q-research-unit {
		padding-top: 80px;
	}
}
.q-research-unit {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 375px) {
	.q-research-unit {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (min-width: 720px) {
	.q-research-unit {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (min-width: 1080px) {
	.q-research-unit {
		max-width: 1430px;
	}
}
.q-research-unit-inner {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 1080px) {
	.q-research-unit-inner {
		width: 81%;
	}
	.q-tru-blog-container
	{
		width: 82.94574%;
		padding: 0px;
	max-width: 1430px;
	margin: auto;
	}
}

@media (min-width: 375px) {
	.q-research-unit-inner__heading, .q-tru-heading {
		font-size: 26px;
		font-size: calc(0.0153 * 100vw + (20.2623px)) !important;
	}
}
@media (min-width: 1290px) {
	.q-research-unit-inner__heading {
		font-size: 40px;
	}
}
@media (min-width: 720px) {
	.q-research-unit-inner h2 {
		max-width: 11.36364em;
		padding-bottom: 30px;
	}
}

.q-numbers--linear {
	flex-wrap: wrap;
	display: flex;
}
.q-numbers--linear .q-numbers__item {
	width: 50%;
	padding-right: 1em;
	opacity: 1;
}
@media (min-width: 720px) {
	.q-numbers--linear {
		flex-wrap: wrap;
	}
	.q-numbers--linear .q-numbers__item {
		max-width: 25%;
		padding-right: 2em;
	}
}
.q-numbers__value {
	color: #ED2E26;
}
@media (min-width: 1290px)
{
.q-numbers__value {
	font-size: 36px !important;
}

}
.q-numbers__value {
   margin-bottom: 10px;
   text-align: left;
}
.q-numbers__heading {
	text-align: left;
	width: 100%;
	font-size: 18px;
}
@media (min-width: 720px) {
	.q-numbers__value,
	.q-numbers__heading {
		text-align: center;
	}
}

@media (min-width: 1080px)
{
.q-default-hero__content {
	vertical-align: top;
	width: 48%;
	display:inline-block;
}
.q-alternate-hero__image-wrap
{
	display: inline-block;

}
.q-alternate-hero__image {
	margin: auto;
	padding-top: 4.4%;
	}
	.q-tru-blog__container-inner
	{
		width: 100%;
		margin: auto;
	}
}
.content__alert-description {
	float: left;

	overflow: hidden;
	width: 100%;
	display: block;
}
.content__alert-description a
{
	text-decoration: none;
}
.content__alert-description h3 {
	font-weight: 500;
	color: #30405B;
	font-family: Gotham, sans-serif;
	margin: 0;
}
.q-tru-feed__item:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #FFF;
	z-index: -1;

	transition: box-shadow 0.4s cubic-bezier(0, 1, 0.75, 1), transform 0.4s cubic-bezier(0, 1, 0.75, 1);

}
.q-webinar::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: rgb(255, 255, 255);
	transition: box-shadow 0.4s cubic-bezier(0, 1, 0.75, 1) 0s, transform 0.4s cubic-bezier(0, 1, 0.75, 1) 0s;
}
.q-tru-feed__item {
	color: inherit;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 15px 20px 15px;
	margin: 0 auto 30px;
	max-width: 100%;
	text-align: left;
	background: #fff;
	border: 1px solid #e1edf5;
	border-radius: 2px;
	height: 90%;
	position: relative;
}
.q-tru-feed__time
{
	position: absolute;
	bottom: 25px;
}
.q-tru-feed__title-link
{
	text-decoration: none;
}
.q-resources-filter__item
{
	text-decoration: none;
}
.q-webinar
{
	color: inherit;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	padding:0px 15px 20px 15px;
	margin: 0 auto 30px;
	max-width: 100%;
	text-align: left;
	border: 1px solid #e1edf5;
	border-radius: 2px;
	height: 90%;
	position: relative;
}
.label__upcoming {
    background-color: #ED2E26;
    border-radius: 3px;
    font-size: 13px;
    font-family: Gotham, sans-serif;
    color: #FFF;
    font-weight: 500;
    display: inline-block;
    padding: 1px 11px;
    margin-bottom: 11px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.q-resources-filter__item-text
{
	position: absolute;
	bottom: 10px;
}
.content__alert-description {
	float: left;
	margin-left: 1.2em;
	overflow: hidden;
	display: inline-block;
	width: 70%;
}
.content__alert-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	float: left;
	display: inline-block;
	width: 20%;
}
.q-grid-security-alert
{
	margin-bottom:20px;
}
.q-tru-feed__title
{
	font-weight:500;
	color:  #30405B;
	font-family: Gotham, sans-serif;
	padding-bottom: 50px;
}
h3.q-resources-filter__item-heading {
	font-weight:500;
	color: #30405B;
	font-family: Gotham, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	padding-bottom: 50px;
}
.q-tru__heading
{
	color: #30405B;
	text-align:center;
	font-size: 22px;
}
.q-tru-blog
{
	padding-left: 70px;
	padding-right: 70px;
	max-width: 1430px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 180px;
}

@media (max-width:720px)
{
	.q-tru-blog
	{
		padding: 0 30px 150px 30px;
	}
	.q-tru-feed__item
	{
		height: auto;
	}
	.q-webinar
	{
		height: auto;
	}
	.q-alternate-hero__image
	{
	max-width: 350px;
	margin: auto;
	margin-bottom: 80px;
	width: 100%;
	}
	.q-tru-feed__time, .q-resources-filter__item-text
	{
		bottom: 0px;
		position: unset;
	}
	.q-numbers__value
	{
		font-size: 19px;
	}
	.q-numbers__heading
	{
		font-size: 16px;
	}
	.q-numbers__heading
	{
		width: 100%;
	}
	.q-tru-heading {
		font-size: calc(1.53vw + 20.2623px) !important;
	}
}
@media only screen and (min-width: 720px) and (max-width:1050px)
{
.q-numbers__value {
	font-size: 21px !important;
}
.q-numbers__heading
{
	font-size: 16px;
}
.q-tru-blog{
	padding: 0 50px 150px 50px;
}
.q-webinar {
	padding: 0 10px 20px;
}
h3.q-resources-filter__item-heading {
font-size: 15px;
}
.q-tru__heading
{
	font-size: 18px;
}
}
@media only screen and (min-width: 992px) and (max-width:1550px)
{
.q-resources-filter__item-text, .q-tru-feed__time
{
	font-size: 14px;
}
.q-resources-filter__item-heading, .q-tru-feed__title-link
{
	font-size: 16px;
}
}


@media only screen and (min-width: 767px) and (max-width:992px)
{
.q-tru-heading {
	font-size: calc(0.0153 * 100vw + (20.2623px)) !important;
}
}
@media only screen and (min-width: 767px)
{
.q-tru-blog__container-inner h2 {
	max-width: 11.36364em;
	margin-bottom: 40px;
}
}
.q-tru-heading
{
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: #262626;
	line-height: 1.15
}
@media (max-width:719px) {
	.content__alert-image-container {
		width: 10%;
	}
	.content__alert-description {
		width: 84%;
		display: block;
	}
	.q-tru__heading {
		margin-top: 50px;
	}
	.q-research-unit
	{
		padding-bottom: 45px;
	}
}
@media (max-width: 375px)
{
.q-tru-blog {
	padding: 0 15px 150px 15px !important;
}
}
@media (max-width: 340px)
{
.content__alert-description {
	width: 80%;
}
}
.q-tru-feed__item {

	transition: 0.5s;
	transition-timing-function: ease-in-out;
}
.q-tru-feed__item:hover {
	transform: translate3d(0, -3px, 0);
}
.q-tru-feed__item:hover:before {
	transform: scale(1.075);
	background: #FFF;
	box-shadow: 0 11px 22px 0 rgb(170 177 188 / 20%);
}
.q-webinar
{
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}
.q-webinar:hover
{
	transform: translate3d(0, -3px, 0);
}
.q-webinar:hover:before {
	transform: scale(1.075);
	background: #FFF;
	box-shadow: 0 11px 22px 0 rgb(170 177 188 / 20%);
}
.q-blog-link
{
	text-decoration: none;
}
.q-blog
{
	padding-bottom: 5px;
}

@media (max-width:719px) {
.q-security-blog
{
	padding-bottom: 30px;
}
.q-security-webinar
{
	padding-bottom: 30px;
}
.q-security-alert
{
	padding-bottom: 30px;
}
}
@media (min-width: 375px){
.heading--3 {
	font-size: 19px;
}
}

.q-resources-filter__item-text span
{
	display: block;
	padding-right: 20px;
}
@media (min-width: 720px)
{
.q-alternate-hero__image {
	padding-top: 30px;
}
.q-security-blog
{
	height: auto;
	position: relative;
}
.q-security-webinar
{
	height: auto;
	position: relative;
}
.q-security-alert
{
	height: auto;
	position: relative;
	margin-top: 50px;
}
.q-security-blog .see-more-link
{
	position: absolute;
	bottom: -10px;
}
.q-security-webinar .see-more-link
{
	position: absolute;
	bottom: -10px;
}
.q-security-alert .see-more-link
{
	position:relative;
	top:30px
}
}
.q-security-blog, .q-security-webinar{
	display: flex;
	flex-direction: column;
}
.q-resources-filter__item{
	flex:1
}
.q-blog-link {
	flex: 1;
}

@media (min-width:992px) {
	.q-grid-security-alert {
		width: 24%;
		display: inline-block;
	}
}
@media only screen and (min-width:720px) and (max-width:992px) {
	.q-grid-security-alert {
		width: 32%;
		display: inline-block;
	}
}
.security-link{
	display: block;
}
/*# sourceMappingURL=index.css.map */