.q-resources-carousel {
	color: #9BC0E1;
}
.q-resources-carousel__container {
	overflow: visible;
}
.q-resources-carousel__slide {
	display: flex;
	padding: 50px 40px;
	width: 345px;
	max-width: 90%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	height: auto;
}
.q-resources-carousel__slide::before {
	content: "";
	position: absolute;
	top: 7.5px;
	bottom: 7.5px;
	left: 7.5px;
	right: 7.5px;
	margin: auto;
	background: #FFF;
	transition: transform 200ms;
}
@media (pointer: fine) {
	.q-resources-carousel__slide:hover {
		color: #2E8BE0;
	}
	.q-resources-carousel__slide:hover::before {
		transform: scale(1.04545);
		box-shadow: 0 12px 23px 0 rgba(170, 177, 188, 0.2);
	}
}
.q-resources-carousel__slide-inner {
	color: inherit;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	position: relative;
	z-index: 1;
}
.q-resources-carousel__slide-inner:focus {
	outline: none;
}
.q-resources-carousel__content {
	border: 0;
	flex: 1;
	font-family: Caecilia, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: inherit;
	letter-spacing: 0.015em;
	line-height: 1.625;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-carousel__content {
		font-size: 14px;
		font-size: calc(0.00219 * 100vw + (13.18033px));
	}
}

@media (min-width: 1290px) {
	.q-resources-carousel__content {
		font-size: 16px;
	}
}
.q-resources-carousel__category {
	color: inherit;
}
.q-resources-carousel__heading {
	border: 0;
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: -0.01em;
	line-height: 1.15;
	margin: 1.8em 0;
	padding: 0;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-carousel__heading {
		font-size: 15px;
		font-size: calc(0.00219 * 100vw + (14.18033px));
	}
}

@media (min-width: 1290px) {
	.q-resources-carousel__heading {
		font-size: 17px;
	}
}
.q-resources-carousel__copy {
	color: #6A778B;
}
.q-resources-carousel__cta {
	margin-top: auto;
}
.q-resources-featured {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #F7FAFC;
}

@media (min-width: 720px) {
	.q-resources-featured {
		padding-top: 8.39161%;
		padding-bottom: 8.39161%;
	}
}

@media (min-width: 1430px) {
	.q-resources-featured {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
.q-resources-featured__container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 375px) {
	.q-resources-featured__container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 720px) {
	.q-resources-featured__container {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (min-width: 1080px) {
	.q-resources-featured__container {
		padding-left: 70px;
		padding-right: 70px;
		max-width: 1430px;
	}
}
.q-resources-featured__container-inner {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

@media (min-width: 1080px) {
	.q-resources-featured__container-inner {
		width: 82.94574%;
	}
}
.q-resources-featured__heading {
	border: 0;
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.15;
	margin: 0 0 1.25em;
	padding: 0;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-featured__heading {
		font-size: 26px;
		font-size: calc(0.0153 * 100vw + (20.2623px));
	}
}

@media (min-width: 1290px) {
	.q-resources-featured__heading {
		font-size: 40px;
	}
}
.q-resources-featured__pagination {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 30px;
}

@media (min-width: 720px) {
	.q-resources-featured__pagination {
		justify-content: flex-end;
		height: 44px;
	}
}
.q-resources-featured__carousel {
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.q-resources-filter {
	padding-top: 60px;
	padding-bottom: 60px;
}

@media (min-width: 720px) {
	.q-resources-filter {
		padding-top: 8.39161%;
		padding-bottom: 8.39161%;
	}
}

@media (min-width: 1430px) {
	.q-resources-filter {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
.q-resources-filter__container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 375px) {
	.q-resources-filter__container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 720px) {
	.q-resources-filter__container {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (min-width: 1080px) {
	.q-resources-filter__container {
		padding-left: 70px;
		padding-right: 70px;
		max-width: 1430px;
	}
}
.q-resources-filter__heading {
	border: 0;
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.15;
	margin: 0 0 1.765em;
	padding: 0;
	text-align: center;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-filter__heading {
		font-size: 34px;
		font-size: calc(0.00656 * 100vw + (31.54098px));
	}
}

@media (min-width: 1290px) {
	.q-resources-filter__heading {
		font-size: 40px;
	}
}

@media (min-width: 1080px) {
	.q-resources-filter__heading {
		margin-bottom: 80px;
	}
}
.q-resources-filter__dropdowns {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin-bottom: 20px;
	font-family: Gotham, sans-serif;
	font-weight: 400;
}

@media (min-width: 1080px) {
	.q-resources-filter__dropdowns {
		flex-flow: row nowrap;
	}
}
.q-resources-filter__dropdown-item {
	flex: 100%;
	margin-bottom: 10px;
	min-width: 195px;
}
.q-resources-filter__dropdown-item:last-child {
	margin-right: 0;
}

@media (min-width: 1080px) {
	.q-resources-filter__dropdown-item:last-child {
		flex: 0 1 auto;
	}
}

@media (min-width: 720px) {
	.q-resources-filter__dropdown-item {
		flex: 0 0 49%;
	}
}

@media (min-width: 1080px) {
	.q-resources-filter__dropdown-item {
		flex: 1;
		margin-right: 30px;
		min-width: auto;
	}
}
.q-resources-filter__input {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: transparent;
	border-color: #9BC0E1;
	border-radius: 2px;
	border: 1px solid #627281;
	color: #1D2737;
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: inherit;
	height: 52px;
	line-height: inherit;
	margin: 0;
	padding: 0 30px;
	position: relative;
	vertical-align: baseline;
	width: 100%;
	z-index: 2;
}
.q-resources-filter__input:focus {
	outline: none;
}
.q-resources-filter__input::-ms-input-placeholder {
	color: inherit;
}
.q-resources-filter__input::placeholder {
	color: inherit;
}
.form__sent .q-resources-filter__input:invalid {
	box-shadow: 0 0 0 1px #F00;
}
.q-resources-filter__input:active,
.q-resources-filter__input:focus {
	border: 1px solid #627281;
	outline: none;
}
.q-resources-filter__input:active::-ms-input-placeholder, .q-resources-filter__input:focus::-ms-input-placeholder {
	color: transparent;
}
.q-resources-filter__input:active::placeholder,
.q-resources-filter__input:focus::placeholder {
	color: transparent;
}
.q-resources-filter__input:required {
	box-shadow: none;
}
.q-resources-filter__input:invalid {
	box-shadow: none;
}
.q-resources-filter__button-center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 53px;
}

@media (min-width: 1080px) {
	.q-resources-filter__button-center {
		width: 80px;
	}
}
.q-resources-filter__button {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	margin-top: 15px;
	width: 100%;
	color: #FFF;
	cursor: pointer;
	background-color: #1D2737;
	border-radius: 2px;
	transition: background-color 500ms;
}
.q-resources-filter__button:focus {
	outline: none;
}
.q-resources-filter__button:hover,
.q-resources-filter__button:focus {
	background-color: black;
	transition: 200ms;
}

@media (min-width: 720px) {
	.q-resources-filter__button {
		width: 100%;
	}
}

@media (min-width: 1080px) {
	.q-resources-filter__button {
		margin-top: 0;
		width: 100%;
	}
}
.q-resources-filter__wrapper {
	border: 1px solid #EDEEF0;
	border-top: 0;
}
.q-resources-filter__category--closed .q-resources-filter__category-header {
	border-bottom: 0;
}
.label__upcoming {
	background-color: #ED2E26;
	border-radius: 3px;
	font-size: 13px;
	font-family: Gotham, sans-serif;
	color: #FFF;
	font-weight: 500;
	display: inline-block;
	padding: 1px 11px;
	margin-bottom: 11px;
}
.q-resources-filter__category--closed .q-resources-filter__category-wrapper,
.hidden {
	display: none;
}
.q-resources-filter__category-wrapper {
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
}
.q-resources-filter__category-row {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	position: relative;
	border-bottom: 1px solid #E4E4E4;
}

@media (min-width: 720px) {
	.q-resources-filter__category-row {
		flex-direction: row;
	}
	.q-resources-filter__category-row::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		width: 1px;
		height: 100%;
		background: #E4E4E4;
	}
}
.q-resources-filter__category-header {
	display: flex;
	padding: 24px 30px 15px;
	background-color: #F7FAFC;
	border-bottom: 1px solid #EDEEF0;
	border-top: 1px solid #EDEEF0;
	cursor: pointer;
}

@media (min-width: 1080px) {
	.q-resources-filter__category-header {
		padding: 24px 38px 15px 50px;
	}
}
.q-resources-filter__category-icon {
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.17647em;
	margin-right: 30px;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	background-color: #9BC0E1;
}
.q-resources-filter__category-heading {
	border: 0;
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.3;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-filter__category-heading {
		font-size: 20px;
		font-size: calc(0.00656 * 100vw + (17.54098px));
	}
}

@media (min-width: 1290px) {
	.q-resources-filter__category-heading {
		font-size: 26px;
	}
}
.q-resources-filter__category-opener {
	margin-left: auto;
}
.q-resources-filter__category-button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: inherit;
	line-height: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.q-resources-filter__category-button:focus {
	outline: none;
}
.q-resources-filter__plus-wrapper {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
}
.q-resources-filter__line1,
.q-resources-filter__line2 {
	display: block;
	position: absolute;
	cursor: pointer;
	background: #000;
	will-change: transform;
	transition: transform 200ms;
	transform-origin: center;
}
.q-resources-filter__line1 {
	left: 5px;
	top: 13px;
	height: 2px;
	width: 20px;
}
.q-resources-filter__line2 {
	left: 14px;
	top: 4px;
	opacity: 1;
	width: 2px;
	height: 19px;
	background: #000;
}
.q-resources-filter__category-button--active .q-resources-filter__line1 {
	transform: rotate(180deg) scaleX(0.8);
}
.q-resources-filter__category-button--active .q-resources-filter__line2 {
	opacity: 0;
	transform: rotate(90deg);
}
.q-resources-filter__item {
	padding: 42px 30px 9px;
	box-shadow: 1px 1px 0 0 #E4E4E4;
	text-decoration: none;
	width: 100%;
}

@media (min-width: 720px) {
	.q-resources-filter__item {
		width: 50%;
	}
}
.q-resources-filter__item:hover {
	background-color: #EFEFEF;
}

@media (min-width: 1080px) {
	.q-resources-filter__item {
		padding: 42px 115px 9px;
	}
}
.q-resources-filter__item-heading {
	border: 0;
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: -0.01em;
	line-height: calc(11 / 8);
	margin: 0 0 calc(2 / 3 * 1em);
	padding: 0;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-filter__item-heading {
		font-size: 14px;
		font-size: calc(0.00328 * 100vw + (12.77049px));
	}
}

@media (min-width: 1290px) {
	.q-resources-filter__item-heading {
		font-size: 17px;
	}
}
.q-resources-filter__item-text {
	border: 0;
	font-family: Caecilia, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: inherit;
	letter-spacing: 0.015em;
	line-height: 1.625;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

@media (min-width: 375px) {
	.q-resources-filter__item-text {
		font-size: 14px;
		font-size: calc(0.00219 * 100vw + (13.18033px));
	}
}

@media (min-width: 1290px) {
	.q-resources-filter__item-text {
		font-size: 15px;
	}
}
.q-resources-filter__item-link {
	margin-bottom: 30px;
}
.q-resources__no-results {
	border-top: 1px solid #EDEEF0;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.q-resources__no-results h4 {
	text-align: center;
	font-weight: 400;
}

form.resource-filters {
	width: 910px;
	margin: 0 auto;
	position: relative;
	z-index: 4;
}

form.resource-filters label {
	display: block;
}
.filterbox label {
	width: auto;
	display: block;
	cursor: pointer;
}

form.resource-filters ul {
	overflow: auto;
	text-align: left;
	border-left: 1px solid #CCC;
	position: absolute;
	left: 0;
	top: 19px;
	background: #FFF;
	z-index: 2;
	width: 203px;
	display: none;
	box-sizing: border-box;
}

form.resource-filters ul.active {
	display: block;
	padding-left: 0;
}

form.resource-filters > div {
	width: 204px;
	display: inline-block;
	text-align: left;
	margin-left: 22px;
	position: relative;
	background: #FFF;
	z-index: 1;
}

form.resource-filters > div:first-child {
	margin-left: 0;
}

form.resource-filters strong {
	display: block;
	background-image: url(https://ik.imagekit.io/qualys/image/enterprises/qualysguard/resources/sprite-2x.jpg);
	background-repeat: no-repeat;
	background-position: 115% -35%;
	background-size: 20%;
}

form.resource-filters strong.open {
	background-position: 115% 55%;
}

form.resource-filters li {
	font-size: 10pt;
	padding: 0.375em;
	padding-left: 0.45em;
	margin: 0;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

form.resource-filters li input[type="checkbox"] {
	cursor: pointer;
}

form.resource-filters strong,
form div.resource-search {
	border: 1px solid #CCC;
	font-weight: 400;
	font-size: 10pt;
	padding: 0 0.45em;
	height: 2.625em;
	line-height: 2.625;
}

div.section.search div.resource-search {
	position: relative;
}

div.search-box div.field {
	display: inline-block;
}

div.search-box div.button {
	display: inline-block;
	position: absolute;
	right: 0.5em;
	top: 0;
}

div.search-box input {
	border: 0;
	outline: 0;
}

div.search-box input[type="text"] {
	width: 160px;
	font-size: 10pt;
}

div.search-box input[type="submit"] {
	background-color: transparent;
	width: 24px;
	height: 24px;
	background-image: url(https://ik.imagekit.io/qualys/image/icon/magnifier.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 80%;
	text-indent: -99999px;
	cursor: pointer;
}

form li:before {
	content: "";
	padding: 0;
	margin: 0;
}

li.filter-lang-en,
li.filter-lang-fr,
li.filter-lang-de,
li.filter-lang-it,
li.filter-lang-ja,
li.filter-lang-ru,
li.filter-lang-es,
li.filter-lang-tr {
	display: none;
}

div.filter-topic-suite,
div.filter-topic-vm,
div.filter-topic-pc,
div.filter-topic-pci,
div.filter-topic-was,
div.filter-topic-waf,
div.filter-topic-mds,
div.filter-topic-seal {
	display: none;
}

form.resource-filters div.mobile-active:first-child {
	display: none;
}

form.resource-filters div.mobile-active + div.filterbox {
	margin-left: 0;
}

div.filterbox {
	position: relative;
}

div.filterbox.topic {
	z-index: 4;
}

div.filterbox.type {
	z-index: 5;
}

div.filterbox.language {
	z-index: 3;
}

div.section.search {
	padding-top: 40px;
	padding-bottom: 40px;
	white-space: normal;
}

div.search h2 {
	color: #333;
	font-size: 27pt;
	padding: 0;
	margin-bottom: 0.5em;
}

div.search div.search-box {
	width: 50%;
	margin: 0 auto;
}

div.search div.subsection {
	text-align: center;
}

a.exit-search {
	display: inline-block;
	background: url(https://ik.imagekit.io/qualys/image/icon/blue-left-arrow-19-2x.png) center left no-repeat;
	background-size: 28%;
	padding: 0 0 0 15px;
	font-family: Gotham, serif;
	text-decoration: none;
	color: #06C;
	font-weight: 500;
}

div.search div.search-box div.field {
	width: 94%;
}

div.search div.search-box input[type="text"] {
	width: 100%;
	font-size: 10pt;
}


/* search form & results */

div.search form.gsc-search-box {
	display: none;
}

div.gsc-results {
	width: auto;
}

div.gs-web-image-box-landscape img.gs-image,
div.gs-web-image-box-portrait img.gs-image {
	max-width: 100%;
	height: auto;
}

div.gsc-webResult {
	font-weight: 400;
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

div.gsc-webResult div.gs-image-box {
	width: 75px !important;
	height: 50px;
	overflow: hidden;
	border: 1px solid #CCC;
	padding: 0;
}

div.gsc-webResult td.gsc-table-cell-thumbnail {
	padding: 0 1em 0 0;
}

div.gsc-webResult div.gsc-thumbnail-inside,
div.gsc-webResult div.gsc-url-top {
	padding: 0;
}

div.gsc-webResult div.gsc-url-top {
	margin-bottom: 0.25em;
}

div.gsc-result div.gs-title {
	height: auto;
	text-decoration: none;
}

div.gsc-result div.gs-title a.gs-title {
	text-decoration: none;
	font-weight: 600;
	color: #06C;
}

div.gsc-result div.gs-title a:hover {
	text-decoration: underline;
}

div.gsc-result div.gs-result div.gs-visibleUrl {
	color: #333;
}

div.gsc-result div.gs-result div.gs-visibleUrl b {
	font-weight: 600;
	color: #000;
}

div.gsc-control-cse div.gs-snippet {
	color: #999;
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

div.gs-fileFormat span.gs-fileFormat,
div.gs-fileFormat span.gs-fileFormatType {
	color: #999;
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

div.gsc-result-info {
	padding: 10px 0 0;
}

div.gcsc-branding {
	padding: 4px 0 0;
}

div.gsc-results div.gsc-cursor-box {
	padding-top: 5px;
	margin: 10px 0;
	border-top: 1px solid #CCC;
}

div.gsc-results div.gsc-cursor-box div.gsc-cursor-current-page {
	color: #06C;
}

div.gsc-expansionArea div.gsc-webResult.gsc-result {
	border-top: 1px solid #EEE;
	border-bottom: 0;
	padding: 1em 0 1.2em;
}

div.gsc-expansionArea div.gsc-webResult.gsc-result:hover {
	border-top: 1px solid #EEE;
	border-bottom: 0;
}

div.gsc-results div.gsc-cursor {
	display: block;
	text-align: center;
}
.gsc-results > .gsc-webResult.gsc-result {
	padding: 1em 0 1.2em;
}

li.filter-type-dummies-ebook a.img-screen,
li.filter-type-datasheet a.img-screen {
	background-color: transparent;
}

li.filter-type-dummies-ebook a span,
li.filter-type-dummies-ebook a strong {
	color: #333;
}

li.filter-type-dummies-ebook a em {
	color: #333;
}

a.anchor {
	padding: 16px 0;
	margin: 8px 7px;
	color: #FFF;
	font-size: 19pt;
	font-weight: 600;
	display: inline-block;
	min-width: 322px;
	text-align: left;
}

a.anchor span {
	padding-left: 28px;
}

a.anchor.left {
	margin-left: 0;
}

a.anchor.right {
	margin-right: 0;
}

a.anchor:hover {
	text-decoration: none;
}

a.anchor.analyst {
	background-color: #2B75BE;
}

a.anchor.ebooks {
	background-color: #ECC81F;
}

a.anchor.demos {
	background-color: #283A83;
}

a.anchor.datasheets {
	background-color: #005CCF;
}

a.anchor.guides {
	background-color: #20C4F4;
}

a.anchor.whitepapers {
	background-color: #ABABAB;
}

a.anchor.webcasts {
	background-color: #60BC57;
}
div.anchors {
	width: 1004px;
	margin: 43px auto 0;
	text-align: left;
}
input[type=checkbox] {
	margin: 0;
}
form.resource-filters ul {
	list-style: none;
}
.asset,
.subsection.hidden,
.q-resources-filter__dropdowns.hidden {
	display: none;
}
.asset.active {
	display: block;
}

@media screen and (max-width: 719px) {
	div.anchors {
		width: auto;
	}
	a.anchor {
		margin: 8px 0;
		display: block;
	}
	form.resource-filters div.mobile-active:first-child {
		display: block;
	}
	form.resource-filters div.filterbox {
		display: none;
		width: 250px;
	}
	form.resource-filters strong {
		background-position: 115% -26%;
	}
	form.resource-filters strong.open {
		background-position: 115% 55%;
	}
	form.resource-filters div.mobile-active {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	div.search-box input[type="text"] {
		width: 205px;
	}
	form.resource-filters {
		width: 250px;
	}
	form.resource-filters ul {
		width: 250px;
		height: 13em;
		overflow: auto;
	}
	form.resource-filters > div {
		display: block;
		margin-left: 0.5%;
		margin-right: 0.5%;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	div.resource-menu {
		min-height: 57px;
	}
	.resource-filters .filterbox {
		margin-bottom: 0.5em;
	}
}

@media screen and (max-width: 995px) {
	.resource-filters {
		max-width: 440px;
	}
	.resource-filters .filterbox:nth-child(4) {
		margin-left: 0;
	}
	.resource-filters .filterbox {
		margin-bottom: 1em;
	}
	.q-resources-filter__dropdowns {
		margin-bottom: 0;
	}
}
.q-resources-filter__reset {
	display: flex;
	justify-content: center;
	margin-top: 0;
}
.q-resources-filter__reset a:hover {
	cursor: pointer;
}

/*# sourceMappingURL=resources.css.map */