.floating-nav {
    display: none;
}

.inner-floating-text {
    list-style: none;
    padding: 0;
    margin: 0;

}

.inner-floating-text li {
    display: inline-block;
    font-family: 'Gotham';
    color: #B5D0E5;
    font-size: 18px;
    margin-right: 20px;

}

.inner-floating-text a:hover {
    cursor: pointer
}

.inner-floating-text a:first-child li {
    background-color: #2E8BE0;
    color: #fff;
    padding: 10px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500
}

.inner-floating-text a li sup {
    font-size: 12px
}

.inner-floating-text .active {
    color: #fff;
}

@media (min-width:720px) {
    .floating-nav {
        margin: auto;
        text-align: center;
        background-color: #1D2737;
        padding: 0px 30px 0px 0;
        width: max-content;
        border-radius: 50px;
        position: fixed;
        bottom: 25px;
        align-items: center;
        display: flex;
        left: 0;
        right: 0;
        z-index: 9;
    }
}

.inner-floating-text a:first-child li::after {
    background: url(https://q-website-images.s3.amazonaws.com/www/image/icon/blue-curious/blue-natch.jpg);
    background-size: cover;
    background-position: right;
    position: absolute;
    margin-left: 10px;
    z-index: 99999;
    display: inline-block;
    content: "";
    width: 18px;
    height: 52.5px;
    top: 0px;
    padding-left: 3px
}