.hero {
	background-image: url("https://q-website-images.s3.amazonaws.com/www/image/success-stories/standard-chartered-1440-2x.jpg");
}
.aws-poster {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.aws-poster img {
	max-width: 100%;
}
.box.a {
	background-color: #03A547;
}
.box.b,
.quote-box {
	background-color: #03A547;
}