.heading--1,
.heading--sub,
.paragraph--1,
.orchestration,
.form .heading--3,
.march30 {
	text-align: center;
}
.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding: 0 0.5em 0.5em;
}
.feature .heading--5 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	margin-top: 9px;
	margin-bottom: 10px;
	line-height: 1.35;
}
.feature .paragraph--1 {
	font-size: 14px;
}
.text-wrapper .paragraph--1 {
	margin-top: 0;
	line-height: 1.4;
	font-family: Gotham, sans-serif;
}
.hero-container {
	margin-top: 45px;
	margin-bottom: 5%;
}
.heading--1 {
	margin-bottom: 0;
}
.heading--sub {
	margin-top: 16px;
	margin-bottom: 9px;
}
.q-default-hero__form {
	background: #F7FAFC;
	color: #6A778B;
	padding-top: 19px;
	padding-bottom: 2em;
}
.icon {
	margin: 0 auto;
	height: 43px;
}
.features-col {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-top: 29px;
}
.vmdr-screenshot {
	display: none;
	max-width: 740px;
}
.vmdr-cycle {
	max-width: 90%;
	margin: 3.3em auto 0;
	position: relative;
	left: -1em;
}
.q-grid__container.trial-container {
	display: flex;
	margin-bottom: 3.8em;
}
.functions {
	order: 2;
	padding-top: 1.5em;
}
.form {
	order: 1;
}
.fancybox-slide--iframe .fancybox-content {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}
.fancybox-slide {
	box-sizing: content-box;
	max-width: 960px;
	padding: 0 calc(50% - 480px);
	position: relative;
}
.trial-container,
.trial-container .form {
	padding-left: 0;
	padding-right: 0;
}
.q-default-hero__trialform-privacy {
	text-align: center;
	font-weight: 400;
}
.functions .paragraph--1 {
	line-height: 1.67;
}
.orchestration .heading--3 {
	font-size: 25px;
	margin-top: -1.1em;
}
.orchestration {
	margin-bottom: 8.5em;
}
/*
 * free trial form design changes WEB-6283
 */
.mktoButtonRow .mktoButtonWrap {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.mktoButton {
	border-radius: 2px;
	height: 88px;
	padding: 0 25px;
	transition: background 400ms;
}
.mktoButton:last-child {
	background: #ED2E26;
}
.mktoButton:last-child:hover,
.mktoButton:last-child:active,
.mktoButton:last-child:focus {
	background: #D91A12;
}
.mktoButton:focus {
	outline: none;
}
.mktoRadioList {
	margin-bottom: 0;
}
.heroContent {
	max-width: none;
}
.heroContent .heading--1 {
	max-width: 14em;
}
.form .heading--3 {
	color: #262626;
	font-weight: 500;
	font-size: 1.56em;
}
.march30 {
	color: #ED2E26;
	font-weight: 400;
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 12px;
}
.show-first-panel .panel1,
.show-next-panel .panel2 {
	display: block;
	visibility: visible;
}
.show-first-panel .panel2,
.show-next-panel .panel1 {
	display: none;
	visibility: hidden;
}
.vmdr-live {
	font-weight: 600;
}
@media (min-width: 375px) {
	.functions {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (min-width: 460px) {
	.trial-container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.vmdr-video-poster-mobile,
	.vmdr-cycle {
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 720px) {
	.hero-container {
		margin-top: 5.39301%;
		margin-bottom: 33px;
	}
	.vmdr-cycle {
		max-width: 465px;
		width: 52%;
		margin-top: -333px;
		margin-right: auto;
		margin-left: 0;
	}
	.orchestration .heading--3 {
		display: none;
	}
	.q-grid__container.trial-container {
		display: block;
	}
	.functions {
		order: 1;
		padding-left: 15px;
		padding-right: 15px;
		padding-right: 2em;
	}
	.form {
		order: 2;
		padding-left: 15px;
		padding-right: 15px;
	}
	.heading--1,
	.heading--sub,
	.paragraph--1,
	.orchestration,
	.form .heading--3,
	.march30 {
		text-align: left;
	}
	.vmdr-video-poster-mobile {
		display: none;
	}
	.vmdr-screenshot {
		display: block;
		width: 80%;
		margin-left: auto;
	}
	.feature {
		flex-direction: row;
		width: auto;
		align-items: flex-start;
	}
	.icon {
		margin-right: 1em;
		width: 52px;
		height: auto;
	}
	.feature .heading--5 {
		text-align: left;
		margin-top: 0;
	}
	.trial-container {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (min-width: 1080px) {
	.trial-container {
		padding-left: 70px;
		padding-right: 70px;
	}
	.heading--sub {
		max-width: 573px;
	}
}
@media (min-width: 1440px) {
	.hero-container {
		margin-bottom: 0;
	}
	.features-col {
		margin-top: 58px;
	}
	.icon {
		margin-right: 1.2em;
	}
	.feature .heading--5 {
		font-size: 17px;
		
	}
	.text-wrapper .paragraph--1 {
		font-size: 17px;
		line-height: 1.45;
	}
	.q-default-hero__form {
		padding-top: 45px;
		padding-bottom: 3.8em;
	}
	.q-grid__container.trial-container {
		margin-bottom: 3.4em;
	}
	.vmdr-cycle {
		margin-top: -433px;
	}
}
/*# sourceMappingURL=index.css.map */