<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url=/research/security-alerts/">
	<script>window.location = "/research/security-alerts/";</script>
	<title>302 Found</title>
</head>
<body>
<noscript>
	<h1>
		302 Found
	</h1>
	<p>
		The requested resource resides temporarily under a different URI. Since the redirection might be altered on occasion, the client SHOULD continue to use the Request-URI for future requests.
	</p>
	<p>
		If you are not automatically redirected, please click the link below.
	</p>
	<p>
		<a href="/research/security-alerts/">https://www.qualys.com/research/security-alerts/</a>
	</p>
</noscript>
</body>
</html>
