#content.full-width {
	border-top: none;
}
#content.full-width div.section.banner {
	min-height: 685px;
	padding-bottom: 0;
	background-color: #274a80;
	background: url(/asset/image/blue-background-laptop-hands-4096-2x.jpg) no-repeat top center;
	background-size: 4957px 685px;
}
#content.full-width div.section {
	padding-left: calc(50% - 502px);
	padding-right: calc(50% - 502px);
}
#content.full-width div.section.main {
	padding-bottom: 0;
}
div.banner h1 {
	color: #fff;
	font-size: 52pt;
	padding-top: 163px;
}
div.banner h2 {
	font-size: 32pt;
	color: #fff;
	font-weight: 300;
	text-align: center;
	width: 600px;
	margin: 15px auto -3px;
	line-height: 1.2;
}
div.banner div.contacts {
	display: flex;
	align-items: center;
	justify-content: center;
}
div.banner div.contacts * {
	margin: 0 4px;
}
div.banner div.contacts a {
	color: #fff;
	font-size: 14pt;
}
div.packages {
	display: flex;
	justify-content: space-between;
}
div.packages h2 {
	font-weight: 600;
	font-size: 30pt;
	color: #115997;
	text-align: center !important;
}
div.packages h3 {
	color: #767676;
	font-size: 15pt;
	font-weight: 400;
	margin-bottom: 11px;
}
div.package {
	width: 320px;
}
div.box {
	border: 1px solid #a1a1a1;
	border-radius: 10px;
	background-color: #fff;
	padding: 17px 19px 0;
	box-sizing: border-box;
	text-align: center;
	min-height: 373px;
}
div.packages div.badges {
	display: flex;
	flex-wrap: wrap;
}
div.packages a.badge {
	border: 1px solid #7a7a7a;
	box-shadow: inset 0px 0px 0px 1px #d5d5d5;
	color: #7a7a7a;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 37px;
	height: 37px;
	box-sizing: border-box;
	margin: 2px;
	font-size: 9.5pt;
	font-weight: 700;
	position: relative;
}
div.packages a.badge:hover {
	text-decoration: none;
	background-image: url("/asset/image/badge-background-blue-gradient-curve.svg");
	border: none;
	box-shadow: none;
	color: #e3f3fb;
	text-shadow: 0px -1px 0px rgba(34, 34, 34, 1);
}
div.packages a.badge.tp:hover {
	background-image: url("/asset/image/badge-background-red-gradient-curve.svg");
	text-shadow: 0px -1px 0px rgba(101, 20, 23, 1);
	color: #e4f4fb;
}
div.packages a.badge.seal:hover {
	background-image: url("/asset/image/badge-background-gray-gradient-curve.svg");
}
div.packages a.badge.seal path.a,
div.packages a.badge.seal path.c {
	fill: #7a7a7a;
}
div.packages a.badge.seal path.b {
	fill: #ffffff;
}
div.packages a.badge.seal:hover path.a {
	fill: #231F20;
}
div.packages a.badge.seal:hover path.b {
	fill: #DD2326;
}
div.packages a.badge.seal:hover path.c {
	fill: #ffffff;
}
div.packages a.badge.pc:hover,
div.packages a.badge.saq:hover,
div.packages a.badge.pci:hover {
	text-shadow: 0px -1px 0px rgba(53, 101, 54, 1);
	color: #e1efd6;
	background-image: url("/asset/image/badge-background-green-gradient-curve.svg");
}
div.packages a.badge.pc.unavailable:hover,
div.packages a.badge.saq.unavailable:hover {
	border: 1px solid #ccc;
	box-shadow: inset 0px 0px 0px 1px #d5d5d5;
	background-image: none;
	text-shadow: none;
	color: #ccc;
}
div.packages a.badge.was:hover,
div.packages a.badge.waf:hover,
div.packages a.badge.md:hover {
	text-shadow: 0px -1px 0px rgba(34, 34, 34, 1);
	color: #d5effb;
	background-image: url("/asset/image/badge-background-light-blue-gradient-curve.svg");
}
div.packages a.badge.unavailable {
	border: 1px solid #ccc;
	color: #ccc;
}
div.packages a.badge.unavailable:hover div.diagonal {
	width: 48px;
	left: -7px;
	bottom: 17px;
}
div.badges-container {
	display: inline-block;
	width: 247px;
}
div.packages a.button-type1 {
	background-color: #2e8be0;
	margin-bottom: 10px;
	margin-top: 18px;
	padding: 15px 75px;
	margin-bottom: 5px;
}
div.packages a.button-type1:hover {
	background-color: #1673ca;
}
a.button-type1 p {
	font-size: 15pt !important;
}
div.packages a.learn-more {
	display: block;
	font-size: 14pt;
}
a.badge div.diagonal {
	border: 1px solid #ccc;
	width: 46px;
	position: absolute;
	transform: rotate(-45deg);
	left: -6px;
	bottom: 17px;
}
hr {
	border-top: 1px solid #2e8be0;
}
hr.thick {
	border-top: 1px solid #9dc9f1;
	border-bottom: 1px solid #90c1ee;
}
hr.thin {
	margin-top: 37px;
}
div.features p,
div.package h4 {
	font-size: 12pt;
	margin-bottom: 20.4px;
	line-height: 1.4;
	position: relative;
}
div.features strong,
div.features b {
	color: #333;
}
div.features b {
	font-weight: 700;
}
div.features {
	padding: 10px;
	margin-top: 82px;
}
div.package a.suite {
	white-space: nowrap;
}
div.section.main {
	margin-top: -220px;
}
div.section div.training {
	background-color: #19569c;
	color: #fff;
	padding: 30px 30px 0;
	margin-top: 14px;
	min-height: 383px;
	box-sizing: border-box;
}
div.section div.training h2 {
	text-align: center;
	font-size: 30pt;
	font-weight: 300;
}
div.section div.training h2 b {
	font-weight: 700;
	border-bottom: 4px solid #fff;
}
div.section div.training * {
	color: #fff;
}
div.section div.training h6 {
	font-size: 15pt;
	margin-top: 15px;
	line-height: 1.3;
}
div.section div.training p {
	font-size: 11pt;
}
div.section div.training div.features {
	display: flex;
	text-align: center;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 2px;
}
div.section div.training div.feature {
	width: 264px;
	padding: 0;
	margin: 0 12px;
}
p.learn-more {
	margin-top: 27px;
}
div.conferences h6 {
	width: 200px;
	margin: 15px auto 0;
}
div.section div.training div.icon {
	height: 101px;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.trusted h2 {
	font-weight: 300;
	font-size: 40pt;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 9px;
}
div.trusted h3 {
	font-weight: 300;
	font-size: 22pt;
	text-align: center;
	width: 900px;
	margin: 0 auto;
}
a.testimonials {
	display: block;
	margin: 20px auto 40px;
	text-align: center;
	font-size: 14pt;
}
img.customer-logos {
	margin: 0 auto;
	display: block;
}
div.section.awards {
	background-color: #f5f5f5;
	padding-top: 43px;
	text-align: center;
}
div.awards h2 {
	font-size: 22pt;
	font-weight: 300;
	width: 800px;
	margin: 0 auto 26px;
	line-height: 1.4;
}
div.award h3 {
	font-size: 20pt;
	line-height: 1.4;
}
div.award p {
	font-size: 16pt;
	font-weight: 300;
}
div.award {
	margin-bottom: 30px;
}
a.awards {
	font-size: 14pt;
}
.preprefooter {
	border-top: 0;
}
p.note {
	font-weight: 600;
	color: #dd2326;
}
#content p.note.desktop {
	font-size: 16pt;
	position: absolute;
	width: 940px;
	padding: 10px;
	margin-top: 11px;
}
#content .mobile {
	display: none;
}
span.info-bubble {
	display: none;
	background-color: #535353;
	color: #fff;
	font-size: 15px;
	line-height: 1.4;
	border-radius: 7px;
	padding: 17px;
	position: absolute;
	bottom: 52px;
	left: -31px;
	z-index: 99;
	width: 303px;
	text-align: left;
	box-sizing: border-box;
	font-weight: 400;
}
span.info-bubble span.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #535353 transparent transparent transparent;
	position: absolute;
	bottom: -15px;
	left: 40px;
	top: auto;
}
span.info-bubble span.learn-more {
	text-decoration: underline;
	white-space: nowrap;
}
a.badge:hover span.info-bubble,
div.package div.features p:hover span.info-bubble {
	display: block;
}
div.package div.features p:hover {
	cursor: pointer;
}
div.features span.info-bubble {
	bottom: 35px;
	left: 0;
}
a.badge.unavailable:hover span.info-bubble {
	display: none;
}
a.badge.vm:hover span.info-bubble,
a.badge.was:hover span.info-bubble {
	left: -72px;
}
a.badge.vm span.info-bubble span.triangle,
a.badge.was span.info-bubble span.triangle {
	left: 80px;
}
a.badge.cm:hover span.info-bubble,
a.badge.waf:hover span.info-bubble {
	left: -113px;
}
a.badge.cm span.info-bubble span.triangle,
a.badge.waf span.info-bubble span.triangle {
	left: 121px;
}
a.badge.tp:hover span.info-bubble,
a.badge.md:hover span.info-bubble {
	left: -153px;
}
a.badge.tp span.info-bubble span.triangle,
a.badge.md span.info-bubble span.triangle {
	left: 161px;
}
a.badge.pc:hover span.info-bubble,
a.badge.seal:hover span.info-bubble {
	left: -195px;
}
a.badge.pc span.info-bubble span.triangle,
a.badge.seal span.info-bubble span.triangle {
	left: 203px;
}
a.badge.saq:hover span.info-bubble {
	left: -236px;
}
a.badge.saq span.info-bubble span.triangle {
	left: 244px;
}
div.packages a.button-type1 {
	border-radius: 0;
}
.call,
.phone {
	white-space: nowrap;
}
@media screen and (max-width: 640px) {
	/* REMOVE MIN WIDTH ELIMINATE HORIZONTAL SCROLLING */
	#content.full-width,
	#content.full-width div.section,
	div.trusted h3,
	div.awards h2,
	div.banner h2 {
		min-width: 0;
		width: auto;
		padding-left: 0;
		padding-right: 0;
		white-space: normal;
	}
	#content .desktop,
	.mobileHidden {
		display: none;
	}
	#content .mobile {
		display: block;
	}
	div.packages,
	div.section div.training div.features {
		flex-wrap: wrap;
		justify-content: center;
	}
	img.customer-logos {
		width: 90%;
		height: auto;
	}
	div.section.main {
		margin-top: 0;
		padding-top: 4rem;
	}
	.call {
		white-space: normal;
	}
	div.banner h1 {
		font-size: 4.3rem;
		padding-top: 113px;
	}
	div.banner h2 {
		font-size: 2.2rem;
		margin-bottom: 1rem;
		width: 90%;
	}
	#content.full-width div.section.banner {
		min-height: 435px;
		background-position: bottom center;
	}
	div.box {
		margin: 0 1rem;
	}
	div.packages a.button-type1 {
		padding: 15px 65px;
	}
	div.features {
		margin-top: 1rem;
		padding-top: 0;
	}
	div.section div.training h2 {
		font-size: 3rem;
		line-height: 1.5;
	}
	div.section div.training div.feature {
		margin-bottom: 1rem;
	}
	div.trusted h2 {
		font-size: 3.5rem;
	}
	div.trusted h3 {
		font-size: 2rem;
		width: 90%;
	}
	div.awards h2 {
		font-size: 2.1rem;
	}
	div.award h3 {
		font-size: 2.1rem;
	}
	div.award p {
		font-size: 1.9rem;
	}
	#content.full-width div.section.awards {
		padding: 3rem 2rem;
	}
	div.packages h3 {
		font-size: 1.8rem;
	}
	a.see-more {
		text-align: center;
		display: block;
		margin-top: 0.7rem;
		margin-bottom: 3rem;
	}
	a.see-more p {
		font-size: 1.8rem;
	}
}
