<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Information security and DevSecOps conference for innovative IT security and compliance professionals">
		<meta property="og:title" content="Qualys Security Conference 2021 EMEA | Qualys, Inc." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/qsc/register/virtual/" />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="Information security and DevSecOps conference for innovative IT security and compliance professionals" />
		<meta name="twitter:card" content="summary_large_image" />
	<title>Qualys Security Conference 2021 EMEA</title>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css"
	integrity="sha256-vpKTO4Ob1M4bZ8RAvZvYMtinMz1XjH0QYdAO2861V9M=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
<link href="/asset/stylesheet/qsc.css" rel="stylesheet">
<link href="../../2020/virtual/index.css" rel="stylesheet">
<link href="index.css" rel="stylesheet">



</head>
<body>


	
{% include "src/_includes/header-ueno.njk" %}<div class="q-navigation-mobile">
	<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
		<div class="q-navigation-mobile__header">
			<button class="q-navigation-mobile__button js-menu">Close</button>
		</div>
		<div class="q-navigation-mobile-wrapper">
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__past-events hidden">
					Upcoming Events
				</li>
				<div class="submenu-container hidden">
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/" class="q-navigation-mobile__link">London 2020</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#overview" class="q-navigation-mobile__link">Overview</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#speakers" class="q-navigation-mobile__link">Speakers</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#agenda" class="q-navigation-mobile__link">Agenda</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#highlights" class="q-navigation-mobile__link">Highlights</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#venue" class="q-navigation-mobile__link">Venue & Travel</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/register/#london" class="q-navigation-mobile__link">Register</a>
					</li>
				</div>
				<li class="q-navigation-mobile__item hidden">
					<a class="q-location-link q-navigation-mobile__link">QSC Munich – <span class="nowrap">Jan 21, 2020</span></a>
				</li>
				<div class="submenu-container hidden">
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/munich/" class="q-navigation-mobile__link">Munich 2020</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/munich/#overview" class="q-navigation-mobile__link">Overview</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#speakers" class="q-navigation-mobile__link">Speakers</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/munich/#agenda" class="q-navigation-mobile__link">Agenda</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/munich/#highlights" class="q-navigation-mobile__link">Highlights</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/munich/#venue" class="q-navigation-mobile__link">Venue & Travel</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/register/#munich" class="q-navigation-mobile__link">Register</a>
					</li>
				</div>
				<li class="q-navigation-mobile__item hidden">
					<a class="q-location-link q-navigation-mobile__link">QSC Paris – <span class="nowrap">Jan 23, 2020</span></a>
				</li>
				<div class="submenu-container hidden">
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/paris/" class="q-navigation-mobile__link">Paris 2020</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/paris/#overview" class="q-navigation-mobile__link">Aperçu</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/london/#speakers" class="q-navigation-mobile__link">Speakers</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/paris/#agenda" class="q-navigation-mobile__link">Programme</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/paris/#highlights" class="q-navigation-mobile__link">Highlights</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/2020/paris/#venue" class="q-navigation-mobile__link">Informations pratiques</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile-submenu__item">
						– <a href="/qsc/register/#paris" class="q-navigation-mobile__link">Register</a>
					</li>
				</div>


				<li class="q-navigation-mobile__item ">
					<a href="/qsc/2024/emea/" class="q-location-link q-navigation-mobile__link">QSC24 EMEA</a>
				</li>
				<hr class="location-divider hidden">
				<li class="q-navigation-mobile__item q-navigation-mobile__past-events">
					Watch Past Events
				</li>
				<li class="q-navigation-mobile__item">
					<a href="/qsc/2023/orlando/videos/" class="q-location-link q-navigation-mobile__link">QSC23 Americas</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a href="/qsc/2023/mumbai/" class="q-location-link q-navigation-mobile__link">QSC23 Mumbai</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a href="/qsc/2023/munich/" class="q-location-link q-navigation-mobile__link">QSC23 Munich</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a href="/qsc/2023/london/" class="q-location-link q-navigation-mobile__link">QSC23 London</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="q-qsc__hero-wrapper">
	<div class="q-qsc__hero-container">
		<div class="q-qsc__hero-content-box">
			<div class="q-qsc__hero-content">
				<div class="q-qsc__hero-content--text heroContent">
					<h1 class="hero-heading">QSC <span class="emea">EMEA'21</span> <br>Virtual Event</h1>
					<p class="hero-info">
						January 25 – Feb 9, 2021
					</p>
					<a href="#qsc20_registration" data-fancybox
						data-options='{"smallBtn": false, "toolbar": false, "modal": true}' class="q-button right">
						<span>Sign up today</span>
					</a>
					<p class="hero-signup-info">There’s no cost to attend</p>
				</div>
			</div>
		</div>
		<div class="q-qsc__hero-shape">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1439 177">
				<path fill="#FFFFFF" fill-rule="evenodd"
					d="M196.43 43.02c101.306 6.683 203.738-3.587 304.852-6.836 73.58-2.364 151.324-1.561 223.5 15.187 21.124 4.902 123.639 34.356 131.422 36.711 54.008 16.343 107.306 37.65 163.493 45.657 136.017 19.384 288.548 13.887 418.828-36.486l-.001 79.095H.524L.522.834C60.528 33.22 129.16 38.582 196.43 43.02z" />
				</svg>
		</div>
	</div>
</div>

<div class="q-qsc__about-section">
	<div class="q-grid__container q-qsc__intro-section">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h1 class="heading--1 q-qsc__heading-section">
						Sign up!
					</h1>
					<p class="paragraph--1 q-qsc__paragraph-section">
						Register below to get free access to all of the <a href="/qsc/2021/emea/" class="inline-link">LIVE and on-demand sessions</a>. The EMEA event will re-broadcast many of the same conference and training sessions given at QSC USA 2020 and include a slate of new regional customer presentations.
					</p>
					<p class="paragraph--1 q-qsc__paragraph-section hidden">We hope you can join us then! To learn more about QSC EMEA 2021 and why you should attend, check out the <a href="#" class="q-link q-link-sans-arrow">event homepage</a>.</p>

					<script src="https://app-ab41.marketo.com/js/forms2/js/forms2.min.js"></script>
					<form
						class="q-form"
						data-form-id="q-form"
						data-asset-id=""
						data-input-solutionsInterestedOther=""
						data-input-assetIdFromCompanySize=""
						data-confirm = ""
						id="mktoForm_3346"
					></form>
					<script data-load-form-in-page="true">
					MktoForms2.loadForm(
								"https://app-ab41.marketo.com"
						,
								"295-OCX-077"
						,
						3346);
					</script>
					<noscript>Please enable JavaScript.</noscript>					<p class="q-lp-privacy-info private-info form__privacy q-default-hero__trialform-privacy">
						By submitting this form, you consent to Qualys'
						<a href="/company/privacy/"
						   data-fancybox
						   data-options='{"toolbar": false, "smallBtn": true}'
						   data-src="/company/privacy/content/"
						   data-type="iframe"
						   title="Qualys Privacy Statement Highlights">privacy policy</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "src/_includes/footer-ueno.njk" %}


		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js" integrity="sha256-IylDNWjip7FK2TJUYck237qBTBeSiwnSFDCjLG686D4=" crossorigin="anonymous"></script>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha384-zZbyq8BQ4BvQcv4xPxkJWWGPSVW6z+MufIHfxNTdnFQwc7J2Idz0zxeP6/bMqWJn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js" integrity="sha384-nK4khbhvZ/TNQaGnwee6RVFCDRfxcrLKZZqKCVqk1rF9AT8Etq3UZYCXZ7CCAd0K" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js" integrity="sha256-myZzY//RkhcJzO+K7rI0+s//nxzn5NPz0fJB+jLTD4U=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineLite.min.js" integrity="sha256-afJiX6/8g5cuB8Wo8OHvvJkfPqELqXWFo3CJ6X4OaaY=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/CSSPlugin.min.js" integrity="sha256-DduSm/LUUYs64edTqYOB3PoxzmxP5xCdcNwnWo6yZjg=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/3.2.0/xregexp-all.min.js"
	integrity="sha256-sWRRk18sgo7+CF6eNBm/BByZ84FD5yC87JJ4A3kZg2k=" crossorigin="anonymous"></script>
<script src="/asset/script/marketo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
	integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script src="/asset/script/job-title-auto-complete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"
	integrity="sha256-X5PoE3KU5l+JcX+w09p/wHl9AzK333C4hJ2I9S5mD4M=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/3.2.0/xregexp-all.min.js"
	integrity="sha256-sWRRk18sgo7+CF6eNBm/BByZ84FD5yC87JJ4A3kZg2k=" crossorigin="anonymous"></script>



</body>
</html>
