<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Qualys, Inc. helps your business automate the full spectrum of auditing, compliance and protection of your IT systems and web applications.">
		<meta property="og:title" content="IT Security and Compliance Platform | Qualys, Inc." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/" />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="Qualys, Inc. helps your business automate the full spectrum of auditing, compliance and protection of your IT systems and web applications." />
		<meta name="twitter:card" content="summary" />
	<title>IT Security and Compliance Platform | Qualys, Inc.</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/redesign-2024/segment/">
	<meta name="theme-color" content="#2E8BE0">

		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/tailwind.css">
		<link rel="stylesheet" href="/asset/stylesheet/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" media="print" onload="this.media='all'">



</head>
<body>


	<main class="relative">

	<div class="bg-secondary-4 hidden md:block">
		<div class="q-wrapper">
			<p class="text-white text-center font-montserrat font-normal py-2">Welcome to the preview of our new website. We hope you enjoy it!</p>
		</div>
	</div>

	{% include "src/_includes/header-chaitrali.njk" %}


	<div class="font-montserrat bg-heroGradient lg:min-h-[560px] flex flex-col">
	<div class="q-wrapper relative py-12 md:py-20 lg:py-10 flex-1 flex items-center justify-center">
		<div class="relative z-10 text-white">
			
			<h1 class="text-3xl lg:text-4xl text-center max-w-5xl mx-auto mb-4 font-medium leading-snug">Qualys VMDR TruRisk<sup class="align-super text-small leading-none">TM</sup> for Small Business</h1>
			<h2 class="mt-5 lg:mt-10 mb-4 text-2xl xl:text-[28px] font-medium text-center ">Nearly half of all ransomware attacks target small businesses.</h2>
			<h2 class="text-lg lg:text-[22px] text-center max-w-4xl mx-auto mb-10 font-normal leading-normal">De-risk your business with all-inclusive packages tailored for a small business, including patch management, endpoint security, anti-malware / ransomware, and threat protection.</h2>
			<div class="flex max-w-fit gap-5 mx-auto">
					<a href="#" class="py-4 px-5 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
						<span class="text-balance-1 text-sm font-semibold leading-none">Try It Now</span>
					</a>			</div>
		</div>
		<div class="absolute w-full h-full left-0 top-0 bg-no-repeat bg-cover bg-top mix-blend-color-burn     q-default-hero-bg"  style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/apps/hero-bg-apps.png');" ></div>
	</div>
</div>

	
<div class="font-montserrat md:bg-graySplit pb-10 md:pb-0">
	<div class="q-wrapper">
		<div class="grid md:grid-cols-2 items-center">
			<div class="bg-white">
				<div class="pt-10 md:py-10">
					<div class="relativ max-w-3xl text-content text-base">
						<div class="bg-black relative rounded-[inherit] w-full h-0 overflow-hidden aspactRatio169 drop-shadow-2xl js-videoWrapper" data-src="883787251">
							<div class="js-videoIframe"></div>
							<button class="absolute left-0 top-0 right-0 bottom-0 w-full h-full m-0 p-0 outline-none bg-no-repeat bg-cover bg-center videoPoster js-videoPoster" style="background-image:url('https://q-website-images.s3.amazonaws.com/www/image/vmdr-trurisk-video-poster.png');" aria-label="">
								<svg width="74" height="74" viewBox="0 0 74 74" class="absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 drop-shadow-xl" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="37" cy="36.8062" rx="37" ry="36.8062" fill="#FFECE7"/><path d="M52.1719 36.6117L29.4144 49.6819L29.4144 23.5415L52.1719 36.6117Z" fill="#ED2E26"/></svg>
							</button>
						</div>
					</div>				</div>
			</div>
			<div class="bg-[#F0F0F7]">
				<div class="py-10 xl:py-[60px] px-5 sm:px-10 xl:pl-[60px] md:pr-0">
					<div class="max-w-[612px]">
						<h2 class="text-content text-2xl lg:text-3xl 2xl:text-4xl font-semibold">Measure, Communicate, and Eliminate Cyber Risk in Your Small Business</h2>
						<p class="text-lg 2xl:text-[22px] font-normal mb-6 md:mb-8 lg:mb-8 mt-6 text-content2">With the platform used by Fortune 100 companies</p>
						<p class="text-content text-lg 2xl:text-[22px] leading-8 font-normal">
							A small business deserves all the remediation and endpoint protection capabilities of an enterprise-grade cybersecurity platform.
						</p>
						<br/>
						<p class="text-content text-lg 2xl:text-[22px] leading-8 font-normal">
							Qualys offers security packages purpose-built for small businesses to meet the unique demands of your small business.
						</p>
					</div>
					<div class="text-center max-w-max mt-7 md:mt-10 lg:mt-16">
						<a href="#" class="py-4 px-5 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
							<span class="text-balance-1 text-sm font-semibold leading-none">Try it Free</span>
						</a>					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="font-montserrat bg-cover bg-no-repeat bg-center py-16 xl:pt-32 xl:pb-28" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/low_tco_bg_img.png');">
	<div class="q-wrapper">
		<div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-3 md:gap-3 lg:gap-4 xl:gap-5 mx-auto sm:mx-0 max-w-[320px] sm:max-w-none">
				<div class="flip-card bg-white bg-opacity-5 md:bg-transparent">
					<div class="flip-card-inner relative h-full w-full text-center">
						<div class="flip-card-front w-full md:bg-white md:bg-opacity-5 px-5 py-5 md:py-10 xl:py-14 text-center">
							<img class="w-16 mx-auto" src="https://q-website-images.s3.amazonaws.com/www/image/icon/segment/low_tco.svg"/>
							<p class="pt-7 text-lg md:text-xl xl:text-2xl text-white">Low TCO and Flexible Pricing</p>
						</div>
						<div class="flip-card-back md:bg-white md:bg-opacity-60 px-5 md:py-5 pb-5">
							<p class="tet-base lg:text-[20px] text-white md:text-[#33415a]">Easily deploy with no hardware; automatically updated software.</p>
						</div>
					</div>
				</div>
				<div class="flip-card bg-white bg-opacity-5 md:bg-transparent">
					<div class="flip-card-inner relative h-full w-full text-center">
						<div class="flip-card-front w-full md:bg-white md:bg-opacity-5 px-5 py-5 md:py-10 xl:py-14 text-center">
							<img class="w-16 mx-auto" src="https://q-website-images.s3.amazonaws.com/www/image/icon/segment/protection_ransomware.svg"/>
							<p class="pt-7 text-lg md:text-xl xl:text-2xl text-white">Protection from Ransomware</p>
						</div>
						<div class="flip-card-back md:bg-white md:bg-opacity-60 px-5 md:py-5 pb-5">
							<p class="tet-base lg:text-[20px] text-white md:text-[#33415a]">Reduce critical vulnerabilities by 85% and remediate up to 40% faster.</p>
						</div>
					</div>
				</div>
				<div class="flip-card bg-white bg-opacity-5 md:bg-transparent">
					<div class="flip-card-inner relative h-full w-full text-center">
						<div class="flip-card-front w-full md:bg-white md:bg-opacity-5 px-5 py-5 md:py-10 xl:py-14 text-center">
							<img class="w-16 mx-auto" src="https://q-website-images.s3.amazonaws.com/www/image/icon/segment/compliance_enforcement.svg"/>
							<p class="pt-7 text-lg md:text-xl xl:text-2xl text-white">Compliance and Enforcement</p>
						</div>
						<div class="flip-card-back md:bg-white md:bg-opacity-60 px-5 md:py-5 pb-5">
							<p class="tet-base lg:text-[20px] text-white md:text-[#33415a]">Automatically detect and block malware and ransomware attacks. </p>
						</div>
					</div>
				</div>
				<div class="flip-card bg-white bg-opacity-5 md:bg-transparent">
					<div class="flip-card-inner relative h-full w-full text-center">
						<div class="flip-card-front w-full md:bg-white md:bg-opacity-5 px-5 py-5 md:py-10 xl:py-14 text-center">
							<img class="w-16 mx-auto" src="https://q-website-images.s3.amazonaws.com/www/image/icon/segment/streamlined_vulnerability.svg"/>
							<p class="pt-7 text-lg md:text-xl xl:text-2xl text-white">Streamlined Vulnerability Assessment and Remediation</p>
						</div>
						<div class="flip-card-back md:bg-white md:bg-opacity-60 px-5 md:py-5 pb-5">
							<p class="tet-base lg:text-[20px] text-white md:text-[#33415a]">Satisfy compliance and regulatory directives, including PCI, HIPAA, CIS, and more. </p>
						</div>
					</div>
				</div>
		</div>
		<div class="text-center max-w-max mt-7 md:mt-10 lg:mt-16 mx-auto">
			<a href="#" class="py-3 px-6 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
				<span class="text-balance-1 text-sm font-semibold leading-none">Talk to an Expert</span>
			</a>		</div>
	</div>
</div>
<div class="font-montserrat" style="background: linear-gradient(102deg, #D2EDFF 0%, rgba(255, 255, 255, 0.24) 115.15%);">
	<div class="q-wrapper">
		<div class="grid lg:grid-cols-2 py-14 lg:py-16">
			<div class="md:col-span-2">
				<h2 class="text-content text-center mb-6 md:mb-8 lg:mb-11">Cyber Risk for Small Businesses</h2>
				<div class="mt-10 lg:mt-12 xl:mt-14">
					<div class="grid gap-x-5 gap-y-2 md:gap-y-10 sm:grid-cols-2 lg:grid-cols-3">
						<div>
							<p class="leading-snug font-bold text-primary-4 text-center text-3xl lg:text-4xl 2xl:text-5xl">43%</p>
							<div class="mt-4">
								<p class="text-content2 text-large 2xl:text-larger text-center">of cyber-attacks target small businesses</p>
							</div>
						</div>
						<div>
							<p class="leading-snug font-bold text-primary-4 text-center text-3xl lg:text-4xl 2xl:text-5xl">$14M</p>
							<div class="mt-4">
								<p class="text-content2 text-large 2xl:text-larger text-center">average cost of a non-compliance event in the U.S.</p>
							</div>
						</div>
						<div>
							<p class="leading-snug font-bold text-primary-4 text-center text-3xl lg:text-4xl 2xl:text-5xl">68%</p>
							<div class="mt-4">
								<p class="text-content2 text-large 2xl:text-larger text-center">of small businesses have been targeted in the last 12 months</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-cover bg-no-repeat bg-center py-10 md:py-16" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/small_business_cybersecurity.png');">

	<div class="q-wrapper">
		<div class="pb-10 md:pb-16 xl:pb-20 max-w-[915px] mx-auto my-0">
			<h2 class="text-center text-white font-montserrat">Small Business Cybersecurity Packages – Get More Security for Less</h2>
			<p class="text-center text-white mt-5 font-montserrat text-lg md:text-xl lg:text-[22px] font-normal lg:leading-relaxed">Detect critical threats up to 6x faster with risk-based prioritization from 25+ threat intelligence feeds. Bundle VMDR TruRisk<sup class="align-super text-xs leading-3">®</sup> with Patch Management and Anti-Virus protection to bolster your small business cybersecurity program.</p>
		</div>
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-7 max-w-sm mx-auto sm:mx-0 sm:max-w-none">
			<div class="rounded-2xl px-8 py-6 pb-10 max-w-96 relative q-number-box backdrop-blur-2xl bg-white/10">
				<h3 class="text-white text-2xl leading-6 font-montserrat mb-3">VMDR TruRisk<sup><small>TM</small></sup></h3>
				<p class="text-white text-base leading-[22px] tracking-[0.32px] font-montserrat">Enterprise-grade VMDR functionality</p>
				<hr class="stroke-2 my-[24px]"/>
			
				<ul class="text-white text-base flex flex-col gap-3 tracking-[0.16px] pb-32">
						<li>Comprehensive asset discovery</li>
						<li>Vulnerability assessment</li>
						<li>Standard and custom reporting</li>
						<li>API support</li>
						<li>Threat intelligence</li>
						<li>TruRisk prioritization</li>
						<li>Scan external assets</li>
						<li>PCI ASV assessment</li>
						<li>Configuration assessment</li>
						<li>SSL certificate management</li>
						<li>Patch detection and CVE correlation</li>
						<li>Unified dashboard</li>
				</ul>
				<div class="text-center max-w-max absolute bottom-0 left-1/2 transform -translate-x-1/2 mb-[40px]">
					<span class="text-white font-semibold text-sm font-montserrat mb-2">
						Starting at
					</span>
					<a href="#" class="py-3 px-6 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl">
						<span class="text-balance-1 text-large font-semibold leading-none">$2,195</span>
					</a>
				</div>
			</div>
			<div class="rounded-2xl px-8 py-6 pb-10 max-w-96 relative q-number-box backdrop-blur-2xl bg-white/10">
				<h3 class="text-white text-2xl leading-6 font-montserrat mb-3">VMDR TruRisk<sup><small>TM</small></sup> FixIT</h3>
				<p class="text-white text-base leading-[22px] tracking-[0.32px] font-montserrat">TruRisk + Remediation</p>
				<hr class="stroke-2 my-[24px]"/>
			
				<ul class="text-white text-base flex flex-col gap-3 tracking-[0.16px] pb-32">
						<li>Patch operating systems</li>
						<li>Automated patch deployment</li>
						<li>Custom remediation</li>
						<li>Patch third-party applications</li>
				</ul>
				<div class="text-center max-w-max absolute bottom-0 left-1/2 transform -translate-x-1/2 mb-[40px]">
					<span class="text-white font-semibold text-sm font-montserrat mb-2">
						Starting at
					</span>
					<a href="#" class="py-3 px-6 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl">
						<span class="text-balance-1 text-large font-semibold leading-none">$2,995</span>
					</a>
				</div>
			</div>
			<div class="rounded-2xl px-8 py-6 pb-10 max-w-96 relative q-number-box backdrop-blur-2xl bg-white/10">
				<h3 class="text-white text-2xl leading-6 font-montserrat mb-3">VMDR TruRisk<sup><small>TM</small></sup> ProtectIT</h3>
				<p class="text-white text-base leading-[22px] tracking-[0.32px] font-montserrat">TruRisk + Remediation + Anti-Virus</p>
				<hr class="stroke-2 my-[24px]"/>
			
				<ul class="text-white text-base flex flex-col gap-3 tracking-[0.16px] pb-32">
						<li>Antivirus and anti-malware protection</li>
						<li>Incident response</li>
						<li>Native VMDR integration</li>
						<li>Threat hunting</li>
				</ul>
				<div class="text-center max-w-max absolute bottom-0 left-1/2 transform -translate-x-1/2 mb-[40px]">
					<span class="text-white font-semibold text-sm font-montserrat mb-2">
						Starting at
					</span>
					<a href="#" class="py-3 px-6 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl">
						<span class="text-balance-1 text-large font-semibold leading-none">$4,645</span>
					</a>
				</div>
			</div>
		</div>
		<div class="text-center max-w-max mt-7 md:mt-10 lg:mt-16 mx-auto">
			<a href="#" class="py-4 px-5 h-full flex items-center justify-center bg-primary-1 hover:bg-rose-200 transition-all rounded-full drop-shadow-xl">
				<span class="text-primary-5 text-sm font-semibold leading-none">Speak with an Expert</span>
			</a>		</div>

	</div>
</div>
<div class="font-montserrat bg-bg1 relative">
	<div class="q-wrapper relative z-[3]">
		<div class="pt-14 pb-14">


			<div class="pt-10 xl:pt-28">
				<div class="overflow-hidden js-testimonial-container">
					<div class="swiper-wrapper">
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										Now we have a dashboard where we’re able to see everything and take action quickly.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/logo-tivo-corporation.svg" class="q-inverse-logo" width="140" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Hemanta Swain</h4>
									<span class="font-normal text-lg lg:text-[22px]">VP &amp; CISO, TiVo Corporation</span>
								</div>
							</div>
						</div>
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										Qualys reduces our risk by helping us be constantly present across all our devices.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/cisco-white.svg" class="q-inverse-logo" width="110" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Mike Orosz</h4>
									<span class="font-normal text-lg lg:text-[22px]">CISO Vertiv</span>
								</div>
							</div>
						</div>
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										A simple, consolidated view of security threats across our environment.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/success-stories/logo-pacific-dental.svg" class="q-inverse-logo" width="180" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Nemi George</h4>
									<span class="font-normal text-lg lg:text-[22px]">VP, Information Security Officer, Pacific Dental Services</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="relative w-full pt-10">
					<div class="swiper-pagination js-testimonial-swiper-pagination q-testimonial-slides-page relative top-0"></div>
					<div class="xl:mt-0 xl:absolute right-0 z-10 xl:bottom-0 text-center xl:text-left">
						<a href="/customers/#success-stories" class="text-white hover:text-slate-400 transition-colors text-[20px] max-w-fit mx-auto xl:mx-0">More Success Stories</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="bg-[#003570] opacity-60 absolute z-[2] w-full h-full left-0 top-0"></div>
	<div class="absolute w-full h-full left-0 top-0 z-[1] mix-blend-lighten">
		<video src="" autoplay playsinline muted id="q_testimonial_video_bg" class="object-cover w-full h-full"></video>
	</div>
</div>


	</main><!-- main wrapper -->

	
<div class="bg-[#F3F5F8] font-montserrat">
	<div class="q-wrapper">
		<div class="pt-10 md:pt-20 pb-20 md:pb-28">
	<div class="mx-auto w-28">
		<svg viewBox="0 0 115 92" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_2239_64600)">
		<path d="M0 52.8827L57.4668 18.0703L115 52.8827L57.5111 88.0172L0 52.8827Z" fill="#CBDEED"/>
		<path d="M0 52.9102V56.5605L57.4668 91.346L115 56.5605V52.9102L57.5111 88.0178L0 52.9102Z" fill="#9BC0E0"/>
		<path d="M0 43.8085L57.4668 8.99609L115 43.8085L57.5111 78.9429L0 43.8085Z" fill="#CBDEED"/>
		<path d="M0 43.8359V47.4863L57.4668 82.2718L115 47.4863V43.8359L57.5111 78.9436L0 43.8359Z" fill="#9BC0E0"/>
		<path d="M0 35.4608L57.4668 0.648438L115 35.4608L57.5111 70.5953L0 35.4608Z" fill="#CBDEED"/>
		<path d="M0 35.4883V39.1386L57.4668 73.9241L115 39.1386V35.4883L57.5111 70.5959L0 35.4883Z" fill="#9BC0E0"/>
		<path d="M57.5078 50.5187V53.9543C57.5078 53.9543 69.6212 50.3845 74.9804 44.238C74.9804 44.238 77.0177 42.0102 77.5492 39.675C77.5492 39.675 78.3021 36.4273 78.0586 32.1328C78.0586 32.1328 77.3942 38.7893 73.4081 41.9833C73.4081 41.9833 68.514 46.922 57.5078 50.5187Z" fill="#BC2222"/>
		<path d="M57.5133 50.5187V53.9543C57.5133 53.9543 45.3999 50.3845 40.0408 44.238C40.0408 44.238 38.0034 42.0102 37.4719 39.675C37.4719 39.675 36.719 36.4273 36.9626 32.1328C36.9626 32.1328 37.6269 38.7893 41.6131 41.9833C41.6131 41.9833 46.485 46.922 57.5133 50.5187Z" fill="#A52121"/>
		<path d="M57.5087 20.9141C71.2166 20.9141 77.6165 25.2086 77.6165 25.2086C77.6165 25.2086 78.7459 32.6971 77.4172 36.8843C77.4172 36.8843 75.6235 44.507 57.5087 50.5193C39.3939 44.507 37.6002 36.8843 37.6002 36.8843C36.2715 32.6971 37.4009 25.2086 37.4009 25.2086C37.4009 25.2086 43.7787 20.9141 57.5087 20.9141Z" fill="#ED2E26"/>
		<path d="M60.7634 39.5145C60.7634 39.5145 62.8894 40.2391 66.7648 40.4539C66.7648 40.4539 69.9315 39.2192 71.4374 36.6425C71.4374 36.6425 73.962 33.2069 70.8616 29.5297C70.8616 29.5297 68.9793 26.792 64.1738 25.4231C64.1738 25.4231 60.9627 24.2689 56.0908 24.4837C56.0908 24.4837 51.3517 24.6715 47.742 26.6041C47.742 26.6041 42.4936 28.9124 42.4936 33.529C42.4936 33.529 42.3608 36.2667 44.6417 38.4677C44.6417 38.4677 46.967 41.098 51.9053 42.7085C51.9053 42.7085 53.987 43.4869 57.4416 44.1847C57.4416 44.1847 61.2285 44.8826 63.6423 45.0705C63.6423 45.0705 66.1447 44.0774 68.0713 42.5474C68.0713 42.5474 62.8672 42.1448 59.8112 41.5275C59.8112 41.5275 55.3821 40.8028 52.459 39.4339C52.459 39.4339 48.7607 37.9577 47.7642 35.3273C47.7642 35.3273 46.1033 31.5964 50.7981 29.0197C50.7981 29.0197 53.4112 27.4361 57.4859 27.4361C57.4859 27.4361 61.2728 27.1946 64.6388 29.2613C64.6388 29.2613 67.4956 30.8986 67.4956 33.529C67.4513 33.529 67.7613 36.8841 60.7634 39.5145Z" fill="#F7FAFC"/>
		</g>
		<defs>
		<clipPath id="clip0_2239_64600">
		<rect width="115" height="90.6947" fill="white" transform="translate(0 0.648438)"/>
		</clipPath>
		</defs>
		</svg>	</div>
	<h2 class="text-2xl md:text-3xl xl:text-4xl text-content text-center max-w-3xl mx-auto mt-12 !leading-snug">Protect your small business.
	<br/>Focus on what matters most.</h2>

	<div class="max-w-fit mt-12 lg:mt-20 mx-auto">
		<a href="#" class="py-4 px-5 min-w-[193px] h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
			<span class="text-balance-1 text-sm font-semibold leading-none">Try it Free</span>
		</a>	</div>
</div>
	</div>
</div>



		{% include "src/_includes/footer-chaitrali.njk" %}
	<nav class="q-mobile-menu js-mobile-menu" role="mobile-navigation" id="q-mobile-menu">
		<div class="bg-white h-full overflow-x-hidden overflow-y-auto">
			<ul class="mobile_menu">
				<li class="topLevel">
					<div class="flex items-center justify-between">
						<div>
							<a href="/">
								<img src="https://ik.imagekit.io/qualys/image/logo/qualys.svg" width="100" />
							</a>
						</div>
						<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
							<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>			</button>
					</div>
				</li>
				<li class="mt-9 mb-8">
					<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
				</li>	<li>
					<a href="javascript:void(0)">Platform</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Platform</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Overview</span>
						</li>
						<li>
							<a href="/cloud-platform/">Enterprise TruRisk Platform</a>
							<p class="text-sm text-balance-6 max-w-xs mb-8 tracking-wide">Everything you need to measure, manage, and reduce your cyber risk in one place.</p>
						</li>
						<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Capabilities</span>
						</li>
						<li>
							<a href="javascript:void(0)">All</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-av text-product-av">Asset Management</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/" class="  q-megamenu-platform-item" >CyberSecurity Asset Management (CSAM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/#easm" class="  q-megamenu-platform-item" >External Attack Surface Management (EASM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
											</div>
										</div>					</li>
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-vm text-product-vm">Vulnerability & Configuration Management</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/vulnerability-management-detection-response/" class="  q-megamenu-platform-item" >Vulnerability Management, Detection &amp; Response (VMDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/beta-signup/enterprise-trurisk-management/" class="  q-megamenu-platform-item" >Enterprise TruRisk Management (ETM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Consolidate &amp; translate security &amp; vulnerability findings from 3rd party tools</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/web-app-scanning/" class="  q-megamenu-platform-item" >Web App Scanning (WAS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate scanning in CI/CD environments with shift left DAST testing</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-rr text-product-rr">Risk Remediation</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/patch-management/" class="  q-megamenu-platform-item" >Patch Management (PM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Efficiently remediate vulnerabilities and patch systems</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/custom-assessment-remediation/" class="  q-megamenu-platform-item" >Custom Assessment and Remediation (CAR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-td text-product-td">Threat Detection & Response</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Multi-Vector EDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Context XDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cp text-product-cp">Compliance</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/policy-compliance/" class="  q-megamenu-platform-item" >Policy Compliance</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce risk, and comply with internal policies and external regulations with ease</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/file-integrity-monitoring/" class="  q-megamenu-platform-item" >File Integrity Monitoring (FIM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cs text-product-cs">Cloud Security</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/totalcloud/" class="  q-megamenu-platform-item" >TotalCloud (CNAPP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-security-posture-management/" class="  q-megamenu-platform-item" >Cloud Security Posture Management (CSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/infrastructure-as-code-security/" class="  q-megamenu-platform-item" >Infrastructure as Code Security (IaC)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect and remediate security issues within IaC templates</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/saas-security-posture-management/" class="  q-megamenu-platform-item" >SaaS Security Posture Management (SSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate the process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-detection-response/" class="  q-megamenu-platform-item" >Cloud Detection and Response (CDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/container-security/" class="  q-megamenu-platform-item" >Kubernetes and Container Security (KCS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, track, and continuously secure containers – from build to runtime</p>
											</div>
										</div>					</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">Asset Management</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-av text-product-av">Asset Management</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/" class="  q-megamenu-platform-item" >CyberSecurity Asset Management (CSAM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/#easm" class="  q-megamenu-platform-item" >External Attack Surface Management (EASM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
											</div>
										</div>					</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">Vulnerability & Configuration Management</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-vm text-product-vm">Vulnerability & Configuration Management</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/vulnerability-management-detection-response/" class="  q-megamenu-platform-item" >Vulnerability Management, Detection &amp; Response (VMDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/beta-signup/enterprise-trurisk-management/" class="  q-megamenu-platform-item" >Enterprise TruRisk Management (ETM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Consolidate &amp; translate security &amp; vulnerability findings from 3rd party tools</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/web-app-scanning/" class="  q-megamenu-platform-item" >Web App Scanning (WAS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate scanning in CI/CD environments with shift left DAST testing</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
			
						<li>
							<a href="javascript:void(0)">Risk Remediation</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-rr text-product-rr">Risk Remediation</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/patch-management/" class="  q-megamenu-platform-item" >Patch Management (PM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Efficiently remediate vulnerabilities and patch systems</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/custom-assessment-remediation/" class="  q-megamenu-platform-item" >Custom Assessment and Remediation (CAR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Threat Detection & Response</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-td text-product-td">Threat Detection & Response</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Multi-Vector EDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Context XDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Compliance</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cp text-product-cp">Compliance</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/policy-compliance/" class="  q-megamenu-platform-item" >Policy Compliance</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce risk, and comply with internal policies and external regulations with ease</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/file-integrity-monitoring/" class="  q-megamenu-platform-item" >File Integrity Monitoring (FIM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Cloud Security</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cs text-product-cs">Cloud Security</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/totalcloud/" class="  q-megamenu-platform-item" >TotalCloud (CNAPP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-security-posture-management/" class="  q-megamenu-platform-item" >Cloud Security Posture Management (CSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/infrastructure-as-code-security/" class="  q-megamenu-platform-item" >Infrastructure as Code Security (IaC)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect and remediate security issues within IaC templates</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/saas-security-posture-management/" class="  q-megamenu-platform-item" >SaaS Security Posture Management (SSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate the process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-detection-response/" class="  q-megamenu-platform-item" >Cloud Detection and Response (CDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/container-security/" class="  q-megamenu-platform-item" >Kubernetes and Container Security (KCS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, track, and continuously secure containers – from build to runtime</p>
											</div>
										</div>					</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Solutions</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Solutions</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Use Cases</span>
						</li>
							<li>
								<a href="/solutions/endpoint/">Endpoint Security</a>
							</li>
							<li>
								<a href="/solutions/compliance/">Compliance</a>
							</li>
							<li>
								<a href="/solutions/pci-compliance/">PCI Compliance</a>
							</li>
							<li>
								<a href="/apps/totalcloud/">Cloud Security</a>
							</li>
							<li>
								<a href="/solutions/devops/">DevOps</a>
							</li>
							<li>
								<a href="/solutions/threat-protection/">Threat Protection</a>
							</li>
							<li>
								<a href="/solutions/software-supply-chain-risk/">Software Supply Chain Risk</a>
							</li>
							<li>
								<a href="/solutions/attack-surface-management/">Attack Surface Management</a>
							</li>
							<li>
								<a href="/solutions/nis2/">NIS2</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-5">
							<span class="block py-2 text-balance-8 text-base">Segments</span>
						</li>
							<li>
								<a href="/subscriptions/smb/">Small Business</a>
							</li>
							<li>
								<a href="/subscriptions/sme/">Mid-Sized Business</a>
							</li>
							<li>
								<a href="/subscriptions/enterprise/">Enterprise</a>
							</li>
							<li>
								<a href="/subscriptions/government/">Federal</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Customers</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Customers</span>
						</li>
							<li>
								<a href="/customers/">Overview</a>
							</li>
							<li>
								<a href="/customers/#best-practices/">Best Practices</a>
							</li>
							<li>
								<a href="/customers/#success-stories/">Success Stories</a>
							</li>
							<li>
								<a href="/customers/#testimonials/">Testimonials</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Resources</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Resources</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Resources</span>
						</li>
							<li>
								<a href="/resources/">Resources Library</a>
							</li>
							<li>
								<a href="https://blog.qualys.com/">Blog</a>
							</li>
							<li>
								<a href="/webinars/">Webinars</a>
							</li>
							<li>
								<a href="/stream/">Qualys Stream</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-5">
							<span class="block py-2 text-balance-8 text-base">Research</span>
						</li>
							<li>
								<a href="/tru/">Threat Research Unit</a>
							</li>
							<li>
								<a href="/research/security-alerts/">Security Alerts</a>
							</li>
							<li>
								<a href="/research/security-advisories/">Security Advisories</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Support</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Support</span>
						</li>
							<li>
								<a href="https://success.qualys.com/customersupport/">Support Portal</a>
							</li>
							<li>
								<a href="/training/">Free Training</a>
							</li>
							<li>
								<a href="/documentation/">Documentation</a>
							</li>
							<li>
								<a href="https://success.qualys.com/discussions/s/">Community Discussions</a>
							</li>
							<li>
								<a href="https://success.qualys.com/support/s/">Knowledgebase</a>
							</li>
							<li>
								<a href="/documentation/release-notes/">Release Notes</a>
							</li>
							<li>
								<a href="https://notifications.qualys.com/">Release Notifications</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">More</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">More</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2 mt-4">
							<span class="block py-2 text-balance-8 text-base">Partners</span>
						</li>
							<li>
								<a href="/partners/">Overview</a>
							</li>
							<li>
								<a href="/partners/program/">Partner Program</a>
							</li>
							<li>
								<a href="/partners/vad/">VAD Partners</a>
							</li>
							<li>
								<a href="/partners/var/">VAR Resellers</a>
							</li>
							<li>
								<a href="/partners/mssp/">MSP/MSSP Partners</a>
							</li>
							<li>
								<a href="/partners/integration/">Integration Partners</a>
							</li>
							<li>
								<a href="/partners/faq/">Partner FAQs</a>
							</li>
							<li>
								<a href="/partners/find/">Find Partner</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-4">
							<span class="block py-2 text-balance-8 text-base">Company</span>
						</li>
							<li>
								<a href="/company/">About Us</a>
							</li>
							<li>
								<a href="/company/management/">Our Team</a>
							</li>
							<li>
								<a href="https://investor.qualys.com/">Investor Relations</a>
							</li>
							<li>
								<a href="/company/newsroom/">News</a>
							</li>
							<li>
								<a href="/customers/awards/">Awards</a>
							</li>
							<li>
								<a href="/company/events/">Events</a>
							</li>
							<li>
								<a href="/careers/">Careers</a>
							</li>
					</ul>
				</li>
				<li>
					<hr class="pb-3 mt-3" />
				</li>
				<li>
					<a href="javascript:void(0)">Community</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Community</span>
						</li>
							<li>
								<a href="https://community.qualys.com/">Overview</a>
							</li>
							<li>
								<a href="https://success.qualys.com/discussions/s/">Discuss</a>
							</li>
							<li>
								<a href="https://blog.qualys.com/">Blog</a>
							</li>
							<li>
								<a href="/training/">Training</a>
							</li>
							<li>
								<a href="/documentation/">Docs</a>
							</li>
							<li>
								<a href="/resources/">Resources</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Login</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Login</span>
						</li>
							<li>
								<a href="https://qualysguard.qualys.com/">US Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
							</li>
							<li>
								<a href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
							</li>
							<li>
								<a href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qualys.eu/">EU Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
							</li>
							<li>
								<a href="https://pci.qualys.com/">PCI Platform</a>
							</li>
						<li class="mt-5">
							<a href="https://www.qualys.com/platform-identification/" class="block rounded-full bg-primary-1 !text-primary-4 px-5 py-4 text-center">What’s my Platform?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Contact Us</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Contact Us</span>
						</li>
							<li>
								<a href="javascript:void(0)" class="drift-open-chat">Chat with Us</a>
							</li>
							<li>
								<a href="https://www.qualys.com/forms/schedule-demo/" >Schedule a Demo</a>
							</li>
							<li>
								<a href="tel:+18007454355" >+1800 745 4355</a>
							</li>
							<li>
								<a href="/forms/request-a-call/" >Request a call or Email</a>
							</li>
							<li>
								<a href="/company/contacts/#headquarters" >Global Offices with Contacts</a>
							</li>
					</ul>
				</li>
				<li class="mt-14">
					<a href="/free-trial/" class="bg-primary-4 rounded-full p-4 text-center">
						<span class="text-white leading-relaxed text-sm font-semibold">Try Now</span>
					</a>
				</li>
			</ul>		</div>
	</nav>
	<div class="q-mobile-menu-overlay"></div>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>			<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.umd.min.js"></script>
		<script src="/asset/script/mobile-menu-2024.js"></script>
		<script src="/asset/script/global-scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>

</body>
</html>
