.q-grid__container {
	margin-bottom: 140px;
	margin-top: 66px;
}
.heading--not-quite-1 {
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 30pt;
	font-weight: 400;
	line-height: 1.1;
}
@media print {
	.heading--not-quite-1 {
		color: black;
		font-size: 18pt;
		line-height: normal;
	}
}
.heading--not-quite-sub {
	color: #6A778B;
	font-family: Gotham, sans-serif;
	font-size: 23pt;
	font-weight: 300;
	line-height: 1.2;
}
@media print {
	.heading--not-quite-sub {
		color: black;
		font-size: 14pt;
		line-height: normal;
	}
}
.news-release {
	line-height: 1.8;
	font-size: 14pt;
	max-width: 55em;
}
@media print {
	.news-release {
		font-size: 10pt;
		line-height: normal;
		max-width: 55em;
	}
}
.news-release-body h1,
.news-release-body h2,
.news-release-body h3,
.news-release-body h4,
.news-release-body h5,
.news-release-body h6,
.news-release-body b,
.news-release-body strong,
.news-release-body b span {
	color: #262626;
	font-family: Gotham, sans-serif !important;
	font-weight: 500;
}
@media print {
	.news-release-body h1,
	.news-release-body h2,
	.news-release-body h3,
	.news-release-body h4,
	.news-release-body h5,
	.news-release-body h6,
	.news-release-body b,
	.news-release-body strong {
		color: black;
	}
}
.news-release-body a[href],
.news-release-body a[href] u {
	color: #2E8BE0;
	text-decoration: none;
}
.news-release-body a[href]:hover {
	text-decoration: underline;
}

@media print {
	/* print links */
	.news-release-body a[href] {
		color: black;
	}
	.news-release-body a[href]:after {
		color: black;
		content: " (" attr(href) ")";
	}
	.news-release-body a[href^="/"]:after {
		content: " (https://www.qualys.com" attr(href) ")";
	}
	.news-release-body a[href^="mailto"]:after {
		content: none;
	}
}

/* news release bodies expect images to be inline */
.pdf-link img {
	display: inline;
	max-width: auto;
}
.nav-news-release {
	/* todo */
}
@media print {
	.pdf-link,
	.nav-news-release {
		display: none;
		visibility: hidden;
	}
}


/*
 * earnings release syltes for financial results
 */
.earnings-release .MsoNormal {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.MsoListParagraph,
.MsoListParagraphCxSpFirst,
.MsoListParagraphCxSpMiddle,
.MsoListParagraphCxSpLast {
	padding-left: 2.5em;
}
.MsoNormalTable {
	margin-left: auto !important;
	margin-right: auto !important;
	width: auto !important;
}
.MsoNormalTable tr,
.MsoNormalTable td {
	height: auto !important;
}
.WordSection2,
.WordSection3,
.WordSection4,
.WordSection5,
.WordSection6,
.WordSection7,
.WordSection8,
.WordSection9,
.WordSection10,
.WordSection11,
.WordSection12,
.WordSection13,
.WordSection14,
.WordSection15,
.WordSection16,
.WordSection99 {
	page-break-before: always;
	font-size: 9pt;
	max-width: 7.2in;
	margin: 4em auto 0;
}

/*
 * styles for earnings release financial results tables from Q4 2016 and before
 */
.financials {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8em;
	width: 100%;
	border-collapse: collapse;
}
.financials th {
	font-size: 10pt;
}
.financials td {
	padding: 0.25em;
	text-align: right;
	white-space: nowrap;
}
.financials .row-headings {
	text-align: left;
	white-space: normal;
}
.financials tr:nth-child(2n+9):hover {
	background-color: #CEF;
}
.financials tr:nth-child(2) th {
	text-transform: uppercase;
}
.financials .after-heading {
	height: 2em;
}
.financials .col-headings {
	font-weight: bold;
	text-align: center;
}
.financials .underline-1,
.financials .underline-2 {
	border-bottom: 1pt solid black;
}
.financials .col-width-1 {
	width: 1.2em;
}
.financials .underline-2 {
	border-bottom: 3pt double black;
}
.news-release-body img {
	display: block;
	margin: 2em auto 0;
	max-width: 600px;
	width: 100%;
}
.financial-table-heading {
	text-align: center;
	font-family: Gotham, sans-serif;
	margin-top: 7em;
	line-height: 1.7;
	font-size: 10pt;
	font-weight: 500;
	color: #000;
}
.news-release-body .financial-table {
	max-width: 691px;
}
.news-release-body .financial-table:last-child {
	margin-bottom: 5em;
}
.news-release-body .pdf-link img {
	display: inline;
}
.news-release-body img ~ em,
.news-release-body .image-container em,
.news-release-body iframe ~ em {
	display: block;
	font-size: 11pt;
	margin: 0 auto calc(3 * 14pt);
	max-width: 600px;
	text-align: center;
}
.news-release-body a[data-fancybox],
.news-release-body a[data-fancybox]:hover {
	text-decoration: none;
	color: inherit;
	display: block;
}
.news-release-body iframe {
	margin: 0 auto;
	display: block;
}
.earnings-release .pdf-link {
	display: flex;
	align-items: flex-end;
}
[href="https://ik.imagekit.io/qualys/image/icon/adobe-acrobat-document-16-2x.png"] {
	margin-right: 0.5em;
}
.earnings-release .media-contacts {
	display: none;
}
@media print {
	.earnings-release {
		font-size: 9pt;
		line-height: normal !important;
		max-width: auto;
	}
	.earnings-release .heading--not-quite-1,
	.earnings-release .heading--not-quite-sub,
	.earnings-release .news-release-body h1,
	.earnings-release .news-release-body h2,
	.earnings-release .news-release-body h3,
	.earnings-release .news-release-body h4,
	.earnings-release .news-release-body h5,
	.earnings-release .news-release-body h6,
	.earnings-release .news-release-body b,
	.earnings-release .news-release-body strong {
		color: black;
		font-family: Arial, sans-serif;
		font-weight: 700;
	}
	.earnings-release .heading--not-quite-1 {
		font-size: 17pt;
		text-align: center;
	}
	.earnings-release .heading--not-quite-sub {
		font-size: 13pt;
		font-weight: 400;
		text-align: center;
	}
	.q-footer {
		display: none;
		visibility: hidden;
	}
	.earnings-release .financial-table-heading,
	.earnings-release .media-contacts {
		page-break-before: always;
		margin-top: 0;
	}
	.earnings-release .q2-2019 .reconciliation-of-non-gaap-disclosures {
		height: 7in;
		width: 5.7in;
	}
	.earnings-release .news-release-body {
		margin-top: 5em;
	}
	.earnings-release .pdf-link,
	.earnings-release [data-fancybox]:after {
		display: none;
	}
	.financial-table-container {
		page-break-inside: avoid;
	}
}
[lang="ar"] .news-release {
	direction: rtl;
}
.media-contacts {
	direction: ltr;
}
/*# sourceMappingURL=news-release.css.map */