<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta name="twitter:card" content="summary" />
		<meta name="description" content="Vol. 15, Num. 28, Top Vulnerability this Week: Microsoft Releases Monthly Set of Security" class="swiftype" data-type="text">
	<title>@RISK Newsletter for July 16, 2015</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/research/sans-at-risk/2015/week-28/">
	<meta name="theme-color" content="#2E8BE0">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">
	<link rel="stylesheet" href="/research/sans-at-risk/newsletter.css">



</head>
<body>


	<div class="">
		{% include "src/_includes/header-ueno.njk" %}
		<div class="overlay-mask"></div>
		
		<div class="q-navigation-mobile">
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button js-menu">Close</button>
				</div>
				<div class="q-navigation-mobile-wrapper">
					<img class="q-hide-search" src="https://q-website-images.s3.amazonaws.com/www/image/icon/chevron-selectbox.svg">
					<ul class="q-navigation-mobile__list">
						<div class="q-navigation-mobile__link-container">
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Platform">Platform</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Solutions">Solutions</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Resources">Resources</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Customers">Customers</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Partners">Partners</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Support">Support</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Company">Company</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Community">Community</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Login">Login</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Contactus">Contact us</span>
							</li>
						</div>
						<div class="q-search-mobile">
							<div class="q-click-helper"></div>
							<li class="q-navigation-mobile__item ">
								<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
									<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#627281" d="M6.5 1.24a5.26 5.26 0 105.26 5.26A5.263 5.263 0 006.5 1.24M6.5 13A6.5 6.5 0 1113 6.5 6.513 6.513 0 016.5 13"/><path fill="#627281" d="M10.215 11.054l.824-.824 4.947 4.947-.824.824z"/></svg></button>
									<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
								</form>
							</li>
		
							<div class="q-search-links-mobile">
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link q-search-link--heading">Quick Links</span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/resources/">Resources (guides, whitepapers, etc.)</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/apps/">Qualys Cloud Apps</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/newsroom/">News</a></span>
								</li
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/events/">Events Calendar</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="https://community.qualys.com">Qualys Community</a></span>
								</li>
							</div>
						</div>
						<li class="q-navigation-mobile__item free-trial">
							<span class="q-button" href="/free-trial/" data-target="try-it">Try it</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Cloud Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Cloud Platform</a>
					</li>
				</ul>
			</div>
		
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
							Overview
						</h3>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Enterprise TruRisk Platform</a>
						<p class="q-nav--description q-nav--description-b trurisk-desc">Everything you need to measure, manage, and reduce your cyber risk in one place</p>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/solutions-overview.svg" width="30" height="30" /></span>
								CAPABILITIES
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/cybersecurity-asset-management/" data-target="asset-management">Asset Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/vulnerability-management-detection-response/" data-target="vulnerability-configuration-management">Vulnerability & Configuration Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/patch-management/" data-target="risk-remediation">Risk Remediation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/threat-protection/" data-target="threat-detection-response">Threat Detection & Response</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/solutions/compliance/" data-target="compliance">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/totalcloud/" data-target="cloud-security">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm">External Attack Surface Management (EASM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection & Response (VMDR) – <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM)<span class="q-navigation-mobile__link--highlight"> - New</span></a></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response (CDR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Solutions">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Solutions
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/business-need.svg" width="30" height="34" /></span>
							Use Cases
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/endpoint/">Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/pci-compliance/">PCI Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/dora-compliance/">DORA Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/devops/">DevOps</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/threat-protection/">Threat Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/nis2/">NIS2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/organization.svg" width="30" height="34" /></span>
							Segments
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/sme/">Mid-Sized Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/enterprise/">Enterprise</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/government/">Federal</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Resources">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Resources
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-resources.svg" width="30" height="30" /></span>
							Resources
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources Library</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/webinars/">Webinars</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/stream/">Qualys Stream</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-research.svg" width="31" height="28" /></span>
							Research
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/tru/">Threat Research Unit</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-alerts/">Security Alerts</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-advisories/">Security Advisories</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Customers">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Customers
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#best-practices">Best Practices</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#success-stories">Success Stories</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#testimonials">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Partners">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Partners
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/program/">Partner Program</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/vad/">VAD Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/var/">VAR Resellers</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/mssp/">MSP/MSSP Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/integration/">Integration Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/faq/">Partner FAQs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/find/">Find a Partner</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Community">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Community
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://community.qualys.com/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Discuss</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Docs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Support">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Support
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/customersupport/">Support Portal</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/training/">Free Training</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Documentation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Community Discussions</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/support/s/">Knowledgebase</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/release-notes/">Release Notes</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://notifications.qualys.com/">Release Notifications</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Company">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Company
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/">About Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/management/">Our Team</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://investor.qualys.com/">Investor Relations</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/newsroom/">News</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/awards/">Awards</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/events/">Events</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/careers/">Careers</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Login">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Login
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.com/">US Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://pci.qualys.com/">PCI Platform</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.eu/">EU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.it/">EU Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.qualys.com/platform-identification/">What's my platform?</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Contactus">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Contact us
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
					</li>
					 <li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link drift-open-chat">Chat With Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/schedule-demo/">Schedule a Demo</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/request-a-call/">Request a Call or Email</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/contacts/#headquarters">Global Offices and Contacts</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="try-it">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Try it
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform.svg" width="30" height="30" /></span>
							Enterprise TruRisk Platform
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-trial/">Cloud Platform - Free Trial</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/free-services.svg" width="24" height="27" /></span>
							Free Services
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/global-assetview/">Global AssetView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/community-edition/">Community Edition</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.ssllabs.com/">SSL Labs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/certview/">CertView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="asset-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Asset Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM) </a>
						<p class="q-nav--description q-nav--description-b">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm/">External Attack Surface Management (EASM) – <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b asset-management">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="vulnerability-configuration-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Vulnerability & Configuration Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response (VMDR) - <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM) - <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Consolidate & translate security & vulnerability findings from 3rd party tools</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a></span>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Automate scanning in CI/CD environments with shift left DAST testing</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="risk-remediation">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Risk Remediation
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
						<p class="q-nav--description">Efficiently remediate vulnerabilities and patch systems</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
						<p class="q-nav--description">Quickly create custom scripts and controls for faster, more automated remediation</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="threat-detection-response">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Threat Detection & Response
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/threat-protection/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Extend detection and response beyond the endpoint to the enterprise</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="compliance">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Compliance
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce risk, and comply with internal policies and external regulations with ease</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="cloud-security">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Security
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect and remediate security issues within IaC templates</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b cloud-security">Manage your security posture and risk across your entire SaaS application stack</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection and Response (CDR)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
					</li>
					<li class="q-navigation-mobile__item" data-category="solutions-vulnerability-management">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="q-grid hidden">
		<div class="q-grid__container">
			<div class="q-grid__row">
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
			</div>
		</div>
	</div>

		<div class="q-promo-banner js-promo-banner  q-promo-container promo--hidden" data-expires="2024-02-28T17:00:00Z">
			<div class="q-promo-banner__container">
				<div class="promo-wrapper">
					<div class="q-promo-banner__inner">
						<div class="q-promo-banner__row">
							<div class="q-promo-banner__column">
								<a href="/2024/02/cyber-risk-series/?utm_source=qualys&utm_medium=website-thin-strip&utm_campaign=global-eventvirtual-cyberriskseries-q12024&leadsource=344574831 " class="cta-wrapper">
									<div class="heading-wrapper">
										<span class="text">Cyber Risk Series | Cloud Security Edition | February 28 | <u>Register Now</u></span>
									</div>
								</a>					</div>
						</div>
					</div>
					<button class="q-alert__close">
						<svg class="q-alert__close-icon" viewBox="0 0 12 12">
							<title>Close</title>
							<g fill="#fff" fill-rule="evenodd">
								<path d="M10.1421357.24264075l1.41421355 1.41421356-9.89949494 9.89949496L.24264077 10.1421357z"></path>
								<path d="M.24264075 1.6568543L1.6568543.24264076l9.89949495 9.89949494-1.41421356 1.41421355z"></path>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	
<div class="q-grid__container">
	<div class="q-grid__inner">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-10">

				<h1 class="heading--1">
					@RISK Newsletter for July 16, 2015
				</h1>
				<h1 class="heading--sub">
					The consensus security vulnerability alert.
				</h1>
				<p class="paragraph--1">
					Vol. 15, Num. 28
				</p>
				<p class="paragraph--1">
					This is a weekly newsletter that provides in-depth analysis of the latest vulnerabilities with straightforward remediation advice. Qualys supplies a large part of the newly-discovered vulnerability content used in this newsletter.
				</p>
				<p class="paragraph--1">
					Archived issues may be found at the <a href="https://www.qualys.com/research/sans-at-risk/">SANS @RISK Newletter Archive</a>.
				</p>
				<hr>
				<div class="newsletter-content">
					<h2 id="contents">CONTENTS:</h2>
<p>NOTABLE RECENT SECURITY ISSUES<br>INTERESTING NEWS FROM AROUND THE SECURITY COMMUNITY<br>VULNERABILITIES FOR WHICH EXPLOITS ARE AVAILABLE<br>MOST PREVALENT MALWARE FILES 2015-07-07 - 2015-07-14</p>
<hr>
<h2 id="top-vulnerability-this-week-microsoft-releases-monthly-set-of-security">TOP VULNERABILITY THIS WEEK: Microsoft Releases Monthly Set of Security</h2>
<p>Advisories for July 2015</p>
<hr>
<h2 id="notable-recent-security-issues-selected-by-the-talos-security-intelligence-and-research-group">NOTABLE RECENT SECURITY ISSUES SELECTED BY THE TALOS SECURITY INTELLIGENCE AND RESEARCH GROUP</h2>
<p>Title: <strong>Microsoft Releases Monthly Set of Security Advisories for July 2015</strong><br>Description: Microsoft has released their monthly set of security<br>advisories for July 2015, issuing fourteen bulletins covering<br>fifty-seven CVEs.  Four bulletins are rated Critical and fix security<br>flaws in Windows Server Hyper-V, the VBScript Scripting Engine, Remote<br>Desktop Protocol, and Internet Explorer.  The remain ten bulletins are<br>rated Important cover security flaws in SQL Server, Windows DCOM RPC,<br>NETLOGON, Windows Graphic Component, Windows Kernel Mode Driver,<br>Microsoft Office, Windows Installer, Windows, and OLE.<br>Reference: <a href="https://technet.microsoft.com/library/security/ms15-jul">https://technet.microsoft.com/library/security/ms15-jul</a><br>Snort SID: 34741-34742, 35116-35117, 35119-35216</p>
<p>Title: <strong>Adobe Releases Emergency Advisory for Flash Player Following</strong><br>Additional Zero-day Flaws Disclosed<br>Description: Adobe has released an emergency advisory for Flash Player<br>following additional zero-day vulnerability information that was<br>discovered within the HackingTeam information leak.  The advisory for<br>Flash Player addresses CVE-2015-5122 and CVE-2015-5123.  Adobe Flash<br>Player versions 18.0.0.203 and earlier, 13.0.0.302 and earlier, and<br>11.2.202.481 are confirmed vulnerable.  Users are advised to patch as<br>soon as possible to reduce exposure from exploitation attempts.<br>Reference: <a href="https://helpx.adobe.com/security/products/flash-player/apsb15-18.html">https://helpx.adobe.com/security/products/flash-player/apsb15-18.html</a><br>Snort SID: 35217-35220</p>
<p>Title: <strong>Oracle Releases Quarterly Security Advisories for Oracle Products</strong><br>(including Java)<br>Description: Oracle has released its quarterly set of security<br>advisories for various products they currently support, including Java.<br>This quarter see 25 CVEs for Java being addressed with 7 receiving at<br>CVE base score of 10.0, the highest severity. Most of these<br>vulnerabilities affect Java versions 6u95, 7u80, and 8u45.  Note that<br>the zero-day vulnerability that Trend Micro disclosed was patched in<br>this release.<br>Reference: <a href="http://www.oracle.com/technetwork/topics/security/cpujul2015-2367936.html">http://www.oracle.com/technetwork/topics/security/cpujul2015-2367936.html</a><br>Snort SID: Detection pending release of vulnerability information</p>
<p>Title: <strong>PHP Released Updates for 5.4, 5.5, and 5.6 Branches, Fixing</strong><br>Various Security flaws<br>Description: PHP has released updates for the 5.4, 5.5, and 5.6 release<br>branches, bringing the most recent versions of PHP to 5.4.43, 5.5.27,<br>and 5.6.11.  These releases contain general bug fixes but also contain<br>security patches, including a fix for the BACKRONYM MySQL flaw.<br>Reference: <a href="http://php.net/">http://php.net/</a><br>Snort SID: Detection pending release of vulnerability information</p>
<hr>
<h2 id="interesting-news-from-around-the-security-community">INTERESTING NEWS FROM AROUND THE SECURITY COMMUNITY</h2>
<p>“Gifts” From Hacking Team Continue, IE Zero-Day Added to Mix<br><a href="http://blog.trendmicro.com/trendlabs-security-intelligence/gifts-from-hacking-team-continue-ie-zero-day-added-to-mix/">http://blog.trendmicro.com/trendlabs-security-intelligence/gifts-from-hacking-team-continue-ie-zero-day-added-to-mix/</a></p>
<p>After second hack, OPM confirms more than 22 million affected<br><a href="http://www.zdnet.com/article/opm-confirms-millions-more-affected-by-second-breach/">http://www.zdnet.com/article/opm-confirms-millions-more-affected-by-second-breach/</a></p>
<p>Snort++ Rule Changes (Cool New Features)<br><a href="http://blog.snort.org/2015/07/snort-rule-changes.html?f_l=s">http://blog.snort.org/2015/07/snort-rule-changes.html?f_l=s</a></p>
<p>Government Grade Malware: a Look at HackingTeam’s RAT<br><a href="http://labs.bromium.com/2015/07/10/government-grade-malware-a-look-at-hackingteams-rat/">http://labs.bromium.com/2015/07/10/government-grade-malware-a-look-at-hackingteams-rat/</a></p>
<p>Tunneling Data and Commands Over DNS to Bypass Firewalls<br><a href="https://zeltser.com/c2-dns-tunneling/">https://zeltser.com/c2-dns-tunneling/</a></p>
<p>Reverse Engineering the Subway Android App<br><a href="http://randywestergren.com/reverse-engineering-the-subway-android-app/=">http://randywestergren.com/reverse-engineering-the-subway-android-app/=</a></p>
<hr>
<h2 id="recent-vulnerabilities-for-which-exploits-are-available-compiled-by-the-qualys-vulnerability-research-team">RECENT VULNERABILITIES FOR WHICH EXPLOITS ARE AVAILABLE COMPILED BY THE QUALYS VULNERABILITY RESEARCH TEAM</h2>
<p>This is a list of recent vulnerabilities for which exploits are<br>available. System administrators can use this list to help in<br>prioritization of their remediation activities. The Qualys Vulnerability<br>Research Team compiles this information based on various exploit<br>frameworks, exploit databases, exploit kits and monitoring of internet<br>activity.</p>
<p>ID:     CVE-2015-5122<br>Title: <strong>Adobe Flash Player Use-after-Free Code Execution Vulnerability</strong><br>Vendor: Adobe<br>Description: A use-after-free vulnerability has been identified in Adobe<br>Flash Player. The error occurs in the opaqueBackground property 7 setter<br>of the flash.display.DisplayObject class.<br>CVSS v2 Base Score: 10.0 (AV:N/AC:L/Au:N/C:C/I:C/A:C)</p>
<p>ID:     CVE-2015-5119<br>Title: <strong>Adobe Flash ActionScript 3 ByteArray Use-After-Free Vulnerability</strong><br>Vendor: Adobe<br>Description: Use-after-free vulnerability in the ByteArray class in the<br>ActionScript 3 (AS3) implementation in Adobe Flash Player 13.x through<br>13.0.0.296 and 14.x through 18.0.0.194 on Windows and OS X and 11.x<br>through 11.2.202.468 on Linux allows remote attackers to execute<br>arbitrary code or cause a denial of service (memory corruption) via<br>crafted Flash content that overrides a ValueOf function, as exploited<br>in the wild in July 2015.<br>CVSS v2 Base Score: 10.0 (AV:N/AC:L/Au:N/C:C/I:C/A:C)</p>
<p>ID:     CVE-2015-3090<br>Title: <strong>Adobe Flash Player ShaderJob Buffer Overflow</strong><br>Vendor: Adobe<br>Description: Adobe Flash Player before 13.0.0.289 and 14.x through 17.x<br>before 17.0.0.188 on Windows and OS X and before 11.2.202.460 on Linux,<br>Adobe AIR before 17.0.0.172, Adobe AIR SDK before 17.0.0.172, and Adobe<br>AIR SDK &amp; Compiler before 17.0.0.172 allow attackers to execute<br>arbitrary code or cause a denial of service (memory corruption) via<br>unspecified vectors, a different vulnerability than CVE-2015-3078,<br>CVE-2015-3089, and CVE-2015-3093.<br>CVSS v2 Base Score: 10.0 (AV:N/AC:L/Au:N/C:C/I:C/A:C)</p>
<p>ID:     CVE-2015-3113<br>Title: <strong>Adobe Flash Player Buffer Overflow (APSB15-14)</strong><br>Vendor: Adobe<br>Description: Heap-based buffer overflow in Adobe Flash Player before<br>13.0.0.296 and 14.x through 18.x before 18.0.0.194 on Windows and OS X<br>and before 11.2.202.468 on Linux allows remote attackers to execute<br>arbitrary code via unspecified vectors, as exploited in the wild in June<br>2015.<br>CVSS v2 Base Score: 10.0 (AV:N/AC:L/Au:N/C:C/I:C/A:C)</p>
<p>ID:     CVE-2015-2051<br>Title: <strong>D-Link DIR-645 Input Validation Error Command Injection Vulnerability</strong><br>Vendor: D-Link<br>Description: The D-Link DIR-645 Wired/Wireless Router Rev. Ax with<br>firmware 1.04b12 and earlier allows remote attackers to execute<br>arbitrary commands via a GetDeviceSettings action to the HNAP interface.<br>CVSS v2 Base Score: 10.0 (AV:N/AC:L/Au:N/C:C/I:C/A:C)</p>
<p>ID:     CVE-2015-1701<br>Title: <strong>Microsoft Windows Privilege Escalation Vulnerability</strong><br>Vendor: Microsoft<br>Description: Win32k.sys in the kernel-mode drivers in Microsoft Windows<br>Server 2003 SP2, Vista SP2, and Server 2008 SP2 allows local users to<br>gain privileges via a crafted application, as exploited in the wild in<br>April 2015, aka “Win32k Elevation of Privilege Vulnerability.”<br>CVSS v2 Base Score: 7.2 (AV:L/AC:L/Au:N/C:C/I:C/A:C)</p>
<p>ID:     CVE-2015-0235<br>Title: <strong>Exim GHOST (glibc gethostbyname) Buffer Overflow</strong><br>Vendor: Exim.org<br>Description: Heap-based buffer overflow in the<br>__nss_hostname_digits_dots function in glibc 2.2, and other 2.x versions<br>before 2.18, allows context-dependent attackers to execute arbitrary<br>code via vectors related to the (1) gethostbyname or (2) gethostbyname2<br>function, aka “GHOST.”<br>CVSS v2 Base Score: 10.0 (AV:N/AC:L/Au:N/C:C/I:C/A:C)</p>
<hr>
<h2 id="most-prevalent-malware-files-2015-07-07---2015-07-14-compiled-by-talos-security-intelligence-and-research-group">MOST PREVALENT MALWARE FILES 2015-07-07 - 2015-07-14 COMPILED BY TALOS SECURITY INTELLIGENCE AND RESEARCH GROUP</h2>
<p>SHA 256: <code>55F173FB7CE33654D379663215DE48BD2F13CA4A607CBE4D90962DE33A4972E6</code><br>MD5: <code>f86280b1bccf1069d66529f752b9d430</code><br>VirusTotal:<br><a href="https://www.virustotal.com/file/55F173FB7CE33654D379663215DE48BD2F13CA4A607CBE4D90962DE33A4972E6/analysis/#additional-info">https://www.virustotal.com/file/55F173FB7CE33654D379663215DE48BD2F13CA4A607CBE4D90962DE33A4972E6/analysis/#additional-info</a><br>Typical Filename: Runner.exe<br>Claimed Product: Search Protect<br>Detection Name: W32.SearchProtect:GenMaliciousAIBH.18hg.1201</p>
<p>SHA 256: <code>7314C47AA633946386D6D3CD7AC292974B5D457E14B053FA0EBC218D555C34F4</code><br>MD5: <code>9f6c52eec607111136cd222b02bf0530</code><br>VirusTotal:<br><a href="https://www.virustotal.com/file/7314C47AA633946386D6D3CD7AC292974B5D457E14B053FA0EBC218D555C34F4/analysis/#additional-info">https://www.virustotal.com/file/7314C47AA633946386D6D3CD7AC292974B5D457E14B053FA0EBC218D555C34F4/analysis/#additional-info</a><br>Typical Filename: DoiSScountExtensi.exe<br>Claimed Product: N/A<br>Detection Name: W32.Variant:VOPackage.18gr.1201</p>
<p>SHA 256: <code>EE3D776A5DA74C00FAD15A1B50E42C091CEC6A9A89C13428F9277C6007D4007F</code><br>MD5: <code>a3730e445244791b37af42763603d87f</code><br>VirusTotal:<br><a href="https://www.virustotal.com/file/EE3D776A5DA74C00FAD15A1B50E42C091CEC6A9A89C13428F9277C6007D4007F/analysis/#additional-info">https://www.virustotal.com/file/EE3D776A5DA74C00FAD15A1B50E42C091CEC6A9A89C13428F9277C6007D4007F/analysis/#additional-info</a><br>Typical Filename: iKernel.dll<br>Claimed Product: InstallShield<br>Detection Name: W32.Generic.18hv.dk</p>
<p>SHA 256: <code>51480849FEC0B57B872A9BF6992F8C98E6CEB79B318B09A48347F6D3E0BC416F</code><br>MD5: <code>879ef35b34de9a94762cb32d26ae0db5</code><br>VirusTotal:<br><a href="https://www.virustotal.com/file/51480849FEC0B57B872A9BF6992F8C98E6CEB79B318B09A48347F6D3E0BC416F/analysis/#additional-info">https://www.virustotal.com/file/51480849FEC0B57B872A9BF6992F8C98E6CEB79B318B09A48347F6D3E0BC416F/analysis/#additional-info</a><br>Typical Filename: nsDialogs.dll<br>Claimed Product: Mindspark Interactive Network Installer Plugin<br>Detection Name: W32.51480849FE-100.SBX.VIOC</p>
<p>SHA 256: <code>902CE26A56B68E18F4360C7B6A3221757377AF06E9125BDAEED8F1290D999659</code><br>MD5: <code>ec0281fd243bffbfe3cf1558e99b51fc</code><br>VirusTotal:<br><a href="https://www.virustotal.com/file/902CE26A56B68E18F4360C7B6A3221757377AF06E9125BDAEED8F1290D999659/analysis/#additional-info">https://www.virustotal.com/file/902CE26A56B68E18F4360C7B6A3221757377AF06E9125BDAEED8F1290D999659/analysis/#additional-info</a><br>Typical Filename: tbc.dll<br>Claimed Product: Mindspark Interactive Network Installer Cleanup Plugin<br>Detection Name: W32.902CE26A56-100.SBX.VIOC</p>

				</div>
				<hr>
				<p>
					<a class="q-link" href="https://lps.qualys.com/subscription-preference.html">Subscribe to the newsletter</a>
				</p>

			</div>
		</div>
	</div>
</div>



		{% include "src/_includes/footer-ueno.njk" %}

		<div class="mobile-trial-overlay hidden" data-expires="2022-03-01T17:00:00Z">
			<a class="close-button">
				<svg class="x" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
					<g fill="#FFF" fill-rule="evenodd">
						<path d="M10.142.243l1.414 1.414-9.9 9.9-1.414-1.415z" />
						<path d="M.242 1.657L1.657.243l9.9 9.9-1.415 1.413z" />
					</g>
				</svg>
			</a>
			<p class="promo-text"><b>Log4Shell Response</b></p>
			<div class="promo-banner-cta">
				<a class="q-button right" href="https://www.qualys.com/log4shell-cve-2021-44228/"><span>See updates</span></a>
			</div>
		
		</div>
		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js" integrity="sha256-IylDNWjip7FK2TJUYck237qBTBeSiwnSFDCjLG686D4=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/core-js-bundle@3.6.5/minified.js" integrity="sha384-TTVcaKdKKsLSvxkJU8mv/ZrkBlSMUiXn57PWhpGFzfeuzqQW/krdvVzW8yqtTqz5" crossorigin="anonymous"></script>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha384-zZbyq8BQ4BvQcv4xPxkJWWGPSVW6z+MufIHfxNTdnFQwc7J2Idz0zxeP6/bMqWJn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js" integrity="sha384-nK4khbhvZ/TNQaGnwee6RVFCDRfxcrLKZZqKCVqk1rF9AT8Etq3UZYCXZ7CCAd0K" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js" integrity="sha256-VV47uJSoHZUeiBcCs3FcBOQLMn++yeG/zqZvaUkvGZM=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js" integrity="sha256-nuhNsfXzBFR6G1lKP8bK77dakkQDqdHcQ4OCFZvk6Qo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js" integrity="sha256-LBjlnpPrM6Aig8LDFc9PJctPHLGUc6RaUvnmXE4hV5Y=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js?v=20240221"></script>

</body>
</html>
