@media (min-width: 720px) {
	body {
		padding-top: 0;
	}
}
.q-lp__free-trial {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
@media (min-width: 720px) {
	.q-lp__free-trial {
		padding-top: 120px;
		padding-bottom: 130px;
	}
}
.q-lp__free-trial .q-button {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 1290px) {
	.q-lp__free-trial .q-button {
		font-size: 25px;
		min-height: 85px;
		min-width: 335px;
	}
}

@media (min-width: 720px) {
	.hero-icon__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.hero-icon__list-item {
		max-width: 48%;
	}
}
.q-lp__form-wrapper {
	background-color: #f8fafc;
	padding: 40px;
}
.q-lp__form-column {
	padding-top: 60px;
	padding-bottom: 40px;
}
.q-lp__hero-container {
	background: url(https://ik.imagekit.io/qualys/image/lp/blue-triangle-pattern-design.jpg) center no-repeat #f8fafc;
	background-size: cover;
	height: 240px;
	display: flex;
	align-items: center;
}
@media (min-width: 720px) {
	.q-lp__hero-container {
		height: 300px;
	}
}
.q-lp__hero-container .q-grid__inner {
	height: 100%;
	display: flex;
}
.q-lp__hero {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	margin: 0 auto;
}
.q-lp__hero h1 {
	color: #FFF;
	margin: 0;
	max-width: 840px;
	text-align: center;
	font-size: 2.1em;
}
@media (min-width: 720px) {
	.q-lp__hero h1 {
		font-size: 34px;
		font-size: calc(0.01093 * 100vw + (29.90164px));
	}
}
@media (min-width: 1200px) {
	.q-lp__hero h1 {
		max-width: 900px;
	}
	.q-lp__hero {
		max-width: none;
	}
}
.q-lp__form-logo {
	padding: 15px 0;
}
.q-lp__form-logo img {
	margin: 0 auto;
	width: 180px;
}
@media (min-width: 720px) {
	.q-lp__form-logo img {
		margin: 0 0 0 auto;
		max-width: unset;
	}
}


/* CSS for sentence-format form */
input[type=text].mktoField,
input[type=email].mktoField,
input[type=tel].mktoField,
.q-form__input:active,
input[type=text].mktoField:active,
input[type=email].mktoField:active,
input[type=tel].mktoField:active,
textarea.mktoField:active,
.q-form__input:focus,
input[type=text].mktoField:focus,
input[type=email].mktoField:focus,
input[type=tel].mktoField:focus,
textarea.mktoField:focus {
	min-width: 6em;
	max-width: 20em;
	height: 33px;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid #627281;
	font-weight: 500;
	width: 14em;
}
.mktoFormRow {
	display: inline-block;
	margin-bottom: -24px;
	margin-top: 0.5em;
}
form .text {
	margin: 0.5em 0.5em 0 0;
	display: inline-block;
}
.mktoFormRow.FirstName {
	margin-right: 0.5em;
}
.Title + .text,
.Email + .text,
.Company + .text {
	margin-left: 2px;
}
.LastName + .text {
	margin-left: 0.5em;
}
.q-lp-privacy-info {
	text-align: center;
	color: #6a778b;
	margin-bottom: 0;
}
.mktoFieldWrap {
	position: relative;
}
.mktoError {
	position: absolute;
	right: inherit !important;
	bottom: inherit !important;
	background-color: #ed2e26;
	z-index: 100;
	padding-bottom: 5px;
	border: 1px solid #ed2e26;
	background-color: #fff;
	margin-top: -1px;
}
.mktoErrorMsg {
	margin: 5px 10px 0px;
	color: #ed2e26;
}
.mktoButton {
	background-color: #ed2e26;
	display: inline-block;
	width: auto;
	padding: 1.3em;
	height: auto;
	border-radius: 2px;
}
@media (min-width: 720px) {
	.mktoButton {
		padding: 1.3em 4em;
	}
}
.mktoButtonRow {
	text-align: center;
	margin-top: 1em;
}
.mktoButtonRow .mktoButtonWrap {
	margin: 0;
	display: block;
}
.mktoForm input[type="checkbox"]::before,
.mktoForm input[type="radio"]::before,
.mktoRadioList label::before,
.mktoCheckboxList label::before {
	border: 1px solid #627281;
}
.mktoForm input[type="checkbox"]:checked,
.mktoForm input[type="radio"]:checked,
.mktoRadioList label.checked::before,
.mktoCheckboxList label.checked::before {
	content: url(https://ik.imagekit.io/qualys/image/icon/circle.svg);
}
.mktoFormRow.communicationConsent {
	text-align: center;
	display: block;
	margin-bottom: 0;
}
.q-form,
.communicationConsent {
	width: auto !important;
}
.qualys-logo-wrapper img {
	height: 88px;
}
/*# sourceMappingURL=index.css.map */