#content.full-width {
	border-top: none;
}
#content.full-width div.section.banner {
	min-height: 685px;
	padding-bottom: 0;
	background-color: #274A80;
	background: url(https://ik.imagekit.io/qualys/image/blue-triangle-background-guy-2560-2x.jpg) no-repeat top center;
	background-size: 2560px 685px;
}
#content.full-width div.section {
	padding-left: calc(50% - 502px);
	padding-right: calc(50% - 502px);
}
#content div.banner h1 {
	color: #FFF;
	font-size: 52pt;
	padding-top: 207px;
	text-align: center;
}
#content div.banner h2 {
	font-size: 32pt;
	color: #FFF;
	font-weight: 300;
	text-align: center;
	width: 600px;
	margin: 15px auto;
	line-height: 1.2;
}
a.button-type1.video {
	background-color: #2C8DDF;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 15pt;
	padding: 10px 17px;
}
a.button-type1.video img.play {
	margin-right: 10px;
}
a.button-type1.video:hover {
	background-color: #1673CA;
}
div.button-container {
	display: flex;
	justify-content: center;
	margin-top: 62px;
}
h3.solution {
	font-size: 15pt;
	font-weight: 400;
	display: inline-block;
	background-color: #EBEBEB;
	padding: 9px 33px;
	border-radius: 5px;
	margin-bottom: 52px;
}
h3.solution a {
	font-weight: 600;
}
#content.full-width div.section.content {
	padding-top: 41px;
	text-align: center;
}
div.section.content p {
	font-size: 16pt;
	margin-bottom: 30px;
	line-height: 1.6;
}
div.wide-text {
	width: 885px;
	margin: 0 auto;
}
hr.gradient {
	height: 10px;
	width: 698px;
	margin: 75px auto 56px;
	border: none;
	background: #0067F1;
	background: linear-gradient(to right, #0067F1 0%, #0575F4 6%, #1096FC 16%, #17A8FF 22%, #24BFFF 35%, #2ECCFF 47%, #2ECAFF 60%, #2CBBFE 75%, #28B2FE 80%, #1792FD 93%, #1288FD 100%);
}
h2.single-pane {
	font-size: 36pt;
	font-weight: 300;
	margin-bottom: 40px;
}
h2.single-pane b {
	font-weight: 600;
}
h3.features {
	font-size: 26pt;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 53px;
}
div.icon-container {
	background-color: #2E8BE0;
	width: 126px;
	height: 126px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	float: none;
}
div.feature-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 50px;
}
div.feature {
	display: flex;
	flex-wrap: wrap;
	width: 33%;
	padding: 0;
	justify-content: center;
}
div.feature h4 {
	font-size: 14pt;
	font-weight: 600;
	margin: 14px 0 22px;
	width: 100%;
}
div.section.content div.feature p {
	font-size: 12pt;
	line-height: 1.7;
	width: 300px;
}
a.asset-discovery-video {
	display: block;
	margin-bottom: 50px;
}
div.section.content p.learn {
	font-weight: 300;
	font-size: 20pt;
	margin-top: 54px;
	margin-bottom: 25px;
}
p.learn b {
	color: #333;
	font-weight: 400;
}
p.learn .arrow-right:after {
	color: #333;
}
div.section.content a.button-type1 {
	background-color: #2E8BE0;
	font-size: 18.75pt;
	font-weight: 400;
	padding: 20px 68px;
	margin-bottom: 12px;
}
div.section.content a.button-type1:hover {
	background-color: #1673CA;
}
div.local-nav {
	display: inline-block;
	position: absolute;
	left: calc(50% - (580px / 2));
	vertical-align: top;
}
div.local-nav a {
	color: #333;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	line-height: 1.2;
	padding: 21px 0 13px;
	font-size: 10.5pt;
	width: 116px;
	height: 74px;
	box-sizing: border-box;
}
div.local-nav a {
	background-color: #D8D8D8;
	color: #333;
	border-right: 1px solid #FFF;
}
div.local-nav a:hover {
	color: #FFF;
}
div.local-nav a.ad:hover {
	background-color: #19569E;
}
div.local-nav a.ns:hover {
	background-color: #2B75BE;
}
div.local-nav a.was:hover {
	background-color: #24ABE2;
}
div.local-nav a.tp:hover {
	background-color: #DB222A;
}
div.local-nav a.cm:hover {
	background-color: #47A042;
}
div.local-nav a:last-child {
	border-right: none;
}
div.local-nav a.active,
div.local-nav a.active:hover {
	background-color: #19569E;
	color: #FFF;
	border-right: 1px solid #19569E;
}
div.flex-wrapper {
	display: flex;
}
@media screen and (max-width: 1117px) {
	#header a.global-link p.menu-text {
		display: none;
	}
}
.video-thumbnail img {
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 719px) {
	html.mobile div.mobile-header {
		background-color: #FFF;
	}

	/* REMOVE MIN WIDTH ELIMINATE HORIZONTAL SCROLLING */
	#content.full-width,
	#content.full-width div.section,
	div.wide-text,
	hr.gradient,
	div.banner h2 {
		min-width: 0;
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.overlay-new-container .overlay-new-close-button {
		font-size: 1rem;
		height: 6em;
		margin: 0;
		padding: 1em;
		right: 0;
		top: 0;
		width: 6em;
	}
	div.feature {
		width: 100%;
	}
	div.feature-container {
		margin-bottom: 1rem;
	}
	div.section.content a.video img {
		width: 90%;
		height: auto;
	}
	div.banner h1 {
		font-size: 4rem;
		padding-top: 9rem;
		line-height: 1.2;
		width: 300px;
		margin: 0 auto;
	}
	div.banner h2 {
		font-size: 2.4rem;
		width: 90%;
	}
	#content.full-width div.section.banner {
		background-position: bottom center;
		background-repeat: no-repeat;
		min-height: 0;
	}
	div.banner div.button-container {
		margin-top: 3rem;
	}
	div.banner a.button-type1.video {
		margin-bottom: 7rem;
		font-size: 13.75px;
	}
	a.button-type1.video img.play {
		width: 28px;
		height: auto;
	}
	h3.solution {
		margin-bottom: 3rem;
		box-sizing: border-box;
	}
	#content.full-width div.section.content {
		padding-left: 5%;
		padding-right: 5%;
	}
	div.section.content p {
		font-size: 1.6rem;
	}
	hr.gradient {
		margin: 1rem auto 2rem;
	}
	h2.single-pane {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	div.section.content p.learn {
		margin-top: 1rem;
		font-size: 2rem;
	}
	p.learn b,
	h2.single-pane b {
		white-space: nowrap;
	}
	div.section.content a.button-type1 {
		font-size: 2rem;
		padding: 1rem 3rem;
	}
}

.fancybox-slide {
	box-sizing: content-box;
	max-width: 960px;
	padding: 0 calc(50% - 480px);
	position: relative;
}
.fancybox-slide--iframe .fancybox-content {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}
.fancybox-slide--iframe .fancybox-content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*# sourceMappingURL=index.css.map */