<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta name="twitter:card" content="summary" />
	<meta name="description" content="New vulnerability checks in the Qualys
		Cloud Platform to protect against
			33 vulnerabilities
		that were fixed in
			7 bulletins 
		announced today by Microsoft." class="swiftype" data-type="text">
	<title>Microsoft Security Bulletins: December 2017</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/research/security-alerts/2017-12-12/microsoft/">
	<meta name="theme-color" content="#2E8BE0">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">
	<link rel="stylesheet" href="/research/security-alerts/security-alert.css">



</head>
<body>


	<div class="">
		{% include "src/_includes/header-ueno.njk" %}
		<div class="overlay-mask"></div>
		
		<div class="q-navigation-mobile">
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button js-menu">Close</button>
				</div>
				<div class="q-navigation-mobile-wrapper">
					<img class="q-hide-search" src="https://q-website-images.s3.amazonaws.com/www/image/icon/chevron-selectbox.svg">
					<ul class="q-navigation-mobile__list">
						<div class="q-navigation-mobile__link-container">
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Platform">Platform</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Solutions">Solutions</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Resources">Resources</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Customers">Customers</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Partners">Partners</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Support">Support</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Company">Company</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Community">Community</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Login">Login</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Contactus">Contact us</span>
							</li>
						</div>
						<div class="q-search-mobile">
							<div class="q-click-helper"></div>
							<li class="q-navigation-mobile__item ">
								<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
									<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#627281" d="M6.5 1.24a5.26 5.26 0 105.26 5.26A5.263 5.263 0 006.5 1.24M6.5 13A6.5 6.5 0 1113 6.5 6.513 6.513 0 016.5 13"/><path fill="#627281" d="M10.215 11.054l.824-.824 4.947 4.947-.824.824z"/></svg></button>
									<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
								</form>
							</li>
		
							<div class="q-search-links-mobile">
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link q-search-link--heading">Quick Links</span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/resources/">Resources (guides, whitepapers, etc.)</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/apps/">Qualys Cloud Apps</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/newsroom/">News</a></span>
								</li
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/events/">Events Calendar</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="https://community.qualys.com">Qualys Community</a></span>
								</li>
							</div>
						</div>
						<li class="q-navigation-mobile__item free-trial">
							<span class="q-button" href="/free-trial/" data-target="try-it">Try it</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Cloud Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Cloud Platform</a>
					</li>
				</ul>
			</div>
		
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
							Overview
						</h3>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Enterprise TruRisk Platform</a>
						<p class="q-nav--description q-nav--description-b trurisk-desc">Everything you need to measure, manage, and reduce your cyber risk in one place</p>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/solutions-overview.svg" width="30" height="30" /></span>
								CAPABILITIES
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/cybersecurity-asset-management/" data-target="asset-management">Asset Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/vulnerability-management-detection-response/" data-target="vulnerability-configuration-management">Vulnerability & Configuration Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/patch-management/" data-target="risk-remediation">Risk Remediation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/threat-protection/" data-target="threat-detection-response">Threat Detection & Response</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/solutions/compliance/" data-target="compliance">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/totalcloud/" data-target="cloud-security">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm">External Attack Surface Management (EASM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection & Response (VMDR) – <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM)<span class="q-navigation-mobile__link--highlight"> - New</span></a></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response (CDR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Solutions">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Solutions
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/business-need.svg" width="30" height="34" /></span>
							Use Cases
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/endpoint/">Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/pci-compliance/">PCI Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/dora-compliance/">DORA Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/devops/">DevOps</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/threat-protection/">Threat Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/nis2/">NIS2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/organization.svg" width="30" height="34" /></span>
							Segments
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/sme/">Mid-Sized Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/enterprise/">Enterprise</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/government/">Federal</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Resources">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Resources
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-resources.svg" width="30" height="30" /></span>
							Resources
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources Library</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/webinars/">Webinars</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/stream/">Qualys Stream</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-research.svg" width="31" height="28" /></span>
							Research
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/tru/">Threat Research Unit</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-alerts/">Security Alerts</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-advisories/">Security Advisories</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Customers">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Customers
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#best-practices">Best Practices</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#success-stories">Success Stories</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#testimonials">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Partners">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Partners
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/program/">Partner Program</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/vad/">VAD Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/var/">VAR Resellers</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/mssp/">MSP/MSSP Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/integration/">Integration Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/faq/">Partner FAQs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/find/">Find a Partner</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Community">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Community
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://community.qualys.com/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Discuss</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Docs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Support">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Support
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/customersupport/">Support Portal</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/training/">Free Training</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Documentation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Community Discussions</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/support/s/">Knowledgebase</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/release-notes/">Release Notes</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://notifications.qualys.com/">Release Notifications</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Company">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Company
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/">About Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/management/">Our Team</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://investor.qualys.com/">Investor Relations</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/newsroom/">News</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/awards/">Awards</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/events/">Events</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/careers/">Careers</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Login">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Login
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.com/">US Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://pci.qualys.com/">PCI Platform</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.eu/">EU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.it/">EU Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.qualys.com/platform-identification/">What's my platform?</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Contactus">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Contact us
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
					</li>
					 <li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link drift-open-chat">Chat With Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/schedule-demo/">Schedule a Demo</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/request-a-call/">Request a Call or Email</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/contacts/#headquarters">Global Offices and Contacts</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="try-it">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Try it
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform.svg" width="30" height="30" /></span>
							Enterprise TruRisk Platform
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-trial/">Cloud Platform - Free Trial</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/free-services.svg" width="24" height="27" /></span>
							Free Services
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/global-assetview/">Global AssetView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/community-edition/">Community Edition</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.ssllabs.com/">SSL Labs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/certview/">CertView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="asset-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Asset Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM) </a>
						<p class="q-nav--description q-nav--description-b">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm/">External Attack Surface Management (EASM) – <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b asset-management">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="vulnerability-configuration-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Vulnerability & Configuration Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response (VMDR) - <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM) - <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Consolidate & translate security & vulnerability findings from 3rd party tools</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a></span>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Automate scanning in CI/CD environments with shift left DAST testing</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="risk-remediation">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Risk Remediation
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
						<p class="q-nav--description">Efficiently remediate vulnerabilities and patch systems</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
						<p class="q-nav--description">Quickly create custom scripts and controls for faster, more automated remediation</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="threat-detection-response">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Threat Detection & Response
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/threat-protection/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Extend detection and response beyond the endpoint to the enterprise</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="compliance">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Compliance
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce risk, and comply with internal policies and external regulations with ease</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="cloud-security">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Security
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect and remediate security issues within IaC templates</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b cloud-security">Manage your security posture and risk across your entire SaaS application stack</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection and Response (CDR)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
					</li>
					<li class="q-navigation-mobile__item" data-category="solutions-vulnerability-management">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="q-grid hidden">
		<div class="q-grid__container">
			<div class="q-grid__row">
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
			</div>
		</div>
	</div>

		<div class="q-promo-banner js-promo-banner  q-promo-container promo--hidden" data-expires="2024-02-28T17:00:00Z">
			<div class="q-promo-banner__container">
				<div class="promo-wrapper">
					<div class="q-promo-banner__inner">
						<div class="q-promo-banner__row">
							<div class="q-promo-banner__column">
								<a href="/2024/02/cyber-risk-series/?utm_source=qualys&utm_medium=website-thin-strip&utm_campaign=global-eventvirtual-cyberriskseries-q12024&leadsource=344574831 " class="cta-wrapper">
									<div class="heading-wrapper">
										<span class="text">Cyber Risk Series | Cloud Security Edition | February 28 | <u>Register Now</u></span>
									</div>
								</a>					</div>
						</div>
					</div>
					<button class="q-alert__close">
						<svg class="q-alert__close-icon" viewBox="0 0 12 12">
							<title>Close</title>
							<g fill="#fff" fill-rule="evenodd">
								<path d="M10.1421357.24264075l1.41421355 1.41421356-9.89949494 9.89949496L.24264077 10.1421357z"></path>
								<path d="M.24264075 1.6568543L1.6568543.24264076l9.89949495 9.89949494-1.41421356 1.41421355z"></path>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	
<div class="q-default-hero q-default-hero--curious-blue">
	<div class="q-default-hero__container">
		<div class="q-default-hero__content">

			<h1 class="q-default-hero__heading heading--1">
				Microsoft security alert.
			</h1>
			<h2 class="q-default-hero__subheading heading--sub">
				December 12, 2017
			</h2>

		</div>
	</div>
</div>

<div class="q-grid__container">
	<div class="q-grid__inner">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column--10">

				<h2 class="heading--2">
					Advisory overview
				</h2>
				<p class="paragraph--1">
					Qualys Vulnerability R&amp;D Lab has released new
					vulnerability checks in the Enterprise TruRisk Platform to protect
					organizations against
						33 vulnerabilities
					that were fixed in
						7 bulletins 
					announced today by Microsoft. Customers can immediately audit 
					their networks for these and other new vulnerabilities by accessing 
					their Qualys subscription. <a href="https://blog.qualys.com/?category=vulnerabilities-research">Visit Qualys Security Blog to prioritize remediation</a>.
				</p>
				<p class="paragraph--1">
					Non-Qualys customers can audit their network for these and other vulnerabilities by signing up for a <a href="/forms/trials/suite/">Qualys Free Trial</a>, or by trying <a href="/community-edition/"> Qualys Community Edition</a>.
				</p>
				<h2 class="heading--2">
					Vulnerability details
				</h2>
				<p class="paragraph--1">
					Microsoft has released 7 security 
						bulletins
					 to fix newly discovered flaws in their software. Qualys has released the following checks for these new vulnerabilities:
				</p>
				<ul class="security-bulletins">
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Microsoft Windows Adobe Flash Player Security Update for December 2017
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Critical
								<span class="severity-gauge severity-4"></span>
								4
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								100324
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/ADV170022">
											ADV170022</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11305">
										CVE-2017-11305</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 4.3 / 
								Temporal 3.2
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								This security update resolves vulnerabilities which are described in the Adobe Security Bulletin <A HREF="https://helpx.adobe.com/security/products/flash-player/apsb17-42.html" TARGET="_blank">APSB17-42</A>, if installed on any supported edition of Windows Server 2016, Windows Server 2012 R2, Windows Server 2012, Windows 10, Windows 10 Version 1511, Windows 10 Version 1607, Windows 10 Version 1703, Windows 10 Version 1709, Windows 8.1, or Windows RT 8.1. <P>
QID Detection Logic:<BR>
Operating Systems: Windows 8.1, Windows RT 8.1, Windows10, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016 <BR>
This authenticated QID checks for the file version of %windir%\System32\Macromed\Flash\Flash.ocx for file versions lesser than 28.0.0.126.<P>
KB Articles associated with this update are: KB4053577<P>
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								Successful exploitation allows an attacker to execute arbitrary code and bypass security restrictions to gain access to sensitive information.
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								Customers are advised to follow <A HREF="https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/ADV170022" TARGET="_blank">ADV170022</A> for instructions pertaining to the remediation of these vulnerabilities.<P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="https://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4053577">KB4053577</a>
									</p>
							</dd>
						</dl>
					</li>
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Microsoft Internet Explorer Security Update for December 2017
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Urgent
								<span class="severity-gauge severity-5"></span>
								5
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								100325
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://support.microsoft.com/en-us/help/4052978/">
											KB4052978</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053578/">
											KB4053578</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053579/">
											KB4053579</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053580/">
											KB4053580</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053581/">
											KB4053581</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054517/">
											KB4054517</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054518/">
											KB4054518</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054519/">
											KB4054519</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054520/">
											KB4054520</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11886">
										CVE-2017-11886</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11887">
										CVE-2017-11887</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11890">
										CVE-2017-11890</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11894">
										CVE-2017-11894</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11895">
										CVE-2017-11895</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11901">
										CVE-2017-11901</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11903">
										CVE-2017-11903</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11906">
										CVE-2017-11906</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11907">
										CVE-2017-11907</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11912">
										CVE-2017-11912</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11913">
										CVE-2017-11913</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11919">
										CVE-2017-11919</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11930">
										CVE-2017-11930</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 7.6 / 
								Temporal 6.3
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								Internet Explorer is a web-browser developed by Microsoft which is included in Microsoft Windows Operating Systems.<P>

Microsoft has released Cumulative Security Updates for Internet Explorer which addresses various vulnerabilities found in Internet Explorer 8 (IE 8), Internet Explorer 9 (IE 9), Internet Explorer 10 (IE 10) and Internet Explorer 11 (IE 11). The security updated is rated Moderate for for Internet Explorer 9 (IE 9) and Internet Explorer 10 (IE 10) and  Critical for Internet Explorer 11 (IE 11). <P>
The Security Update addresses the vulnerabilities by fixing:<P>

1) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11886)<BR>
2) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11887)<BR>
3) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11890)<BR>
4) The update addresses the vulnerability by modifying how the scripting engines objects in memory. (CVE-2017-11894)<BR>
5) The update addresses the vulnerability by modifying how the scripting engines objects in memory. (CVE-2017-11895)<BR>
6) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11901)<BR>
7) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11903)<BR>
8) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11906)<BR>
9) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11907)<BR>
10) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11912)<BR>
11) The update addresses the vulnerability by modifying how Internet Explorer handles objects in memory. (CVE-2017-11913)<BR>
12) The update addresses the vulnerability by modifying how the scripting engines objects in memory. (CVE-2017-11919)<BR>
13) The update addresses the vulnerability by modifying how the scripting engines objects in memory. (CVE-2017-11919)<BR>

KB Articles associated with the Update:<BR>
1) 4054518<BR>
2) 4052978<BR>
3) 4053578<BR>
4) 4054519<BR>
5) 4053579<BR>
6) 4053581<BR>
7) 4053580<BR>
8) 4054517<BR>
9) 4054520<P>

QID Detection Logic (Authenticated):<BR>
Operating Systems: Windows XP Embedded, Windows Server 2008, Windows Server 2008 R2, Windows 7, Windows 8.1, Windows RT 8.1, Windows10, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016  <BR>
This QID checks for the file version of %windir%\System32\mshtml.dll<BR>
The following KBs are checked:<BR>
The patch version is 8.0.6001.24022(KB4052978) <BR>
The patch version is 9.0.8112.21084 (KB4052978) <BR>
The patch version is 10.0.9200.22314 (KB4052978 or KB4054520) <BR>
The patch version is 11.0.9600.18860 (KB4052978 or KB4054518 or KB4054519) <BR>
The patch version is 11.0.10240.17709 (KB4053581)<BR>
The patch version is 11.0.10586.1295(KB4053578)<BR>
The patch version is 11.0.14393.1944 (KB4053579)<BR>
The patch version is 11.0.15063.786(KB4053580)<BR>
The patch version is 11.0.16299.125 (KB4054517)<BR>
<P>
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								Successful exploitation of the vulnerability allows:<P>

1) Remote Code Execution  <BR>
2) Information Disclosure <P>
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								For more information, Customers are advised to refer the <A HREF="https://portal.msrc.microsoft.com/en-us/security-guidance" TARGET="_blank">Security Update Guide.</A><P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="https://portal.msrc.microsoft.com/en-us/security-guidance">Microsoft Security Update Guide</a>
									</p>
							</dd>
						</dl>
					</li>
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Microsoft Office and Microsoft Office Services Security Update December 2017
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Critical
								<span class="severity-gauge severity-4"></span>
								4
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								110309
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://support.microsoft.com/en-us/help/4011095">
											KB4011095</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011277">
											KB4011277</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011575">
											KB4011575</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011576">
											KB4011576</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011590">
											KB4011590</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011608">
											KB4011608</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011612">
											KB4011612</a>, 
										<a href="https://support.microsoft.com/en-us/help/4011614">
											KB4011614</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11934">
										CVE-2017-11934</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11936">
										CVE-2017-11936</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 6.5 / 
								Temporal 4.8
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								Microsoft releases security updates on December 2017 to fix following vulnerabilities:<P>
- An information disclosure vulnerability exists when Microsoft Office improperly discloses the contents of its memory. (CVE-2017-11934)
- An elevation of privilege vulnerability exists when Microsoft SharePoint Server does not properly sanitize a specially crafted web request to an affected SharePoint server. (CVE-2017-11936)
<P>
This security updates contain following KBs:<BR>
KB4011095
KB4011277
KB4011575
KB4011576
KB4011590
KB4011608
KB4011612
KB4011614
QID Detection Logic:<BR>
This authenticated QID checks the file versions from above Microsoft KB article with the versions on affected office system.
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								An attacker who successfully exploited the vulnerability could perform cross-site scripting attacks on affected systems and run script in the security context of the current user.
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								Customers are advised to refer to <A HREF="https://portal.msrc.microsoft.com/en-us/security-guidance" TARGET="_blank">Microsoft Security Guidance</A> for more details pertaining to this vulnerability.<P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="https://portal.msrc.microsoft.com/en-us/security-guidance">Microsoft Office and Microsoft Office Services and Web Apps Security Update December 2017</a>
									</p>
							</dd>
						</dl>
					</li>
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Citrix NetScaler ADC and Gateway TLS Padding Oracle Vulnerability (CTX230238) (ROBOT)
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Critical
								<span class="severity-gauge severity-4"></span>
								4
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								370683
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://support.citrix.com/article/CTX230238">
											CTX230238</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-17382">
										CVE-2017-17382</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 4.3 / 
								Temporal 3.4
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								Citrix NetScaler Application Delivery Controller is an application delivery controller that optimizes enterprise service delivery. Citrix NetScaler Gateway provides secure access control management.<P>
A vulnerability has been identified in the Citrix NetScaler Application Delivery Controller (ADC) and NetScaler Gateway Packet Engine that could allow an attacker to exploit the appliance to decrypt TLS traffic. 
<P>
Citrix NetScaler ADC and NetScaler Gateway version 12.0 earlier than build 53.22<BR>
Citrix NetScaler ADC and NetScaler Gateway version 11.1 earlier than build 56.19<BR>
Citrix NetScaler ADC and NetScaler Gateway version 11.0 earlier than build 71.22<BR>
Citrix NetScaler ADC and NetScaler Gateway version 10.5 earlier than build 67.13
<P>
QID Detection Logic(authenticated):<BR> Detection is flagged if it sees vulnerable Citrix NetScaler version.
<P>
QID Detection Logic(unauthenticated):<BR> Detection sends GET /epa/epa.html http request and match vulnerable versions in the response.
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								Successful exploitation allows an attacker to exploit the appliance to decrypt TLS traffic.
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								Customers are advised to refer to <A HREF="https://support.citrix.com/article/CTX230238" TARGET="_blank">CTX230238</A> for information pertaining to remediating this vulnerability.<P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="https://support.citrix.com/article/CTX230238">CTX230238</a>
									</p>
							</dd>
						</dl>
					</li>
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Microsoft Windows Exchange Server Update For December 2017
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Critical
								<span class="severity-gauge severity-4"></span>
								4
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								53010
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://support.microsoft.com/en-us/help/4045655/description-of-the-security-update-for-microsoft-exchange-december-12">
											KB4045655</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11932">
										CVE-2017-11932</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11937">
										CVE-2017-11937</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11940">
										CVE-2017-11940</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 9.3 / 
								Temporal 7.7
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								This security update resolves a vulnerability in Microsoft Exchange Outlook Web Access (OWA). The vulnerability could allow elevation of privilege or spoofing in Microsoft Exchange Server if an attacker sends an email that has a specially crafted attachment to a vulnerable Exchange server. Microsoft has also released an update for Microsoft Exchange that provides enhanced security as a defense-in-depth measure.<P>
KB Articles associated with this update are: KB4045655<P>
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								Successful exploitation of the vulnerability will lead to privilege escalation or spoofing in Microsoft Exchange Server if an attacker sends an email that has a specially crafted attachment to a vulnerable Exchange server.<P>
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								Customers are advised to refer to <A HREF="https://portal.msrc.microsoft.com/en-us/security-guidance" TARGET="_blank">Microsoft Security Guidance</A> for more details pertaining to this vulnerability.<P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="https://www.catalog.update.microsoft.com/Search.aspx?q&#x3D;KB4045655">KB4045655</a>
									</p>
							</dd>
						</dl>
					</li>
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Microsoft Windows Security Update December 2017
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Critical
								<span class="severity-gauge severity-4"></span>
								4
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								91415
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://support.microsoft.com/en-us/help/4052303">
											KB4052303</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053473">
											KB4053473</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053578">
											KB4053578</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053579">
											KB4053579</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053580">
											KB4053580</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053581">
											KB4053581</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054517">
											KB4054517</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054518">
											KB4054518</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054519">
											KB4054519</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054520">
											KB4054520</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054521">
											KB4054521</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054522">
											KB4054522</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054523">
											KB4054523</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11885">
										CVE-2017-11885</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11899">
										CVE-2017-11899</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11927">
										CVE-2017-11927</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 8.5 / 
								Temporal 6.7
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								Microsoft has released Cumulative Security Updates for Windows which addresses the following vulnerabilities: <P>
A remote code execution vulnerability exists in RPC if the server has Routing and Remote Access enabled. An attacker who successfully exploited this vulnerability could execute code on the target system. (CVE-2017-11885)<BR>
A security feature bypass exists when Device Guard incorrectly validates an untrusted file. An attacker who successfully exploited this vulnerability could make an unsigned file appear to be signed. (CVE-2017-11899) <BR>
An information disclosure vulnerability exists when the Windows its:// protocol handler unnecessarily sends traffic to a remote site in order to determine the zone of a provided URL. (CVE-2017-11927) <BR>
<P>
QID Detection Logic (Authenticated): <BR>
Operating Systems: Windows Server 2008, Windows Server 2008 R2, Windows 7, Windows 8.1, Windows RT 8.1, Windows10, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016 
<BR>
This QID checks for following file versions %windir%\System32\Win32k.sys.exe for all affected OS ecxcept Windows 2008, Windows 10 and Windows 16:-<BR>
The patch version of 6.1.7601.23963 (KB4054518) <BR>
The patch version of 6.2.9200.22327 (KB4054520) <BR>
The patch version of 6.3.9600.18872 (KB4054519) <BR>
<BR> <BR>
This QID checks for following file versions %windir%\System32\Win32kfull.sys.exe for Windows 10 and Windows 16:- 
The patch version of 10.0.10240.17709 (KB4053581)<BR>
The patch version of 10.0.10586.1295  (KB4053578)<BR>
The patch version of 10.0.14393.1914  (KB4053579)<BR>
The patch version of 10.0.15063.729   (KB4053580)<BR>
The patch version of 10.0.16299.125   (KB4054517)<BR>
<BR> <BR>
This QID checks for following files and its versions for Windows 2008 SP2:-<BR>
The patch version of  %windir%\System32\Itss.dll 6.0.6002.24233 (KB4053473)<BR>
The patch version of  %windir%\System32\Iprtrmgr.dll 6.0.6002.24231 (KB4052303) <BR> 
<BR> <BR>
This QID checks for following file versions %windir%\System32\Itss.dllfor Windows 2008 Service Pack 2, 2008 R2 Service Pack 1, Windows 7 Service Pack 1, Windows 8.1, Windows 2012:-<BR>
The patch version of 6.1.7601.23948   (KB4054521)<BR>
The patch version of 6.2.9200.22313   (KB4054523)<BR>
The patch version of 6.3.9600.18858   (KB4054522)<BR>
<P>
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								Successful exploitation allows an attacker to execute arbitrary code and take control of an affected system.
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								Customers are advised to refer to <A HREF="https://portal.msrc.microsoft.com/en-us/security-guidance" TARGET="_blank">Microsoft Security Guidance</A> for more details pertaining to this vulnerability.<P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4052303">KB4052303</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4053473">KB4053473</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4053578">KB4053578</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4053579">KB4053579</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4053580">KB4053580</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4053581">KB4053581</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054517">KB4054517</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054518">KB4054518</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054519">KB4054519</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054520">KB4054520</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054521">KB4054521</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054522">KB4054522</a>
										<br><a href="http://www.catalog.update.microsoft.com/search.aspx?q&#x3D;4054523">KB4054523</a>
									</p>
							</dd>
						</dl>
					</li>
					<li class="bulletin js-bulletin">
						<h3 class="heading--3 bulletin-title js-bulletin-control">
							Microsoft Edge Security Update for December 2017
						</h3>
						<dl class="bulletin-severity">
							<dt class="heading--4">
								Severity
							</dt>
							<dd class="paragraph--2">
								Urgent
								<span class="severity-gauge severity-5"></span>
								5
							</dd>
						</dl>
						<dl class="bulletin-detail">
							<dt class="heading--4">
								Qualys ID
							</dt>
							<dd class="paragraph--2">
								91416
							</dd>
							<dt class="heading--4">
								Vendor Reference
							</dt>
							<dd class="paragraph--2">
										<a href="https://support.microsoft.com/en-us/help/4053578/windows-10-update-kb4053578">
											KB4053578</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053579/">
											KB4053579</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053580/">
											KB4053580</a>, 
										<a href="https://support.microsoft.com/en-us/help/4053581/">
											KB4053581</a>, 
										<a href="https://support.microsoft.com/en-us/help/4054517/">
											KB4054517</a>
							</dd>
							<dt class="heading--4">
								CVE Reference
							</dt>
							<dd class="paragraph--2">
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11888">
										CVE-2017-11888</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11889">
										CVE-2017-11889</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11893">
										CVE-2017-11893</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11894">
										CVE-2017-11894</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11895">
										CVE-2017-11895</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11905">
										CVE-2017-11905</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11908">
										CVE-2017-11908</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11909">
										CVE-2017-11909</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11910">
										CVE-2017-11910</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11911">
										CVE-2017-11911</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11912">
										CVE-2017-11912</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11914">
										CVE-2017-11914</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11918">
										CVE-2017-11918</a>, 
									<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11919">
										CVE-2017-11919</a>
							</dd>
							<dt class="heading--4">
								CVSS Scores
							</dt>
							<dd class="paragraph--2">
								Base 7.6 / 
								Temporal 6.3
							</dd>
							<dt class="heading--4">
								Description
							</dt>
							<dd class="paragraph--2">
								Microsoft Edge is a web browser developed by Microsoft that replaces Internet Explorer as the default web browser. <BR>
Microsoft Edge suffers multiple security vulnerabilities. The most severe of the vulnerabilities could allow remote code execution. <P>
KB Articles associated with the update:<BR>
<A HREF="https://support.microsoft.com/en-us/help/4053578/title" TARGET="_blank">1) KB4053578</A><BR>
<A HREF="https://support.microsoft.com/en-us/help/4053579/title" TARGET="_blank">2) KB4053579</A><BR>
<A HREF="https://support.microsoft.com/en-us/help/4053581/title" TARGET="_blank">3) KB4053581</A><BR>
<A HREF="https://support.microsoft.com/en-us/help/4053580/title" TARGET="_blank">4) KB4053580</A><BR>
<A HREF="https://support.microsoft.com/en-us/help/4054517/title" TARGET="_blank">5) KB4054517</A><BR>
<P>

QID Detection Logic (Authenticated):<BR>
Operating Systems: All versions of Windows 10 and Windows Server 2016<BR>
This QID checks for the file version of %windir%\System32\edgehtml.dll<BR>
The following KBs are checked:<BR>
The patch version is 11.0.10240.17709 (KB4053581)<BR>
The patch version is 11.0.10586.1295(KB4053578)<BR>
The patch version is 11.0.14393.1944 (KB4053579)<BR>
The patch version is 11.0.15063.786(KB4053580)<BR>
The patch version is 11.0.16299.125 (KB4054517)<BR>
<P>
							</dd>
							<dt class="heading--4">
								Consequence
							</dt>
							<dd class="paragraph--2">
								Successful exploitation of the vulnerability allows:<P>

1) Remote Code Execution  <BR>
2) Information Disclosure <P>
							</dd>
							<dt class="heading--4">
								Solution
							</dt>
							<dd class="paragraph--2">
								For more information, customers are advised to refer the <A HREF="https://portal.msrc.microsoft.com/en-us/security-guidance" TARGET="_blank">Security Update Guide.</A><P>
									<p>
										Patches:<br>
										The following are links for downloading patches to fix these vulnerabilities:
										<br><a href="https://portal.msrc.microsoft.com/en-us/security-guidance">Microsoft Security Update Guide</a>
									</p>
							</dd>
						</dl>
					</li>
				</ul>
				<div class="suffix suffix-microsoft">
					<p>
						These new vulnerability checks are included in Qualys
						vulnerability signature
							2.4.215-4.
						Each Qualys account is automatically updated with the latest
						vulnerability signatures as they become available. To view the
						vulnerability signature version in your account, from the
						Qualys Help menu, select the About tab.
					</p>
					<h2>
						Selective Scan Instructions Using Qualys
					</h2>
					<p>
						To perform a selective vulnerability scan, configure a scan profile to use the following options:
					</p>
					<ol>
						<li>
							Ensure access to TCP ports 135 and 139 are available.
						</li>
						<li>
							Enable Windows Authentication (specify Authentication Records).
						</li>
						<li>
							Enable the following Qualys IDs:
							<ul>
								<li>
									100324
								</li>
								<li>
									100325
								</li>
								<li>
									110309
								</li>
								<li>
									370683
								</li>
								<li>
									53010
								</li>
								<li>
									91415
								</li>
								<li>
									91416
								</li>
							</ul>
						</li>
						<li>If you would like the scan to return the Windows Hostname, also include QID 82044 and ensure access to UDP port 137 is available.
						</li>
						<li>If you would like to be notified if Qualys is unable to log on to a host (if Authentication fails), also include QID 105015.
						</li>
					</ol>
					<p>
						In addition, prior to running a scan for these new vulnerabilities, you can estimate your exposure to these new threats by running the Risk Analysis Report, available from the Qualys Vulnerability Management Reports tab.
					</p>
				</div>
				<h2 class="heading--2">
					Access for Qualys Customers
				</h2>
				<p>
					<a class="q-link" href="/platform-identification/">
								Platforms and Platform Identification</a>
				</p>
				<h2 class="heading--2">
					Technical Support
				</h2>
				<p>
					For more information, customers may contact <a href="/support/">Qualys Technical Support</a>.
				</p>
				<h2 class="heading--2">
					About Qualys
				</h2>
				<p>
					The Enterprise TruRisk Platform and its integrated suite of security and compliance applications provides organizations of all sizes with a global view of their security and compliance solutions, while drastically reducing their total cost of ownership. Qualys solutions include: continuous monitoring, vulnerability management, policy compliance, PCI compliance, security assessment questionnaire, web application scanning, web application firewall, malware detection and SECURE Seal for security testing of web sites.
				</p>

			</div>
		</div>
	</div>
</div>



		{% include "src/_includes/footer-ueno.njk" %}

		<div class="mobile-trial-overlay hidden" data-expires="2022-03-01T17:00:00Z">
			<a class="close-button">
				<svg class="x" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
					<g fill="#FFF" fill-rule="evenodd">
						<path d="M10.142.243l1.414 1.414-9.9 9.9-1.414-1.415z" />
						<path d="M.242 1.657L1.657.243l9.9 9.9-1.415 1.413z" />
					</g>
				</svg>
			</a>
			<p class="promo-text"><b>Log4Shell Response</b></p>
			<div class="promo-banner-cta">
				<a class="q-button right" href="https://www.qualys.com/log4shell-cve-2021-44228/"><span>See updates</span></a>
			</div>
		
		</div>
		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js" integrity="sha256-IylDNWjip7FK2TJUYck237qBTBeSiwnSFDCjLG686D4=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/core-js-bundle@3.6.5/minified.js" integrity="sha384-TTVcaKdKKsLSvxkJU8mv/ZrkBlSMUiXn57PWhpGFzfeuzqQW/krdvVzW8yqtTqz5" crossorigin="anonymous"></script>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha384-zZbyq8BQ4BvQcv4xPxkJWWGPSVW6z+MufIHfxNTdnFQwc7J2Idz0zxeP6/bMqWJn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js" integrity="sha384-nK4khbhvZ/TNQaGnwee6RVFCDRfxcrLKZZqKCVqk1rF9AT8Etq3UZYCXZ7CCAd0K" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js" integrity="sha256-VV47uJSoHZUeiBcCs3FcBOQLMn++yeG/zqZvaUkvGZM=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js" integrity="sha256-nuhNsfXzBFR6G1lKP8bK77dakkQDqdHcQ4OCFZvk6Qo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js" integrity="sha256-LBjlnpPrM6Aig8LDFc9PJctPHLGUc6RaUvnmXE4hV5Y=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js?v=20240221"></script>
	<script src="/research/security-alerts/security-alert.js"></script>

</body>
</html>
