<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Read the top frequently asked questions from prospective managed services (MSSP), reseller (VAS), PCI and consultant / auditor partners.">
		<meta property="og:title" content="Cyber Security Partner FAQs | Qualys" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/partners/faq/" />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="Read the top frequently asked questions from prospective managed services (MSSP), reseller (VAS), PCI and consultant / auditor partners." />
		<meta name="twitter:card" content="summary" />
	<title>Cyber Security Partner FAQs | Qualys</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/partners/faq/">
	<meta name="theme-color" content="#2E8BE0">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">
	<link rel="stylesheet" href="faq.css">



</head>
<body>


	<div class="">
		{% include "src/_includes/header-ueno.njk" %}
		<div class="overlay-mask"></div>
		
		<div class="q-navigation-mobile">
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button js-menu">Close</button>
				</div>
				<div class="q-navigation-mobile-wrapper">
					<img class="q-hide-search" src="https://q-website-images.s3.amazonaws.com/www/image/icon/chevron-selectbox.svg">
					<ul class="q-navigation-mobile__list">
						<div class="q-navigation-mobile__link-container">
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Platform">Platform</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Solutions">Solutions</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Resources">Resources</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Customers">Customers</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Partners">Partners</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Support">Support</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Company">Company</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Community">Community</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Login">Login</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Contactus">Contact us</span>
							</li>
						</div>
						<div class="q-search-mobile">
							<div class="q-click-helper"></div>
							<li class="q-navigation-mobile__item ">
								<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
									<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#627281" d="M6.5 1.24a5.26 5.26 0 105.26 5.26A5.263 5.263 0 006.5 1.24M6.5 13A6.5 6.5 0 1113 6.5 6.513 6.513 0 016.5 13"/><path fill="#627281" d="M10.215 11.054l.824-.824 4.947 4.947-.824.824z"/></svg></button>
									<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
								</form>
							</li>
		
							<div class="q-search-links-mobile">
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link q-search-link--heading">Quick Links</span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/resources/">Resources (guides, whitepapers, etc.)</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/apps/">Qualys Cloud Apps</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/newsroom/">News</a></span>
								</li
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/events/">Events Calendar</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="https://community.qualys.com">Qualys Community</a></span>
								</li>
							</div>
						</div>
						<li class="q-navigation-mobile__item free-trial">
							<span class="q-button" href="/free-trial/" data-target="try-it">Try it</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Cloud Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Cloud Platform</a>
					</li>
				</ul>
			</div>
		
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
							Overview
						</h3>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Enterprise TruRisk Platform</a>
						<p class="q-nav--description q-nav--description-b trurisk-desc">Everything you need to measure, manage, and reduce your cyber risk in one place</p>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/solutions-overview.svg" width="30" height="30" /></span>
								CAPABILITIES
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/cybersecurity-asset-management/" data-target="asset-management">Asset Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/vulnerability-management-detection-response/" data-target="vulnerability-configuration-management">Vulnerability & Configuration Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/patch-management/" data-target="risk-remediation">Risk Remediation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/threat-protection/" data-target="threat-detection-response">Threat Detection & Response</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/solutions/compliance/" data-target="compliance">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/totalcloud/" data-target="cloud-security">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm">External Attack Surface Management (EASM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection & Response (VMDR) – <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM)<span class="q-navigation-mobile__link--highlight"> - New</span></a></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response (CDR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Solutions">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Solutions
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/business-need.svg" width="30" height="34" /></span>
							Use Cases
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/endpoint/">Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/pci-compliance/">PCI Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/dora-compliance/">DORA Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/devops/">DevOps</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/threat-protection/">Threat Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/nis2/">NIS2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/organization.svg" width="30" height="34" /></span>
							Segments
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/sme/">Mid-Sized Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/enterprise/">Enterprise</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/government/">Federal</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Resources">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Resources
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-resources.svg" width="30" height="30" /></span>
							Resources
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources Library</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/webinars/">Webinars</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/stream/">Qualys Stream</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-research.svg" width="31" height="28" /></span>
							Research
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/tru/">Threat Research Unit</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-alerts/">Security Alerts</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-advisories/">Security Advisories</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Customers">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Customers
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#best-practices">Best Practices</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#success-stories">Success Stories</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#testimonials">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Partners">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Partners
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/program/">Partner Program</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/vad/">VAD Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/var/">VAR Resellers</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/mssp/">MSP/MSSP Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/integration/">Integration Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/faq/">Partner FAQs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/find/">Find a Partner</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Community">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Community
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://community.qualys.com/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Discuss</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Docs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Support">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Support
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/customersupport/">Support Portal</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/training/">Free Training</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Documentation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Community Discussions</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/support/s/">Knowledgebase</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/release-notes/">Release Notes</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://notifications.qualys.com/">Release Notifications</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Company">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Company
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/">About Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/management/">Our Team</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://investor.qualys.com/">Investor Relations</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/newsroom/">News</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/awards/">Awards</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/events/">Events</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/careers/">Careers</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Login">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Login
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.com/">US Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://pci.qualys.com/">PCI Platform</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.eu/">EU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.it/">EU Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.qualys.com/platform-identification/">What's my platform?</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Contactus">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Contact us
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
					</li>
					 <li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link drift-open-chat">Chat With Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/schedule-demo/">Schedule a Demo</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/request-a-call/">Request a Call or Email</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/contacts/#headquarters">Global Offices and Contacts</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="try-it">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Try it
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform.svg" width="30" height="30" /></span>
							Enterprise TruRisk Platform
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-trial/">Cloud Platform - Free Trial</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/free-services.svg" width="24" height="27" /></span>
							Free Services
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/global-assetview/">Global AssetView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/community-edition/">Community Edition</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.ssllabs.com/">SSL Labs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/certview/">CertView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="asset-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Asset Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM) </a>
						<p class="q-nav--description q-nav--description-b">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm/">External Attack Surface Management (EASM) – <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b asset-management">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="vulnerability-configuration-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Vulnerability & Configuration Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response (VMDR) - <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM) - <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Consolidate & translate security & vulnerability findings from 3rd party tools</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a></span>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Automate scanning in CI/CD environments with shift left DAST testing</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="risk-remediation">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Risk Remediation
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
						<p class="q-nav--description">Efficiently remediate vulnerabilities and patch systems</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
						<p class="q-nav--description">Quickly create custom scripts and controls for faster, more automated remediation</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="threat-detection-response">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Threat Detection & Response
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/threat-protection/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Extend detection and response beyond the endpoint to the enterprise</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="compliance">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Compliance
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce risk, and comply with internal policies and external regulations with ease</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="cloud-security">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Security
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect and remediate security issues within IaC templates</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b cloud-security">Manage your security posture and risk across your entire SaaS application stack</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection and Response (CDR)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
					</li>
					<li class="q-navigation-mobile__item" data-category="solutions-vulnerability-management">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="q-grid hidden">
		<div class="q-grid__container">
			<div class="q-grid__row">
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
			</div>
		</div>
	</div>

		<div class="q-promo-banner js-promo-banner  q-promo-container promo--hidden" data-expires="2024-02-28T17:00:00Z">
			<div class="q-promo-banner__container">
				<div class="promo-wrapper">
					<div class="q-promo-banner__inner">
						<div class="q-promo-banner__row">
							<div class="q-promo-banner__column">
								<a href="/2024/02/cyber-risk-series/?utm_source=qualys&utm_medium=website-thin-strip&utm_campaign=global-eventvirtual-cyberriskseries-q12024&leadsource=344574831 " class="cta-wrapper">
									<div class="heading-wrapper">
										<span class="text">Cyber Risk Series | Cloud Security Edition | February 28 | <u>Register Now</u></span>
									</div>
								</a>					</div>
						</div>
					</div>
					<button class="q-alert__close">
						<svg class="q-alert__close-icon" viewBox="0 0 12 12">
							<title>Close</title>
							<g fill="#fff" fill-rule="evenodd">
								<path d="M10.1421357.24264075l1.41421355 1.41421356-9.89949494 9.89949496L.24264077 10.1421357z"></path>
								<path d="M.24264075 1.6568543L1.6568543.24264076l9.89949495 9.89949494-1.41421356 1.41421355z"></path>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	
	<!-- partial: hero -->
	<!-- standard page hero -->
	<div class="q-content-hero q-content-hero--red">
		<div class="q-content-hero__container">
			<div class="q-content-hero__inner">
	
				<div class="q-content-hero__hgroup">
					<h1 class="q-content-hero__heading">Cyber Security Partner FAQ</h1>
					<h2 class="q-content-hero__subheading"><p>Top 10 questions from prospective partners.</p>
	</h2>
	
	
	
				</div>
			</div>
	
			<div class="q-content-hero__content ">
	
					<div class="q-content-hero__content-inner">
						<div class="q-public-cloud-hero-content">
						
							<div class="q-public-cloud-hero-content__list">
						
								<ul class="q-bullet-list">
									<li ><a href="/partners/faq/#What%20is%20Qualys?" class="q-link">What is Qualys?</a></li>
									<li ><a href="/partners/faq/#Why%20scan%20for%20vulnerabilities?" class="q-link">Why scan for vulnerabilities?</a></li>
									<li ><a href="/partners/faq/#What%20makes%20Qualys%20different%20from%20its%20competitors?" class="q-link">What makes Qualys different from its competitors?</a></li>
									<li ><a href="/partners/faq/#What%20does%20Qualys%20look%20for%20in%20a%20partner?" class="q-link">What does Qualys look for in a partner?</a></li>
									<li ><a href="/partners/faq/#How%20secure%20is%20the%20Qualys%20solution?" class="q-link">How secure is the Qualys solution?</a></li>
									<li ><a href="/partners/faq/#What%20training%20is%20required%20to%20become%20an%20effective%20partner?" class="q-link">What training is required to become an effective partner?</a></li>
									<li ><a href="/partners/faq/#What%20are%20good%20prospects%20for%20a%20Qualys%20solution?" class="q-link">What are good prospects for a Qualys solution?</a></li>
									<li ><a href="/partners/faq/#How%20do%20I%20apply/get%20started?" class="q-link">How do I apply/get started?</a></li>
								</ul>
						
							</div>
						</div>
					</div>
	
					<div class="q-content-hero__box-wrap">
						<div class="q-content-hero__box-wrap-inner">
							<div class="q-square q-square--justified">
								<div class="q-square__inner">
									<div class="q-square__content">
										<blockquote class="q-blockquote q-blockquote--active">
											<p class="q-blockquote__content"></p>
											<cite class="q-blockquote__cite">
												<span class="q-blockquote__cite-detail">
													<span class="q-blockquote__name"></span>
													<span class="q-blockquote__role">
													</span>
												</span>
											</cite>
										</blockquote>
									</div>
								</div>
							</div>					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container q-default-hero__container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h2 class="heading--2" id="What is Qualys?">
						What is Qualys
					</h2>
					<p class="paragraph--1">
						Qualys provides on-demand vulnerability assessment and management through a <a href='/cloud-platform/' class='inline-link'>Enterprise TruRisk Platform</a>. Qualys offers:
					</p>
					<ul class="q-bullet-list">
						<li class="q-bullet-list__item">
							Device identification
						</li>
						<li class="q-bullet-list__item">
							Vulnerability detection
						</li>
						<li class="q-bullet-list__item">
							Remediation advice and workflow
						</li>
						<li class="q-bullet-list__item">
							Security policy enforcement
						</li>
						<li class="q-bullet-list__item">
							Fix verification
						</li>
					</ul>
					<p class="paragraph--1">
						Qualys enables users to measure their vulnerability status and enforce corporate remediation standards in order to comply with corporate and government data security policies.
					</p>
					<h2 class="heading--2" id="Why scan for vulnerabilities?">
						Why scan for vulnerabilities?
					</h2>
					<p class="paragraph--1">
						There are many reasons to perform regular vulnerability assessments, including:
					</p>
					<p class="paragraph--1">
						<b>Prevent business loss</b> — System downtime, lost revenue, cleanup costs, and loss of trade secrets due to network compromises cost businesses millions each year. Hacks cost an average of $53,000 each for response, investigation, recovery, and prosecution, not including the potentially immeasurable business cost of lost proprietary or confidential data.
					</p>
					<p class="paragraph--1">
						<b>Everyone is a target for attack</b> — Today, everyone with an Internet connection is a potential target for attack. A 2002 CIA/FBI survey showed that 90% of respondents had detected security breaches within the last 12 months. Even if your network does not hold any data that an attacker would want, it can still serve as a launching pad for attacks on others. Automated attack tools - such as worms like Blaster - simply look for vulnerable hosts, without consideration of who owns them. Unauthorized wireless access points are now becoming commonplace, providing an additional attraction to potential hackers.
					</p>
					<p class="paragraph--1">
						<b>Perimeter Defenses are no longer sufficient</b> — Worms such as SQL Slammer and Blaster use covert channels to target internal networks, proving that traditional perimeter defense mechanisms alone (such as IDS, Anti Virus, and Firewalls) cannot provide adequate protection from the latest generation of attacks.
					</p>
					<p class="paragraph--1">
						<b>Regulatory compliance</b> — Privacy regulations such as Gramm-Leach-Bliley Act (GLBA), HIPAA, SB1386 and Sarbanes-Oxley carry requirements for protecting the privacy and confidentiality of patient, customer and financial data, with legal and monetary penalties for failures to comply. Today, almost all companies doing business over the Internet- directly or through partners are subject to some form of compliance regulation.
					</p>
					<p class="paragraph--1">
						<b>Business and Trading Partner security</b> — Companies with extranets that support partnerships, supply-chain management, and other business processes need to be sure that their partners’ networks have been secure, and that their own network does not threaten their partners’ data security.
					</p>
					<h2 class="heading--2" id="What makes Qualys different from its competitors?">
						What makes Qualys different from its competitors?
					</h2>
					<p class="paragraph--1">
						Qualys is solely and exclusively focused on building the best vulnerability management solution available. As the market leading Web service for vulnerability management, we focus our resources on innovation, quality assurance and customer support for the following competitive advantages.
					</p>
					<p class="paragraph--1">
						<b>Accuracy</b> — Third party analysis demonstrated that Qualys maintains the most comprehensive list of critical security vulnerabilities (nearly twice that of our nearest competitor). More important than shear number is Qualys’ accuracy. Unlike open source solutions, Qualys continually checks the accuracy of all reported vulnerabilities, patches and fixes. Through continuous improvement and monitoring, Qualys has virtually eliminated false positive and false negatives, making Qualys the solution you and your customers can rely on.
					</p>
					<p class="paragraph--1">
						<b>Always Up to Date</b> — Since all scanning accesses the latest Qualys vulnerability database, customers are protected from the latest vulnerabilities. Qualys updates its databases three times a day, and automatically checks that remedies and links remain valid.
					</p>
					<p class="paragraph--1">
						<b>Distributed Scanning With Centralized Reports</b> — Global scanning infrastructure inside and outside the firewall.
					</p>
					<p class="paragraph--1">
						<b>Lowest Cost of Ownership</b> — There are no hidden costs for hardware, supporting software or labor to install or maintain Qualys over time. These costs tend to be $3-5 per $1 of software for other solutions. Qualys automatically consolidates data into professional reports, a difficult and time consuming activity for standalone solutions. Finally, industry-leading accuracy means that users do not need to waste time investigating false positives, one of the biggest hidden costs of vulnerability scanning.
					</p>
					<p class="paragraph--1">
						<b>Performance</b> — Because Qualys accurately identifies types of devices, operating systems, versions and available ports, our inference-based scanning engine is able to very efficiently scan for applicable vulnerabilities, making Qualys among the fastest scanners available. Our hosted scanning service automatically distributes scanning workload among multiple servers worldwide to provide an unmatched scalability for large, multi-location scans.
					</p>
					<p class="paragraph--1">
						<b>Easy to Implement/Maintain</b> — A Web service uses the Internet as its infrastructure, and can therefore be deployed in minutes anywhere. Updates and maintenance occur automatically. Training on Qualys is minimal. In just a few hours, a professional can become proficient at using and applying the full suite of Qualys capabilities. All of this allows an organization to focus IT and security resources on supporting its core business, not on managing their vulnerability assessment solution.
					</p>
					<p class="paragraph--1">
						<b>Pure SaaS Model</b> — Qualys does not provide professional services, managed services or consulting.
					</p>
					<h2 class="heading--2" id="What does Qualys look for in a partner?">
						What does Qualys look for in a partner?
					</h2>
					<p class="paragraph--1">
						While accurate vulnerability management is critical to protecting information security, we recognize that it is only one piece of a comprehensive security program. Qualys seeks partners who:
					</p>
					<ul class="q-bullet-list">
						<li class="q-bullet-list__item">
							Provide a variety of high-value, complementary security and regulatory compliance consulting, services and solutions,
						</li>
						<li class="q-bullet-list__item">
							Serve specific industries or associations facing common security challenges and/or
						</li>
						<li class="q-bullet-list__item">
							Provide local market and regional security expertise throughout the globe.
						</li>
					</ul>
					<p class="paragraph--1">
						Having built a strong brand and reputation for quality and integrity, Qualys seeks partners who will invest time in training and development to provide a valuable, accurate and ethical representation of Qualys’ security services to our mutual customers.
					</p>
					<h2 class="heading--2" id="How secure is the Qualys solution?">
						How secure is the Qualys solution?
					</h2>
					<p class="paragraph--1">
						A central feature of Qualys service is secure storage of centralized vulnerability data. By maintaining encrypted scan results in a secure data vault, accessible only by the account owner or designee, Qualys is able to provide the highest level of data protection for our clients, an indelible audit trail of data access, and the ability to create consolidated and historical trend reports that are simply not possible with traditional software VA scanners.
					</p>
					<p class="paragraph--1">
						Software solutions that leave sensitive scan results on a corporate network, standalone PC or laptop leave a company vulnerable to having these machines compromised by the very vulnerabilities and attacks they are trying to prevent! In addition, this data may be taken offsite, lost, accessed, used or misused without ever leaving a history or audit trail.
					</p>
					<p class="paragraph--1">
						The Qualys Web service is designed around secure standards designed to protect again these problems.
					</p>
					<ul class="q-bullet-list">
						<li class="q-bullet-list__item">
							Strong-encrypted (Blowfish) vulnerability data - only the customer has the key to decrypt their data. Even Qualys cannot access this data.
						</li>
						<li class="q-bullet-list__item">
							All communication via HTTPS
						</li>
						<li class="q-bullet-list__item">
							Qualys security procedures are also subject to at least an annual SSAE 16 or industry standard alternative audit by an internationally-recognized accounting firm. Another third party security firm found the security of Qualys’ solution and data vault to be “exceptional,” with no additional security actions needed.
						</li>
						<li class="q-bullet-list__item">
							High availability, redundant and audited data centers with physical and biometric restricted access.
						</li>
						<li class="q-bullet-list__item">
							Indelible audit trail showing all scanning and reporting history for distributed, global networks. Secure multi-user authorization and authentication built in to service.
						</li>
						<li class="q-bullet-list__item">
							Secure scanning appliance for inside the firewall: Our secure intranet scanner is built around a hardened Linux kernel. There are no listening services or open ports. All communication to the Qualys system is through a secure SSL connection, initiated by the appliance, requiring no changes to firewall policy.
						</li>
					</ul>
					<p class="paragraph--1">
						These security features cannot be replicated in software solutions. This is why thousands of customers, including government, financial institutions and health care providers, trust their data and security to Qualys.
					</p>
					<h2 class="heading--2" id="What training is required to become an effective partner?">
						What training is required to become an effective partner?
					</h2>
					<p class="paragraph--1">
						Partner training is a key component and requirement of Qualys partner program. Qualys typically provides on-site training at Qualys for a limited number of key partner employees.
					</p>
					<p class="paragraph--1">
						Large partner organizations are typically trained via a 2-3 hour Webinar. At the end of this Webinar, practitioners are able to competently demonstrate and use the Qualys solution. In addition, they will be prepared to discuss key security drivers and concerns, present Qualys advantages and business case, and address common issues and objections. A short test will be made available shortly to help “certify” representatives to represent and refer Qualys to your customers.
					</p>
					<p class="paragraph--1">
						Qualys conducts regular Webinars on special topics of interest to partners, including industry trends and new product developments. Qualys also provides a wide variety of on-line training and marketing resources to help keep our partners up to date on the latest information about Qualys and security.
					</p>
					<h2 class="heading--2" id="What are good prospects for a Qualys solution?">
						What are good prospects for a Qualys solution?
					</h2>
					<p class="paragraph--1">
						Any organization or enterprise that has a concern for data protection and privacy can benefit from the Qualys solution. Vertical markets with either subject to information security regulations (e.g., financial institutions, retail and on-line merchants, health care, government, pharmaceutical organizations) and/or network and data intensive groups (e.g., high-technology manufacturing, state universities, entertainment, and transportation) are frequent purchasers of Qualys. These organizations may have a Chief Security Officer, or similar high-level individual assigned to manage corporate security. However, recent security legislation and highly publicized attacks have brought in interest from enterprises in all industries.
					</p>
					<p class="paragraph--1">
						Organizations that have an existing open source or software vulnerability scanning solution are ideal candidates, as they understand the value of scanning and have experienced firsthand the challenges, limitations and costs of working with other solutions.
					</p>
					<h2 class="heading--2" id="How do I apply/get started?">
						How do I apply/get started?
					</h2>
					<p class="paragraph--1">
						To begin the partner application process, please fill out the following form: <a href="/forms/become-partner/">Become a Partner</a>. This will allow us to learn more about your company and provide the best possible support to you. Qualys will review your application promptly and contact you shortly with additional details.
					</p>
					<p class="paragraph--1">
						Together, we will make sure that there is a good fit between our organizations, and identify next steps, including any necessary non-disclosure agreements, to move forward.
					</p>
				</div>
			</div>
		</div>
	</div>



		{% include "src/_includes/footer-ueno.njk" %}

		<div class="mobile-trial-overlay hidden" data-expires="2022-03-01T17:00:00Z">
			<a class="close-button">
				<svg class="x" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
					<g fill="#FFF" fill-rule="evenodd">
						<path d="M10.142.243l1.414 1.414-9.9 9.9-1.414-1.415z" />
						<path d="M.242 1.657L1.657.243l9.9 9.9-1.415 1.413z" />
					</g>
				</svg>
			</a>
			<p class="promo-text"><b>Log4Shell Response</b></p>
			<div class="promo-banner-cta">
				<a class="q-button right" href="https://www.qualys.com/log4shell-cve-2021-44228/"><span>See updates</span></a>
			</div>
		
		</div>
		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js" integrity="sha256-IylDNWjip7FK2TJUYck237qBTBeSiwnSFDCjLG686D4=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/core-js-bundle@3.6.5/minified.js" integrity="sha384-TTVcaKdKKsLSvxkJU8mv/ZrkBlSMUiXn57PWhpGFzfeuzqQW/krdvVzW8yqtTqz5" crossorigin="anonymous"></script>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha384-zZbyq8BQ4BvQcv4xPxkJWWGPSVW6z+MufIHfxNTdnFQwc7J2Idz0zxeP6/bMqWJn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js" integrity="sha384-nK4khbhvZ/TNQaGnwee6RVFCDRfxcrLKZZqKCVqk1rF9AT8Etq3UZYCXZ7CCAd0K" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js" integrity="sha256-VV47uJSoHZUeiBcCs3FcBOQLMn++yeG/zqZvaUkvGZM=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js" integrity="sha256-nuhNsfXzBFR6G1lKP8bK77dakkQDqdHcQ4OCFZvk6Qo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js" integrity="sha256-LBjlnpPrM6Aig8LDFc9PJctPHLGUc6RaUvnmXE4hV5Y=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js?v=20240221"></script>
	<script src="faq.js"></script>

</body>
</html>
