.q-story__header-box {
	background-image:url('https://ik.imagekit.io/qualys/image/success-stories/falkirk-council.png');
	background-size:cover;
	color: #FFF;
}
.highlight-color {
 background-color: #003285; 

}
.q-story-content-dash svg path,
.q-story-quote-dash svg path,
.q-story-carousel-dash svg path {
	fill: #003285;
}

.q-story-content-heading {
	width:50%
}

@media (min-width:600px) {
	.q-story-content-heading {
		width:100%
	}
}
.q-story-quote-block blockquote p {
    font-size: 18px;
}

@media (min-width: 720px) {
.q-story-quote-block blockquote p {
    line-height: 1.6;
    font-size: 22px;
 } 
}
@media (min-width: 1240px) {
.q-story-quote-block blockquote p {
    font-size: 26px;
    line-height: 1.6;
 }
}

@media (min-width: 720px) {
.q-story__header-content h1 {

    font-weight: 600;
 }
}

@media (min-width: 720px) {
.q-story__header-content h2 {
    font-size: 28px;
    line-height: 1.6;
 }
}

.q-story-content-heading {
	font-size:24px
}

@media (min-width: 920px){
.q-story-content-heading {
    font-size: 32px;
 }
}

@media (min-width: 120px){
.q-story-content-heading {
    font-size: 38px;
 }
}

.q-story__header-label {
	margin-top:20px
}