.aws-tech-partner {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.graviton-ready .q-cloud-platform-work__copy {
	margin-bottom: 2em;
}
@media (min-width: 720px) {
	.graviton-ready .q-cloud-platform-work__content {
		display: flex;
	}
	.graviton-ready .q-cloud-platform-work__copy {
		padding-right: 1em;
	}
	.aws-tech-partner {
		margin-left: 0;
		margin-right: 0;
	}
}
.q-public-cloud-square {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
@media (min-width: 1430px) {
	.q-public-cloud-square {
		min-height: 400px;
	}
}
.q-public-cloud-square__heading {
	flex: 0 1 auto;
	padding: 0;
	margin: 0;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 20px;
	font-family: Gotham, sans-serif;
	letter-spacing: -0.01em;
	margin-bottom: 1em;
	color: #FFF;
	font-weight: 500;
	line-height: 1.5;
}
@media (min-width: 375px) {
	.q-public-cloud-square__heading {
		font-size: 20px;
		font-size: calc(0.00874 * 100vw + (16.72131px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-square__heading {
		font-size: 28px;
	}
}
.q-public-cloud-square__list-wrap {
	flex: none;
	margin-top: auto;
	margin-bottom: 0;
}
.q-public-cloud-square__list {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-weight: inherit;
	vertical-align: baseline;
	border: 0;
	list-style: none;
	font-size: 14px;
	line-height: 1;
	color: #FFF;
}
@media (min-width: 375px) {
	.q-public-cloud-square__list {
		font-size: 14px;
		font-size: calc(0.00109 * 100vw + (13.59016px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-square__list {
		font-size: 15px;
	}
}
.q-public-cloud-square__item {
	border-top: 1px solid #CD352F;
}
.q-public-cloud-square__item:first-child {
	border-top: 0;
}
.q-public-cloud-square__link {
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 2.26667em 0;
}
.q-public-cloud-square__link:focus {
	outline: none;
}
.q-public-cloud-square__link::after {
	content: "";
	flex: none;
	display: block;
	margin-left: 0.46667em;
	margin-top: 0.06667em;
	width: 8px;
	height: 13px;
	background: transparent url(https://ik.imagekit.io/qualys/image/icon/arrow-right-white.svg) 0 0 no-repeat;
	transition: transform 100ms;
}
@media (pointer: fine) {
	.q-public-cloud-square__link:hover::after {
		transform: translateX(5px);
	}
}
.q-public-cloud-square__item:first-child .q-public-cloud-square__link {
	padding-top: 0.5em;
}
.q-public-cloud-square__item:last-child .q-public-cloud-square__link {
	padding-bottom: 0.5em;
}
.q-public-cloud-square__image {
	flex: none;
	margin-right: 1.46667em;
	width: 3.33333em;
}

.q-public-cloud-tabs {
	padding-top: 60px;
	padding-top: 0;
}
@media (min-width: 720px) {
	.q-public-cloud-tabs {
		padding-top: 8.39161%;
	}
}
@media (min-width: 1430px) {
	.q-public-cloud-tabs {
		padding-top: 120px;
	}
}
@media (min-width: 720px), (min-width: 1430px) {
	.q-public-cloud-tabs {
		padding-top: 0;
	}
}
.q-public-cloud-tabs__container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 60px;
}
@media (min-width: 375px) {
	.q-public-cloud-tabs__container {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (min-width: 720px) {
	.q-public-cloud-tabs__container {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 8.39161%;
	}
}
@media (min-width: 1080px) {
	.q-public-cloud-tabs__container {
		padding-left: 70px;
		padding-right: 70px;
		max-width: 1430px;
	}
}
@media (min-width: 1430px) {
	.q-public-cloud-tabs__container {
		padding-bottom: 120px;
	}
}
.q-public-cloud-tabs__heading {
	padding: 0;
	margin: 0;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 26px;
	letter-spacing: -0.01em;
	line-height: 1.15;
	margin-bottom: 1.5em;
	max-width: 12.5em;
	font-family: Gotham, sans-serif;
	font-weight: 400;
	color: #262626;
}
@media (min-width: 375px) {
	.q-public-cloud-tabs__heading {
		font-size: 26px;
		font-size: calc(0.0153 * 100vw + (20.2623px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-tabs__heading {
		font-size: 40px;
	}
}
@media (min-width: 720px) {
	.q-public-cloud-tabs__heading {
		margin-bottom: 2.5em;
	}
}
.q-public-cloud-tabs__content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}
@media (min-width: 1080px) {
	.q-public-cloud-tabs__content {
		width: 82.94574%;
	}
}
@media (min-width: 720px) {
	.q-public-cloud-tabs__content {
		padding-top: 90px;
	}
}
.q-public-cloud-tabs__separator {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	display: block;
	margin-bottom: 3.75em;
	height: 1px;
	background: #E4E4E4;
}
@media (min-width: 720px) {
	.q-public-cloud-tabs__separator {
		margin-bottom: 5em;
	}
}
@media (min-width: 1080px) {
	.q-public-cloud-tabs__separator {
		margin-bottom: 7.5em;
	}
}

.q-public-cloud-blocks {
	/* test */
}
@media (min-width: 720px) {
	.q-public-cloud-blocks {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
}
.q-public-cloud-blocks__heading {
	padding: 0;
	margin: 0;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	letter-spacing: -0.01em;
	line-height: 1.15;
	margin-bottom: 1.5em;
	max-width: 12.5em;
	font-family: Gotham, sans-serif;
	font-weight: 400;
	color: #262626;
}
@media (min-width: 375px) {
	.q-public-cloud-blocks__heading {
		font-size: 26px;
		font-size: calc(0.0153 * 100vw + (20.2623px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-blocks__heading {
		font-size: 40px;
	}
}
@media (min-width: 720px) {
	.q-public-cloud-blocks__heading {
		margin-bottom: 2.5em;
	}
}
.q-public-cloud-blocks__item {
	font-size: 14px;
	margin: 0 0 45px;
}
@media (min-width: 375px) {
	.q-public-cloud-blocks__item {
		font-size: 14px;
		font-size: calc(0.00219 * 100vw + (13.18033px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-blocks__item {
		font-size: 16px;
	}
}
@media (min-width: 720px) {
	.q-public-cloud-blocks__item {
		flex: none;
		padding-left: 15px;
		width: 50%;
		margin: 0 0 6.0625em;
		padding-right: 6.25em;
	}
}
.q-public-cloud-blocks__subheading {
	padding: 0;
	margin: 0;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 20px;
	font-family: Gotham, sans-serif;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.15;
	color: #262626;
	margin-bottom: 0.76923em;
}
@media (min-width: 375px) {
	.q-public-cloud-blocks__subheading {
		font-size: 20px;
		font-size: calc(0.00656 * 100vw + (17.54098px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-blocks__subheading {
		font-size: 26px;
	}
}
.q-public-cloud-blocks__copy {
	padding: 0;
	margin: 0;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 14px;
	letter-spacing: 0.015em;
	font-family: Caecilia, serif;
	line-height: 1.75;
}
@media (min-width: 375px) {
	.q-public-cloud-blocks__copy {
		font-size: 14px;
		font-size: calc(0.00219 * 100vw + (13.18033px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-blocks__copy {
		font-size: 16px;
	}
}
.q-public-cloud-blocks__list {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	list-style: none;
	margin-top: 20px;
}
@media (min-width: 720px) {
	.q-public-cloud-blocks__list {
		margin-top: 40px;
	}
}
.q-public-cloud-blocks__list-item {
	margin-bottom: 15px;
}
.q-public-cloud-blocks__list-item:last-child {
	margin-bottom: 0;
}

.q-public-cloud-hero-content {
	padding: 0 0 30px;
}
@media (min-width: 960px) {
	.q-public-cloud-hero-content {
		padding: 0 30px 0 0;
		margin-top: 60px;
		margin-left: 9.09091%;
	}
}
@media (min-width: 1080px) {
	.q-public-cloud-hero-content {
		margin-top: 110px;
		margin-left: 16.66667%;
	}
}
.q-public-cloud-hero-content__copy {
	padding: 0;
	margin: 0;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 20px;
	font-family: Gotham, sans-serif;
	font-weight: 400;
	letter-spacing: -0.01em;
	color: #262626;
	margin-bottom: 1.53846em;
	max-width: 19.23077em;
	line-height: 1.30769;
}
@media (min-width: 375px) {
	.q-public-cloud-hero-content__copy {
		font-size: 20px;
		font-size: calc(0.00656 * 100vw + (17.54098px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-hero-content__copy {
		font-size: 26px;
	}
}
@media (min-width: 960px) {
	.q-public-cloud-hero-content__copy {
		max-width: none;
	}
}
.q-public-cloud-hero-content__list {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	list-style: none;
	font-size: 15px;
	max-width: 25.88235em;
	line-height: 1.2;
}
@media (min-width: 375px) {
	.q-public-cloud-hero-content__list {
		font-size: 15px;
		font-size: calc(0.00219 * 100vw + (14.18033px));
	}
}
@media (min-width: 1290px) {
	.q-public-cloud-hero-content__list {
		font-size: 17px;
	}
}
.q-public-cloud-hero-content__item {
	margin-bottom: 1.64706em;
}
.q-public-cloud-hero-content__item:last-child {
	margin-bottom: 0;
}

#azure .q-play-button {
	margin-top: 2em;
}
.q-play-button::before {
	color: #2E8BE0;
}

.q-tabs__panel {
	margin-top: -161px;
}
.q-tabs__container {
	padding-top: 161px;
}
.q-trial__cta-img {
	margin: 0 auto 36px;
	max-width: 70%;
	height: auto;
}
@media (min-width: 720px) {
	.q-trial__cta-img {
		max-width: 100%;
	}
}
.q-public-cloud__cta-buttons {
	padding: 0;
	list-style: none;
	margin: 39px auto 0;
	display: block;
	max-width: 250px;
}
.q-public-cloud__cta-buttons li:last-child {
	padding-right: 0;
	margin-bottom: 0;
}
@media (min-width: 720px) {
	.q-public-cloud__cta-buttons {
		display: flex;
		justify-content: center;
		max-width: unset;
	}
	.q-public-cloud__cta-buttons li {
		padding-right: 17px;
		margin-bottom: 0;
	}
}
.q-public-cloud__cta-buttons li a {
	transition: all 0.3s;
	text-decoration: none;
	font-family: Gotham, sans-serif;
	font-size: 15px;
	color: #FFF;
	letter-spacing: -0.2px;
	text-align: center;
	padding: 0 24px;
	line-height: 3;
	display: block;
}
.q-public-cloud__cta-buttons li a.q-trial__cta-btn--primary {
	background: #2E8BE0;
}
.q-public-cloud__cta-buttons li a.q-trial__cta-btn--primary:hover {
	background: #449EF1;
}
.q-public-cloud__cta-buttons li a.q-trial__cta-btn--secondary {
	background: #9BC0E0;
}
.q-public-cloud__cta-buttons li a.q-trial__cta-btn--secondary:hover {
	background: #AFD1EF;
}
@media (min-width: 1430px) {
	.q-trial__content {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.q-trial__cta-txt {
	font-family: Gotham, sans-serif;
	font-size: 24px;
	color: #262626;
	letter-spacing: -0.2px;
	text-align: center;
	line-height: 1.15;
}
@media (min-width: 375px) {
	.q-trial__cta-txt {
		font-size: 24px;
		font-size: calc(0.01749 * 100vw + (17.44262px));
	}
}
@media (min-width: 1290px) {
	.q-trial__cta-txt {
		font-size: 40px;
	}
}
.q-trial__content {
	max-width: 50em;
}

/*
 * customer best practices
 */
.q-customers-practices__row {
	transition: height 200ms 200ms;
	padding-top: 70px;
}

@media (min-width: 720px) {
	.q-customers-practices__row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		align-items: stretch;
		justify-content: space-between;
	}
}

@media (min-width: 375px) {
	.q-customers-practices__heading {
		font-size: 26px;
		font-size: calc(0.0153 * 100vw + (20.2623px));
	}
}

@media (min-width: 1290px) {
	.q-customers-practices__heading {
		font-size: 40px;
	}
}

@media (min-width: 720px) {
	.q-customers-practices__heading {
		max-width: 11.36364em;
	}
}

.q-customers-practices__copy {
	padding: 0;
	margin: 0;
	font-weight: inherit;
	font-style: normal;
	vertical-align: baseline;
	border: 0;
	font-size: 15px;
	font-family: Caecilia, serif;
	margin-bottom: 10px;
	max-width: 30em;
	line-height: 1.77778;
	letter-spacing: -0.01em;
}

@media (min-width: 375px) {
	.q-customers-practices__copy {
		font-size: 15px;
		font-size: calc(0.00328 * 100vw + (13.77049px));
	}
}

@media (min-width: 1290px) {
	.q-customers-practices__copy {
		font-size: 18px;
	}
}

.q-customers-practice-item {
	flex: 0 1 auto;
	margin-bottom: 0;
	max-width: 100%;
	height: auto;
}

@media (min-width: 720px) {
	.q-customers-practice-item {
		flex: none;
		padding-left: 15px;
		padding-right: 15px;
		width: 50%;
	}
}

@media (pointer: fine),
	(-moz-touch-enabled: 0) {
	.q-customers-practice-item:hover .q-customers-practice-item__img {
		filter: contrast(1) grayscale(0);
	}
}

.q-customers-practice-item__wrap {
	height: 100%;
}

@media (min-width: 720px) {
	.q-customers-practice-item__wrap {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 1080px) {
	.q-customers-practice-item__wrap {
		flex-direction: row;
	}
}

.q-customers-practice-item__heading {
	font-size: 18px;
	margin-top: 0;
	font-family: Gotham, sans-serif;
	font-weight: 400;
	color: #30405B;
	letter-spacing: -0.016em;
	line-height: 1.15;
}

@media (min-width: 375px) {
	.q-customers-practice-item__heading {
		font-size: 18px;
		font-size: calc(0.00219 * 100vw + (17.18033px));
	}
}

@media (min-width: 1290px) {
	.q-customers-practice-item__heading {
		font-size: 20px;
	}
}

.q-customers-practice-item__cta {
	margin-top: auto;
	margin-bottom: 30px;
	color: #2E8BE0;
}

.q-customers-practice-item__image {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	min-width: 190px;
	height: 140px;
	background: #F7FAFC;
}

.q-customers-practice-item__img {
	margin: auto;
	transition: 200ms filter linear;
	filter: contrast(0) grayscale(1);
	max-height: 90px;
	max-width: 120px;
}

.q-customers-practice-item__content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 720px) {
	.q-customers-practice-item__content {
		margin-left: 30px;
	}
}

/*
 * how it works cards
 */
.q-cloud-platform-work {
	background: none;
}
.q-cloud-platform-cards__item {
	opacity: 1;
}
@media (min-width: 1438px) {
	.dots.index-5,
	.dots.index-6 {
		display: none;
	}
}
@media (min-width: 1135px) {
	.q-cloud-platform-cards--gcp .dots.index-4 {
		display: none;
	}
	.q-cloud-platform-cards--gcp .dots.index-3::after {
		opacity: 0.4;
	}
}
@media (min-width: 610px) {
	.dots.index-4::after,
	.q-cloud-platform-cards--gcp .dots.index-2::after {
		opacity: 0.4;
	}
	.q-cloud-platform-cards--gcp .dots.index-4 {
		display: none;
	}
}

.q-aws-build-highlight .q-icon-plus-content__heading strong {
	font-weight: 500;
}
.q-aws-build-highlight .q-icon-plus-content__heading sup {
	font-size: 0.45em;
	margin-left: 3px;
}
.q-icon-plus-content__icon {
	width: 70px;
}

@media (min-width: 720px) {
	.q-apps-outro {
		padding-bottom: 60px;
	}
}
.q-apps-outro::after {
	display: none;
}
.q-cloud-platform-cards__content--no-icon .q-cloud-platform-cards__heading {
	padding-top: 50px;
}
.q-public-cloud__customer {
	padding-bottom: 0;
}
.q-public-cloud__customer-container {
	border-bottom: 1px solid #E4E4E4;
	padding-bottom: 60px;
}
@media (min-width: 720px) {
	.q-public-cloud__customer-container {
		padding-bottom: 8.39161%;
	}
}
@media (min-width: 1430px) {
	.q-public-cloud__customer-container {
		padding-bottom: 120px;
	}
}

.q-apps-features {
	margin-bottom: 60px;
}
@media (min-width: 720px) {
	.q-apps-features {
		margin-bottom: 0;
	}
}

.q-cloud-platform-cards__apps-icon .q-cloud-platform-cards__icon img {
	width: auto;
	height: 46px;
}


.q-apps-features__copy {
	margin-bottom: 40px;
}
@media (min-width: 1080px) {
	.q-apps-features__heading {
		margin-bottom: 1em;
	}
	.q-apps-features__copy {
		margin-bottom: 80px;
	}
	.q-apps-screenshot__heading {
		max-width: 16em;
	}
}
@media (min-width: 720px) {
	.q-apps-screenshot__image.q-apps-diagram__azure {
		margin-bottom: 40px;
	}
}
.q-public-cloud-hero-azure {
	opacity: 0.65;
}
.label {
	font-family: Gotham, sans-serif;
	font-size: 14px;
	font-weight: 500;
}
@media (min-width: 375px) {
	.label {
		font-size: 15px;
		font-size: calc(0.00109 * 100vw + (14.59016px));
	}
}
@media (min-width: 1290px) {
	.label {
		font-size: 15px;
	}
}
.q-blue-link{
	color:#2E8BE0;
	text-decoration:none
}
.q-tabs__img {
    height: 30px;
    max-height: 30px;
	
}
.q-tabs__item:nth-child(4) .q-tabs__img{
	width: 80px;
	height:auto
}

.q-tabs__text{
	font-size: 14px;
}

@media (min-width: 960px)
{
.q-tabs__link {
    height: 160px;
    line-height: unset;
    padding: 40px 10px;
}
}
/*# sourceMappingURL=public-cloud.css.map */