<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Certifications are the recommended method for learning Qualys technology. Courses with certifications provide videos, labs, and exams built to help you retain information.">
		<meta property="og:title" content="AssetView and Threat Protection" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/training/course/assetview-and-threat-protection/" />
		<meta property="og:image" content="https://ik.imagekit.io/qualys/image/training-twitter-card.jpg" />
		<meta property="og:description" content="Certifications are the recommended method for learning Qualys technology. Courses with certifications provide videos, labs, and exams built to help you retain information." />
		<meta name="twitter:card" content="summary" />
	<title>Certified Course: AssetView and Threat Protection | Qualys, Inc.</title>

		<link rel="preconnect" href="https://cdnjs.cloudflare.com">
		<link rel="preconnect" href="https://d1uyme8f6ss6qi.cloudfront.net">
		<link rel="preconnect" href="https://static.cloud.coveo.com">
		<link rel="preconnect" href="https://unpkg.com">
		<link rel="preload" href="https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-light.woff" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-book.woff" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-medium.woff" as="font" type="font/woff2" crossorigin>

	
		<link rel="preconnect" href="https://rum-static.pingdom.net">
	
	<!-- Pingdom Real User Monitoring -->
	<script>
	    if (!window.location.search.match(/[?&;]dnt=1([;&]|$)/)) {
	
	        var _prum = [['id', '51c3aa0fabe53d2109000000'],
	                     ['mark', 'firstbyte', (new Date()).getTime()]];
	        (function() {
	            var s = document.getElementsByTagName('script')[0]
	              , p = document.createElement('script');
	            p.async = 'async';
	            p.src = 'https://rum-static.pingdom.net/prum.min.js';
	            s.parentNode.insertBefore(p, s);
	        })();
	
	    }
	</script>
	<!-- SHA 256 Digest 7H2Pgm/9d1VFPIlhvmHOIhKCrotE4ilnq5ZRxC2wam8= -->
	<!-- End Pingdom Real User Monitoring -->
	

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="/training/course/assetview-and-threat-protection/">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/community/coveo.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/community/shared.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/community/shared-min-30em.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/community/shared-min-60em.css" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="../../training.css">


	
		<link rel="preconnect" href="https://www.googletagmanager.com">
		<link rel="preconnect" href="https://cdn.bizible.com">
		<link rel="preconnect" href="https://geoip-js.com">
		<link rel="preconnect" href="https://js.maxmind.com">
		<link rel="preconnect" href="https://munchkin.marketo.net">
		<link rel="preconnect" href="https://snap.licdn.com">
		<link rel="preconnect" href="https://www.google-analytics.com">
	
	<!-- Google Tag Manager -->
	<script>
	    if (!window.location.search.match(/[?&;]dnt=1([;&]|$)/)) {
	
	        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	        })(window,document,'script','dataLayer','GTM-MNLTS6');
	
	    }
	</script>
	<!-- End Google Tag Manager -->
	

</head>
<body>

	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNLTS6"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	

		<div class="q-header__background">
			{% include "src/_includes/header-ueno.njk" %}
		</div>
			<div class="q-search__container">
				<div class="q-search">

					<div id="searchbox">
						<div class="CoveoAnalytics" data-search-hub="communityCoveo"></div>
						<div class="q-coveo__wrapper">
							<div class="q-coveo-searchbutton">
								<div class="CoveoSearchButton"></div>
							</div>
							<div class="q-coveo-querybox">
								<div class="CoveoOmnibox" data-enable-query-suggest-addon="true">
									<div class="CoveoFacetValueSuggestions" data-field="@sfdcproducts"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		<div class="q-sub-header">
			<div class="q-sub-header__container">
				
			</div>
		</div>

		


	<div class="q-body">
		<div class="q-body__container">
			

	<div class="q-training__tabs-container">
		<ul class="q-training__tabs-list">
			<li>
				<a href="/training/" class="q-training__tabs-item q-active-tab">Certified Courses</a>
			</li>
			<li>
				<a href="/training/#video-library" class="q-training__tabs-item">Video Libraries</a>
			</li>
			<li>
				<a href="/training/#instructor-led" class="q-training__tabs-item">Instructor-Led Training</a>
			</li>
		</ul>
	</div>

	<div class="q-training__course">
		<div class="q-training__course-header">
			<h3 class="heading--3">
				AssetView and Threat Protection
			</h3>
			<a href="/training/#self-paced" class="q-link">All certified courses <img src="https://ik.imagekit.io/qualys/image/icon/link-arrow.svg" class="link-arrow" width="7" height="10" /></a>
		</div>


		<div class="q-training__course-row">
			<div class="q-training__course-column">
				<h3 class="q-course-title">Agenda</h3>
				<ol><li><p>Introduction</p></li><li><p>Data Sources</p></li><li><p>Asset Groups</p></li><li><p>Asset Tagging</p></li><li><p>Asset Search</p></li><li><p>How to search</p></li><li><p>Demo: Widgets and Dashboards</p></li><li><p>Introduction to Threat Protection</p></li><li><p>Using RTI&#39;s with VM and CM</p></li></ol><p></p>
			</div>
			<div class="q-training__course-column">
				<h4 class="q-course-handson">Hands-on labs or lab simulation will cover the following topics to complement the coursework:</h4>
				<ol><li><p>Account Setup</p></li><li><p>Launch a scan</p></li><li><p>Asset Tagging</p></li><li><p>AssetView Queries</p></li><li><p>AssetView Widgets and Dashboards</p></li><li><p>Threat Protection</p></li><li><p>Using RTI&#39;s with VM and CM</p></li></ol><p></p>
			</div>
		</div>

		<div class="q-training__modal-action">
			<ul>
				<li>
					<a href="/training/#instructor-led" class="q-training__modal-link--secondary">
						<span>Instructor-Led</span>
						See calendar and enroll!
					</a>
				</li>
			</ul>
		</div>

		<div class="q-training__modal-footer">
			<span>
				<img src="https://ik.imagekit.io/qualys/image/q-certificate-sign.svg" width="47" />
			</span>
			<p>
				Certifications are the recommended method for learning Qualys technology. Courses with certifications provide videos, labs, and exams built to help you retain information.
			</p>
		</div>

	</div>


		</div>
	</div>

		{% include "src/_includes/footer-ueno.njk" %}
		<script id="site_data" type="application/json">
			{"asset":"https://ik.imagekit.io/qualys","base":{"url":"https://www.qualys.com"},"community":{"base":{"url":"https://community.qualys.com"}},"coveo":{"public":{"api":{"key":"xx61f2d0e7-e0a7-4155-ad9c-49a5e8c55c49"}}},"env":{"production":true},"google":{"gtm":{"id":"GTM-MNLTS6"}},"marketo":{"base":{"url":"https://lps.qualys.com"},"munchkin":{"id":"797-ENI-742"}},"salesforce":{"base":{"url":"https://qualys.secure.force.com"},"discuss":{"url":"https://success.qualys.com/discussions/s"},"partners":{"url":"https://success.qualys.com/partners/s"},"support":{"url":"https://success.qualys.com/support/s"},"csp":{"url":"https://success.qualys.com/customersupport"}},"azure":{"subscription":{"key":"bb09912e21f346afb31bd4f80d353792"}},"vulnOffice":{"base":{"url":"https://vuln.intranet.qualys.com"}},"noTopbar":false,"lang":"en","title":"Qualys, Inc.","year":2024}
		</script>
		<script src="https://unpkg.com/coveo.analytics@2.18.24/dist/coveoua.js" integrity="sha384-8wcVSOM2hnT06Ca8hVEkWv2BAzl5l6oBL+vwJr6DNWMx74IEI6k3moVPSSkQApVs" crossorigin="anonymous"></script>
		<script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.10085/2/js/CoveoJsSearch.Lazy.min.js" integrity="sha512-vueueBf3ND6Jj5E31AIFE28WnA2gQaGt3jHb+Wx5c0bDFBiKgQ8in3T9L4nVHC02v1uEgsrD4vL6pgYUGwZ3Kw==" crossorigin="anonymous"></script>
		<script src="/asset/community/shared.js"></script>
		<script src="/asset/community/coveo.js"></script>

</body>
</html>
