.session-description {
	line-height: 1.55;
}
.session-description ul {
	margin: 0;
	padding: 0 0 0 20px;
	line-height: 1.55;
}
.session-description ul li:not(:last-child) {
	margin-bottom: 0.45em;
}
.session-description h3 {
	margin: 0 0 10px;
	font-weight: 500;
	font-size: 18px;
	color: #1D2737;
	font-family: Gotham, sans-serif;
}
.session-description p {
	margin: 0;
}
.session-description .conference-speaker {
	font-family: Gotham, sans-serif;
}
.session-description .customer-session {
	font-family: Gotham, sans-serif;
	font-weight: 500;
	color: #2E8BE0;
	display: block;
	line-height: 1.688;
	font-size: 16px;
	letter-spacing: -0.11px;
}
#conduct {
	margin-top: 4em;
	margin-bottom: 5em;
}
#conf-app p,
#faqs p {

	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.qr-code {
	max-width: 250px;
	margin: 0 auto;
}
#videos .q-button {
	margin-top: 1em;
}
#videos {
	margin-bottom: 2em;
}
.q-qsc-overview__container .when-videos-available {
	font-family: Gotham, sans-serif;
	font-size: 14px;
	margin-top: 0.5em;
}
.q-qsc__hero-location {
	margin-top: 0;
}
.session-container {
	max-width: unset;
}
.q-qsc__hero-location {
    margin-top: 40px;
}
.q-qsc-city__hero {
    background-image:url(https://q-website-images.s3.amazonaws.com/www/image/2023/qsc/munich/qsc23-munich-mobile-banner.jpg);
	justify-content: start;
}
@media (min-width: 720px) {
	.session-container td.conference-td {
		padding: 0 0 15px 50px;
	}
	.conference-title-wrapper.label:before,
	.conference-title-wrapper.label:after {
		left: -50px;
		top: 14px;
	}
}
.conference-title-wrapper.label {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
}
.conference-title-wrapper.label .conference-title {
	user-select: none;
}
.training .agenda {
	margin-left: 0;
}
@media (min-width: 720px) {
	.q-qsc-section h3 {
		margin-bottom: 1em;
	}
}
@media (min-width: 720px) {
	.q-qsc-city__hero {
		background-image:url(https://q-website-images.s3.amazonaws.com/www/image/2023/qsc/munich/qsc23-munich-desktop-banner.png);
		background-position: center;
	}
	.q-qsc__city-hero--heading {
		color: #fff;
		font-size: 6em;
	}
	.q-qsc__city-hero--copy {
		text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
		color: #fff;
	}
	.q-qsc__hero-qsc,
	.q-qsc__hero-cta,
	.q-qsc__hero-location {
		display: block;
	}
}
.q-qsc-video__icon {
	position: relative;
	display: block;
}
.q-qsc-video__icon:hover .overlay {
	width: 100%;
	height: 100%;
	position:absolute;
	background-color:#000;
	opacity:0.5;
}
.video-container {
	width: 329px;
	margin-bottom: 40px;
	margin-right: 2em;
}
.video-container:nth-child(2n) {
	margin-right: 0;
}
@media (min-width: 425px) {
	.video-container {
		margin-bottom: 20px;
	}
}
@media (min-width: 1408px) {
	.video-container:nth-child(2n) {
		margin-right: 2em;
	}
	.video-container:nth-child(3n) {
		margin-right: 0;
	}
}
.q-qsc-videos__container .video {
	width: 329px;
	height: 185px;
	display: block;
	background-color: #D8D8D8;
	margin-bottom: 1.5em;
	position: relative;
}
.q-qsc-videos__container .poster {
	margin-bottom: 1.5em;
}
.q-qsc-videos__container .video .play-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
}
.q-qsc-videos__container .video .lock-icon {
	height: 29px;
	margin-top: 15px;
	margin-left: 2px;
}
.q-qsc-videos__container .video .play-icon .bg {
	transition: fill 0.25s;
}
.q-qsc-videos__container .video:hover .play-icon .bg {
	fill: #E3241C;
}
.q-qsc-videos__container .videos {
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2.1em;
}
@media (min-width: 1408px) {
	.q-qsc-videos__container .videos {
		flex-wrap: wrap;
	}
}
.video-container .title,
.video-container .subtitle {
	font-size: 17px;
	font-weight: 500;
	font-family: Gotham, sans-serif;
	color: #262626;
	line-height: 1.4;
}
.video-container .subtitle {
	color: #6A778B;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
}
@media (min-width: 425px) {
	.video-container .title {
		font-size: 20px;
	}
	.video-container .subtitle {
		font-size: 18px;
	}
}
.video-container .speaker {
	font-size: 17px;
	font-family: Gotham, sans-serif;
	color: #262626;
	line-height: 1.4;
	margin-top: 5px;
	margin-bottom: 4px;
}
@media (min-width: 425px) {
	.video-container .speaker {
		font-size: 18px;
	}
}
.video-type-container {
	margin-bottom: 5.3em;
}
.session-types {
	margin-top: 1em;
	margin-bottom: 2em;
}
.heading--2 {
	margin-bottom: 1.2em;
}
.note {
	color: #6a778b;
	font-family: Gotham, sans-serif;
	font-style: italic;
	font-size: 13px;
	margin-top: 0;
	line-height: 1.4;
}
.panelists-link:hover {
	cursor: pointer;
}
.speaker.panelists {
	font-size: 15px;
}
.interviews .video-container {
	margin-bottom: 36px;
}
.panelists b {
	font-weight: 500;
}
.speaker-line-break {
	display: block;
	margin-bottom: 5px;
}
.training-register-form .conference-title-wrapper.label:before,
.training-register-form .conference-title-wrapper.label:after {
	top: unset;
}
.m-auto
{
	margin: auto;

}
.text-center{
	text-align: center;
}

.q-qsc__hero-location {
    padding: 30px;
}

.q-qsc-speakers__container h4 {
    font-size: 18px;
    color: #262626;
    margin-bottom: 20px;
}
.q-trial__copy {
    color: #fff;
}
.q-register-confirm h4{
	font-size: 20px;
}
.q-register-confirm .q-time-location{
	margin-top:40px;
}

#highlights{
	padding-top: 6rem;
}
.training-description{
	color:#6A778B;
}
.training-title{
	font-size: 18px !important;
}
.conference-description p {
    margin-bottom: 0.5em;
}

@media (min-width: 720px)
{
.bellagio-poster {
    padding-left: 40px;
}
#overview {
    padding-top: 2em;
}
}
.q-qsc-speaker{
	max-width: 150px;
}
.MktoPersonNotes .mktoFieldDescriptor .mktoRequiredField .mktoError .mktoErrorMsg{
	margin-left: 0px !important;
}
@media (min-width: 920px)
{
.q-qsc-intro__column:first-child, .q-qsc-intro__column:nth-child(2n) {
    width: 50% !important;
}
}
ul.conference-description {
    font-size: 16px;
    line-height: 1.688;
    margin: 0;
    color: #6A778B;
	font-family:'Caecilia', serif;
}