<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta name="twitter:card" content="summary" />
	<title>Rapidly Detecting and Addressing Security Threats to Mitigate Risk at SBV | Qualys</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/customers/success-stories/sbv-rapidly-detecting-addressing-security-threats-mitigate-risk/">
	<meta name="theme-color" content="#2E8BE0">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">
	<link href="/asset/stylesheet/case-studies.css" rel="stylesheet">
	<link href="index.css" rel="stylesheet">
	<link href="index.css" rel="stylesheet">



</head>
<body>


	<div class="">
		{% include "src/_includes/header-ueno.njk" %}
		<div class="overlay-mask"></div>
		
		<div class="q-navigation-mobile">
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button js-menu">Close</button>
				</div>
				<div class="q-navigation-mobile-wrapper">
					<img class="q-hide-search" src="https://q-website-images.s3.amazonaws.com/www/image/icon/chevron-selectbox.svg">
					<ul class="q-navigation-mobile__list">
						<div class="q-navigation-mobile__link-container">
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Platform">Platform</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Solutions">Solutions</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Resources">Resources</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Customers">Customers</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Partners">Partners</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Support">Support</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Company">Company</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Community">Community</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Login">Login</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Contactus">Contact us</span>
							</li>
						</div>
						<div class="q-search-mobile">
							<div class="q-click-helper"></div>
							<li class="q-navigation-mobile__item ">
								<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
									<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#627281" d="M6.5 1.24a5.26 5.26 0 105.26 5.26A5.263 5.263 0 006.5 1.24M6.5 13A6.5 6.5 0 1113 6.5 6.513 6.513 0 016.5 13"/><path fill="#627281" d="M10.215 11.054l.824-.824 4.947 4.947-.824.824z"/></svg></button>
									<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
								</form>
							</li>
		
							<div class="q-search-links-mobile">
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link q-search-link--heading">Quick Links</span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/resources/">Resources (guides, whitepapers, etc.)</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/apps/">Qualys Cloud Apps</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/newsroom/">News</a></span>
								</li
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/events/">Events Calendar</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="https://community.qualys.com">Qualys Community</a></span>
								</li>
							</div>
						</div>
						<li class="q-navigation-mobile__item free-trial">
							<span class="q-button" href="/free-trial/" data-target="try-it">Try it</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Cloud Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Cloud Platform</a>
					</li>
				</ul>
			</div>
		
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
							Overview
						</h3>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Enterprise TruRisk Platform</a>
						<p class="q-nav--description q-nav--description-b trurisk-desc">Everything you need to measure, manage, and reduce your cyber risk in one place</p>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/solutions-overview.svg" width="30" height="30" /></span>
								CAPABILITIES
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/cybersecurity-asset-management/" data-target="asset-management">Asset Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/vulnerability-management-detection-response/" data-target="vulnerability-configuration-management">Vulnerability & Configuration Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/patch-management/" data-target="risk-remediation">Risk Remediation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/threat-protection/" data-target="threat-detection-response">Threat Detection & Response</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/solutions/compliance/" data-target="compliance">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/totalcloud/" data-target="cloud-security">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm">External Attack Surface Management (EASM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection & Response (VMDR) – <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM)<span class="q-navigation-mobile__link--highlight"> - New</span></a></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response (CDR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Solutions">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Solutions
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/business-need.svg" width="30" height="34" /></span>
							Use Cases
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/endpoint/">Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/pci-compliance/">PCI Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/dora-compliance/">DORA Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/devops/">DevOps</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/threat-protection/">Threat Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/nis2/">NIS2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/organization.svg" width="30" height="34" /></span>
							Segments
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/sme/">Mid-Sized Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/enterprise/">Enterprise</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/government/">Federal</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Resources">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Resources
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-resources.svg" width="30" height="30" /></span>
							Resources
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources Library</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/webinars/">Webinars</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/stream/">Qualys Stream</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-research.svg" width="31" height="28" /></span>
							Research
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/tru/">Threat Research Unit</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-alerts/">Security Alerts</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-advisories/">Security Advisories</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Customers">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Customers
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#best-practices">Best Practices</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#success-stories">Success Stories</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#testimonials">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Partners">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Partners
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/program/">Partner Program</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/vad/">VAD Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/var/">VAR Resellers</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/mssp/">MSP/MSSP Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/integration/">Integration Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/faq/">Partner FAQs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/find/">Find a Partner</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Community">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Community
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://community.qualys.com/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Discuss</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Docs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Support">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Support
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/customersupport/">Support Portal</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/training/">Free Training</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Documentation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Community Discussions</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/support/s/">Knowledgebase</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/release-notes/">Release Notes</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://notifications.qualys.com/">Release Notifications</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Company">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Company
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/">About Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/management/">Our Team</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://investor.qualys.com/">Investor Relations</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/newsroom/">News</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/awards/">Awards</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/events/">Events</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/careers/">Careers</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Login">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Login
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.com/">US Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://pci.qualys.com/">PCI Platform</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.eu/">EU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.it/">EU Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.qualys.com/platform-identification/">What's my platform?</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Contactus">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Contact us
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
					</li>
					 <li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link drift-open-chat">Chat With Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/schedule-demo/">Schedule a Demo</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/request-a-call/">Request a Call or Email</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/contacts/#headquarters">Global Offices and Contacts</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="try-it">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Try it
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform.svg" width="30" height="30" /></span>
							Enterprise TruRisk Platform
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-trial/">Cloud Platform - Free Trial</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/free-services.svg" width="24" height="27" /></span>
							Free Services
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/global-assetview/">Global AssetView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/community-edition/">Community Edition</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.ssllabs.com/">SSL Labs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/certview/">CertView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="asset-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Asset Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM) </a>
						<p class="q-nav--description q-nav--description-b">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm/">External Attack Surface Management (EASM) – <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b asset-management">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="vulnerability-configuration-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Vulnerability & Configuration Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response (VMDR) - <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM) - <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Consolidate & translate security & vulnerability findings from 3rd party tools</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a></span>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Automate scanning in CI/CD environments with shift left DAST testing</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="risk-remediation">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Risk Remediation
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
						<p class="q-nav--description">Efficiently remediate vulnerabilities and patch systems</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
						<p class="q-nav--description">Quickly create custom scripts and controls for faster, more automated remediation</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="threat-detection-response">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Threat Detection & Response
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/threat-protection/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Extend detection and response beyond the endpoint to the enterprise</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="compliance">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Compliance
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce risk, and comply with internal policies and external regulations with ease</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="cloud-security">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Security
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect and remediate security issues within IaC templates</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b cloud-security">Manage your security posture and risk across your entire SaaS application stack</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection and Response (CDR)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
					</li>
					<li class="q-navigation-mobile__item" data-category="solutions-vulnerability-management">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="q-grid hidden">
		<div class="q-grid__container">
			<div class="q-grid__row">
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
			</div>
		</div>
	</div>

		<div class="q-promo-banner js-promo-banner  q-promo-container promo--hidden" data-expires="2024-02-28T17:00:00Z">
			<div class="q-promo-banner__container">
				<div class="promo-wrapper">
					<div class="q-promo-banner__inner">
						<div class="q-promo-banner__row">
							<div class="q-promo-banner__column">
								<a href="/2024/02/cyber-risk-series/?utm_source=qualys&utm_medium=website-thin-strip&utm_campaign=global-eventvirtual-cyberriskseries-q12024&leadsource=344574831 " class="cta-wrapper">
									<div class="heading-wrapper">
										<span class="text">Cyber Risk Series | Cloud Security Edition | February 28 | <u>Register Now</u></span>
									</div>
								</a>					</div>
						</div>
					</div>
					<button class="q-alert__close">
						<svg class="q-alert__close-icon" viewBox="0 0 12 12">
							<title>Close</title>
							<g fill="#fff" fill-rule="evenodd">
								<path d="M10.1421357.24264075l1.41421355 1.41421356-9.89949494 9.89949496L.24264077 10.1421357z"></path>
								<path d="M.24264075 1.6568543L1.6568543.24264076l9.89949495 9.89949494-1.41421356 1.41421355z"></path>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	
<div class="hero">
	<div class="q-grid__container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10 hero-text-container">
					<div class="hero-text">
						<h1 class="heading--1">Rapidly Detecting and Addressing Security Threats to Mitigate Risk</h1>
						<h2 class="heading--sub">To protect its business systems from increasing internal and external security threats, SBV Services implemented a cloud-based risk-management platform to identify and track potential vulnerabilities.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="q-grid__container section1">
	<div class="q-grid__inner">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-9 q-grid__column-push-1 intro">
				<div class="box a">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/capital-one-white.svg" width="141" height="51" class="logo">
								<p class="website"><a href="http://www.sbv.co.za/" class="url"><b>www.sbv.co.za</b></a></p>
								<p class="industry field"><b>INDUSTRY:</b> Financial Services</p>
								<p class="business field"><b>BUSINESS:</b> SBV Services is South Africa’s leading cash risk management company, specialising in moving and processing cash, cheques and valuables safely and securely.</p>
								<p class="scope field"><b>SCOPE:</b> National</p>
								<p class="size field"><b>SIZE:</b> 1,001-5,000 employees</p>
							</div>
							<div class="swiper-slide">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/capital-one-white.svg" width="141" height="51" class="logo">
								<p class="size field"><b>BUSINESS CHALLENGE:</b> SBV Services must protect highly sensitive financial data, as well as logistical information about the movement of enormous amounts of cash and other valuables.</p>
								<p class="size field"><b>SOLUTION:</b> Enterprise TruRisk Platform</p>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>

				<div class="intro-text">

					<p class="paragraph--2">SBV Services specialises in wholesale and retail cash processing and transiting, offering services such as bulk asset movement, asset management consulting and guarding resources. With 33 centres across South Africa, SBV Services provides end-to-end solutions for a wide range of clients and industries, including banking, retail and entertainment companies as well as government institutions.</p>

					<h2 class="heading--2">Protecting Sensitive Information from Every Angle</h2>

					<p class="paragraph--2">SBV Services is responsible for moving the majority of all cash in South Africa, and keeping its business systems secure is of fundamental importance. The company places great emphasis on closing any potential security gaps in the numerous systems, such as cash processing, logistics and financial settlement applications that store its own or its clients’ sensitive financial data. With a number of business critical applications involved in its cash processing operation alone, this is no small task.</p>
					
					<p class="paragraph--2">Kevin Govender, IT Security and Compliance Manager at SBV Services, states: “The success of our business hinges on our ability to keep our risk footprint as small as possible.”</p>
					
					<p class="paragraph--2"><b><i>“In the past, around 80 percent of our security effort was focused on the edge of the network and maintaining a secure perimeter. But as more of our systems are open to partners and clients, the risk of breaches happening inside the firewall is growing fast.”</i></b></p>
					
					<p class="paragraph--2">A further potential source of network risk is that more and more employees are choosing to bring their personal mobile devices onto the company network.</p>
					
					<p class="paragraph--2"><b><i>“With anywhere from 500 to 1,000 personal devices, such as tablets and smartphones, active on the network at any one time, and with all staff able to access mail and other data via VPN clients, the potential attack surface has grown quickly,”</i></b> states Kevin Govender.</p>

				</div>
			</div>
		</div>
	</div>
</div>


<div class="q-grid__container section3">
	<div class="q-grid__inner">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-5">
				<div class="box b">
					<p class="why"><b>Why SBV Services chose Qualys:</b></p>
					<ul class="reasons">
						<li class="reason">Rapid time-to-value meant that IT staff could focus on getting results.</li>
						<li class="reason">Comprehensive and flexible automated reporting capabilities ensure that IT staff and management quickly understand emerging risks.</li>
						<li class="reason">Easy access to learning materials online ensured rapid adoption and short time-to-value.</li>
					</ul>
				</div>
			</div>
			<div class="q-grid__column q-grid__column-4">

				<h2 class="heading--2">Qualys Solution – Right On the Money</h2>

				<p class="paragraph--2">Recognising that the growing scale of its IT infrastructure made manual approaches increasingly unworkable, the SBV Services IT team reviewed its tools providing automated vulnerability assessments and reporting.</p>
				
				<p class="paragraph--2">After considering solutions from a number of vendors, SBV Services decided to follow recommendations from leading global IT analyst firms advocating the Enterprise TruRisk Platform—an integrated suite of powerful IT security and compliance solutions.</p>

			</div>
		</div>
	</div>
</div>

<div class="q-grid__container section4">
	<div class="q-grid__inner">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-8 q-grid__column-push-1">

				<p class="paragraph--2"><b><i>“Through the Qualys website and online community, we could gain a deeper understanding of its features. Based on what we found, we determined that Enterprise TruRisk Platform was the solution best suited to our requirements, and decided to implement it,”</i></b> explains Kevin Govender.</p>

				<p class="paragraph--2">After starting with a controlled Proof of Concept, SBV Solutions implemented Enterprise TruRisk Platform, gaining a dynamic central repository of information on cross-platform vulnerabilities and how to mitigate them.</p>
				
				<p class="paragraph--2">Kevin Govender comments: <b><i>“Enterprise TruRisk Platform has taken our ability to recognise and address both internal and external security threats to the next level.”</i></b></p>

				<h2 class="heading--2">Sky-High Data Security</h2>

				<p class="paragraph--2">The small IT team at SBV Services lacked the time required for deploying an on-premise vulnerability management solution.</p>

				<p class="paragraph--2"><b><i>“Enterprise TruRisk Platform is available for cloud-based deployment on a Software-as-a-Service [SaaS] basis, meaning that we could start using it extremely quickly,”</i></b> states Kevin Govender. <b><i>“Setting up the solution was very simple and did not distract us from our day-to-day work. We could simply focus on using the technology and getting the benefits.”</i></b></p>


				<p class="paragraph--2">Qualys’ Vulnerability Management solution, which sits on top of the cloud platform, scans all systems on the SBV network, automatically detecting and flagging any known vulnerabilities, and generating detailed reports that let IT staff know which patches they need to install. The solution provides multiple levels of reporting, from these patch reports up to top-level reports on the overall risk, such as the total number of Level 5 or 4 vulnerabilities. This built-in reporting capability was one of the key features that attracted SBV Services to the Qualys solution.</p>


				<p class="paragraph--2">The effectiveness of the Enterprise TruRisk Platform was proven in a highly visible way when the Heartbleed security bug hit the headlines.</p>


				<p class="paragraph--2"><b><i>“Enterprise TruRisk Platform provided us with very early intelligence on Heartbleed, enabling us to accurately gauge the level of risk it posed to us,”</i></b> remarks Kevin Govender. <b><i>“The solution pinpointed all vulnerable systems very rapidly, and helped us to track our resolution processes.”</i></b></p>


				<p class="paragraph--2"><p><i>“Our rapid reaction to the Heartbleed bug alone proved the value of investing in the Enterprise TruRisk Platform, enabling us to demonstrate tight governance to internal management and external clients alike.”</i></p></p>

				<h2 class="heading--2">Rapid, Regular Risk Reporting</h2>

				<p class="paragraph--2">Automatic vulnerability assessments and reports from the Enterprise TruRisk Platform give SBV Services staff a clear view of potential security issues across the entire network, including personal devices, saving significant time and effort. Reports are issued throughout the company, from risk executives down to the teams running each application or service, enabling efficient, effective and transparent response to identified threats.</p>
				
				<p class="paragraph--2">Kevin Govender adds: <b><i>“The Qualys solution features have remarkably sophisticated reporting capabilities, giving us the information we need at the speed we need it.</i></b></p>
				
				<p class="paragraph--2"><b><i>“We now perform weekly scans of all end-user devices at head office, as well as ad hoc scans at branches. No stone is left unturned, as the scans also cover personal mobile devices, such as tablets and smartphones. As with the Heartbleed bug, when we receive reports of new potential threats, we can run them against our asset base and send out clear communications to the relevant technical people.”</i></b></p>


				<div class="quote-box">
					<div class="quote-container">
						<blockquote>
							“Enterprise TruRisk Platform has taken our ability to recognise and address both internal and external security threats to the next level.”
						</blockquote>
						<div class="customer">
							<div class="name-wrapper">
								<h5 class="name">Kevin Govender</h5>
								<p class="title">IT Security and Compliance Manager, SBV Services</p>
							</div>
						</div>
					</div>
				</div>

				<p class="paragraph--2">Kevin Govender concludes: <b><i>“Fast reporting facilitates fast responses, which is exactly what we wanted. We can now monitor all end-user devices, identifying and resolving any vulnerabilities efficiently. We are confident that using Enterprise TruRisk Platform will help us to further improve our risk mitigation strategies in the future.”</i></b></p>

			</div>
		</div>
	</div>
</div>



		{% include "src/_includes/footer-ueno.njk" %}

		<div class="mobile-trial-overlay hidden" data-expires="2022-03-01T17:00:00Z">
			<a class="close-button">
				<svg class="x" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
					<g fill="#FFF" fill-rule="evenodd">
						<path d="M10.142.243l1.414 1.414-9.9 9.9-1.414-1.415z" />
						<path d="M.242 1.657L1.657.243l9.9 9.9-1.415 1.413z" />
					</g>
				</svg>
			</a>
			<p class="promo-text"><b>Log4Shell Response</b></p>
			<div class="promo-banner-cta">
				<a class="q-button right" href="https://www.qualys.com/log4shell-cve-2021-44228/"><span>See updates</span></a>
			</div>
		
		</div>
		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js" integrity="sha256-IylDNWjip7FK2TJUYck237qBTBeSiwnSFDCjLG686D4=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/core-js-bundle@3.6.5/minified.js" integrity="sha384-TTVcaKdKKsLSvxkJU8mv/ZrkBlSMUiXn57PWhpGFzfeuzqQW/krdvVzW8yqtTqz5" crossorigin="anonymous"></script>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha384-zZbyq8BQ4BvQcv4xPxkJWWGPSVW6z+MufIHfxNTdnFQwc7J2Idz0zxeP6/bMqWJn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js" integrity="sha384-nK4khbhvZ/TNQaGnwee6RVFCDRfxcrLKZZqKCVqk1rF9AT8Etq3UZYCXZ7CCAd0K" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js" integrity="sha256-VV47uJSoHZUeiBcCs3FcBOQLMn++yeG/zqZvaUkvGZM=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js" integrity="sha256-nuhNsfXzBFR6G1lKP8bK77dakkQDqdHcQ4OCFZvk6Qo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js" integrity="sha256-LBjlnpPrM6Aig8LDFc9PJctPHLGUc6RaUvnmXE4hV5Y=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js?v=20240221"></script>
	<script src="/asset/script/case-studies.js"></script>

</body>
</html>
