.q-report__hero-wrapper {
    display: flex;
    background: url(https://ik.imagekit.io/qualys/image/company/esg/qualys-esg-web-hero.png) center center no-repeat rgb(235, 243, 248);
    background-size: cover;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .q-report__hero-wrapper {
        background-size: 100% auto;
    }
}
.sustainability {
    background: #F7FAFC;
}
.q-report__hero-container {
    width: 100%;
    position: relative;
}

.q-report__hero-container--content {
    z-index: 2;
    max-width: 1430px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    height: 100%;
}

.q-report__hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.q-report__hero-logo {
    margin-bottom: 40px;
    width: 180px;
}

.q-report__hero-txt--heading {
    color: #1D2737;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    font-size: 40px;
    font-family: 'Gotham', sans-serif;
}

.q-report__hero-sub--heading {
    font-family: 'Gotham', sans-serif;
    font-size: 22px;
    color: #1D2737;
    line-height: 1.3;
    font-weight: 300;
    margin: 0;
    padding: 30px 0 0 0;
}

.q-full-message {
    font-family: 'Gotham', sans-serif;
}

@media (min-width: 375px) {
    .q-report__hero-container--content {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 70px;
    }

    .q-report__hero-txt--heading {
        font-size: 40px;
    }
}

@media (min-width: 720px) {
    .q-report__hero-container--content {
        padding-left: 50px;
        padding-right: 50px;
    }

    .q-report__hero-content {
        flex-direction: row;
        align-items: flex-start;
    }

    .q-report__hero-logo {
        margin-bottom: 0;
        margin-right: 40px;
        width: auto;
    }

    .q-report__hero-txt--heading {
        line-height: 1.2;
        font-size: 55px;
        text-align: left;
    }

    .q-report__hero-sub--heading {
        font-size: 25px;
    }

    .q-report__hero-txt {
        max-width: 680px
    }

    .q-report__hero-container--content {
        padding: 130px 70px
    }
}

.q-report-cta {
    margin-top: 35px;
}

@media (min-width: 910px) {
    .q-report-cta {
        margin-top: 50px;
    }
}

@media (min-width: 1080px) {
    .q-report__hero-wrapper {
        min-height: 500px;
        background-size: cover;
    }

    .q-report__hero-container {
        padding-bottom: 0;
    }

    .q-report__hero-logo {
        margin-right: 80px;
    }

}

.q-content-section {
    padding: 50px 0 50px 0
}

.q-speaker-message {
    margin-top: 0;
}

.d-inline {
    display: inline-block;
}

.link-arrow {
    margin-left: 8px;
}

.speaker-quote {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 40px;
}

.q-section {
    margin: auto;
    text-align: center;
}

.q-section img {
    margin: auto;
}

.q-icon-heading {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gotham', sans-serif;
    color: #262626;
}

.q-impact-copy {
    max-width: 780px;
    margin: auto;
}

.q-impact-section {
    padding-top: 50px;
}

.q-section-points {
    margin-bottom: 12px;
    padding: 10px 20px;
}

@media (min-width:720px) {
    .q-impact-section {
        padding-top: 80px;
    }

    .q-section-points {
        border-right: 1px solid #ddd;
        padding: 10px 40px;
        height: auto;
        width: 50%;
        margin-bottom: 20px;
    }

    .q-section-points:last-child {
        border-right: 0px solid #ddd;
    }

    .q-content-section {
        padding: 90px 0 62px 0
    }

    .speaker-quote {
        margin-top: 0px;
    }

    .q-section-points:nth-child(2){
        border-right: 0px;
    }
}

@media (min-width:920px) {
    .q-section-points {
        width: calc(3 / 12 * 100%);
    }
    .q-section-points:nth-child(2){
        border-right: 1px solid #ddd;
    }
}
.q-section-about {
    background: #F7FAFC;
    padding: 50px 0 20px 0;
    margin-top: 40px;
}
.q-section-sustainability {
    background: #F7FAFC;
    padding: 0 0 90px 0;
    margin-top: 40px;
    margin-bottom: 8em;
}

.q-about-heading {
   margin-top: 0;
}

.q-about-img {
    margin: 15px auto 25px auto;
    text-align: center;
}

.q-section-about-point {
    margin-bottom: 50px;
}

.q-section-about .q-about-heading {
    margin-bottom: 0px;
}

.q-section-about .q-about-sub-heading {
    font-size: 18px;
    color: #1d2737;
    font-family: 'Gotham', sans-serif;
}

.q-highlight__content {
    text-align: center;
    margin: auto;
}

.desktop-board{
    display: none
}

.mobile-board{
    display: block ;
}

.q-highlights{
    padding-top: 50px;
}

.q-highlights-heading{
    padding-bottom: 20px;
}

.q-highlight-1{
    margin-bottom: 60px;
    background-color: #EDF3F8;
    text-align: left;
    padding: 30px 20px 15px 20px;
}
.q-highlight-1 h2{
color:#2E8BDF
}
.q-glance-section-sub-heading{
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    color: #262626;
}
.q-glance-section_box{
    padding: 0;
    height: auto;
    margin-bottom: 30px;
}
.q-glance-section_box-number{
    color: #68778A;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
    margin-bottom: 0;
    margin-top: 0px;
}
.q-glance-section_box-content{
    color: #262626;
    font-size: 18px;
    font-family: 'Gotham', sans-serif;
    font-weight: 300;
    margin-top: 0;
}
.q-glance-section_box__content {
    background-color: #FFFFFF;
    min-height: auto;
    border-radius: 15px;
    box-shadow: 6px 0px 38px 2px rgb(149 177 188 / 15%);
    
    height: 100%;
    padding: 15px 15px 15px 15px;
}

.q-glance-section{
    text-align: center;
    margin-top: 40px;
}

@media only screen and (min-width:375px) and (max-width:720px){
    .q-glance-section_box{
        max-width: 70vw;
        margin: auto;
        margin-bottom: 40px;
    }
}
@media (min-width:720px) {
    .q-glance-section_box{
        padding: 0 15px;
    }
    .q-glance-section{
        margin-top: 0px;
    }
    .q-highlight-1{
        padding: 30px 40px 30px 40px;
    }
    .q-glance-section-heading{
        font-size: 50px;
        margin-top: 0;
    }

    .q-glance-section_box-number{
        font-size: 32px;
    }
    .q-glance-section_box-content{
        font-size: 18px;
        line-height: 24px;
    }
    .q-highlights-heading{
        padding-bottom: 30px;
    }

    .q-highlights {
        padding: 70px 0;
    }

    .q-section-about {
        padding: 7em 0;
        margin-top: 90px;
    }

    .q-section-about-point {
        margin-bottom: 90px;
    }

    .q-about-img {
        margin: auto;
    }

    .mobile-board{
        display: none !important;
    }

    .desktop-board{
        display: block !important
    }
}

@media only screen and (min-width:720px) and (max-width:1024px){
    .q-glance-section_box{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (min-width:1200px) {
    .q-glance-section_box-number{
        font-size: 42px;
    }
}

.q-sustainability--content {
    padding: 10px 20px 0 20px;

}

.q-sustainability--content p {
    color: #FFFFFF;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Gotham', sans-serif;
}

.q-sustainability--content p:last-child {
    padding-bottom: 0px;
    border-bottom: 0px solid #FFFFFF;
}

.q-sustainability__box {
    margin: 60px auto;
}

.q-sustainability--content-heading {
    color: #FFFFFF;
}



@media (min-width:720px) {
    .q-sustainability__box {
        margin: 90px auto 20px auto;
    }
}

.q-report-cta-section{
    margin:0px auto 120px auto;
}

@media (min-width:720px) {
    .q-report-cta-section a{
        height: 60px;
        font-size: 18px;
        padding:20px 30px
    }
}

.text-center{
    text-align: center;
}

.q-sustainability--content-item{
    flex: 0 1 auto;
    position: relative;
    margin: 20px 15px 12px;
    padding: 0 20px 20px;
    min-height: 160px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 10px 20px 0 rgba(170, 177, 188, 0.2);
    font-size: 16px;
    font-family: 'Gotham', sans-serif;
    color: #262626;
    font-weight: 400;
    background-color: #fff;
}

@media (min-width:720px) {
    .q-sustainability--content-item{
        width: 300px;
    }
}

@media (min-width:920px) {
    .q-sustainability--content-item{
        width: 400px;
    }
}

.q-sustainability__box-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 40px auto 0;
    justify-content: space-evenly;
}
.q-sustainability--content__heading{
    font-size:18px;
    color: #262626;
    font-weight: 500;
}

/*# sourceMappingURL=index.css.map */