<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Discover the Enterprise TruRisk Platform, the cyber risk &amp; security platform that helps you measure, communicate, and eliminate cyber risk across the enterprise.">
		<meta property="og:title" content="Enterprise TruRisk Platform: Cyber Security Solution | Qualys" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/enterprise-trurisk-platform/" />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="Discover the Enterprise TruRisk Platform, the cyber risk &amp; security platform that helps you measure, communicate, and eliminate cyber risk across the enterprise." />
		<meta name="twitter:card" content="summary" />
	<title>Enterprise TruRisk Platform: Cyber Security Solution | Qualys</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/enterprise-trurisk-platform/">
	<meta name="theme-color" content="#2E8BE0">

		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/tailwind.css">
		<link rel="stylesheet" href="/asset/stylesheet/global.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="index.css">



</head>
<body>


	<main class="relative">


	{% include "src/_includes/header-chaitrali.njk" %}


	
<div class="font-montserrat">
	<div class="hero-box-bg">
		<div style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/cloud-platform/clout-platform-bg.png')">
			<div class="w-full max-w-wrapper lg:px-wrapper ml-auto mr-auto bg-no-repeat bg-center bg-cover">
				<div class="grid lg:grid-cols-2 gap-8 md:gap-12 xl:gap-20 2xl:gap-[120px]">
					<div class="lg:col-span-2">
						<div class="grid lg:grid-cols-7">
							<div class="lg:col-span-3 px-4 sm:px-5 md:px-[30px] lg:px-0 flex relative">
								<div class="pt-12 lg:pr-16 md:pt-16 lg:py-16 m-auto">
									<h2 class="text-white text-2xl md:text-3xl xl:text-4xl xl:leading-[46px] text-center sm:text-left">
										The Qualys Enterprise TruRisk<span class="text-xs leading-none align-super">TM</span> Platform
									</h2>
									<p class="text-white text-xl md:text-larger leading-normal pt-5 sm:pt-16 font-normal text-center sm:text-left">
										Measure, communicate, and eliminate cyber risk across the extended enterprise.
									</p>
									<div class="grid grid-cols-4 q-cta-grid">
										<div class="col-span-4 sm:col-span-1 lg:col-span-1 q-cta">
											<p class="text-white pt-5 lg:pt-12 text-base pb-5 lg:pb-0 max-w-fit mx-auto sm:mx-0 inline-block">
												<a href="/free-trial/" class="py-4 px-5 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
													<span class="text-balance-1 text-sm font-semibold leading-none">Try it Now</span>
												</a>											</p>
										</div>
										<div class="col-span-4 sm:col-span-1 q-cta-2">
											<p class="inline-block">
											 <a href="/docs/qualys-defining-the-enterprise-truRisk-platform.pdf">
												<span class="text-white text-base py-2 px-4 md:py-2 md:px-5 border rounded-full q-cta-2-text mt-5 lg:mt-12  w-fit inline-block">
													Learn More
												</span>
											 </a>
											<span class="w-60 block text-white text-sm mt-2 ml-2 mb-4 md:mb-0">Download the Enterprise TruRisk Platform Solution Brief</span>
											</p>
										</div>
									</div>


								</div>
							</div>
							<div class="lg:col-span-4 px-4 sm:px-5 md:px-[30px] lg:px-0">
								<div class="pb-20 pt-5 lg:pt-20 xl:py-40 lg:pl-0">
									<div
										class="grid gap-4 lg:gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 lg:mt-0 xl:pb-0 lg:py-0 lg:-ml-10 2xl:-ml-18">
											<div class="rounded-2xl border relative bg-white backdrop-blur-md shadow-2xl max-w-sm sm:max-w-none mx-auto sm:mx-0">
												<div class="py-10 px-5 rounded-xl" >
													<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/features/analysis.svg" class="pb-3 w-10">
													<div class="">
														<h3 class="font-semibold text-content2 text-left text-large lg:text-xl">Measure</h3>
													</div>
													<div class="">
														<p class="text-content2 text-base text-left pt-4 leading-[22px]">Calculate the known and unknown cyber risk across your internal and external attack surface and quantify it in a way that meets the unique demands of your business.</p>
													</div>
												</div>
											</div>
											<div class="rounded-2xl border relative bg-white backdrop-blur-md shadow-2xl max-w-sm sm:max-w-none mx-auto sm:mx-0">
												<div class="py-10 px-5 rounded-xl" >
													<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/q-icon-trurisk.svg" class="pb-3 w-10">
													<div class="">
														<h3 class="font-semibold text-content2 text-left text-large lg:text-xl">Communicate</h3>
													</div>
													<div class="">
														<p class="text-content2 text-base text-left pt-4 leading-[22px]">Go beyond just enumerating your cyber risk with the ability to clearly define it and articulate your complete cyber risk posture throughout your organization.</p>
													</div>
												</div>
											</div>
											<div class="rounded-2xl border relative bg-white backdrop-blur-md shadow-2xl max-w-sm sm:max-w-none mx-auto sm:mx-0">
												<div class="py-10 px-5 rounded-xl" >
													<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/automate-remediation.svg" class="pb-3 w-10">
													<div class="">
														<h3 class="font-semibold text-content2 text-left text-large lg:text-xl">Eliminate</h3>
													</div>
													<div class="">
														<p class="text-content2 text-base text-left pt-4 leading-[22px]">Proactively eliminate the most critical vulnerabilities within your environment with easy-to-use workflows that unify your Security and IT teams.</p>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



	
<div class="font-montserrat">
	<div class="q-wrapper">
		<div class="mt-10 lg:mt-12 xl:mt-16 text-center">
			<div class="q-swiper-laptop-tabs js-swiper-laptop-tabs">
				<ul>
					<li class="tab">Measure</li>
					<li class="tab">Communicate</li>
					<li class="tab">Eliminate</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="py-8 lg:pb-16 lg:pt-16 overflow-hidden js-swiper-laptop-tabs-slider" data-auoplay="false" style="background:linear-gradient(90deg, rgba(246, 250, 255, 0.00) 64%, #d2edff8a 75.16%)">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="q-wrapper">
					<div class="tabs-container-content">
						<h2 class="text-2xl md:text-3xl xl:text-4xl text-content text-center mb-5 lg:mb-10 xl:mb-16">Measure cyber risk across every attack surface</h2>
						<div class="grid md:grid-cols-2">
							<div class="md:col-span-1 rounded-br-3xl rounded-bl-3xl sm:rounded-bl-none">
								<div class="h-full">
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Build a continuously updated, unified inventory of assets with cyber risk and business context.</p>
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Aggregate cyber risk across Qualys and Non-Qualys products to understand TruRisk across your environment.</p>
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Understand TruRisk based on the risk factors that matter most, including vulnerabilities, misconfigurations, end-of-support software, missing agents, and more.</p>
								</div>
							</div>
							<div class="md:col-span-1 md:m-auto flex h-full xl:-mt-10 items-start">
								<div class="q-laptop ">
									<div class="q-laptop__screen absolute z-0">
										<div class="swiper ">
											<div class="swiper-wrapper">
												<div class="swiper-slide bg-slate-700">
														<a href="https://q-website-images.s3.amazonaws.com/www/image/apps/csam/csam-ciso-dashboard.png" data-fancybox><img src="https://q-website-images.s3.amazonaws.com/www/image/apps/csam/csam-ciso-dashboard.png" class="q-laptop__image" alt="CSAM CISO Dashboard" /></a>
												</div>
											</div>
										</div>
									</div>
									<div class="q-laptop__base">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/laptop-base-2.png" class="w-full h-auto" />
									</div>
								</div>							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="q-wrapper">
					<div class="tabs-container-content">
						<h2 class="text-2xl md:text-3xl xl:text-4xl text-content text-center mb-5 lg:mb-10 xl:mb-16">Communicate cyber risk in terms of business value</h2>
						<div class="grid md:grid-cols-2">
							<div class="md:col-span-1 rounded-br-3xl rounded-bl-3xl sm:rounded-bl-none">
								<div class="h-full">
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Dynamic CISO dashboards that capture TruRisk across your environment</p>
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Business unit and compliance reports that pinpoint the most critical risks to your business</p>
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Integrations with CMDB that keep IT and Security teams in lockstep on the most critical priorities for your business</p>
								</div>
							</div>
							<div class="md:col-span-1 md:m-auto flex h-full xl:-mt-10 items-start">
								<div class="q-laptop ">
									<div class="q-laptop__screen absolute z-0">
										<div class="swiper ">
											<div class="swiper-wrapper">
												<div class="swiper-slide bg-slate-700">
														<a href="https://q-website-images.s3.amazonaws.com/www/image/platform-biz-app-dashboard.png" data-fancybox><img src="https://q-website-images.s3.amazonaws.com/www/image/platform-biz-app-dashboard.png" class="q-laptop__image" alt="TruRisk Dynamic CISO Dashboard" /></a>
												</div>
											</div>
										</div>
									</div>
									<div class="q-laptop__base">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/laptop-base-2.png" class="w-full h-auto" />
									</div>
								</div>							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="q-wrapper">
					<div class="tabs-container-content">
						<h2 class="text-2xl md:text-3xl xl:text-4xl text-content text-center mb-5 lg:mb-10 xl:mb-16">Eliminate cyber risk with complete confidence</h2>
						<div class="grid md:grid-cols-2">
							<div class="md:col-span-1 rounded-br-3xl rounded-bl-3xl sm:rounded-bl-none">
								<div class="h-full">
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Prioritize risk by overall business impact</p>
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Remediate efficiently with risk-based patching, AI-powered adaptive mitigation, and an integrated workflow across teams</p>
									<p class="text-content2 text-left text-base lg:text-large xl:text-larger px-5 lg:px-20 m-auto py-3 md:pb-3 lg:pb-10 lg:leading-tight">Continuously eliminate cyber risk with the greatest potential to impact your business</p>
								</div>
							</div>
							<div class="md:col-span-1 md:m-auto flex h-full xl:-mt-10 items-start">
								<div class="q-laptop ">
									<div class="q-laptop__screen absolute z-0">
										<div class="swiper ">
											<div class="swiper-wrapper">
												<div class="swiper-slide bg-slate-700">
														<a href="https://q-website-images.s3.amazonaws.com/www/image/platform-risk-reduction-plans.jpg" data-fancybox><img src="https://q-website-images.s3.amazonaws.com/www/image/platform-risk-reduction-plans.jpg" class="q-laptop__image" alt="Qualys Cloud Platform Risk Reduction Plans" /></a>
												</div>
											</div>
										</div>
									</div>
									<div class="q-laptop__base">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/laptop-base-2.png" class="w-full h-auto" />
									</div>
								</div>							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="font-montserrat bg-tertiary-2">
	<div class="bg-no-repeat bg-center bg-cover"
		style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/cloud-platform/cloud-platform-trurisk-bg.png');">
		<div class="q-wrapper">
			<div class="py-10 lg:py-16">
				<h2 class="text-center text-white text-2xl md:text-3xl xl:text-4xl font-medium !leading-snug">
					What is TruRisk?
				</h2>
				<p class="text-center text-white text-large lg:text-larger pt-7 lg:pt-10">TruRisk is the industry standard on how to apply risk-based prioritization to your cyber security program. While EPSS and CVSS are foundational metrics for severity, they can miss real threats and fail to filter out non-critical risk without complete business context of the environment. TruRisk aggregates ALL risk-factors from 73 thousand vulnerability signatures, 25+ sources of threat intel, and integrations with non-Qualys products to achieve:</p>
				<div class="grid gap-x-6 l md:grid-cols-4 lg:grid-cols-3 pt-12 lg:pt-24 ">
					<div class="md:col-span-2 lg:col-span-2">
						<div class="q-ipad relative mx-auto">
							<div class="q-ipad__screen absolute z-0">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/cloud-platform/risk-reduction-plan.jpg" class="m-auto q-ipad__image" alt="TruRisk Dynamic CISO Vulnerability Reduction">
							</div>
							<div class="q-ipad__base">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/ipad-screen.png" class="w-full  h-auto m-auto" alt="TruRisk Dynamic CISO Vulnerability Reduction">
							</div>
						</div>					</div>
					<div class="md:col-span-2 lg:col-span-1 pt-6 ">
						<div class="grid grid-cols-9 mb-6 md:mb-12 lg:mb-24">
							<div class="col-span-1">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/detect-vulnerabilities-3.svg"
									class="w-9 inline relative mt-2">
							</div>
							<div class="col-span-8">
								<span class="text-white text-base lg:text-larger"><b>85% reduction in critical vulnerabilities,</b> helping security teams focus on what matters </span>
							</div>
						</div>
						<div class="grid grid-cols-9 mb-6 md:mb-12 lg:mb-24">
							<div class="col-span-1">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/visibility.svg"
									class="w-9 inline relative mt-2">
							</div>
							<div class="col-span-8">
								<span class="text-white text-base lg:text-larger"><b>A complete view of business risk </b>including data from third-party IT/Security tools </span>
							</div>
						</div>
						<div class="grid grid-cols-9 mb-6 md:mb-12 lg:mb-24">
							<div class="col-span-1">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/scan.svg" class="w-9 inline relative mt-2">
							</div>
							<div class="col-span-8">
								<span class="text-white text-base lg:text-larger"><b>Auto-assignment of asset risk</b> levels based on behavior attributes and powered by TruRisk AI </span>
							</div>
						</div>
					</div>

				</div>
				<p class="text-center text-white text-larger lg:text-[32px]  pt-7 lg:pt-10">De-risk your business with the Enterprise TruRisk Platform.</p>

				<div class="text-center m-auto max-w-max mt-7 md:mt-10 lg:mt-16">
					<a href="/free-trial/" class="py-3 px-6 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
						<span class="text-balance-1 text-sm font-semibold leading-none">Try it Now</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="font-montserrat bg-no-repeat bg-top bg-cover"
	style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/bg-radial-circles.png');">
	<div class="q-wrapper">

		<div class="py-10 lg:py-20">
			<h2 class="text-2xl md:text-3xl xl:text-4xl text-content text-center !leading-snug">One agent. Multiple use cases. A unified view of risk.</h2>
			<div class="mt-10">
				<p class="text-center text-content2 text-[22px] max-w-[926px] mx-auto font-normal">
					Quickly deploy lightweight Cloud Agents to reduce TCO and consolidate IT, Security, and Compliance solutions.
				</p>
			</div>

			<div class="mt-12 lg:mt-20 xl:mt-24">
				<div class="grid gap-x-5 gap-y-7 lg:gap-y-10 sm:grid-cols-2 lg:grid-cols-3">
					<div class="max-w-sm mx-auto sm:mx-0 sm:max-w-none bg-white relative pb-16 rounded-[10px] shadow-featuredBox bg-cover bg-no-repeat bg-center" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/bg-radial-1.png')">
						<div class="mt-5 px-7 pb-4">
					        <div class="w-14 h-16">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/features/global-scanning-3.svg" width="62" />
							</div>
							<div class="sm:min-h-[55px] xl:min-h-[70px] pt-3">
								<h3 class="text-content leading-snug text-xl xl:text-2xl font-semibold">Secure your entire attack surface</h3>
							</div>
							<div class="mt-5">
								<p class="text-base text-content2">Discover everything with business context and lay the foundation for risk-based vulnerability management.</p>
							</div>
							<div class="absolute bottom-5">
								<a href="/apps/cybersecurity-asset-management/" class="text-primary-5 hover:text-primary-3 font-semibold">Learn More</a>
							</div>
						</div>
					</div>
					<div class="max-w-sm mx-auto sm:mx-0 sm:max-w-none bg-white relative pb-16 rounded-[10px] shadow-featuredBox bg-cover bg-no-repeat bg-center" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/bg-radial-2.png')">
						<div class="mt-5 px-7 pb-4">
					        <div class="w-14 h-16">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/features/high-accuracy.svg" width="60" />
							</div>
							<div class="sm:min-h-[55px] xl:min-h-[70px] pt-3">
								<h3 class="text-content leading-snug text-xl xl:text-2xl font-semibold">Prioritize vulnerabilities according to risk</h3>
							</div>
							<div class="mt-5">
								<p class="text-base text-content2">Reduce critical vulnerabilities by 85% by focusing on what matters most with Qualys TruRisk transparent risk scoring.</p>
							</div>
							<div class="absolute bottom-5">
								<a href="/apps/vulnerability-management-detection-response/" class="text-primary-5 hover:text-primary-3 font-semibold">Learn More</a>
							</div>
						</div>
					</div>
					<div class="max-w-sm mx-auto sm:mx-0 sm:max-w-none bg-white relative pb-16 rounded-[10px] shadow-featuredBox bg-cover bg-no-repeat bg-center" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/bg-radial-3.png')">
						<div class="mt-5 px-7 pb-4">
					        <div class="w-14 h-16">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/features/q-platform.svg" width="76" />
							</div>
							<div class="sm:min-h-[55px] xl:min-h-[70px] pt-3">
								<h3 class="text-content leading-snug text-xl xl:text-2xl font-semibold">Remediate 60% faster with a unified platform</h3>
							</div>
							<div class="mt-5">
								<p class="text-base text-content2">Reduce MTTR by correlating vulnerabilities to available patches and leveraging remediation actions in a unified dashboard.</p>
							</div>
							<div class="absolute bottom-5">
								<a href="/apps/patch-management/" class="text-primary-5 hover:text-primary-3 font-semibold">Learn More</a>
							</div>
						</div>
					</div>
					<div class="max-w-sm mx-auto sm:mx-0 sm:max-w-none bg-white relative pb-16 rounded-[10px] shadow-featuredBox bg-cover bg-no-repeat bg-center" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/bg-radial-4.png')">
						<div class="mt-5 px-7 pb-4">
					        <div class="w-14 h-16">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/1.svg" width="64" />
							</div>
							<div class="sm:min-h-[55px] xl:min-h-[70px] pt-3">
								<h3 class="text-content leading-snug text-xl xl:text-2xl font-semibold">Optimize and operationalize IT security workflows</h3>
							</div>
							<div class="mt-5">
								<p class="text-base text-content2">Pinpoint your most critical IT security threats, prioritize patching, and align IT and Security teams.</p>
							</div>
							<div class="absolute bottom-5">
								<a href="/apps/threat-protection/" class="text-primary-5 hover:text-primary-3 font-semibold">Learn More</a>
							</div>
						</div>
					</div>
					<div class="max-w-sm mx-auto sm:mx-0 sm:max-w-none bg-white relative pb-16 rounded-[10px] shadow-featuredBox bg-cover bg-no-repeat bg-center" style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/bg-radial-5.png')">
						<div class="mt-5 px-7 pb-4">
					        <div class="w-14 h-16">
								<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/features/lower-costs.svg" width="64" />
							</div>
							<div class="sm:min-h-[55px] xl:min-h-[70px] pt-3">
								<h3 class="text-content leading-snug text-xl xl:text-2xl font-semibold">Always be audit-ready</h3>
							</div>
							<div class="mt-5">
								<p class="text-base text-content2">Stay compliant while reducing risk with 850 out-of-the-box policies, 19,000 controls, 350 technologies, and 100 regulations and frameworks.</p>
							</div>
							<div class="absolute bottom-5">
								<a href="/solutions/compliance/" class="text-primary-5 hover:text-primary-3 font-semibold">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="font-montserrat bg-blueGradient overflow-hidden border-b-2 border-white">
	<div class="q-wrapper bg-sheild bg-center bg-no-repeat bg-cover">
		<div class="md:pb-20 grid md:grid-cols-3 gap-10 items-center">
			<div class="col-span-1 md:col-span-2">
				<div class="pt-20 text-white">
					<h2 class="text-4xl font-medium">Real Value. Real ROI.</h2>
					<h3 class="text-xl lg:text-2xl mt-5 font-normal max-w-xl">Deliver up to 403% ROI with a unified platform approach to de-risk your business.</h3>
					<div class="grid grid-cols-3 md:gap-4 lg:gap-16 mt-20">
						<div>
							<h3 class="text-3xl lg:text-4xl xl:text-5xl font-semibold">403%</h3>
							<p class="text-base lg:text-xl mt-2">ROI over 3 years</p>
						</div>
						<div>
							<h3 class="text-3xl lg:text-4xl xl:text-5xl font-semibold">5-Month</h3>
							<p class="text-base lg:text-xl mt-2">payback period</p>
						</div>
						<div>
							<h3 class="text-3xl lg:text-4xl xl:text-5xl font-semibold">$5.1M</h3>
							<p class="text-base lg:text-xl mt-2">in Benefits</p>
						</div>
					</div>
					<ul class="flex flex-col gap-5 max-w-lg text-lg xl:text-[22px] font-normal text-[#E0E4EA] mt-10">
						<li>Streamline workflows with a single agent and platform approach, reducing time spent eliminating risk.</li>
						<li>Lower TCO by consolidating point solutions to measure, communicate, and eliminate risk.</li>
						<li>Achieve a five-month payback period on their initial investment.</li>
					</ul>
					<div class="max-w-fit text-left mt-16">
						<a href="/forms/whitepapers/transform-cybersecurity-from-cost-center-to-business-driver/?utm_source&#x3D;qualys&amp;utm_medium&#x3D;website-home-page&amp;utm_campaign&#x3D;idcwhitepaper" class="py-4 px-5 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
							<span class="text-balance-1 text-sm font-semibold leading-none">Read Now</span>
						</a>				</div>
				</div>
			</div>
			<div class="col-span-1">
				<div class="h-60 md:h-auto overflow-hidden md:overflow-visible">
					<img src="https://q-website-images.s3.amazonaws.com/www/image/home/idc-report-tablet.png" width="555" class="ml-auto mr-0 md:mx-0 md:max-w-none rotate-[11deg]" alt="IDC The Business Value of Qualys"/>
				</div>
			</div>
		</div>
	</div></div>

<div class="font-montserrat bg-bg1 relative">
	<div class="q-wrapper relative z-[3]">
		<div class="pt-14 pb-14">

			<h2 class="text-left text-white text-2xl md:text-3xl xl:text-4xl max-w-6xl font-medium !leading-snug">
				The majority of the Forbes Global 100 and Fortune 100 trust the Enterprise TruRisk Platform to measure, communicate, and eliminate cyber risk
			</h2>

			<div class="pt-10 xl:pt-28">
				<div class="overflow-hidden js-testimonial-container">
					<div class="swiper-wrapper">
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										A simple, consolidated view of security threats across our environment.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/success-stories/logo-pacific-dental.svg" class="q-inverse-logo" width="140" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Nemi George</h4>
									<span class="font-normal text-lg lg:text-[22px]">VP &amp; CISO</span>
								</div>
							</div>
						</div>
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										The Qualys Cloud Platform simplifies the complexity associated with managing multiple security solutions, while at the same time increasing the automation, effectiveness and proactive nature of security.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/cisco-white.svg" class="q-inverse-logo" width="110" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Robert Ayoub</h4>
									<span class="font-normal text-lg lg:text-[22px]">Research Director, Security Products</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="relative w-full pt-10">
					<div class="swiper-pagination js-testimonial-swiper-pagination q-testimonial-slides-page relative top-0"></div>
					<div class="xl:mt-0 xl:absolute right-0 z-10 xl:bottom-0 text-center xl:text-left">
						<a href="/customers/#success-stories" class="text-white hover:text-slate-400 transition-colors text-[20px] max-w-fit mx-auto xl:mx-0">More Success Stories</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="bg-[#003570] opacity-60 absolute z-[2] w-full h-full left-0 top-0"></div>
	<div class="absolute w-full h-full left-0 top-0 z-[1] mix-blend-lighten">
		<video src="" autoplay playsinline muted id="q_testimonial_video_bg" class="object-cover w-full h-full"></video>
	</div>
</div>


	</main><!-- main wrapper -->

	
<div class="bg-[#F3F5F8] font-montserrat">
	<div class="q-wrapper">
		<div class="pt-10 md:pt-20 pb-20 md:pb-28">
			<div class="mx-auto w-28">
				<svg viewBox="0 0 115 92" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_2239_64600)">
				<path d="M0 52.8827L57.4668 18.0703L115 52.8827L57.5111 88.0172L0 52.8827Z" fill="#CBDEED"/>
				<path d="M0 52.9102V56.5605L57.4668 91.346L115 56.5605V52.9102L57.5111 88.0178L0 52.9102Z" fill="#9BC0E0"/>
				<path d="M0 43.8085L57.4668 8.99609L115 43.8085L57.5111 78.9429L0 43.8085Z" fill="#CBDEED"/>
				<path d="M0 43.8359V47.4863L57.4668 82.2718L115 47.4863V43.8359L57.5111 78.9436L0 43.8359Z" fill="#9BC0E0"/>
				<path d="M0 35.4608L57.4668 0.648438L115 35.4608L57.5111 70.5953L0 35.4608Z" fill="#CBDEED"/>
				<path d="M0 35.4883V39.1386L57.4668 73.9241L115 39.1386V35.4883L57.5111 70.5959L0 35.4883Z" fill="#9BC0E0"/>
				<path d="M57.5078 50.5187V53.9543C57.5078 53.9543 69.6212 50.3845 74.9804 44.238C74.9804 44.238 77.0177 42.0102 77.5492 39.675C77.5492 39.675 78.3021 36.4273 78.0586 32.1328C78.0586 32.1328 77.3942 38.7893 73.4081 41.9833C73.4081 41.9833 68.514 46.922 57.5078 50.5187Z" fill="#BC2222"/>
				<path d="M57.5133 50.5187V53.9543C57.5133 53.9543 45.3999 50.3845 40.0408 44.238C40.0408 44.238 38.0034 42.0102 37.4719 39.675C37.4719 39.675 36.719 36.4273 36.9626 32.1328C36.9626 32.1328 37.6269 38.7893 41.6131 41.9833C41.6131 41.9833 46.485 46.922 57.5133 50.5187Z" fill="#A52121"/>
				<path d="M57.5087 20.9141C71.2166 20.9141 77.6165 25.2086 77.6165 25.2086C77.6165 25.2086 78.7459 32.6971 77.4172 36.8843C77.4172 36.8843 75.6235 44.507 57.5087 50.5193C39.3939 44.507 37.6002 36.8843 37.6002 36.8843C36.2715 32.6971 37.4009 25.2086 37.4009 25.2086C37.4009 25.2086 43.7787 20.9141 57.5087 20.9141Z" fill="#ED2E26"/>
				<path d="M60.7634 39.5145C60.7634 39.5145 62.8894 40.2391 66.7648 40.4539C66.7648 40.4539 69.9315 39.2192 71.4374 36.6425C71.4374 36.6425 73.962 33.2069 70.8616 29.5297C70.8616 29.5297 68.9793 26.792 64.1738 25.4231C64.1738 25.4231 60.9627 24.2689 56.0908 24.4837C56.0908 24.4837 51.3517 24.6715 47.742 26.6041C47.742 26.6041 42.4936 28.9124 42.4936 33.529C42.4936 33.529 42.3608 36.2667 44.6417 38.4677C44.6417 38.4677 46.967 41.098 51.9053 42.7085C51.9053 42.7085 53.987 43.4869 57.4416 44.1847C57.4416 44.1847 61.2285 44.8826 63.6423 45.0705C63.6423 45.0705 66.1447 44.0774 68.0713 42.5474C68.0713 42.5474 62.8672 42.1448 59.8112 41.5275C59.8112 41.5275 55.3821 40.8028 52.459 39.4339C52.459 39.4339 48.7607 37.9577 47.7642 35.3273C47.7642 35.3273 46.1033 31.5964 50.7981 29.0197C50.7981 29.0197 53.4112 27.4361 57.4859 27.4361C57.4859 27.4361 61.2728 27.1946 64.6388 29.2613C64.6388 29.2613 67.4956 30.8986 67.4956 33.529C67.4513 33.529 67.7613 36.8841 60.7634 39.5145Z" fill="#F7FAFC"/>
				</g>
				<defs>
				<clipPath id="clip0_2239_64600">
				<rect width="115" height="90.6947" fill="white" transform="translate(0 0.648438)"/>
				</clipPath>
				</defs>
				</svg>	</div>
			<h2 class="text-2xl md:text-3xl xl:text-4xl text-content text-center max-w-3xl mx-auto mt-12 !leading-snug">De-risk your business. Try the Enterprise TruRisk Platform for free.</h2>
			<p class="text-lg md:text-xl lg:text-[22px] text-content font-normal mt-10 md:mt-16 text-center max-w-5xl mx-auto">
				No software to download or install. Seamlessly deploy Cloud Agents and add users to measure, communicate, and eliminate cyber risk across the extended enterprise.
			</p>
			<div class="max-w-fit mt-12 lg:mt-20 mx-auto">
				<a href="/free-trial/" class="py-4 px-5 min-w-[193px] h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
					<span class="text-balance-1 text-sm font-semibold leading-none">Start Free Trial</span>
				</a>	</div>
		</div>	</div>
</div>



		{% include "src/_includes/footer-chaitrali.njk" %}
	<nav class="q-mobile-menu js-mobile-menu" role="mobile-navigation" id="q-mobile-menu">
		<div class="bg-white h-full overflow-x-hidden overflow-y-auto">
			<ul class="mobile_menu">
				<li class="topLevel">
					<div class="flex items-center justify-between">
						<div>
							<a href="/">
								<img src="https://ik.imagekit.io/qualys/image/logo/qualys.svg" width="100" />
							</a>
						</div>
						<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
							<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>			</button>
					</div>
				</li>
				<li class="mt-9 mb-8">
					<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
				</li>	<li>
					<a href="javascript:void(0)">Platform</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Platform</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Overview</span>
						</li>
						<li>
							<a href="/cloud-platform/">Enterprise TruRisk Platform</a>
							<p class="text-sm text-balance-6 max-w-xs mb-8 tracking-wide">Everything you need to measure, manage, and reduce your cyber risk in one place.</p>
						</li>
						<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Capabilities</span>
						</li>
						<li>
							<a href="javascript:void(0)">All</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-av text-product-av">Asset Management</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/" class="  q-megamenu-platform-item" >CyberSecurity Asset Management (CSAM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/#easm" class="  q-megamenu-platform-item" >External Attack Surface Management (EASM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
											</div>
										</div>					</li>
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-vm text-product-vm">Vulnerability & Configuration Management</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/vulnerability-management-detection-response/" class="  q-megamenu-platform-item" >Vulnerability Management, Detection &amp; Response (VMDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/beta-signup/enterprise-trurisk-management/" class="  q-megamenu-platform-item" >Enterprise TruRisk Management (ETM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Consolidate &amp; translate security &amp; vulnerability findings from 3rd party tools</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/web-app-scanning/" class="  q-megamenu-platform-item" >Web App Scanning (WAS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate scanning in CI/CD environments with shift left DAST testing</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-rr text-product-rr">Risk Remediation</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/patch-management/" class="  q-megamenu-platform-item" >Patch Management (PM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Efficiently remediate vulnerabilities and patch systems</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/custom-assessment-remediation/" class="  q-megamenu-platform-item" >Custom Assessment and Remediation (CAR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-td text-product-td">Threat Detection & Response</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Multi-Vector EDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Context XDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cp text-product-cp">Compliance</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/policy-compliance/" class="  q-megamenu-platform-item" >Policy Compliance</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce risk, and comply with internal policies and external regulations with ease</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/file-integrity-monitoring/" class="  q-megamenu-platform-item" >File Integrity Monitoring (FIM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cs text-product-cs">Cloud Security</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/totalcloud/" class="  q-megamenu-platform-item" >TotalCloud (CNAPP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-security-posture-management/" class="  q-megamenu-platform-item" >Cloud Security Posture Management (CSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/infrastructure-as-code-security/" class="  q-megamenu-platform-item" >Infrastructure as Code Security (IaC)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect and remediate security issues within IaC templates</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/saas-security-posture-management/" class="  q-megamenu-platform-item" >SaaS Security Posture Management (SSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate the process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-detection-response/" class="  q-megamenu-platform-item" >Cloud Detection and Response (CDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/container-security/" class="  q-megamenu-platform-item" >Kubernetes and Container Security (KCS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, track, and continuously secure containers – from build to runtime</p>
											</div>
										</div>					</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">Asset Management</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-av text-product-av">Asset Management</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/" class="  q-megamenu-platform-item" >CyberSecurity Asset Management (CSAM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/#easm" class="  q-megamenu-platform-item" >External Attack Surface Management (EASM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
											</div>
										</div>					</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">Vulnerability & Configuration Management</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-vm text-product-vm">Vulnerability & Configuration Management</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/vulnerability-management-detection-response/" class="  q-megamenu-platform-item" >Vulnerability Management, Detection &amp; Response (VMDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/beta-signup/enterprise-trurisk-management/" class="  q-megamenu-platform-item" >Enterprise TruRisk Management (ETM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Consolidate &amp; translate security &amp; vulnerability findings from 3rd party tools</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/web-app-scanning/" class="  q-megamenu-platform-item" >Web App Scanning (WAS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate scanning in CI/CD environments with shift left DAST testing</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
			
						<li>
							<a href="javascript:void(0)">Risk Remediation</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-rr text-product-rr">Risk Remediation</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/patch-management/" class="  q-megamenu-platform-item" >Patch Management (PM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Efficiently remediate vulnerabilities and patch systems</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/custom-assessment-remediation/" class="  q-megamenu-platform-item" >Custom Assessment and Remediation (CAR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Threat Detection & Response</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-td text-product-td">Threat Detection & Response</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Multi-Vector EDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Context XDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Compliance</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cp text-product-cp">Compliance</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/policy-compliance/" class="  q-megamenu-platform-item" >Policy Compliance</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce risk, and comply with internal policies and external regulations with ease</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/file-integrity-monitoring/" class="  q-megamenu-platform-item" >File Integrity Monitoring (FIM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Cloud Security</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cs text-product-cs">Cloud Security</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/totalcloud/" class="  q-megamenu-platform-item" >TotalCloud (CNAPP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-security-posture-management/" class="  q-megamenu-platform-item" >Cloud Security Posture Management (CSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/infrastructure-as-code-security/" class="  q-megamenu-platform-item" >Infrastructure as Code Security (IaC)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect and remediate security issues within IaC templates</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/saas-security-posture-management/" class="  q-megamenu-platform-item" >SaaS Security Posture Management (SSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate the process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-detection-response/" class="  q-megamenu-platform-item" >Cloud Detection and Response (CDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/container-security/" class="  q-megamenu-platform-item" >Kubernetes and Container Security (KCS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, track, and continuously secure containers – from build to runtime</p>
											</div>
										</div>					</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Solutions</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Solutions</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Use Cases</span>
						</li>
							<li>
								<a href="/solutions/endpoint/">Endpoint Security</a>
							</li>
							<li>
								<a href="/solutions/compliance/">Compliance</a>
							</li>
							<li>
								<a href="/solutions/pci-compliance/">PCI Compliance</a>
							</li>
							<li>
								<a href="/apps/totalcloud/">Cloud Security</a>
							</li>
							<li>
								<a href="/solutions/devops/">DevOps</a>
							</li>
							<li>
								<a href="/solutions/threat-protection/">Threat Protection</a>
							</li>
							<li>
								<a href="/solutions/software-supply-chain-risk/">Software Supply Chain Risk</a>
							</li>
							<li>
								<a href="/solutions/attack-surface-management/">Attack Surface Management</a>
							</li>
							<li>
								<a href="/solutions/nis2/">NIS2</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-5">
							<span class="block py-2 text-balance-8 text-base">Segments</span>
						</li>
							<li>
								<a href="/subscriptions/smb/">Small Business</a>
							</li>
							<li>
								<a href="/subscriptions/sme/">Mid-Sized Business</a>
							</li>
							<li>
								<a href="/subscriptions/enterprise/">Enterprise</a>
							</li>
							<li>
								<a href="/subscriptions/government/">Federal</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Customers</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Customers</span>
						</li>
							<li>
								<a href="/customers/">Overview</a>
							</li>
							<li>
								<a href="/customers/#best-practices/">Best Practices</a>
							</li>
							<li>
								<a href="/customers/#success-stories/">Success Stories</a>
							</li>
							<li>
								<a href="/customers/#testimonials/">Testimonials</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Resources</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Resources</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Resources</span>
						</li>
							<li>
								<a href="/resources/">Resources Library</a>
							</li>
							<li>
								<a href="https://blog.qualys.com/">Blog</a>
							</li>
							<li>
								<a href="/webinars/">Webinars</a>
							</li>
							<li>
								<a href="/stream/">Qualys Stream</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-5">
							<span class="block py-2 text-balance-8 text-base">Research</span>
						</li>
							<li>
								<a href="/tru/">Threat Research Unit</a>
							</li>
							<li>
								<a href="/research/security-alerts/">Security Alerts</a>
							</li>
							<li>
								<a href="/research/security-advisories/">Security Advisories</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Support</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Support</span>
						</li>
							<li>
								<a href="https://success.qualys.com/customersupport/">Support Portal</a>
							</li>
							<li>
								<a href="/training/">Free Training</a>
							</li>
							<li>
								<a href="/documentation/">Documentation</a>
							</li>
							<li>
								<a href="https://success.qualys.com/discussions/s/">Community Discussions</a>
							</li>
							<li>
								<a href="https://success.qualys.com/support/s/">Knowledgebase</a>
							</li>
							<li>
								<a href="/documentation/release-notes/">Release Notes</a>
							</li>
							<li>
								<a href="https://notifications.qualys.com/">Release Notifications</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">More</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">More</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2 mt-4">
							<span class="block py-2 text-balance-8 text-base">Partners</span>
						</li>
							<li>
								<a href="/partners/">Overview</a>
							</li>
							<li>
								<a href="/partners/program/">Partner Program</a>
							</li>
							<li>
								<a href="/partners/vad/">VAD Partners</a>
							</li>
							<li>
								<a href="/partners/var/">VAR Resellers</a>
							</li>
							<li>
								<a href="/partners/mssp/">MSP/MSSP Partners</a>
							</li>
							<li>
								<a href="/partners/integration/">Integration Partners</a>
							</li>
							<li>
								<a href="/partners/faq/">Partner FAQs</a>
							</li>
							<li>
								<a href="/partners/find/">Find Partner</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-4">
							<span class="block py-2 text-balance-8 text-base">Company</span>
						</li>
							<li>
								<a href="/company/">About Us</a>
							</li>
							<li>
								<a href="/company/management/">Our Team</a>
							</li>
							<li>
								<a href="https://investor.qualys.com/">Investor Relations</a>
							</li>
							<li>
								<a href="/company/newsroom/">News</a>
							</li>
							<li>
								<a href="/customers/awards/">Awards</a>
							</li>
							<li>
								<a href="/company/events/">Events</a>
							</li>
							<li>
								<a href="/careers/">Careers</a>
							</li>
					</ul>
				</li>
				<li>
					<hr class="pb-3 mt-3" />
				</li>
				<li>
					<a href="javascript:void(0)">Community</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Community</span>
						</li>
							<li>
								<a href="https://community.qualys.com/">Overview</a>
							</li>
							<li>
								<a href="https://success.qualys.com/discussions/s/">Discuss</a>
							</li>
							<li>
								<a href="https://blog.qualys.com/">Blog</a>
							</li>
							<li>
								<a href="/training/">Training</a>
							</li>
							<li>
								<a href="/documentation/">Docs</a>
							</li>
							<li>
								<a href="/resources/">Resources</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Login</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Login</span>
						</li>
							<li>
								<a href="https://qualysguard.qualys.com/">US Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
							</li>
							<li>
								<a href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
							</li>
							<li>
								<a href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qualys.eu/">EU Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
							</li>
							<li>
								<a href="https://pci.qualys.com/">PCI Platform</a>
							</li>
						<li class="mt-5">
							<a href="https://www.qualys.com/platform-identification/" class="block rounded-full bg-primary-1 !text-primary-4 px-5 py-4 text-center">What’s my Platform?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Contact Us</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Contact Us</span>
						</li>
							<li>
								<a href="javascript:void(0)" class="drift-open-chat">Chat with Us</a>
							</li>
							<li>
								<a href="https://www.qualys.com/forms/schedule-demo/" >Schedule a Demo</a>
							</li>
							<li>
								<a href="tel:+18007454355" >+1800 745 4355</a>
							</li>
							<li>
								<a href="/forms/request-a-call/" >Request a call or Email</a>
							</li>
							<li>
								<a href="/company/contacts/#headquarters" >Global Offices with Contacts</a>
							</li>
					</ul>
				</li>
				<li class="mt-14">
					<a href="/free-trial/" class="bg-primary-4 rounded-full p-4 text-center">
						<span class="text-white leading-relaxed text-sm font-semibold">Try Now</span>
					</a>
				</li>
			</ul>		</div>
	</nav>
	<div class="q-mobile-menu-overlay"></div>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>			<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.umd.min.js"></script>
		<script src="/asset/script/mobile-menu-2024.js"></script>
		<script src="/asset/script/global-scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>

</body>
</html>
