.q-release-notes__list li {
	line-height: 1.625;
	margin-bottom: 0.75em;
}
.q-release-notes__list li img {
	height: 1.625em;
	vertical-align: bottom;
	width: 1.625em;
}
.q-body {
	font-family: Gotham, sans-serif;
}
.q-section {
	margin: 1em 0;
}

.q-section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.category-header {
	font-size: calc(26 / 16 * 1rem);
	letter-spacing: calc(-0.3 / 26 * 1em);
	line-height: calc(38 / 26);
	color: #1D2737;
	font-weight: 400;
	margin: calc(26 / 16 * 1rem) 0;
}
li.releasenotes-item {
	line-height: 1.625;
	margin-bottom: 0.75em;
	list-style: disc;
	margin-left: 18px;
}
li.releasenotes-item img {
	height: 1.625em;
	vertical-align: bottom;
	width: 1.625em;
}
li.releasenotes-item span {
	margin-left: 10px;
}
li.releasenotes-item span img {
	margin-right: 4px;
}

.filter-form label {
	margin: 0 10px 10px 0;
	display: inline-flex;
	align-content: center;
	line-height: 1.45em;
	cursor: pointer;
	-webkit-user-select: none;
	font-size: 15px;
	align-items: flex-start;
	vertical-align: top;
}
.filter-form label input {
	margin: 5px 10px 0 0;
}
.release-notes-header .filter-handle {
	margin: 7px 0 0 30px;
	font-weight: 500;
	text-decoration: none;
}
.filter-handle .chevron {
	display: block;
	width: 14px;
	height: 14px;
	float: right;
	margin: 4px 0 0 10px;
	line-height: 1;
	transition: transform 0.65s;
	transform-origin: center;
}
.filter-handle .chevron svg {
	width: 12px;
	height: auto;
}
.filter-handle .chevron svg path {
	stroke: #333333;
}
.filter-handle.open .chevron {
	transform: rotate(180deg);
}
.filters-clear {
	display: none;
}
.filter-form {
	display: none;
	box-shadow: 0 0 10px -4px rgba(0,0,0,0.15);
	padding: 20px 0;
}
.filter-open .filter-form {
	display: block;
}
.filter-form > .filter-container {
	display: flex;
	flex-wrap: nowrap;
	padding: 0 20px;
	flex-direction: column;
	max-height: 310px;
	overflow-y: auto;
}
.filter-column h4 {
	margin: 0;
	font-size: 14px;
	position: relative;
	padding: 12px 0px;
}
.filter-column div.labels {
	display: flex;
	flex-direction: column;
}
.filter-sub-column {
	display: flex;
	flex-direction: column;
}
.filter-sub-column ~ .filter-sub-column {
	margin-top: 20px;
}

@media (min-width: 720px) {
	.filter-column {
		flex: 0 0 33.33%;
	}
	.filter-column.last-column {
		display: flex;
		flex-direction: row;
		flex: 1;
	}
	.filter-sub-column {
		width: 50%;
	}
	.filter-sub-column ~ .filter-sub-column {
		padding-left: 10px;
		margin-top: 0;
	}
	.filter-form > .filter-container {
		flex-direction: row;
		flex-wrap: wrap;
		max-height: unset;
		overflow-y: visible;
	}
}
@media (min-width: 1140px) {
	.filter-column {
		flex: 0 0 20%;
		margin-bottom: 0;
	}
	.filter-column.last-column {
		flex: 0 0 20%;
		flex-direction: column;
	}
	.filter-sub-column ~ .filter-sub-column {
		margin-top: 20px;
		flex: column;
		padding-left: 0;
	}
	.filter-sub-column {
		width: auto;
	}
}

/* Svelte CSS */

#desktop-header {
	display: none;
}

#mobile-header {
	display: block;
}

.q-body {
    margin-top: 0px;
}

.filter-column h4::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #6A778B;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 19px;
	transition: 0.5s ease all;
}

.filter-column h4.active::after {
	transform: rotate(180deg);
}

#release-notes-wrapper .q-heading-3 {
    margin-top: 0;
}

#filter-form {
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.15);
    padding: 20px 0;
}

#filter-form label {
    margin: 0 10px 10px 0;
    display: inline-flex;
    align-content: center;
    line-height: 1.45em;
    cursor: pointer;
    font-size: 15px;
    align-items: flex-start;
    vertical-align: top;
}

#filter-form label input {
    margin: 5px 10px 0 0;
}

#filter-form > .filter-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;
    flex-direction: column;
    overflow-y: auto;
}

@media (min-width: 991px) {
	#desktop-header {
		display: block;
	}
	#mobile-header {
		display: none;
	}
	.release-notes-header {
		margin-left: 3em;
	}
	.filter-section {
		width: 25%;
	}
	#release-notes-wrapper {
		display: flex;
	}
    #filter-form > .filter-container {
        flex-wrap: wrap;
        max-height: unset;
        overflow-y: visible;
    }
}
/*# sourceMappingURL=release-notes.css.map */