<!DOCTYPE html>
<html lang="en" class="legacy no-js mobile">
<head>
	<link href="https://cdnjs.cloudflare.com" rel="preconnect" crossorigin>
	<link href="https://d1uyme8f6ss6qi.cloudfront.net" rel="preconnect" crossorigin>
	<link href="https://cdn.rawgit.com" rel="preconnect" crossorigin>

	<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="NopSec Unified VRM provides Qualys customers with a vulnerability risk management and remediation solution.">
		<meta property="og:title" content="Vulnerability Risk Reduction and Remediation with Nopsec Integration | Qualys, Inc." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/partners/integration/nopsec/" />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="NopSec Unified VRM provides Qualys customers with a vulnerability risk management and remediation solution." />
		<meta name="twitter:card" content="summary" />
	<title>Vulnerability Risk Reduction and Remediation with the Nopsec Integration | Qualys</title>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/partners/integration/cybersponse/">
	<meta name="theme-color" content="#2E8BE0">

		<link rel="stylesheet" href="/asset/stylesheet/main.css">
	<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">

		<script async src="/asset/script/lazy-load-google-fonts.js"></script>
		<script async src="/asset/script/lazy-load-print-css.js"></script>


</head>
<body id="partners_solution-technology_integration_nopsec" class="partners solution-technology integration nopsec partners-solution-technology partners-solution-technology-integration partners-solution-technology-integration-nopsec locale-en-us preload-transition">


	
	{% include "src/_includes/header-ueno.njk" %}
	<div class="overlay-mask"></div>
	
	<div class="q-navigation-mobile">
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button js-menu">Close</button>
			</div>
			<div class="q-navigation-mobile-wrapper">
				<img class="q-hide-search" src="https://q-website-images.s3.amazonaws.com/www/image/icon/chevron-selectbox.svg">
				<ul class="q-navigation-mobile__list">
					<div class="q-navigation-mobile__link-container">
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Platform">Platform</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Solutions">Solutions</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Resources">Resources</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Customers">Customers</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Partners">Partners</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Support">Support</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Company">Company</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Community">Community</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Login">Login</span>
						</li>
						<li class="q-navigation-mobile__item">
							<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Contactus">Contact us</span>
						</li>
					</div>
					<div class="q-search-mobile">
						<div class="q-click-helper"></div>
						<li class="q-navigation-mobile__item ">
							<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
								<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#627281" d="M6.5 1.24a5.26 5.26 0 105.26 5.26A5.263 5.263 0 006.5 1.24M6.5 13A6.5 6.5 0 1113 6.5 6.513 6.513 0 016.5 13"/><path fill="#627281" d="M10.215 11.054l.824-.824 4.947 4.947-.824.824z"/></svg></button>
								<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
							</form>
						</li>
	
						<div class="q-search-links-mobile">
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-search-link--heading">Quick Links</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link"><a href="/resources/">Resources (guides, whitepapers, etc.)</a></span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link"><a href="/apps/">Qualys Cloud Apps</a></span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link"><a href="/company/newsroom/">News</a></span>
							</li
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link"><a href="/company/events/">Events Calendar</a></span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link"><a href="https://community.qualys.com">Qualys Community</a></span>
							</li>
						</div>
					</div>
					<li class="q-navigation-mobile__item free-trial">
						<span class="q-button" href="/free-trial/" data-target="try-it">Try it</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Cloud Platform">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Cloud Platform
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/cloud-platform/">Cloud Platform</a>
				</li>
			</ul>
		</div>
	
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Platform">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Platform
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
						Overview
					</h3>
				</li>
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/cloud-platform/">Enterprise TruRisk Platform</a>
					<p class="q-nav--description q-nav--description-b trurisk-desc">Everything you need to measure, manage, and reduce your cyber risk in one place</p>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/solutions-overview.svg" width="30" height="30" /></span>
							CAPABILITIES
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/cybersecurity-asset-management/" data-target="asset-management">Asset Management</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/vulnerability-management-detection-response/" data-target="vulnerability-configuration-management">Vulnerability & Configuration Management</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/patch-management/" data-target="risk-remediation">Risk Remediation</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/threat-protection/" data-target="threat-detection-response">Threat Detection & Response</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/solutions/compliance/" data-target="compliance">Compliance</a>
				</li>
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/totalcloud/" data-target="cloud-security">Cloud Security</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm">External Attack Surface Management (EASM) - <span class="q-nav__link--highlight">New</span></a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection & Response (VMDR) – <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM)<span class="q-navigation-mobile__link--highlight"> - New</span></a></a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response (CDR)</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
				</li>
			</ul>
	
		</div>
		<div class="q-navigation-mobile__panel" data-title="Solutions">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Solutions
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/business-need.svg" width="30" height="34" /></span>
						Use Cases
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/endpoint/">Endpoint Security</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/compliance/">Compliance</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/pci-compliance/">PCI Compliance</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/dora-compliance/">DORA Compliance</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Cloud Security</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/devops/">DevOps</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/threat-protection/">Threat Protection</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/solutions/nis2/">NIS2</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/organization.svg" width="30" height="34" /></span>
						Segments
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small Business</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/subscriptions/sme/">Mid-Sized Business</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/subscriptions/enterprise/">Enterprise</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/subscriptions/government/">Federal</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Resources">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Resources
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/resources/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-resources.svg" width="30" height="30" /></span>
						Resources
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/resources/">Resources Library</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/webinars/">Webinars</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/stream/">Qualys Stream</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-research.svg" width="31" height="28" /></span>
						Research
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/tru/">Threat Research Unit</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link"  href="/research/security-alerts/">Security Alerts</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link"  href="/research/security-advisories/">Security Advisories</a>
				</li>
			</ul>
	
		</div>
		<div class="q-navigation-mobile__panel" data-title="Customers">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Customers
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/customers/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/customers/#best-practices">Best Practices</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/customers/#success-stories">Success Stories</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/customers/#testimonials">Testimonials</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Partners">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Partners
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/program/">Partner Program</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/vad/">VAD Partners</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/var/">VAR Resellers</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/mssp/">MSP/MSSP Partners</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/integration/">Integration Partners</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/faq/">Partner FAQs</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/partners/find/">Find a Partner</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Community">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Community
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://community.qualys.com/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Discuss</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/documentation/">Docs</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/resources/">Resources</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Support">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Support
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/customersupport/">Support Portal</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/training/">Free Training</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/documentation/">Documentation</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Community Discussions</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/support/s/">Knowledgebase</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/documentation/release-notes/">Release Notes</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://notifications.qualys.com/">Release Notifications</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Company">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Company
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/company/">About Us</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/company/management/">Our Team</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://investor.qualys.com/">Investor Relations</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/company/newsroom/">News</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/customers/awards/">Awards</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/company/events/">Events</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/careers/">Careers</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Login">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Login
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.com/">US Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://pci.qualys.com/">PCI Platform</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.eu/">EU Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.it/">EU Platform 3</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://www.qualys.com/platform-identification/">What's my platform?</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="Contactus">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Contact us
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
				</li>
				 <li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link drift-open-chat">Chat With Us</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/forms/schedule-demo/">Schedule a Demo</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/forms/request-a-call/">Request a Call or Email</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/company/contacts/#headquarters">Global Offices and Contacts</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel" data-title="try-it">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Try it
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform.svg" width="30" height="30" /></span>
						Enterprise TruRisk Platform
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/free-trial/">Cloud Platform - Free Trial</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/free-services.svg" width="24" height="27" /></span>
						Free Services
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/global-assetview/">Global AssetView</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/community-edition/">Community Edition</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="https://www.ssllabs.com/">SSL Labs</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/certview/">CertView</a>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="asset-management">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Asset Management
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM) </a>
					<p class="q-nav--description q-nav--description-b">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm/">External Attack Surface Management (EASM) – <span class="q-navigation-mobile__link--highlight">New</span></a>
					<p class="q-nav--description q-nav--description-b asset-management">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="vulnerability-configuration-management">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Vulnerability & Configuration Management
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response (VMDR) - <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
					<p class="q-nav--description q-nav--description-b vulnerability-management">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM) - <span class="q-navigation-mobile__link--highlight">New</span></a>
					<p class="q-nav--description q-nav--description-b vulnerability-management">Consolidate & translate security & vulnerability findings from 3rd party tools</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a></span>
					<p class="q-nav--description q-nav--description-b vulnerability-management">Automate scanning in CI/CD environments with shift left DAST testing</p>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="risk-remediation">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Risk Remediation
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/apps/patch-management/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
					<p class="q-nav--description">Efficiently remediate vulnerabilities and patch systems</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
					<p class="q-nav--description">Quickly create custom scripts and controls for faster, more automated remediation</p>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="threat-detection-response">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Threat Detection & Response
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/apps/threat-protection/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
					<p class="q-nav--description q-nav--description-b threat-detection">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
					<p class="q-nav--description q-nav--description-b threat-detection">Extend detection and response beyond the endpoint to the enterprise</p>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="compliance">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Compliance
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/solutions/compliance/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
					<p class="q-nav--description q-nav--description-b compliance">Reduce risk, and comply with internal policies and external regulations with ease</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
					<p class="q-nav--description q-nav--description-b compliance">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
				</li>
			</ul>
		</div>
		<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="cloud-security">
			<div class="q-navigation-mobile__header">
				<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
				<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
					Cloud Security
				</div>
			</div>
			<ul class="q-navigation-mobile__list">
				<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
					<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Overview</a>
				</li>
				<li class="q-navigation-mobile__item">
					<h3 class="q-navigation-mobile__appheading">
						<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
						Platform Apps
					</h3>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Detect and remediate security issues within IaC templates</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
					<p class="q-nav--description q-nav--description-b cloud-security">Manage your security posture and risk across your entire SaaS application stack</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
				</li>
				<li class="q-navigation-mobile__item">
					<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection and Response (CDR)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
				</li>
				<li class="q-navigation-mobile__item" data-category="solutions-vulnerability-management">
					<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="search-panel-wrapper">
		<a class="close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="50"><style>.circle-x { fill: none; stroke-miterlimit: 10; stroke-width: 6; stroke: #10436c; }</style><path class="circle-x" d="M71.2 71.2l-42.4-42.4m0 42.4l42.4-42.4"></path></svg></a>
		<form action="/company/search/" method="get" accept-charset="utf-8" class="search-panel">
			<strong>Search</strong>
			<div class="search"><input type="text" name="q" placeholder="Search qualys.com" /></div>
		</form>
		<p class="resources"><a href="/resources/#en" class="arrow-right">See Resources</a></p>
	</div>
	<div class="search-panel-overlay"></div>
	<div class="mobile-header js-position-sticky">
		<div class="hamburger-menu">
			<a class="patties">
				<div class="patty-container">
					<div class="line first"></div>
					<div class="line"></div>
					<div class="line last"></div>
				</div>
				<div class="x-container hidden">
					<svg class="x" xmlns="http://www.w3.org/2000/svg" viewBox="170.7 260.6 270.6 270.7" enable-background="new 170.7 260.6 270.6 270.7">
						<path d="M224.8 531.2l-54.1-54.2 81.2-81.2-81.2-81.2 54.1-54.1 81.2 81.2 81.2-81.2 54 54.1-81 81.3 81.2 81.2-54 54.1-81.4-81.2-81.2 81.2z"/>
					</svg>
				</div>
			</a>
		</div>
		<a href="/"><img class="qualys-logo" src="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-horizontal.svg" width="52%" height="52%" alt="Qualys - Network Security and Vulnerability Management" /></a>
		<a href="https://www.qualys.com/platform-identification/" class="login">
			<div class="login-dude">Login</div>
		</a>
	</div>
	<div class="mobile-nav">
		<div class="solutions menu has-sub-menu">
			<h2>Solutions <span class="plus">+</span></h2>
			<div class="container hidden">
				<div class="cloud-suite">
					<h3><a href="/suite/">Qualys Solutions</a></h3>
					<ul class="category">
						<li><a href="/asset-discovery/">Asset Discovery</a>
							<ul class="products">
								<li><a href="/suite/assetview/">AssetView</a></li>
							</ul>
						</li>
						<li><a href="/network-security/">Network Security</a>
							<ul class="products">
								<li><a href="/suite/vulnerability-management/">Vulnerability Management</a></li>
								<li><a href="/suite/continuous-monitoring/">Continuous Monitoring</a></li>
							</ul>
						</li>
						<li><a href="/threat-protection/">Threat Protection</a>
							<ul class="products">
								<li><a href="/suite/threatprotect/">ThreatPROTECT</a></li>
							</ul>
						</li>
						<li><a href="/compliance-monitoring/">Compliance Monitoring</a>
							<ul class="products">
								<li><a href="/suite/policy-compliance/">Policy Compliance</a></li>
								<li><a href="/suite/security-assessment-questionnaire/">Security Assessment Questionnaire</a></li>
								<li><a href="/suite/pci-compliance/">PCI Compliance</a></li>
							</ul>
						</li>
						<li><a href="/web-application-security/">Web Application Security</a>
							<ul class="products">
								<li><a href="/suite/web-application-scanning/">Web Application Scanning</a></li>
								<li><a href="/suite/web-application-firewall/">Web Application Firewall</a></li>
								<li><a href="/suite/malware-detection/">Malware Detection</a></li>
								<li><a href="/suite/secure-seal/">SECURE Seal</a></li>
							</ul>
						</li>
						<li>Freemium Services
							<ul class="products">
								<li><a href="/forms/freescan/">FreeScan</a></li>
								<li><a href="/free-tools-trials/browsercheck/">BrowserCheck</a></li>
								<li><a href="https://www.ssllabs.com/ssltest/">SSL Labs</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="subscription-packages last">
					<h3><a href="/subscriptions/">Subscription Packages</a></h3>
					<ul>
						<li><a href="/subscriptions/enterprise/"><strong>Enterprise</strong> for Global Organizations</a></li>
						<li><a href="/subscriptions/express/"><strong>Express</strong> for SMEs</a></li>
						<li><a href="/subscriptions/express-lite/"><strong>Express Lite</strong> for SMBs</a></li>
						<li><a href="/subscriptions/consultants/"><strong>Consultant</strong> for Auditors &amp; Consultants</a></li>
						<li><a href="/subscriptions/private-cloud-platform/"><strong>Private Cloud Platform</strong> for MSSPs, Enterprises &amp; Government Agencies</a></li>
						<li><a href="/docs/pcp-private-cloud-appliance-datasheet.pdf"><strong>Private Cloud Platform Appliance</strong> for SMEs</a></li>
						<li><a href="/subscriptions/" class="which-is-best"><span class="label">Which is best for me ?</span></a></li>
						<li>&nbsp;</li>
						<li><a href="/resources/"><b>Resources:</b> Analyst Reports, Whitepapers...</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="technology menu has-sub-menu">
			<h2>Platform <span class="plus">+</span></h2>
			<div class="container hidden">
				<ul>
					<li><a href="/security-compliance-cloud-platform/">Enterprise TruRisk Platform</a></li>
					<li><a href="/scanning-accuracy/">Qualys Scanning Accuracy</a></li>
					<li><a href="/research/">Qualys Research &amp; Development</a></li>
				</ul>
			</div>
		</div>
		<div class="customers menu">
			<a href="/customers/"><h2>Customers</h2></a>
		</div>
		<div class="partners menu has-sub-menu">
			<h2>Partners <span class="plus">+</span></h2>
			<div class="container hidden">
				<ul>
					<li><a href="/partners/">Overview</a></li>
					<li><a href="/partners/mssp/">MSSP Partners</a></li>
					<li><a href="/partners/vas/">VAS Resellers</a></li>
					<li><a href="/subscriptions/consultants/">Consultants and auditors</a></li>
					<li><a href="/partners/pci/">PCI Partners</a></li>
					<li><a href="/partners/integration/">Solution/Technology Partners</a></li>
				</ul>
			</div>
		</div>
		<div class="about menu has-sub-menu">
			<h2>About</a> <span class="plus">+</span></h2>
			<div class="container hidden">
				<div class="company">
					<h3>Company</h3>
					<ul>
						<li><a href="/company/">Overview</a></li>
						<li><a href="/why-qualys/">Why Choose Qualys</a></li>
						<li><a href="/company/management/">Management</a></li>
						<li><a href="/company/board-of-directors/">Board of Directors</a></li>
						<li><a href="https://investor.qualys.com/">Investor Relations</a></li>
						<li><a href="/careers/">Careers</a></li>
						<li><a href="/company/contacts/">Contacts</a></li>
					</ul>
				</div>
				<div class="cloud-suite last">
					<h3>News &amp; Events</h3>
					<ul>
						<li><a href="/company/newsroom/">Newsroom</a></li>
						<li><a href="/research/security-alerts/">Security Alerts</a></li>
						<li><a href="/company/events/">Events Calendar</a></li>
						<li><a href="https://community.qualys.com/blogs">Qualys Blogs</a></li>
						<li><a href="/customers/awards/">Awards</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="training menu">
			<a href="/support/"><h2>Training &amp; Support</h2></a>
		</div>
		<div class="community menu">
			<a href="https://community.qualys.com/"><h2>Community</h2></a>
		</div>
		<div class="search menu">
			<a href="/company/search/"><h2>Search</h2></a>
		</div>
		<div class="grayspace"></div>
	</div>
	
<div class="full-width" id="content">
	<div class="section banner">
		<div class="container">
			<h1>
				Vulnerability Management With CyberSponse
			</h1>

			<div class="nopsec partner">
				<img alt="Nopsec" class="nopsec" height="70" src="https://q-website-images.s3.amazonaws.com/www/image/logo/cybersponse.png" width="230">
				<p>
					Qualys Technology
					<br>
					Partner
				</p>
			</div>
		</div>
	</div>

	<div class="section description">
		<div class="side-bar">
			<h3>
				About CyberSponse
			</h3>

			<div class="text">
				<p>
					CyberSponse provides a comprehensive Vulnerability management solution that enables security teams to integrate and leverage the vulnerability related data to enrich the threat investigations and also proactively ensure the safety of network assets.
				</p>
				<a class="button-type2 free-trial" href="https://cybersponse.com/">Learn More</a>
			</div>
		</div>

		<h2>
			CyberSponse integrates with most Vulnerability solutions like Nexpose, Qualys, Tenable, Threadfix, Nessus and multiple others. Through dedicated workflow to leverage the vulnerability, scan and asset data, following common use cases can be put in practice -
		</h2>

		<h3 class="feature">
			#1: Ensure Critical Asset’s Safety and Health:
		</h3>

		<ol class="feature-list">
			<li>Vulnerability scanners feed in data to CyberSponse through the integrations available. De-duplication of same vulnerability data is checked. Multiple scanners can be integrated at the same time.</li>
			<li>Vulnerabilities are stored with all their metadata like CVE, CVSS, Category, Risk Score, Severity, Signature, Asset information etc.</li>
			<li>CyberSponse’s Asset module, which stores the critical asset inventory adds in more information about the asset if needed.</li>
			<li>Based on the vulnerability risk score and severity, <b>EDR tools like Symantec ATP, Carbon Black, Tanium</b> etc., which integrate with CyberSponse, are autotriggered (or manually) against the critical assets to get a comprehensive report.</li>
			<li>If needed, <b>remote isolation of the affected assets</b> can be performed through <b>Symantec ATP, SEPM, Carbon Black</b> integrations from the CyberSponse console for verification and patch management.</li>
			<li>A scan is remotely triggered from the CyOPs console, to verify the patch. The scan data is attached to the asset as correlated information.</li>
			<li>Complete investigation is auto-logged for later reference.</li>
		</ol>

		<h3 class="feature">
			#2: Pro-active Vulnerability Management:
		</h3>

		<ol class="feature-list">
			<li>Commonly known vulnerability information arrives into CyberSponse through threat intelligence or vulnerability management solutions.</li>
			<li>Analyst goes over the same in CyOPs and triggers scans remotely on the critical assets.</li>
			<li>Using integrations with EDR tools, analysts are able to quarantine or isolate the assets as needed. Patching related tasks are added in CyOPs using the Tasks module.</li>
			<li>Built-in reporting and dashboards are able to capture the vulnerability management activities to present information as needed.</li>
		</ol>

		<h3 class="feature">
			#3: Enrich Threat Investigations:
		</h3>

		<ol class="feature-list">
			<li>During alert investigation in CyOPs, an asset is found to have a malware. This can come in for example, via a Phishing email or DNS exfiltration attempt. This alert can also come in via say a solution like <b>Symantec ATP, McAfee ES</b> etc.</li>
			<li>The Asset gets correlated automatically to the Alert. This helps analysts to get the complete picture and historic information at a glance.</li>
			<li>Now if needed, the analysts can <b>trigger scans</b> on the asset as needed remotely through CyberSponse. Also, they can review <b>when was the last scan done,</b> and as needed refer that report quickly, since all the information is correlated and available.</li>
		</ol>

		<p>Above are common scenarios, but aparts from these, there are multiple other use cases, like handling a fail scan event automatically, re-triggering scans in a scheduled manner, aborting scans as suitable and much more.</p>
	</div>

</div>




	<div class="footer">
		{% include "src/_includes/footer-ueno.njk" %}
	</div>



		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>		<script src="/asset/script/main.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js" integrity="sha256-myZzY//RkhcJzO+K7rI0+s//nxzn5NPz0fJB+jLTD4U=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineLite.min.js" integrity="sha256-afJiX6/8g5cuB8Wo8OHvvJkfPqELqXWFo3CJ6X4OaaY=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/CSSPlugin.min.js" integrity="sha256-DduSm/LUUYs64edTqYOB3PoxzmxP5xCdcNwnWo6yZjg=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js"></script>

</body>
</html>
