<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="What global technical news and media organizations are writing about Qualys.">
		<meta property="og:title" content="France media coverage | Qualys, Inc." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.qualys.com/company/newsroom/media-coverage/" />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="What global technical news and media organizations are writing about Qualys." />
		<meta name="twitter:card" content="summary" />
	<title>France media coverage | Qualys, Inc.</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/company/newsroom/media-coverage/france/2022/">
	<meta name="theme-color" content="#2E8BE0">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/common.css?ts=062723">
	<link rel="stylesheet" href="/company/newsroom/news-releases/index.css">
	<link rel="stylesheet" href="/company/newsroom/media-coverage/media-coverage.css" type="text/css">



</head>
<body>


	<div class="">
		{% include "src/_includes/header-ueno.njk" %}
		<div class="overlay-mask"></div>
		
		<div class="q-navigation-mobile">
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--first">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button js-menu">Close</button>
				</div>
				<div class="q-navigation-mobile-wrapper">
					<img class="q-hide-search" src="https://q-website-images.s3.amazonaws.com/www/image/icon/chevron-selectbox.svg">
					<ul class="q-navigation-mobile__list">
						<div class="q-navigation-mobile__link-container">
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Platform">Platform</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Solutions">Solutions</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Resources">Resources</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Customers">Customers</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Partners">Partners</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Support">Support</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Company">Company</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Community">Community</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Login">Login</span>
							</li>
							<li class="q-navigation-mobile__item">
								<span class="q-navigation-mobile__link q-navigation-mobile__link--has-children" data-target="Contactus">Contact us</span>
							</li>
						</div>
						<div class="q-search-mobile">
							<div class="q-click-helper"></div>
							<li class="q-navigation-mobile__item ">
								<form name="q-site-search-form" class="q-site-search" action="/company/search/" method="get">
									<button class="q-nav-actions__link q-nav-actions__item--search-btn" type="submit" title="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#627281" d="M6.5 1.24a5.26 5.26 0 105.26 5.26A5.263 5.263 0 006.5 1.24M6.5 13A6.5 6.5 0 1113 6.5 6.513 6.513 0 016.5 13"/><path fill="#627281" d="M10.215 11.054l.824-.824 4.947 4.947-.824.824z"/></svg></button>
									<input class="q-site-search-form__field-input" type="text" name="q" placeholder="Search qualys.com">
								</form>
							</li>
		
							<div class="q-search-links-mobile">
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link q-search-link--heading">Quick Links</span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/resources/">Resources (guides, whitepapers, etc.)</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/apps/">Qualys Cloud Apps</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/newsroom/">News</a></span>
								</li
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="/company/events/">Events Calendar</a></span>
								</li>
								<li class="q-navigation-mobile__item">
									<span class="q-navigation-mobile__link"><a href="https://community.qualys.com">Qualys Community</a></span>
								</li>
							</div>
						</div>
						<li class="q-navigation-mobile__item free-trial">
							<span class="q-button" href="/free-trial/" data-target="try-it">Try it</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Cloud Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Cloud Platform</a>
					</li>
				</ul>
			</div>
		
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Platform">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Platform
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/global-it-assets.svg" width="30" height="30" /></span>
							Overview
						</h3>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/cloud-platform/">Enterprise TruRisk Platform</a>
						<p class="q-nav--description q-nav--description-b trurisk-desc">Everything you need to measure, manage, and reduce your cyber risk in one place</p>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/solutions-overview.svg" width="30" height="30" /></span>
								CAPABILITIES
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/cybersecurity-asset-management/" data-target="asset-management">Asset Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/vulnerability-management-detection-response/" data-target="vulnerability-configuration-management">Vulnerability & Configuration Management</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/patch-management/" data-target="risk-remediation">Risk Remediation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/threat-protection/" data-target="threat-detection-response">Threat Detection & Response</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/solutions/compliance/" data-target="compliance">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link q-navigation-mobile__link--has-children q-navigation-mobile__link--has-children-b" href="/apps/totalcloud/" data-target="cloud-security">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm">External Attack Surface Management (EASM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection & Response (VMDR) – <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM)<span class="q-navigation-mobile__link--highlight"> - New</span></a></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection &amp; Response (CDR)</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Solutions">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Solutions
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/business-need.svg" width="30" height="34" /></span>
							Use Cases
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/endpoint/">Endpoint Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/pci-compliance/">PCI Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/dora-compliance/">DORA Compliance</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Cloud Security</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/devops/">DevOps</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/threat-protection/">Threat Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/solutions/nis2/">NIS2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/organization.svg" width="30" height="34" /></span>
							Segments
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/trurisk/">Small Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/sme/">Mid-Sized Business</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/enterprise/">Enterprise</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/subscriptions/government/">Federal</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel--apps" data-title="Resources">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Resources
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-resources.svg" width="30" height="30" /></span>
							Resources
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources Library</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/webinars/">Webinars</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/stream/">Qualys Stream</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/nav-research.svg" width="31" height="28" /></span>
							Research
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/tru/">Threat Research Unit</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-alerts/">Security Alerts</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link"  href="/research/security-advisories/">Security Advisories</a>
					</li>
				</ul>
		
			</div>
			<div class="q-navigation-mobile__panel" data-title="Customers">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Customers
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#best-practices">Best Practices</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#success-stories">Success Stories</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/#testimonials">Testimonials</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Partners">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Partners
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/program/">Partner Program</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/vad/">VAD Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/var/">VAR Resellers</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/mssp/">MSP/MSSP Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/integration/">Integration Partners</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/faq/">Partner FAQs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/partners/find/">Find a Partner</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Community">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Community
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://community.qualys.com/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Discuss</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Docs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://blog.qualys.com/">Blog</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/resources/">Resources</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Support">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Support
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/customersupport/">Support Portal</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/training/">Free Training</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/">Documentation</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/discussions/s/">Community Discussions</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://success-qa.qualys.com/support/s/">Knowledgebase</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/documentation/release-notes/">Release Notes</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://notifications.qualys.com/">Release Notifications</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Company">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Company
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/">About Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/management/">Our Team</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://investor.qualys.com/">Investor Relations</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/newsroom/">News</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/customers/awards/">Awards</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/events/">Events</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/careers/">Careers</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Login">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Login
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.com/">US Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://pci.qualys.com/">PCI Platform</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qualys.eu/">EU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg3.apps.qualys.it/">EU Platform 3</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.qualys.com/platform-identification/">What's my platform?</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="Contactus">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Contact us
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<p class="contact-intro">Contact us below to request a quote, or for any product-related questions</p>
					</li>
					 <li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link drift-open-chat">Chat With Us</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/schedule-demo/">Schedule a Demo</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="tel:1-800-745-4355">+1 800 745 4355</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/request-a-call/">Request a Call or Email</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/company/contacts/#headquarters">Global Offices and Contacts</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel" data-title="try-it">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Try it
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform.svg" width="30" height="30" /></span>
							Enterprise TruRisk Platform
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-trial/">Cloud Platform - Free Trial</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/free-services.svg" width="24" height="27" /></span>
							Free Services
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/forms/remote-endpoint/">60-Day Remote Endpoint Protection</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/global-assetview/">Global AssetView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/community-edition/">Community Edition</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="https://www.ssllabs.com/">SSL Labs</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/certview/">CertView</a>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/free-tools-trials/browsercheck/">BrowserCheck</a>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="asset-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Asset Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/">CyberSecurity Asset Management (CSAM) </a>
						<p class="q-nav--description q-nav--description-b">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cybersecurity-asset-management/#easm/">External Attack Surface Management (EASM) – <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b asset-management">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="vulnerability-configuration-management">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Vulnerability & Configuration Management
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/vulnerability-management-detection-response/">Vulnerability Management, Detection &amp; Response (VMDR) - <span class="q-navigation-mobile__link--highlight">Most Popular</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/beta-signup/enterprise-trurisk-management/">Enterprise TruRisk Management (ETM) - <span class="q-navigation-mobile__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Consolidate & translate security & vulnerability findings from 3rd party tools</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/web-app-scanning/">Web App Scanning (WAS)</a></span>
						<p class="q-nav--description q-nav--description-b vulnerability-management">Automate scanning in CI/CD environments with shift left DAST testing</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="risk-remediation">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Risk Remediation
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/patch-management/">Patch Management (PM)</a>
						<p class="q-nav--description">Efficiently remediate vulnerabilities and patch systems</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/custom-assessment-remediation/">Custom Assessment and Remediation (CAR)</a>
						<p class="q-nav--description">Quickly create custom scripts and controls for faster, more automated remediation</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="threat-detection-response">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Threat Detection & Response
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/threat-protection/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/endpoint-detection-response/">Qualys Endpoint Security</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/extended-detection-response/">Context XDR</a>
						<p class="q-nav--description q-nav--description-b threat-detection">Extend detection and response beyond the endpoint to the enterprise</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="compliance">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Compliance
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/solutions/compliance/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/policy-compliance/">Policy Compliance</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce risk, and comply with internal policies and external regulations with ease</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/file-integrity-monitoring/">File Integrity Monitoring (FIM)</a>
						<p class="q-nav--description q-nav--description-b compliance">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
					</li>
				</ul>
			</div>
			<div class="q-navigation-mobile__panel q-navigation-mobile__panel-b" data-title="cloud-security">
				<div class="q-navigation-mobile__header">
					<button class="q-navigation-mobile__button q-navigation-mobile__button--back js-back-b">Back</button>
					<div class="q-navigation-mobile__title q-navigation-mobile__title-b">
						Cloud Security
					</div>
				</div>
				<ul class="q-navigation-mobile__list">
					<li class="q-navigation-mobile__item q-navigation-mobile__item--seperator">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">Overview</a>
					</li>
					<li class="q-navigation-mobile__item">
						<h3 class="q-navigation-mobile__appheading">
							<span class="q-app-nav--icon"><img src="https://q-website-images.s3.amazonaws.com/www/image/icon/nav/platform-products.svg" width="31" height="28" /></span>
							Platform Apps
						</h3>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/totalcloud/">TotalCloud (CNAPP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-security-posture-management/">Cloud Security Posture Management (CSPM)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/infrastructure-as-code-security/">Infrastructure as Code Security (IaC)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect and remediate security issues within IaC templates</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/saas-security-posture-management/">SaaS Security Posture Management (SSPM) - <span class="q-nav__link--highlight">New</span></a>
						<p class="q-nav--description q-nav--description-b cloud-security">Manage your security posture and risk across your entire SaaS application stack</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-workload-protection/">Cloud Workload Protection (CWP)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
					</li>
					<li class="q-navigation-mobile__item">
						<a class="q-navigation-mobile__link" href="/apps/cloud-detection-response/">Cloud Detection and Response (CDR)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
					</li>
					<li class="q-navigation-mobile__item" data-category="solutions-vulnerability-management">
						<a class="q-navigation-mobile__link" href="/apps/container-security/">Container Security (CS)</a>
						<p class="q-nav--description q-nav--description-b cloud-security">Discover, track, and continuously secure containers – from build to runtime</p>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="q-grid hidden">
		<div class="q-grid__container">
			<div class="q-grid__row">
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
				<div class="q-grid__column">
					<div class="q-grid__visualize"></div>
				</div>
			</div>
		</div>
	</div>

		<div class="q-promo-banner js-promo-banner  q-promo-container promo--hidden" data-expires="2024-02-28T17:00:00Z">
			<div class="q-promo-banner__container">
				<div class="promo-wrapper">
					<div class="q-promo-banner__inner">
						<div class="q-promo-banner__row">
							<div class="q-promo-banner__column">
								<a href="/2024/02/cyber-risk-series/?utm_source=qualys&utm_medium=website-thin-strip&utm_campaign=global-eventvirtual-cyberriskseries-q12024&leadsource=344574831 " class="cta-wrapper">
									<div class="heading-wrapper">
										<span class="text">Cyber Risk Series | Cloud Security Edition | February 28 | <u>Register Now</u></span>
									</div>
								</a>					</div>
						</div>
					</div>
					<button class="q-alert__close">
						<svg class="q-alert__close-icon" viewBox="0 0 12 12">
							<title>Close</title>
							<g fill="#fff" fill-rule="evenodd">
								<path d="M10.1421357.24264075l1.41421355 1.41421356-9.89949494 9.89949496L.24264077 10.1421357z"></path>
								<path d="M.24264075 1.6568543L1.6568543.24264076l9.89949495 9.89949494-1.41421356 1.41421355z"></path>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	
<div class="q-grid__container q-default-hero__container">
	<div class="q-grid__inner">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-12">
				<div class="q-hero">
					<div class="q-hero__container">
						<div class="q-hero__content">
							<h1 class="q-default-hero__heading fr">France media coverage.</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="q-grid__row content">
			<div class="q-grid__column q-grid__column-5 news-release__container">
				<ul class="news-release__list">
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">26 décembre 2022</div>
						<h4 class="news-release__headline"><a href="https://fr.techtribune.net/securite/une-vulnerabilite-critique-de-ping-permet-aux-attaquants-distants-de-prendre-le-controle-des-systemes-freebsd/525629/" hreflang="fr" class="q-link--gray">Une Vulnérabilité Critique De Ping Permet Aux Attaquants Distants De Prendre Le Contrôle Des Systèmes FreeBSD</a></h4>
						<p class="entry__source">TECH TRIBUNE</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">26 décembre 2022</div>
						<h4 class="news-release__headline"><a href="https://teknomers.com/fr/les-cinq-principales-menaces-immediates-en-2022-dans-le-contexte-geopolitique/" hreflang="fr" class="q-link--gray">Les cinq principales menaces immédiates en 2022 dans le contexte géopolitique</a></h4>
						<p class="entry__source">Teknomers</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">22 décembre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.edi-mag.fr/cybersecurite/wallix-a-la-pointe-de-la-gestion-des-acces/" hreflang="fr" class="q-link--gray">Partenaire : Wallix à la pointe de la gestion des accès à privilèges</a></h4>
						<p class="entry__source">EDI Distribution Informatique</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">22 novembre 2022</div>
						<h4 class="news-release__headline"><a href="https://actualites-cci.com/qualys-lapproche-de-la-cybersecurite-doit-etre-basee-sur-lanalyse-des-risques-et-les-impacts-en-cas-de-cyberattaques-reussies/" hreflang="fr" class="q-link--gray">Qualys : L&#x27;approche de la cybersécurité doit être basée sur l&#x27;analyse des risques et les impacts en cas de cyberattaques réussies</a></h4>
						<p class="entry__source">COMMERCE INTERNATIONAL</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">14 novembre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.informatiquenews.fr/qualys-unifie-la-surveillance-des-vulnerabilites-dans-le-multicloud-90268" hreflang="fr" class="q-link--gray">Qualys unifie la surveillance des vulnérabilités dans le multicloud</a></h4>
						<p class="entry__source">INFORMATIQUE NEWS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">11 novembre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.reseaux-telecoms.net/actualites/lire-avec-totalcloud-flexscan-qualys-securise-les-acces-multi-cloud-28519.html" hreflang="fr" class="q-link--gray">Avec TotalCloud FlexScan, Qualys sécurise les accès multi-cloud</a></h4>
						<p class="entry__source">RESEAUX ET TELECOMS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">8 novembre 2022</div>
						<h4 class="news-release__headline"><a href="https://itsocial.fr/actualites/qualys-devoile-totalcloud-avec-flexscan-une-solution-vmdr-native-du-cloud-qui-combine-detection-et-contextualisation/" hreflang="fr" class="q-link--gray">Qualys dévoile TotalCloud avec FlexScan</a></h4>
						<p class="entry__source">IT SOCIAL</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">7 novembre 2022</div>
						<h4 class="news-release__headline"><a href="https://lentrepreneur.co/innovation/cloud/qualys-presente-en-avant-premiere-totalcloud-flexscan-pour-la-gestion-de-la-securite-multi-cloud-07112022" hreflang="fr" class="q-link--gray">Qualys présente en avant-première TotalCloud FlexScan pour la gestion de la sécurité multi-cloud</a></h4>
						<p class="entry__source">L&#x27;ENTREPRENEUR</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">24 octobre 2022</div>
						<h4 class="news-release__headline"><a href="http://itsocial.fr/actualites/qualys-rachete-les-actifs-ia-et-ml-de-blue-hexagon-pour-les-integrer-dans-vdmr-sa-plateforme-de-gestion-des-vulnerabilites/" hreflang="fr" class="q-link--gray">Qualys rachète les actifs IA et ML de Blue Hexagon pour les intégrer dans VDMR, sa plateforme de gestion des vulnérabilités</a></h4>
						<p class="entry__source">IT SOCIAL</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">21 octobre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.informatiquenews.fr/qualys-muscle-sa-cybersecurite-avec-de-lia-90032" hreflang="fr" class="q-link--gray">Qualys s’offre les technologies de machine learning de Blue Hexagon pour étendre ses capacités de détection et de prédiction des cybermenaces</a></h4>
						<p class="entry__source">INFORMATIQUE NEWS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">19 octobre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemondeinformatique.fr/actualites/lire-telex-cyberattaque-contre-la-ville-de-chaville-qualys-muscle-au-ml-blue-hexagon-infomaniak-veut-defier-google-et-microsoft-dans-le-collaboratif-cloud-88370.html" hreflang="fr" class="q-link--gray">Qualys musclé au ML Blue Hexagon</a></h4>
						<p class="entry__source">LE MONDE INFORMATIQUE</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">15 octobre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.globalsecuritymag.fr/Sumedh-Thakar-President-et-CEO-de,20221016,131191.html" hreflang="fr" class="q-link--gray">Sumedh Takar, CEO de Qualys : &quot;Nous aidons les organisations à gérer les risques cyber, grâce à une plateforme unifiée qui permet de les mesurer, prioriser, et les contrer&quot;</a></h4>
						<p class="entry__source">GLOBAL SECURITY MAG</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">6 octobre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemagit.fr/conseil/Gestion-de-la-surface-dattaque-un-large-eventail-doutils" hreflang="fr" class="q-link--gray">Gestion de la surface d’attaque : un large éventail d’outils</a></h4>
						<p class="entry__source">LE MAG IT </p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">23 septembre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.solutions-numeriques.com/dossiers/la-gestion-des-vulnerabilites-change-de-dimension/" hreflang="fr" class="q-link--gray">La gestion des vulnérabilités change de dimension</a></h4>
						<p class="entry__source">SOLUTIONS NUMERIQUES</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">7 septembre 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemagit.fr/essentialguide/Les-cles-pour-comprendre-Log4Shell-et-ses-consequences" hreflang="fr" class="q-link--gray">Les clés pour comprendre Log4Shell et ses conséquences</a></h4>
						<p class="entry__source">LE MAG IT </p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">29 août 2022</div>
						<h4 class="news-release__headline"><a href="https://lexpansion.lexpress.fr/actualite-economique/qualys-un-cyberparapluie-pour-le-cloud_2178896.html" hreflang="fr" class="q-link--gray">Qualys, un cyberparapluie pour le cloud</a></h4>
						<p class="entry__source">L&#x27;EXPRESS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">22 juillet 2022</div>
						<h4 class="news-release__headline"><a href="https://www.journaldunet.com/solutions/dsi/1513097-la-simulation-s-invite-sur-le-terrain-de-la-cybersecurite-avec-des-attaques-automatisees/" hreflang="fr" class="q-link--gray">La simulation s&#x27;invite dans la cybersécurité avec des attaques automatisées</a></h4>
						<p class="entry__source">JDN - JOURNAL DU NET </p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">21 juillet 2022</div>
						<h4 class="news-release__headline"><a href="https://www.channelnews.fr/les-sept-principales-defaillances-it-au-cours-du-premier-semestre-2022-116661" hreflang="fr" class="q-link--gray">Les sept principales défaillances IT au cours du premier semestre 2022</a></h4>
						<p class="entry__source">CHANNEL NEWS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">18 juillet 2022</div>
						<h4 class="news-release__headline"><a href="https://securite.developpez.com/actu/335079/Un-nouveau-groupe-de-travail-sur-la-cybersecurite-affirme-que-la-faille-du-logiciel-Log4j-est-endemique-et-qu-elle-pourrait-poser-des-risques-de-securite-pendant-une-decennie-ou-plus/" hreflang="fr" class="q-link--gray">Un nouveau groupe de travail sur la cybersécurité affirme que la faille du logiciel Log4j est &quot;endémique&quot;</a></h4>
						<p class="entry__source">DEVELOPPEZ</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">8 juin 2022</div>
						<h4 class="news-release__headline"><a href="https://www.solutions-numeriques.com/qualys-lance-la-version-2-de-son-offre-vmdr/" hreflang="fr" class="q-link--gray">Qualys lance la version 2 de son offre VMDR</a></h4>
						<p class="entry__source">SOLUTIONS NUMERIQUES</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">7 juin 2022</div>
						<h4 class="news-release__headline"><a href="https://itsocial.fr/actualites/qualys-lance-vmdr-2-0-avec-trurisk-scores-et-des-workflows-de-remediation-automatises/" hreflang="fr" class="q-link--gray">Qualys lance VMDR 2.0 avec TruRisk Scores et des workflows de remédiation automatisés</a></h4>
						<p class="entry__source">IT SOCIAL</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">6 juin 2022</div>
						<h4 class="news-release__headline"><a href="https://www.challenges.fr/entreprise/defense/cyberattaque-nord-coreenne-sur-les-geants-europeens-de-l-armement_815370" hreflang="fr" class="q-link--gray">cyberattaque nord-coreennen sur les géants européens de l&#x27;armement </a></h4>
						<p class="entry__source">CHALLENGES</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">30 mai 2022</div>
						<h4 class="news-release__headline"><a href="https://www.globalsecuritymag.fr/Giuseppe-BRIZIO-QUALYS-l-approche,20220530,124798" hreflang="fr" class="q-link--gray">l&#x27;approche de la cybersécurité doit être basée sur l&#x27;analyse des risques et les impacts en cas de cyberattaques réussies</a></h4>
						<p class="entry__source">GLOBAL SECURITY MAG</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">19 mai 2022</div>
						<h4 class="news-release__headline"><a href="https://www.programmez.com/actualites/qualys-ajoute-la-solution-custom-assessment-and-remediation-sa-plateforme-cloud-34015" hreflang="fr" class="q-link--gray">Qualys ajoute la solution custom assessement and remediation a sa plateforme cloud </a></h4>
						<p class="entry__source">Programmez!</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">16 avril 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemondeinformatique.fr/actualites/lire-l-edr-multi-vector-de-qualys-se-renforce-pour-optimiser-les-alertes-86456.html" hreflang="fr" class="q-link--gray">L&#x27;EDR Multi-Vector de Qualys se renforce pour optimiser les alertes</a></h4>
						<p class="entry__source">Le monde informatique</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">15 avril 2022</div>
						<h4 class="news-release__headline"><a href="https://www.informatiquenews.fr/le-systeme-devaluation-des-vulnerabilites-cvss-quelles-vulnerabilites-a-prioriser-laurie-mercer-hackerone-86777" hreflang="fr" class="q-link--gray">Comprendre et utiliser les évaluations de vulnérabilités CVSS</a></h4>
						<p class="entry__source">INFORMATIQUE NEWS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">14 avril 2022</div>
						<h4 class="news-release__headline"><a href="https://www.distributique.com/actualites/lire-qualys-renforce-son-offre-edr-multi-vector-32420.html" hreflang="fr" class="q-link--gray">Qualys renforce son offre EDR Multi-Vector</a></h4>
						<p class="entry__source">DISTRIBUTIQUE</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">4 avril 2022</div>
						<h4 class="news-release__headline"><a href="https://itsocial.fr/actualites/qualys-enrichit-multi-vector-edr-pour-faire-converger-prediction-et-prevention-dans-une-vision-holistique/" hreflang="fr" class="q-link--gray">Qualys enrichit Multi-Vector EDR 2.0 pour faire converger prédiction et prévention dans une vision holistique</a></h4>
						<p class="entry__source">IT SOCIAL</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">21 mars 2022</div>
						<h4 class="news-release__headline"><a href="https://securite.developpez.com/actu/331972/Les-equipes-de-securite-trouvent-plus-facile-d-attenuer-Log4Shell-plutot-que-de-le-corriger-definitivement-le-delai-moyen-de-remediation-apres-detection-est-de-17-jours-selon-Qualys-Cloud-Platform/" hreflang="fr" class="q-link--gray">Les équipes de sécurité trouvent plus facile d&#x27;atténuer Log4Shell plutôt que de le corriger définitivement</a></h4>
						<p class="entry__source">DEVELOPPEZ</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">13 mars 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemondeinformatique.fr/actualites/lire-des-versions-de-log4j-vulnerables-sont-toujours-telechargees-86107.html" hreflang="fr" class="q-link--gray">Des versions de Log4j vulnérables sont toujours téléchargées</a></h4>
						<p class="entry__source">Le monde informatique</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">20 février 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemagit.fr/essentialguide/Ransomware-ce-que-nous-ont-appris-les-negociations" hreflang="fr" class="q-link--gray">ransomware : ce que nous ont appris les negociations </a></h4>
						<p class="entry__source">LE MAG IT </p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">9 février 2022</div>
						<h4 class="news-release__headline"><a href="https://www.zdnet.fr/actualites/cybersecurite-le-groupe-lazarus-s-attaque-au-complexe-militaro-industriel-39937091.htm" hreflang="fr" class="q-link--gray">Cybersécurité : Le groupe Lazarus s&#x27;attaque au complexe militaro-industriel</a></h4>
						<p class="entry__source">ZDNET</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">7 février 2022</div>
						<h4 class="news-release__headline"><a href="https://www.sdbrnews.com/sdbr-news-blog-fr/qualys-ajoute-des-fonctionnalits-de-remdiation-avance-qualys-cloud-platform" hreflang="fr" class="q-link--gray">Qualys ajoute des fonctionnalités de remédiation avancée à Qualys Cloud Platform</a></h4>
						<p class="entry__source">SDBR</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">3 février 2022</div>
						<h4 class="news-release__headline"><a href="https://www.informatiquenews.fr/qualys-ajoute-des-fonctionnalites-de-remediation-avancee-84130" hreflang="fr" class="q-link--gray">Qualys ajoute des fonctionnalités de remédiation avancée</a></h4>
						<p class="entry__source">INFORMATIQUE NEWS</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">31 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.20minutes.fr/high-tech/3225603-20220128-un-bug-de-linux-permet-a-n-importe-quel-utilisateur-d-obtenir-le-controle-total-du-systeme" hreflang="fr" class="q-link--gray">Linux : Une faille de sécurité permet à n’importe quel utilisateur d’obtenir le contrôle du système</a></h4>
						<p class="entry__source">20 MINUTES</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">31 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.directioninformatique.com/mises-en-garde-concernant-une-vulnerabilite-du-noyau-linux/93295" hreflang="fr" class="q-link--gray">L&#x27;actualité cyber repart sur les chapeaux de roues en 2022</a></h4>
						<p class="entry__source">DSIH - SANTE</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">27 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://itsocial.fr/actualites/cybersecurite-actualites/pwnkit-une-vulnerabilite-vieille-de-12-ans-et-qui-fait-trembler-lecosysteme-linux-et-tout-linternet/" hreflang="fr" class="q-link--gray">Pwnkit, une vulnérabilité vieille de 12 ans, et qui fait trembler l&#x27;écosystème Linux et tout l&#x27;Internet</a></h4>
						<p class="entry__source">IT SOCIAL</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">27 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemagit.fr/actualites/252512573/Les-distributions-Linux-menacees-par-la-vulnerabilite-PwnKit" hreflang="fr" class="q-link--gray">Les distributions Linux menacées par la vulnérabilité PwnKit</a></h4>
						<p class="entry__source">LE MAG IT </p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">27 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://linux.developpez.com/actu/330503/Un-bogue-vieux-de-12-ans-dans-polkit-permet-d-obtenir-des-privileges-root-sur-les-principales-distributions-GNU-Linux-Ubuntu-et-Red-Hat-ont-deja-publie-des-correctifs/" hreflang="fr" class="q-link--gray">Un bogue vieux de 12 ans dans polkit permet d&#x27;obtenir des privilèges « root » sur les principales distributions GNU/Linux</a></h4>
						<p class="entry__source">DEVELOPPEZ</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">27 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://korben.info/pwnkit-exploit.html" hreflang="fr" class="q-link--gray">PwnKit, le bug Linux qui vous met à la root</a></h4>
						<p class="entry__source">KORBEN</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">26 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.zdnet.fr/actualites/une-importante-vulnerabilite-de-linux-a-ete-decouverte-pwnkit-39936349.htm" hreflang="fr" class="q-link--gray">Une importante vulnérabilité de Linux a été découverte : Pwnkit</a></h4>
						<p class="entry__source">ZDNET</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">26 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.clubic.com/linux-os/debian/ubuntu/actualite-405996-pwnkit-12-ans-que-linux-est-vulnerable-par-la-faille-polkit-pkexec.html" hreflang="fr" class="q-link--gray">PwnKit : 12 ans que Linux est vulnérable par la faille Polkit pkexec</a></h4>
						<p class="entry__source">CLUBIC</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">26 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.lemondeinformatique.fr/actualites/lire-les-distributions-linux-empoisonnees-par-la-faille-pwnkit-85580.html" hreflang="fr" class="q-link--gray">Les distributions Linux empoisonnées par la faille PwnKit</a></h4>
						<p class="entry__source">Le monde informatique</p>
					</li>
					<li class="news-release__list-item" lang="fr" dir="">
						<div class="heading--4 news-release__date">16 janvier 2022</div>
						<h4 class="news-release__headline"><a href="https://www.nolimitsecu.fr/la22/" hreflang="fr" class="q-link--gray">Entretien avec Sumedh Takar, CEO de Qualys - Assises de la cybersécurité à Monaco (dernière partie)</a></h4>
						<p class="entry__source">NO LIMIT SECU - PODCAST</p>
					</li>
				</ul>
			</div>
			<div class="q-grid__column q-grid__column-5">
				<!-- square component content -->
				<div class="q-square q-square--justified">
					<div class="q-square__inner">
						<div class="q-square__content">
							<h2 class="q-square__heading">Browse media coverage</h2>
							<ul class="countries-list">
								<li class="australia"><a hreflang="en" href="/company/newsroom/media-coverage/australia/" >AU</a></li>
								<li class="germany"><a hreflang="de" href="/company/newsroom/media-coverage/germany/" >DE</a></li>
								<li class="spain"><a hreflang="es" href="/company/newsroom/media-coverage/spain/" >ES</a></li>
								<li class="france"><a hreflang="fr" href="/company/newsroom/media-coverage/france/"  class="link--active" >FR</a></li>
								<li class="hong kong sar"><a hreflang="en" href="/company/newsroom/media-coverage/hong kong sar/" >HK</a></li>
								<li class="india"><a hreflang="en" href="/company/newsroom/media-coverage/india/" >IN</a></li>
								<li class="italy"><a hreflang="it" href="/company/newsroom/media-coverage/italy/" >IT</a></li>
								<li class="malaysia"><a hreflang="en" href="/company/newsroom/media-coverage/malaysia/" >MY</a></li>
								<li class="netherlands"><a hreflang="nl" href="/company/newsroom/media-coverage/netherlands/" >NL</a></li>
								<li class="philippines"><a hreflang="en" href="/company/newsroom/media-coverage/philippines/" >PH</a></li>
								<li class="singapore"><a hreflang="en" href="/company/newsroom/media-coverage/singapore/" >SG</a></li>
								<li class="turkey"><a hreflang="tr" href="/company/newsroom/media-coverage/turkey/" >TR</a></li>
								<li class="uae"><a hreflang="en" href="/company/newsroom/media-coverage/uae/" >UAE</a></li>
								<li class="uk"><a hreflang="en" href="/company/newsroom/media-coverage/uk/" >UK</a></li>
								<li class="usa"><a hreflang="en" href="/company/newsroom/media-coverage/usa/" >USA</a></li>
							</ul>
							<li class='all hidden'><a href='#'>All</a></li>
							<ul class="list-of-years">
									<li class="2023"><a href="/company/newsroom/media-coverage/france/">2023</a></li>
									<li class="2022"><a href="/company/newsroom/media-coverage/france/2022/">2022</a></li>
									<li class="2021"><a href="/company/newsroom/media-coverage/france/2021/">2021</a></li>
									<li class="2020"><a href="/company/newsroom/media-coverage/france/2020/">2020</a></li>
									<li class="2019"><a href="/company/newsroom/media-coverage/france/2019/">2019</a></li>
									<li class="2018"><a href="/company/newsroom/media-coverage/france/2018/">2018</a></li>
									<li class="2017"><a href="/company/newsroom/media-coverage/france/2017/">2017</a></li>
									<li class="2016"><a href="/company/newsroom/media-coverage/france/2016/">2016</a></li>
									<li class="2015"><a href="/company/newsroom/media-coverage/france/2015/">2015</a></li>
									<li class="2014"><a href="/company/newsroom/media-coverage/france/2014/">2014</a></li>
									<li class="2013"><a href="/company/newsroom/media-coverage/france/2013/">2013</a></li>
									<li class="2012"><a href="/company/newsroom/media-coverage/france/2012/">2012</a></li>
									<li class="2011"><a href="/company/newsroom/media-coverage/france/2011/">2011</a></li>
									<li class="2010"><a href="/company/newsroom/media-coverage/france/2010/">2010</a></li>
									<li class="2009"><a href="/company/newsroom/media-coverage/france/2009/">2009</a></li>
									<li class="2008"><a href="/company/newsroom/media-coverage/france/2008/">2008</a></li>
									<li class="2007"><a href="/company/newsroom/media-coverage/france/2007/">2007</a></li>
									<li class="2006"><a href="/company/newsroom/media-coverage/france/2006/">2006</a></li>
									<li class="2005"><a href="/company/newsroom/media-coverage/france/2005/">2005</a></li>
									<li class="2004"><a href="/company/newsroom/media-coverage/france/2004/">2004</a></li>
							</ul>

							<hr>

							<h2 class="q-square__heading media-inquiries">Media inquiries</h2>
							<p class="media-contact">Véronique Loquet  <br>
							AL&#x27;X COMMUNICATION <br>
							<a href="tel:+33 06 68 42 79 68 ">+33 06 68 42 79 68 </a><br>
							<a href="mailto:vloquet@alx-communication.com">vloquet@alx-communication.com</a></p>

							<p class="global-media-contacts"><a href="/company/newsroom/media-contacts/" class="q-link q-link--white">Global media contacts</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-social">
	<div class="footer-social__container">
		<div class="footer-social__content">
			<p class="footer-social__heading">
				Follow us on social media
			</p>
			<div class="footer-social__list">
				<ul class="q-social-list q-social-list--dark q-social-list--centered">
					<li class="q-social-list__item">
						<a href="https://twitter.com/qualys" title="Twitter" target="_blank" rel="noopener">
							<svg class="q-social-list__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 148.7 610.7 496.3" enable-background="new 0 148.7 610.7 496.3"><path fill="#FFF" d="M192.1 645c-70.8 0-136.7-20.7-192.1-56.2 9.8 1.1 19.9 1.8 29.9 1.8 58.7 0 112.8-20.1 155.7-53.6-54.7-1.1-101.2-37.3-117-87.1 7.6 1.6 15.4 2.2 23.7 2.2 11.4 0 22.6-1.6 33.1-4.5-57.5-11.6-100.6-62.1-100.6-122.9v-1.6c17 9.4 36.2 15 56.7 15.6-33.5-22.4-55.8-60.6-55.8-104.2 0-23 6.3-44.4 17-63 61.6 75.9 153.9 126 258 131.1-2.2-9.2-3.4-18.8-3.4-28.6 0-69.2 56.1-125.3 125.3-125.3 36 0 68.6 15.2 91.4 39.5 28.8-5.6 55.6-15.9 79.7-30.4-9.4 29.3-29 53.8-54.9 69.5 25.2-3.1 49.6-9.8 71.9-19.7-16.8 25-38 47.1-62.5 64.8.2 5.4.4 10.7.4 16.3 0 165.4-126.2 356.3-356.5 356.3"/></svg></a>
					</li>
					<li class="q-social-list__item">
						<a href="https://www.linkedin.com/company/qualys" title="LinkedIn" target="_blank" rel="noopener">
							<svg class="q-social-list__icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" enable-background="new 0 0 36 36"><path fill="#FFF" d="M33.3 0h-30.6c-1.5 0-2.7 1.2-2.7 2.6v30.8c0 1.4 1.2 2.6 2.7 2.6h30.7c1.5 0 2.7-1.2 2.7-2.6v-30.8c-.1-1.4-1.3-2.6-2.8-2.6zm-22.6 30.7h-5.4v-17.2h5.3v17.2zm-2.7-19.6c-1.7 0-3.1-1.4-3.1-3.1 0-1.7 1.4-3 3.1-3 1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3-3.1 3zm22.7 19.6h-5.3v-8.4c0-2 0-4.6-2.8-4.6s-3.2 2.2-3.2 4.4v8.5h-5.4v-17.1h5.1v2.3h.1c.7-1.4 2.5-2.8 5.1-2.8 5.4 0 6.4 3.6 6.4 8.2v9.5z"/></svg></a>
					</li>
					<li class="q-social-list__item">
						<a href="https://www.facebook.com/qualys" title="Facebook" target="_blank" rel="noopener">
							<svg class="q-social-list__icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 90 611.8 612.2" enable-background="new 0 90 611.8 612.2"><path fill="#FFF" d="M578.3 90h-544.6c-18.6 0-33.7 15.1-33.7 33.7v544.4c0 18.6 15.1 33.7 33.7 33.7h293v-236.9h-79.7v-92.4h79.8v-67.9c0-79.1 48.4-122 118.8-122 33.7 0 62.8 2.5 71.3 3.7v82.5h-48.9c-38.3 0-45.9 18.1-45.9 44.9v58.9h91.5l-11.9 92.4h-79.6v237.1h155.9c18.6 0 33.7-15.1 33.7-33.7v-544.7c.3-18.6-14.8-33.7-33.4-33.7z"/></svg></a>
					</li>
					<li class="q-social-list__item">
						<a href="https://www.youtube.com/user/QualysGuard" title="YouTube" target="_blank" rel="noopener">
							<svg class="q-social-list__icon" width="22" height="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1021.5 718.4" enable-background="new 0 0 1021.5 718.4"><path fill="#E0E0E0" d="M647.3 366.3l-242.1-161.6 276 144-33.9 17.6"/><path fill="#FFF" d="M1011.2 155s-10-70.4-40.6-101.4c-38.8-40.7-82.4-40.9-102.3-43.3-142.9-10.3-357.4-10.3-357.4-10.3h-.4s-214.4 0-357.4 10.3c-20 2.4-63.5 2.6-102.3 43.3-30.6 31-40.6 101.4-40.6 101.4s-10.2 82.6-10.2 165.3v77.5c0 82.7 10.2 165.3 10.2 165.3s10 70.4 40.6 101.4c38.9 40.7 89.9 39.4 112.6 43.7 81.7 7.8 347.3 10.3 347.3 10.3s214.6-.3 357.6-10.7c20-2.4 63.5-2.6 102.3-43.3 30.6-31 40.6-101.4 40.6-101.4s10.2-82.7 10.2-165.3v-77.5c.1-82.7-10.2-165.3-10.2-165.3m-605.9 336.7v-287l276 144-276 143z"/></svg></a>
					</li>
					<li class="q-social-list__item">
						<a href="https://vimeo.com/qualys" title="Vimeo" target="_blank" rel="noopener">
							<svg class="q-social-list__icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86.67"><path fill="#FFF" d="M100 20.05q-.72 14.63-20.44 40.06Q59.16 86.67 45 86.67q-8.74 0-14.79-16.17l-8.02-29.66q-4.49-16.17-9.64-16.18-1.12 0-7.85 4.72L0 23.31q7.4-6.52 14.59-13 9.87-8.55 14.82-9 11.67-1.12 14.37 16 2.91 18.47 4 23 3.36 15.32 7.41 15.31 3.14 0 9.43-9.94t6.73-15.13q.9-8.58-6.73-8.58a18.7 18.7 0 0 0-7.4 1.64Q64.63-.66 85.42 0 100.84.47 100 20.05z"></path></svg></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



		{% include "src/_includes/footer-ueno.njk" %}

		<div class="mobile-trial-overlay hidden" data-expires="2022-03-01T17:00:00Z">
			<a class="close-button">
				<svg class="x" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
					<g fill="#FFF" fill-rule="evenodd">
						<path d="M10.142.243l1.414 1.414-9.9 9.9-1.414-1.415z" />
						<path d="M.242 1.657L1.657.243l9.9 9.9-1.415 1.413z" />
					</g>
				</svg>
			</a>
			<p class="promo-text"><b>Log4Shell Response</b></p>
			<div class="promo-banner-cta">
				<a class="q-button right" href="https://www.qualys.com/log4shell-cve-2021-44228/"><span>See updates</span></a>
			</div>
		
		</div>
		<!-- polyfills -->
		<!--[if lt IE 10]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-shim.min.js" integrity="sha256-ULHaXAsr5JLD6L5PeGlMn0p+MJvrHn5lhBAPQwqdnQw=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.14/es5-sham.min.js" integrity="sha256-ZekDZN5DegoC1n9w+2cjddAItLYFQrneylj0fc8ztxo=" crossorigin="anonymous"></script>
		<![endif]-->
		<!--[if IE]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/native-promise-only/0.8.1/npo.js" integrity="sha384-G1LHj+SfI1gc9FouJCB24YnAzzjhDNfhwrUPgo2Fb4Jde/lBnkHXjd83QvEZraLK" crossorigin="anonymous"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js" integrity="sha256-IylDNWjip7FK2TJUYck237qBTBeSiwnSFDCjLG686D4=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/core-js-bundle@3.6.5/minified.js" integrity="sha384-TTVcaKdKKsLSvxkJU8mv/ZrkBlSMUiXn57PWhpGFzfeuzqQW/krdvVzW8yqtTqz5" crossorigin="anonymous"></script>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha384-zZbyq8BQ4BvQcv4xPxkJWWGPSVW6z+MufIHfxNTdnFQwc7J2Idz0zxeP6/bMqWJn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js" integrity="sha384-nK4khbhvZ/TNQaGnwee6RVFCDRfxcrLKZZqKCVqk1rF9AT8Etq3UZYCXZ7CCAd0K" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js" integrity="sha256-VV47uJSoHZUeiBcCs3FcBOQLMn++yeG/zqZvaUkvGZM=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js" integrity="sha256-nuhNsfXzBFR6G1lKP8bK77dakkQDqdHcQ4OCFZvk6Qo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js" integrity="sha256-LBjlnpPrM6Aig8LDFc9PJctPHLGUc6RaUvnmXE4hV5Y=" crossorigin="anonymous"></script>
		<script src="/asset/script/common.js?v=20240221"></script>
	<script src="/company/newsroom/news-releases/index.js"></script>

</body>
</html>
