div.section.banner {
	min-height: 375px;
	background-color: #578D41;
	position: relative;
}
#content.full-width div.section {
	padding-left: calc(50% - 502px);
	padding-right: calc(50% - 502px);
	padding-bottom: 0;
}
#content h1 {
	color: #FFF;
	text-align: left;
	font-size: 32pt;
	padding-top: 72px;
	line-height: 1.25;
}
div.section.banner div.container {
	position: relative;
	width: 1004px;
}
div.section.banner div.brinqa {
	position: absolute;
	text-align: center;
	display: inline-block;
	top: 52px;
	right: 60px;
	z-index: 100;
}
div.section.banner div.brinqa p {
	position: absolute;
	bottom: 40px;
	left: 46px;
	font-size: 15pt;
	color: #344A5D;
	line-height: 1.1;
}
div.brinqa-circle {
	background: url(https://ik.imagekit.io/qualys/image/logo/brinqa.svg) no-repeat center 92px #FFF;
	width: 270px;
	height: 270px;
	border-radius: 50%;
	background-size: 87%;
	box-shadow: 0 7px 26px -9px rgba(0, 0, 0, 0.4);
}
#content.full-width div.section.description {
	padding-top: 26px;
	text-align: left;
	padding-bottom: 85px;
}
#content div.section.description h2 {
	font-size: 22pt;
	margin-bottom: 14px;
	line-height: 1.3;
}
div.section.description p,
div.section.description h2,
div.section.description h3 {
	text-align: left;
}
div.section.description div.container {
	width: 512px;
	display: inline-block;
	margin-bottom: 76px;
}
div.section.description div.container p {
	font-size: 13pt;
	line-height: 1.55;
}
div.section.description div.side-bar {
	width: 406px;
	background-color: #EAEAEA;
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-top: -94px;
	position:relative;
}
div.section.description div.side-bar div.text {
	padding: 16px 29px;
	text-align: center;
}
#content div.section.description div.side-bar h3 {
	padding: 28px 29px 16px;
	background-color: #98BC52;
	color: #FFF;
	font-size: 14pt;
}
div.section.description div.side-bar p {
	font-size: 11pt;
}
div.section.description div.side-bar a.button-type2 {
	margin-top: 20px;
	font-size: 15pt;
	border-radius: 5px;
	box-shadow: none;
	padding: 10px 24px;
}
div.background {
	background: #EAEAEA url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: linear-gradient(to right,  rgba(234,234,234,0) 0%,rgba(234,234,234,1) 49%,rgba(234,234,234,1) 50%,rgba(234,234,234,0) 100%);
}
div.feature {
	padding: 62px 44px 59px 18px;
	width: auto;
	display: inline-block;
	width: 100%;
}
div.feature img {
	border: 1px solid #BABABA;
	display: inline-block;
}
div.feature div.text {
	width: 450px;
	font-size: 13pt;
	display: inline-block;
	vertical-align: top;
	float: right;
	min-height: 280px;
	padding-top: 14px;
}
div.feature h3 {
	font-size: 19pt;
	line-height: 1.4;
	margin-bottom: 8px;
}
div.feature.type2 div.text {
	float: none;
}
div.feature p {
	line-height: 1.55;
}
div.feature.resolve {
	padding: 65px;
}
div.feature.resolve div.text {
	float: none;
	width: auto;
	min-height: 0;
}
div.feature.identify {
	min-height: 320px;
}
div.how-it-works {
	background-color: #578D41;
	min-height: 100px;
	width: 918px;
	margin: 0 auto 40px;
	color: #FFF;
	font-size: 13pt;
	padding: 34px 43px 43px;
}
#content div.how-it-works a {
	color: #FFF;
	font-weight: 700;
}
#content div.how-it-works h2 {
	font-size: 22pt;
	margin-bottom: 7px;
	color: #FFF;
}
div.how-it-works div.container {
	width: 400px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	line-height: 1.55;
}
.brinqa-overview-image {
	background-image: url(https://ik.imagekit.io/qualys/image/brinqa-qualys-solution-overview-406-2x.png);
	background-size: 406px 365px;
	background-position: top center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: inline-block;
	width: 406px;
	height: 365px;
	position: absolute;
	bottom: -400px;
}

#content.full-width div.section.banner {
	display: flex;
}
#content h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-left: 0;
	margin-right: 0;
}
div.section.banner div.partner {
	position: relative;
	top: 0;
	right: 0;
	margin: 3em auto;
	display: block;
	width: 270px;
	border-bottom: none;
}
div.section.banner div.partner p {
	bottom: 35px;
}
div.section.description div.side-bar {
	float: none;
	margin: 0 auto 5em;
	display: block;
	width: auto;
}
#content h2 {
	font-size: 2em;
}
#content.full-width div.section.description {
	margin: 2em 2em 0;
}
div.section.description div.container,
div.how-it-works {
	width: auto;
}
div.feature {
	padding: 0;
	padding-top: 4em;
}
div.feature div.text {
	float: none;
	margin-right: 0;
	width: auto;
	margin-bottom: 4em;
	padding-top: 0;
}
#content.full-width {
	padding-bottom: 1em;
}
.brinqa-overview-image {
	position: static;
}
.how-it-works .wrapper {
	margin-bottom: 0;
}
div.feature img {
	margin-bottom: 1em;
}
@media (min-width: 640px) {
	div.section.description div.side-bar {
		width: 406px;
	}
	#content h2 {
		font-size: 30pt;
	}
	div.feature {
		display: flex;
		align-items: flex-start;
		padding: 3em;
	}
	div.feature div.text {
		float: none;
		order: -1;
		margin-right: 2em;
		margin-bottom: 0;
	}
}
/*# sourceMappingURL=index.css.map */