<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Discover how the Enterprise TruRisk Platform solutions can guide your company with security and compliance for the Digital Transformation today.">
		<meta property="og:title" content="Security and Compliance Solutions | Qualys Inc." />
		<meta property="og:image" content="https://q-website-images.s3.amazonaws.com/www/image/logo/qualys-vertical-sans-tagline-social.png" />
		<meta property="og:description" content="Discover how the Enterprise TruRisk Platform solutions can guide your company with security and compliance for the Digital Transformation today." />
		<meta name="twitter:card" content="summary" />
	<title>Security and Compliance Solutions | Qualys Inc.</title>

		<link rel="preconnect" href="https://ik.imagekit.io/qualys" crossorigin>
		<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<link rel="icon" href="/favicon-64.png" sizes="64x64">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/apple-touch-icon-1024x1024.png">
	<link rel="mask-icon" href="/mask-icon.svg" color="#ED2E26">
	<link rel="canonical" href="https://www.qualys.com/solutions/">
	<meta name="theme-color" content="#2E8BE0">

		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/asset/stylesheet/tailwind.css">
		<link rel="stylesheet" href="/asset/stylesheet/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" media="print" onload="this.media='all'">



</head>
<body>


	<main class="relative">


	{% include "src/_includes/header-chaitrali.njk" %}


	<div class="font-montserrat bg-heroGradient lg:min-h-[560px] flex flex-col">
	<div class="q-wrapper relative py-12 md:py-20 lg:py-10 flex-1 flex items-center justify-center">
		<div class="relative z-10 text-white">
			
			<h1 class="text-3xl lg:text-4xl text-center max-w-5xl mx-auto mb-4 font-medium leading-snug">De-risk your business with Qualys Security and Compliance Solutions</h1>
			<h2 class="mt-5 lg:mt-10 mb-4 text-2xl xl:text-[28px] font-medium text-center max-w-5xl">One platform to measure, communicate, and eliminate risk across the extended enterprise.</h2>
			<h2 class="text-lg lg:text-[22px] text-center max-w-4xl mx-auto mb-10 font-normal leading-normal"></h2>
			<div class="flex max-w-fit gap-5 mx-auto">
					<a href="/free-trial/" class="py-4 px-5 h-full flex items-center justify-center bg-button q-cta-button transition-all rounded-full drop-shadow-xl" id="explore-button">
						<span class="text-balance-1 text-sm font-semibold leading-none">Try Now</span>
					</a>			</div>
		</div>
		<div class="absolute w-full h-full left-0 top-0 bg-no-repeat bg-cover bg-top mix-blend-color-burn     q-default-hero-bg"  style="background-image: url('https://q-website-images.s3.amazonaws.com/www/image/solutions/pci-compliance/pci-complaince-bg.png');" ></div>
	</div>
</div>

	

<div class="font-montserrat" style="background: linear-gradient(102deg, #F3F5F8 0%, #E0E4EA 100.72%);">
	<div class="q-wrapper">
		<div class="py-14 lg:py-14">
			<div class="">
				<h2 class="text-content text-center mb-5 text-2xl lg:text-3xl 2xl:text-4xl">Purpose-Built Solutions by Business Segment</h2>
				<div class="mt-10 lg:mt-12 xl:mt-16 text-center">

					<div class="q-swiper-tabs js-swiper-tabs">
						<ul>
							<li class="tab">Small Business</li>
							<li class="tab">Mid-Sized Business</li>
							<li class="tab">Enterprise</li>
							<li class="tab">Federal </li>
							<li class="tab">Consultant/MSP</li>
						</ul>
					</div>
					<div class="js-swiper-tabs-slider overflow-hidden bg-white rounded-br-3xl rounded-bl-3xl" data-autoplay="false">
						<div class="tabs-container-content swiper-wrapper">
							<div class="content swiper-slide h-auto">
								<div class="grid sm:grid-cols-3 h-full">
									<div class="col-span-1 md:m-auto flex h-full">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/solutions/q-small-business.jpg" class="w-full h-full object-cover" alt="">
									</div>
									<div class="col-span-1 sm:col-span-2">
										<div class="flex h-full flex-col justify-center items-start py-10">
											<p class="text-content2 text-left text-base md:text-large lg:text-larger px-10 lg:px-20 m-0">Protect your small business with enterprise-grade security, flexible pricing, and a variety of packages designed for specific needs.</p> 
												<a href="/apps/vulnerability-management-detection-response/trurisk/" class="text-content2 font-semibold text-base md:text-large lg:text-larger ml-0 px-10 lg:px-20 mt-6">Learn More</a>
										</div>
					
									</div>
								</div>
							</div>
							<div class="content swiper-slide h-auto">
								<div class="grid sm:grid-cols-3 h-full">
									<div class="col-span-1 md:m-auto flex h-full">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/solutions/q-mid-size-business.png" class="w-full h-full object-cover" alt="">
									</div>
									<div class="col-span-1 sm:col-span-2">
										<div class="flex h-full flex-col justify-center items-start py-10">
											<p class="text-content2 text-left text-base md:text-large lg:text-larger px-10 lg:px-20 m-0">Simplify cybersecurity, lower the cost of compliance, and scale your approach as your business grows.</p> 
												<a href="/subscriptions/sme/" class="text-content2 font-semibold text-base md:text-large lg:text-larger ml-0 px-10 lg:px-20 mt-6">Learn More</a>
										</div>
					
									</div>
								</div>
							</div>
							<div class="content swiper-slide h-auto">
								<div class="grid sm:grid-cols-3 h-full">
									<div class="col-span-1 md:m-auto flex h-full">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/solutions/q-enterprise.png" class="w-full h-full object-cover" alt="">
									</div>
									<div class="col-span-1 sm:col-span-2">
										<div class="flex h-full flex-col justify-center items-start py-10">
											<p class="text-content2 text-left text-base md:text-large lg:text-larger px-10 lg:px-20 m-0">De-risk your hybrid environment, consolidate solutions, and lower your TCO with a single platform. </p> 
												<a href="/subscriptions/enterprise/" class="text-content2 font-semibold text-base md:text-large lg:text-larger ml-0 px-10 lg:px-20 mt-6">Learn More</a>
										</div>
					
									</div>
								</div>
							</div>
							<div class="content swiper-slide h-auto">
								<div class="grid sm:grid-cols-3 h-full">
									<div class="col-span-1 md:m-auto flex h-full">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/solutions/q-fed.png" class="w-full h-full object-cover" alt="">
									</div>
									<div class="col-span-1 sm:col-span-2">
										<div class="flex h-full flex-col justify-center items-start py-10">
											<p class="text-content2 text-left text-base md:text-large lg:text-larger px-10 lg:px-20 m-0">Take a unified approach to security and compliance for your government agency.</p> 
												<a href="/subscriptions/government/" class="text-content2 font-semibold text-base md:text-large lg:text-larger ml-0 px-10 lg:px-20 mt-6">Learn More</a>
										</div>
					
									</div>
								</div>
							</div>
							<div class="content swiper-slide h-auto">
								<div class="grid sm:grid-cols-3 h-full">
									<div class="col-span-1 md:m-auto flex h-full">
										<img src="https://q-website-images.s3.amazonaws.com/www/image/solutions/q-consultant.png" class="w-full h-full object-cover" alt="">
									</div>
									<div class="col-span-1 sm:col-span-2">
										<div class="flex h-full flex-col justify-center items-start py-10">
											<p class="text-content2 text-left text-base md:text-large lg:text-larger px-10 lg:px-20 m-0">Expand and scale your approach for clients’ evolving needs with the most flexible and complete cybersecurity platform.</p> 
												<a href="/subscriptions/consultants/" class="text-content2 font-semibold text-base md:text-large lg:text-larger ml-0 px-10 lg:px-20 mt-6">Learn More</a>
										</div>
					
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pt-10 md:pt-16 lg:pt-20 xl:pt-24 pb-16 font-montserrat">
	<div class="q-wrapper">
		<h2 class="text-center text-content text-2xl md:text-3xl xl:text-4xl font-semibold mx-auto max-w-5xl leading-normal">Consolidate solutions to a single platform</h2>
		<div class="pt-5 md:pt-10 xl:pt-14 pb-10 lg:pb-16">
			<p class="text-lg lg:text-[22px] font-normal text-content2 leading-normal text-center max-w-5xl mx-auto">
				Measure, communicate, and eliminate cyber risk across the extended enterprise with a single platform and single agent to solve unique challenges for your business.
			</p>
		</div>
		<div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-x-5 gap-y-10 xl:gap-5">
			<div class="flex flex-col max-w-sm sm:max-w-unset mx-auto sm:mx-inset">
				<div class="q-apps-column-icon">
					<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/inventory.svg" width="66" />
				</div>
				<div class="q-apps-column-content flex-1">
					<div class="pt-16">
						<div class="mx-4 my-5 mb-0">
							<h3 class="text-xl md:text-2xl text-content min-h-unset sm:min-h-[84px] md:min-h-[96px] font-semibold text-center mt-5">Asset Management</h3>
						</div>
						<hr class="border-product-av border-t-[3px] mt-4" />
						<div class="px-4 pt-5 pb-7">
							<ul>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/cybersecurity-asset-management/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Identify cyber risk across your entire attack surface and slash remediation time by 50% with a one-click VM workflow that gives you complete visibility of internal and external internet-facing assets."
									>CyberSecurity Attack Surface Management (CSAM)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/cybersecurity-asset-management/#easm"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Continuously discover unknowns, monitor cyber risk, and discover 30% more enterprise assets from mergers, acquisitions and subsidiaries, and other unknowns to slam the window on potential hackers."
									>External Attack Surface Management (EASM)</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col max-w-sm sm:max-w-unset mx-auto sm:mx-inset">
				<div class="q-apps-column-icon">
					<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/scan.svg" width="60" />
				</div>
				<div class="q-apps-column-content flex-1">
					<div class="pt-16">
						<div class="mx-4 my-5 mb-0">
							<h3 class="text-xl md:text-2xl text-content min-h-unset sm:min-h-[84px] md:min-h-[96px] font-semibold text-center mt-5">Vulnerability &amp; Configuration Management</h3>
						</div>
						<hr class="border-product-vm border-t-[3px] mt-4" />
						<div class="px-4 pt-5 pb-7">
							<ul>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/vulnerability-management-detection-response/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Discover, assess, prioritize, and de-risk your business up to 40% faster, with the world’s #1, enterprise-grade, risk-based approach to vulnerability management."
									>Vulnerability Management, Detection and Response (VMDR)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/beta-signup/enterprise-trurisk-management/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Gain deep visibility and security across on-premises container environments and managed containers across multiple cloud providers."
									>Container Security (CS)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/cloud-workload-protection/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="A real-time AI CNAPP solution that provides extensive visibility of your cyber risk exposure to simplify prioritization of vulnerabilities based on context and business risk across your multi-cloud environment. "
									>Cloud Workload Protection Platform (CWPP)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/web-app-scanning/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Reduce your attack surface and risks for modern web apps and APIs across any cloud-native or on-premises architecture."
									>Web App Scanning (WAS)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/infrastructure-as-code-security/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments so you can act swiftly and confidently."
									>Infrastructure as Code Security (IaC)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/saas-security-posture-management/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Automate the entire process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture."
									>SaaS Security Posture Management (SSPM)</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col max-w-sm sm:max-w-unset mx-auto sm:mx-inset">
				<div class="q-apps-column-icon">
					<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/icon-risk-rem.svg" width="55" />
				</div>
				<div class="q-apps-column-content flex-1">
					<div class="pt-16">
						<div class="mx-4 my-5 mb-0">
							<h3 class="text-xl md:text-2xl text-content min-h-unset sm:min-h-[56px] md:min-h-[96px] font-semibold text-center mt-5">Risk Remediation</h3>
						</div>
						<hr class="border-product-rr border-t-[3px] mt-4" />
						<div class="px-4 pt-5 pb-7">
							<ul>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/custom-assessment-remediation/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Create your own detection and remediation scripts and custom logic to remediate nearly any risk scenario for any attack surface and application leveraging the familiar VMDR interface."
									>Custom Assessment and Remediation (CAR)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/patch-management/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Streamline and accelerate vulnerability remediation for all your IT assets with a risk-based approach bridging the gap between IT and security to remediate vulnerabilities at warp speed."
									>Patch Management (PM)</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col max-w-sm sm:max-w-unset mx-auto sm:mx-inset">
				<div class="q-apps-column-icon">
					<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/icon-threat.svg" width="68" />
				</div>
				<div class="q-apps-column-content flex-1">
					<div class="pt-16">
						<div class="mx-4 my-5 mb-0">
							<h3 class="text-xl md:text-2xl text-content min-h-unset sm:min-h-[56px] md:min-h-[96px] lg:min-h-[64px] xl:min-h-[96px] font-semibold text-center mt-5">Threat Detection &amp; Response</h3>
						</div>
						<hr class="border-product-td border-t-[3px] mt-4" />
						<div class="px-4 pt-5 pb-7">
							<ul>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/cloud-detection-response/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="An integral part of Qualys TotalCloud that provides continuous, real-time protection of your multi-cloud environment against active exploitation, malware, and unknow threats."
									>Cloud Detection and Response (CDR)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/extended-detection-response/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Bring context and clarity to your enterprise security operations through a risk-focused, single-pane-of-glass solution for enterprise threat detection and incident response."
									>Extended Detection and Response (XDR)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/endpoint-detection-response/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Monitor endpoints for suspicious activity in real time, hunt for sophisticated threat actors across your environment, and act quickly with automated response workflows and threat forensics."
									>Endpoint Detection and Response (EDR)</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col max-w-sm sm:max-w-unset mx-auto sm:mx-inset">
				<div class="q-apps-column-icon">
					<img src="https://q-website-images.s3.amazonaws.com/www/image/icon/red/ensure-compliance.svg" width="44" />
				</div>
				<div class="q-apps-column-content flex-1">
					<div class="pt-16">
						<div class="mx-4 my-5 mb-0">
							<h3 class="text-xl md:text-2xl text-content min-h-unset md:min-h-[96px] lg:min-h-[64px] xl:min-h-[96px] font-semibold text-center mt-5">Compliance</h3>
						</div>
						<hr class="border-product-cs border-t-[3px] mt-4" />
						<div class="px-4 pt-5 pb-7">
							<ul>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/policy-compliance/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Go beyond vulnerability management and security configuration to reduce security breach and compliance risks with a single cloud solution, multiple sensors, a robust policy library, and seamless integration."
									>Policy Compliance (PC)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/security-assessment-questionnaire/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Assess business process risk from third parties and internal teams with the ability to quickly build and design security questionnaires through a simple and intuitive drag-and-drop UI."
									>Security Assessment Questionnaire (SAQ)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/cloud-security-posture-management/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments to take timely and appropriate action."
									>Cloud Security Posture Management (CSPM)</a>
								</li>
								<li class="mb-5 last:mb-0">
									<a
										href="/apps/file-integrity-monitoring/"
										class="js-tooltip-target text-base font-medium text-content hover:text-secondary-4 transition-colors inline-block"
										data-tippy-content="Monitor integrity violations across global IT systems in real time to detect and identify critical changes, incidents, and risks of normal and malicious events."
									>File Integrity Monitoring (FIM)</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="font-montserrat bg-bg1 relative">
	<div class="q-wrapper relative z-[3]">
		<div class="pt-14 pb-14">


			<div class="pt-10 xl:pt-28">
				<div class="overflow-hidden js-testimonial-container">
					<div class="swiper-wrapper">
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										Qualys has enabled us to integrate into build, test, operational and automation efforts, whether on-premises or in the cloud.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/avaya.png" class="q-inverse-logo" width="140" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Abie John</h4>
									<span class="font-normal text-lg lg:text-[22px]">CISO, Avaya</span>
								</div>
							</div>
						</div>
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										We use Qualys as a way to paint a picture of security and feed it to our executives.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/logo-ebay-white.png" class="q-inverse-logo" width="110" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Chris Lalonde</h4>
									<span class="font-normal text-lg lg:text-[22px]">Senior Manager, Information Security, eBay</span>
								</div>
							</div>
						</div>
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										As soon as we introduced Qualys’ APIs into the environment, we cut the time to less than 24 hours.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/capital-one-white-logo.svg" class="q-inverse-logo" width="180" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Emmanuel Enaohwo</h4>
									<span class="font-normal text-lg lg:text-[22px]">Senior Manager for Vulnerability / Configuration Management, Capital One</span>
								</div>
							</div>
						</div>
						<div class="text-white swiper-slide">
							<div class="flex">
								<div class="mr-2 w-10 lg:w-16 xl:w-24 items-start opacity-60">
									<svg fill="none" viewBox="0 0 94 78" xmlns="http://www.w3.org/2000/svg"><path d="m38.75.5-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.91667-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833327-3.8333.249999-5.5.333333-1.8333.916671-4 1.750001-6.5s2-5.6667 3.5-9.5l13.25-35.5zm53 0-14.5 55.5-4-18.75c5.8333 0 10.6667 1.8333 14.5 5.5s5.75 8.5833 5.75 14.75-1.9167 11.1667-5.75 15c-3.8333 3.6667-8.5833 5.5-14.25 5.5-6 0-10.9167-1.9167-14.75-5.75s-5.75-8.75-5.75-14.75c0-2 .0833-3.8333.25-5.5.3333-1.8333.9167-4 1.75-6.5s2-5.6667 3.5-9.5l13.25-35.5z" fill="#708ba8"/></svg>
								</div>
								<div class="flex flex-col gap-12">
									<p class="text-2xl xl:text-[28px] !leading-normal max-w-3xl font-normal pt-2 lg:pt-5 xl:pt-10">
										Qualys has allowed us to gain visibility to vulnerabilities that we’ve never had access to, especially since our workforce is typically mobile and at client sites.
									</p>
								</div>
							</div>
							<div class="inline-flex items-center divide-x mt-20 lg:mt-28 2xl:mt-36 ml-10 lg:ml-16 xl:ml-24">
								<div class="mr-5">
									<img src="https://q-website-images.s3.amazonaws.com/www/image/logo/deloitte-consulting-white.png" class="q-inverse-logo" width="180" />
								</div>
								<div class="pl-5">
									<h4 class="font-semibold text-lg lg:text-[22px]">Gregston Chu</h4>
									<span class="font-normal text-lg lg:text-[22px]">Senior Manager, Deloitte</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="relative w-full pt-10">
					<div class="swiper-pagination js-testimonial-swiper-pagination q-testimonial-slides-page relative top-0"></div>
					<div class="xl:mt-0 xl:absolute right-0 z-10 xl:bottom-0 text-center xl:text-left">
						<a href="/customers/#success-stories" class="text-white hover:text-slate-400 transition-colors text-[20px] max-w-fit mx-auto xl:mx-0">More Success Stories</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="bg-[#003570] opacity-60 absolute z-[2] w-full h-full left-0 top-0"></div>
	<div class="absolute w-full h-full left-0 top-0 z-[1] mix-blend-lighten">
		<video src="" autoplay playsinline muted id="q_testimonial_video_bg" class="object-cover w-full h-full"></video>
	</div>
</div>
<div class="font-montserrat bg-blueGradient border-t-2 border-white">
	<div class="q-wrapper text-white relative z-10">
		<div class="pb-28 sm:pb-24 md:pb-40">
			<div class="py-10">
				<h2 class="font-bold text-2xl md:text-3xl xl:text-4xl mb-5 text-center">Powered by the Enterprise TruRisk<sup class="text-sm leading-none align-super font-normal">TM</sup> Platform</h2>
				<p class="text-lg lg:text-[20px] text-center font-normal max-w-6xl mx-auto leading-relaxed">The Enterprise TruRisk Platform provides you with a unified view of your entire cyber risk posture so you can efficiently aggregate and <strong class="font-semibold">measure</strong> all Qualys & non-Qualys risk factors in a unified view, <strong class="font-semibold">communicate</strong> cyber risk with context to your business, and go beyond patching to <strong class="font-semibold">eliminate</strong> the risk that threatens the business in any area of your attack surface.</p>
				<div class="text-center pt-5">
					<a href="/cloud-platform/" class="text-lg lg:text-[20px] max-w-fit flex mx-auto items-center">
						<span>Learn More</span>
						<span class="ml-2 w-5">
							<svg viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.1682 10.3737C12.9618 10.1902 12.9432 9.8742 13.1267 9.66781L16.387 5.99999H0.500406C0.224264 5.99999 0.000406265 5.77614 0.000406265 5.49999C0.000406265 5.22385 0.224264 4.99999 0.500406 4.99999H16.4601L13.11 0.812342C12.9375 0.596711 12.9724 0.282064 13.1881 0.10956C13.4037 -0.0629454 13.7183 -0.0279846 13.8908 0.187647L18.1543 5.51697L13.8741 10.3322C13.6907 10.5386 13.3746 10.5572 13.1682 10.3737Z" fill="white"/></svg>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pb-10 md:pb-14 lg:pb-20 -mt-36 sm:-mt-32 md:-mt-48 relative z-10">
	<div class="q-wrapper">
		<div class="q-laptop ">
			<div class="q-laptop__screen absolute z-0">
				<div class="swiper ">
					<div class="swiper-wrapper">
						<div class="swiper-slide bg-slate-700">
								<a href="https://q-website-images.s3.amazonaws.com/www/image/apps/csam/csam-ciso-dashboard.png" data-fancybox><img src="https://q-website-images.s3.amazonaws.com/www/image/apps/csam/csam-ciso-dashboard.png" class="q-laptop__image" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="q-laptop__base">
				<img src="https://q-website-images.s3.amazonaws.com/www/image/laptop-base-2.png" class="w-full h-auto" />
			</div>
		</div>	</div>
</div>




	</main><!-- main wrapper -->

	


		{% include "src/_includes/footer-chaitrali.njk" %}
	<nav class="q-mobile-menu js-mobile-menu" role="mobile-navigation" id="q-mobile-menu">
		<div class="bg-white h-full overflow-x-hidden overflow-y-auto">
			<ul class="mobile_menu">
				<li class="topLevel">
					<div class="flex items-center justify-between">
						<div>
							<a href="/">
								<img src="https://ik.imagekit.io/qualys/image/logo/qualys.svg" width="100" />
							</a>
						</div>
						<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
							<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>			</button>
					</div>
				</li>
				<li class="mt-9 mb-8">
					<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
				</li>	<li>
					<a href="javascript:void(0)">Platform</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Platform</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Overview</span>
						</li>
						<li>
							<a href="/cloud-platform/">Enterprise TruRisk Platform</a>
							<p class="text-sm text-balance-6 max-w-xs mb-8 tracking-wide">Everything you need to measure, manage, and reduce your cyber risk in one place.</p>
						</li>
						<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Capabilities</span>
						</li>
						<li>
							<a href="javascript:void(0)">All</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-av text-product-av">Asset Management</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/" class="  q-megamenu-platform-item" >CyberSecurity Asset Management (CSAM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/#easm" class="  q-megamenu-platform-item" >External Attack Surface Management (EASM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
											</div>
										</div>					</li>
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-vm text-product-vm">Vulnerability & Configuration Management</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/vulnerability-management-detection-response/" class="  q-megamenu-platform-item" >Vulnerability Management, Detection &amp; Response (VMDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/beta-signup/enterprise-trurisk-management/" class="  q-megamenu-platform-item" >Enterprise TruRisk Management (ETM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Consolidate &amp; translate security &amp; vulnerability findings from 3rd party tools</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/web-app-scanning/" class="  q-megamenu-platform-item" >Web App Scanning (WAS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate scanning in CI/CD environments with shift left DAST testing</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-rr text-product-rr">Risk Remediation</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/patch-management/" class="  q-megamenu-platform-item" >Patch Management (PM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Efficiently remediate vulnerabilities and patch systems</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/custom-assessment-remediation/" class="  q-megamenu-platform-item" >Custom Assessment and Remediation (CAR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-td text-product-td">Threat Detection & Response</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Multi-Vector EDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Context XDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cp text-product-cp">Compliance</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/policy-compliance/" class="  q-megamenu-platform-item" >Policy Compliance</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce risk, and comply with internal policies and external regulations with ease</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/file-integrity-monitoring/" class="  q-megamenu-platform-item" >File Integrity Monitoring (FIM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
											</div>
										</div>					</li>
			
								<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cs text-product-cs">Cloud Security</span>
								</li>
								<li>
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/totalcloud/" class="  q-megamenu-platform-item" >TotalCloud (CNAPP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-security-posture-management/" class="  q-megamenu-platform-item" >Cloud Security Posture Management (CSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/infrastructure-as-code-security/" class="  q-megamenu-platform-item" >Infrastructure as Code Security (IaC)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect and remediate security issues within IaC templates</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/saas-security-posture-management/" class="  q-megamenu-platform-item" >SaaS Security Posture Management (SSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate the process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-detection-response/" class="  q-megamenu-platform-item" >Cloud Detection and Response (CDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/container-security/" class="  q-megamenu-platform-item" >Kubernetes and Container Security (KCS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, track, and continuously secure containers – from build to runtime</p>
											</div>
										</div>					</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">Asset Management</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-av text-product-av">Asset Management</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/" class="  q-megamenu-platform-item" >CyberSecurity Asset Management (CSAM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">See entire attack surface, continuously maintain your CMDB, and track EOL/EOS software</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cybersecurity-asset-management/#easm" class="  q-megamenu-platform-item" >External Attack Surface Management (EASM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Gain an attacker’s view of your external internet-facing assets and unauthorized software</p>
											</div>
										</div>					</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">Vulnerability & Configuration Management</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-vm text-product-vm">Vulnerability & Configuration Management</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/vulnerability-management-detection-response/" class="  q-megamenu-platform-item" >Vulnerability Management, Detection &amp; Response (VMDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, assess, prioritize, and patch critical vulnerabilities up to 50% faster</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/beta-signup/enterprise-trurisk-management/" class="  q-megamenu-platform-item" >Enterprise TruRisk Management (ETM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Consolidate &amp; translate security &amp; vulnerability findings from 3rd party tools</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/web-app-scanning/" class="  q-megamenu-platform-item" >Web App Scanning (WAS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate scanning in CI/CD environments with shift left DAST testing</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
			
						<li>
							<a href="javascript:void(0)">Risk Remediation</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-rr text-product-rr">Risk Remediation</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/patch-management/" class="  q-megamenu-platform-item" >Patch Management (PM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Efficiently remediate vulnerabilities and patch systems</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/custom-assessment-remediation/" class="  q-megamenu-platform-item" >Custom Assessment and Remediation (CAR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Threat Detection & Response</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-td text-product-td">Threat Detection & Response</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Multi-Vector EDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Advanced endpoint threat protection, improved threat context, and alert prioritization</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/endpoint-detection-response/" class="  q-megamenu-platform-item" >Context XDR</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Quickly create custom scripts and controls for faster, more automated remediation</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Compliance</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cp text-product-cp">Compliance</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/policy-compliance/" class="  q-megamenu-platform-item" >Policy Compliance</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce risk, and comply with internal policies and external regulations with ease</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/file-integrity-monitoring/" class="  q-megamenu-platform-item" >File Integrity Monitoring (FIM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Reduce alert noise and safeguard files from nefarious actors and cyber threats</p>
											</div>
										</div>					</li>
							</ul>
						</li>
			
						<li>
							<a href="javascript:void(0)">Cloud Security</a>
							<ul class="submenu">
								<li>
									<div class="flex items-center mb-9 justify-between">
										<div class="flex items-center">
											<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
												<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								</span>
												<span class="text-sm text-balance-5">Back</span>
											</button>
											<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
											<span class="text-sm font-semibold text-balance-8">Platform</span>
										</div>
										<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
											<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg></span>
										</button>
									</div>
								</li>
								<li class="mt-9 mb-8">
									<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
								</li>					<li class="mb-4 mt-7">
									<span class="block border-l-[6px] pl-3 rounded uppercase text-base font-semibold border-product-cs text-product-cs">Cloud Security</span>
								</li>
								<li class="activeCol">
										<div class="flex flex-col gap-0 max-w-lg ">
											<div class="mb-3 lg:mb-0">
												<a href="/apps/totalcloud/" class="  q-megamenu-platform-item" >TotalCloud (CNAPP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Cloud-Native Application Protection Platform (CNAPP) for multi-cloud environment.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-security-posture-management/" class="  q-megamenu-platform-item" >Cloud Security Posture Management (CSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuously discover, monitor, and analyze your cloud assets for misconfigurations and non-standard deployments.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/infrastructure-as-code-security/" class="  q-megamenu-platform-item" >Infrastructure as Code Security (IaC)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect and remediate security issues within IaC templates</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/saas-security-posture-management/" class="  q-megamenu-platform-item" >SaaS Security Posture Management (SSPM)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Automate the process of managing your SaaS apps, including global settings, user privileges, licenses, files, and their security and compliance posture.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-workload-protection/" class="  q-megamenu-platform-item" >Cloud Workload Protection (CWP)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Detect, prioritize, and remediate vulnerabilities in your cloud environment</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/cloud-detection-response/" class="  q-megamenu-platform-item" >Cloud Detection and Response (CDR)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Continuous real-time protection of the multi-cloud environment against active exploitation, malware, and unknown threats.</p>
											</div>
											<div class="mb-3 lg:mb-0">
												<a href="/apps/container-security/" class="  q-megamenu-platform-item" >Kubernetes and Container Security (KCS)</a>
												<p class="text-sm text-balance-6 leading-6 font-medium pl-4 pt-1 pb-3 tracking-wide q-mm-desc">Discover, track, and continuously secure containers – from build to runtime</p>
											</div>
										</div>					</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Solutions</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Solutions</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Use Cases</span>
						</li>
							<li>
								<a href="/solutions/endpoint/">Endpoint Security</a>
							</li>
							<li>
								<a href="/solutions/compliance/">Compliance</a>
							</li>
							<li>
								<a href="/solutions/pci-compliance/">PCI Compliance</a>
							</li>
							<li>
								<a href="/apps/totalcloud/">Cloud Security</a>
							</li>
							<li>
								<a href="/solutions/devops/">DevOps</a>
							</li>
							<li>
								<a href="/solutions/threat-protection/">Threat Protection</a>
							</li>
							<li>
								<a href="/solutions/software-supply-chain-risk/">Software Supply Chain Risk</a>
							</li>
							<li>
								<a href="/solutions/attack-surface-management/">Attack Surface Management</a>
							</li>
							<li>
								<a href="/solutions/nis2/">NIS2</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-5">
							<span class="block py-2 text-balance-8 text-base">Segments</span>
						</li>
							<li>
								<a href="/subscriptions/smb/">Small Business</a>
							</li>
							<li>
								<a href="/subscriptions/sme/">Mid-Sized Business</a>
							</li>
							<li>
								<a href="/subscriptions/enterprise/">Enterprise</a>
							</li>
							<li>
								<a href="/subscriptions/government/">Federal</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Customers</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Customers</span>
						</li>
							<li>
								<a href="/customers/">Overview</a>
							</li>
							<li>
								<a href="/customers/#best-practices/">Best Practices</a>
							</li>
							<li>
								<a href="/customers/#success-stories/">Success Stories</a>
							</li>
							<li>
								<a href="/customers/#testimonials/">Testimonials</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Resources</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">Resources</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Resources</span>
						</li>
							<li>
								<a href="/resources/">Resources Library</a>
							</li>
							<li>
								<a href="https://blog.qualys.com/">Blog</a>
							</li>
							<li>
								<a href="/webinars/">Webinars</a>
							</li>
							<li>
								<a href="/stream/">Qualys Stream</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-5">
							<span class="block py-2 text-balance-8 text-base">Research</span>
						</li>
							<li>
								<a href="/tru/">Threat Research Unit</a>
							</li>
							<li>
								<a href="/research/security-alerts/">Security Alerts</a>
							</li>
							<li>
								<a href="/research/security-advisories/">Security Advisories</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Support</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Support</span>
						</li>
							<li>
								<a href="https://success.qualys.com/customersupport/">Support Portal</a>
							</li>
							<li>
								<a href="/training/">Free Training</a>
							</li>
							<li>
								<a href="/documentation/">Documentation</a>
							</li>
							<li>
								<a href="https://success.qualys.com/discussions/s/">Community Discussions</a>
							</li>
							<li>
								<a href="https://success.qualys.com/support/s/">Knowledgebase</a>
							</li>
							<li>
								<a href="/documentation/release-notes/">Release Notes</a>
							</li>
							<li>
								<a href="https://notifications.qualys.com/">Release Notifications</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">More</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
									<span class="text-sm font-semibold text-balance-8 mx-4">|</span>
									<span class="text-sm font-semibold text-balance-8">More</span>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2 mt-4">
							<span class="block py-2 text-balance-8 text-base">Partners</span>
						</li>
							<li>
								<a href="/partners/">Overview</a>
							</li>
							<li>
								<a href="/partners/program/">Partner Program</a>
							</li>
							<li>
								<a href="/partners/vad/">VAD Partners</a>
							</li>
							<li>
								<a href="/partners/var/">VAR Resellers</a>
							</li>
							<li>
								<a href="/partners/mssp/">MSP/MSSP Partners</a>
							</li>
							<li>
								<a href="/partners/integration/">Integration Partners</a>
							</li>
							<li>
								<a href="/partners/faq/">Partner FAQs</a>
							</li>
							<li>
								<a href="/partners/find/">Find Partner</a>
							</li>
			
						<li class="mb-3 pb-3 border-b border-balance-2 mt-4">
							<span class="block py-2 text-balance-8 text-base">Company</span>
						</li>
							<li>
								<a href="/company/">About Us</a>
							</li>
							<li>
								<a href="/company/management/">Our Team</a>
							</li>
							<li>
								<a href="https://investor.qualys.com/">Investor Relations</a>
							</li>
							<li>
								<a href="/company/newsroom/">News</a>
							</li>
							<li>
								<a href="/customers/awards/">Awards</a>
							</li>
							<li>
								<a href="/company/events/">Events</a>
							</li>
							<li>
								<a href="/careers/">Careers</a>
							</li>
					</ul>
				</li>
				<li>
					<hr class="pb-3 mt-3" />
				</li>
				<li>
					<a href="javascript:void(0)">Community</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Community</span>
						</li>
							<li>
								<a href="https://community.qualys.com/">Overview</a>
							</li>
							<li>
								<a href="https://success.qualys.com/discussions/s/">Discuss</a>
							</li>
							<li>
								<a href="https://blog.qualys.com/">Blog</a>
							</li>
							<li>
								<a href="/training/">Training</a>
							</li>
							<li>
								<a href="/documentation/">Docs</a>
							</li>
							<li>
								<a href="/resources/">Resources</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Login</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Login</span>
						</li>
							<li>
								<a href="https://qualysguard.qualys.com/">US Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg2.apps.qualys.com/">US Platform 2</a>
							</li>
							<li>
								<a href="https://qualysguard.qg3.apps.qualys.com/">US Platform 3</a>
							</li>
							<li>
								<a href="https://qualysguard.qg4.apps.qualys.com/">US Platform 4</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.ca/">CA Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qualys.eu/">EU Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg2.apps.qualys.eu/">EU Platform 2</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.in/">IN Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.ae/">AE Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.co.uk/">UK Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualys.com.au/">AU Platform 1</a>
							</li>
							<li>
								<a href="https://qualysguard.qg1.apps.qualysksa.com">KSA Platform 1</a>
							</li>
							<li>
								<a href="https://pci.qualys.com/">PCI Platform</a>
							</li>
						<li class="mt-5">
							<a href="https://www.qualys.com/platform-identification/" class="block rounded-full bg-primary-1 !text-primary-4 px-5 py-4 text-center">What’s my Platform?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">Contact Us</a>
					<ul class="submenu">
						<li>
							<div class="flex items-center mb-9 justify-between">
								<div class="flex items-center">
									<button type="button" class="btn js-mobile-menu-control flex items-center" data-action="back">
										<span class="mr-1 w-6 h-6"><svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.2734 19.3203L5.27344 12.3203L12.2734 5.32031" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M19.2734 12.3203H5.27344" stroke="#BFC6D2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						</span>
										<span class="text-sm text-balance-5">Back</span>
									</button>
								</div>
								<button type="button" class="js-mobile-menu-control js-close-menu w-6 h-6" data-action="close">
									<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.2734 6.52441L6.27344 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.27344 6.52441L18.2734 18.5244" stroke="#ABB4C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg></span>
								</button>
							</div>
						</li>
						<li class="mt-9 mb-8">
							<input type="search" placeholder="Search" class="bg-balance-1 rounded-full w-full border-0 outline-none py-3 px-5 placeholder:text-balance-5 text-balance-7 text-sm" />
						</li>			<li class="mb-3 pb-3 border-b border-balance-2">
							<span class="block py-2 text-balance-8 text-base">Contact Us</span>
						</li>
							<li>
								<a href="javascript:void(0)" class="drift-open-chat">Chat with Us</a>
							</li>
							<li>
								<a href="https://www.qualys.com/forms/schedule-demo/" >Schedule a Demo</a>
							</li>
							<li>
								<a href="tel:+18007454355" >+1800 745 4355</a>
							</li>
							<li>
								<a href="/forms/request-a-call/" >Request a call or Email</a>
							</li>
							<li>
								<a href="/company/contacts/#headquarters" >Global Offices with Contacts</a>
							</li>
					</ul>
				</li>
				<li class="mt-14">
					<a href="/free-trial/" class="bg-primary-4 rounded-full p-4 text-center">
						<span class="text-white leading-relaxed text-sm font-semibold">Try Now</span>
					</a>
				</li>
			</ul>		</div>
	</nav>
	<div class="q-mobile-menu-overlay"></div>

		<!-- libraries -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>			<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
			<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js" integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.umd.min.js"></script>
		<script src="/asset/script/mobile-menu-2024.js"></script>
		<script src="/asset/script/global-scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>

</body>
</html>
